// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
//$gap: 20px !default;
$gap: 16px !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 768px !default;

// 960px container + 3rem
//$desktop: 960px + 2 * $gap !default;
//$desktop: 984px + 2 * $gap !default;
$desktop: 1025px !default;

// 1152px container + 3rem
//$widescreen: 1152px + 2 * $gap !default;
//$widescreen: 1210px + 2 * $gap !default;
$widescreen: 1250px !default;

$fullhd: 1440px !default;