<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css" />
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">
					 <a href="#"><img src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/V2/gabarich/img.jpg"></a>
					 <span class="see-conditions">* Voir conditions</span>
					 <span class="conditions"><span class="close">&nbsp;</span>
								Offre valable du 14 octobre au 1er novembre 2020 sur galerieslafayette.com sur une sélection d'articles signalés. 
								Non cumulables avec toutes offres et promotions en cours.
					 </span>    
			 </div> 

				<div class="new-content-edito">
						<p class="content-edito"><strong>488 caractères, espaces compris</strong> Clarins, la Beauté prise au sérieux. Clarins est né par amour. 
								L'amour et le respect de Jacques Courtin-Clarins pour la beauté des femmes, depuis l'ouverture du premier Institut Clarins 
							<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
							<span class="all-hide">à Paris en 1954. Clarins œuvre inlassablement pour offrir à chaque femme le meilleur de la Nature en y puisant ses actifs les plus précieux. 
									à Paris en 1954. Clarins œuvre inlassablement pour offrir à chaque femme le meilleur de la Nature en y  puisant  puisant puisant. 
							<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
						</p>
				</div>
	 </div>  
 
<!--       JUSQU'A 5 VIGNETTES  -->   
	 <div class="block-selection">
			<ul class="carousel-rich-univers wrapper">
					
<!--       QUAND + DE 5 VIGNETTES  -->
<!--    <div class="block-selection with-carousel-variable-width">
				<ul class="carousel-rich-univers js-carousel-variable-width wrapper">-->

				 <li>
						<div class="block-news">
								<a class="block-richcontent-link js-scramble-link" href="">
										<img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/michael-kors/v3/vignette01.jpg" /> 
										<span>Gratte-ciel</span> 
								</a>
						</div>
				 </li>
				 <li>
						<div class="block-news">
								<a class="block-richcontent-link js-scramble-link" href="">
										<img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/michael-kors/v3/vignette02.jpg" /> 
										<span>Collection Noire</span> 
								</a>
						</div>
				 </li>
				 <li>
						<div class="block-news">
								<a class="block-richcontent-link js-scramble-link" href="">
										<img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/michael-kors/v3/vignette03.jpg" /> 
										<span>Les Eaux</span> 
								</a>
						</div>
				 </li>
				 <li>
						<div class="block-news">
								<a class="block-richcontent-link js-scramble-link" href="">
										<img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/michael-kors/v3/vignette04.jpg" /> 
										<span>test test</span> 
								</a>
						</div>
				 </li>
				 <li>
						<div class="block-news">
								<a class="block-richcontent-link js-scramble-link" href="">
										<img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/michael-kors/v3/vignette05.jpg" /> 
										<span>test test</span> 
								</a>
						</div>
				 </li>
<!--    <li>
						<div class="block-news">
								<a class="block-richcontent-link js-scramble-link" href="">
										<img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/michael-kors/v3/vignette05.jpg" /> 
										<span>test test</span> 
								</a>
						</div>
				 </li>
									 <li>
						<div class="block-news">
								<a class="block-richcontent-link js-scramble-link" href="">
										<img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/michael-kors/v3/vignette05.jpg" /> 
										<span>test test</span> 
								</a>
						</div>
				 </li>-->
			</ul>
	 </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
		$('.see-conditions').on('click', function() {
				$('.conditions').addClass('active');
		});
		$('.close').on('click', function() {
				$('.conditions').removeClass('active');
		});
});
</script>