<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2018/marque-RL.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .hero-image .media-content{       
        background: url(https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/triumph/v2/small.jpg) no-repeat top;   
    }  
    @media screen and (min-width: 768px) {      
        .hero-image .media-content{        
            background: #fff url(https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/triumph/v2/large.jpg) no-repeat center;     
        }     
        .hero-image .content-edito{         
            max-width: 830px;     
        }  
    } 
</style>
<div class="richcontent-hero-image">
   <div class="row hero-image">
      <div class="media-content"><span style="display: none;">Triumph</span></div>
      <p class="content-edito">Incarnation du glamour et du bien-&ecirc;tre, Triumph r&eacute;volutionne les mati&egrave;res et les styles depuis 1886. 
          Sa collection de lingerie, pris&eacute;e pour le raffinement de ses tissus et l&#39;&eacute;l&eacute;gance de ses lignes, c&eacute;l&egrave;bre la femme
         sous toutes ses silhouettes.</p>
   </div>
   <div class="block-selection hide">
      <ul class="carousel-rich-univers wrapper">
         <li>
            <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/c/lingerie+quotidienne">
                    <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/triumph/v2/vignette01.jpg?01"> 
                    <span class="js-scramble-link">Lingerie quotidienne</span> </a></div>
         </li>
         <li>
            <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/c/lingerie+classique">
                    <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/triumph/v2/vignette02.jpg?01"> 
                    <span class="js-scramble-link">Lingerie classique</span> </a></div>
         </li>
         <li>
            <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/c/lingerie+de+nuit">
                    <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/triumph/v2/vignette03.jpg?01"> 
                    <span class="js-scramble-link">Lingerie de nuit</span> </a></div>
         </li>
         <li>
            <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/c/lingerie+sculptante">
                    <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/triumph/v2/vignette04.jpg?01"> 
                    <span class="js-scramble-link">Lingerie sculptante</span> </a></div>
         </li>
      </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>