@import "assets/css/core";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.back-top {
	display: none !important;
}

.ami-de-coeur {
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	h1, h2, h3, h4, .tag {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
		line-height: 1;
	}
	h1 {
		font-size: 56px;
		letter-spacing: -1px;
		@include widescreen {
			letter-spacing: -4px;
			margin-bottom: 35px;
		}
	}
	h2 {
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
	}
	h3 {
		font-size: 28px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		@include mobile {
			font-size: 16px;
			line-height: 1.43;
		}
		@include widescreen {
			margin-bottom: 25px;
			font-size: 20px;
			line-height: 1.45;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	a.is-text {
		font-size: inherit;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 100%;
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.bg-video {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}

	.ami-de-coeur-hero {
		.content {
			margin-top: -190px;
			padding: 0 30px;
			color: #ffffff;
			@include tablet {
				margin-top: 0;
				color: #000000;
				padding: 20px;
			}
			@include desktop {
				padding: 20px 80px;
			}
			@include widescreen {
				padding: 20px 90px;
			}
			@include fullhd {
				padding: 20px 140px;
			}
		}
		h1 {
			color: #ffffff;
			font-size: 64px;
			line-height: .8;
			@include tablet {
				color: #000000;
				font-size: 56px;
			}
		}
		p {
			font-size: 20px;
		}
	}

	.ami-de-coeur-body {
		padding: 20px;
		text-align: left;
		@include tablet {
			padding: 0;
		}
		
		.article-image {
			position: relative;
			margin: -20px -20px 0;
			overflow: hidden;
			@include tablet {
				margin: 0;
			}
			.image {
				display: block;
				position: relative;
				@include tablet {
					height: 560px;
					overflow: hidden;
				}
				@include desktop {
					height: 700px;
				}
				@include widescreen {
					height: 800px;
				}
				img.b-loaded,
				img.noscript-img {
					display: block;
					-o-object-fit: cover;
					object-fit: cover;
					min-height: 100%;
					width: 100%;
					height: 100%;
				}
			}
			&.alt-image {
				padding: 40px 0 0;
				@include tablet {
					padding: 40px 20px;
				}
				@include desktop {
					padding: 60px 40px;
				}
				@include fullhd {
					padding: 80px 60px;
				}
				.image {
					@include tablet {
						height: 430px;
					}
					@include desktop {
						height: 540px;
					}
					@include widescreen {
						height: 680px;
					}
					@include fullhd {
						height: 748px;
					}
				}
			}
		}
		
		.content {
			padding: 50px 30px 20px;
			@include tablet {
				padding: 0 60px;
			}
			@include desktop {
				padding: 0 80px;
			}
			@include widescreen {
				padding: 0 100px;
			}
		}
	}
	
	.edito {
		@include tablet {
			padding: 20px;
			border-top: 1px solid #E1DED9;
			border-bottom: 1px solid #E1DED9;
		}
		@include desktop {
			padding: 40px;
		}
		@include widescreen {
			padding: 60px;
		}
		.content {
			padding: 0;
			@include mobile {
				text-align: center;
			}
			@include tablet {
				padding-top: 20px;
			}
			p {
				font-size: 20px;
				@include widescreen {
					font-size: 28px;
				}
			}
		}
	}
	
	.ami-logo {
		margin: 30px 0;
		&:before {
			width: 60px;
			display: inline-block;
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 294.13 485.01'%3E%3Ctitle%3Eami-logo%3C/title%3E%3Cg id='b6169fd5-bafc-4a62-aed9-b7361d561c9c' data-name='Calque 2'%3E%3Cg id='a7c82c5f-34b0-4dfd-aa17-1821b19652c0' data-name='Calque 1'%3E%3Cpath d='M226.89.11c-83.5-3.7-79.9,83.5-79.9,83.5h0s3.6-87.1-79.9-83.5c-35.8,1.6-103.5,45.4-42.7,138.5,15.7,24.1,67.5,95.7,98.5,138.3L67,456.61H55.79V485h56.9v-28.4h-11.2l15.7-50.4h59.9l15.7,50.4h-11.2V485h56.9v-28.4h-11.2l-55.9-179.7c31-42.6,82.8-114.2,98.5-138.3,60.6-93.1-7.2-136.9-43-138.5m-101,377.7,21.1-67.9,21.1,67.9Z' fill='%23e41b17'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
	}
	
	.video-container {
		position: relative;
		overflow: hidden;
		.mobile-vid {
			height: 540px;
			@include desktop {
				height: 600px;
			}
			@include fullhd {
				height: 800px;
			}
			iframe {
				width: 136%;
				height: 178%;
				margin: 0 auto;
				left: -18%;
				top: -39%;
				@include tablet {
					width: 114%;
					height: 120%;
					left: -7%;
					top: -10%;
				}
				@include desktop {
					width: 120%;
					height: 130%;
					left: -10%;
					top: -15%;
				}
				@include widescreen {
					width: 101%;
					left: 0;
				}
				@include fullhd {
					height: 112%;
					top: -6%;
				}
			}
		}
		.desktop-vid {
			height: 222px;
			@include tablet {
				height: 432px;
			}
			@include desktop {
				height: 600px;
			}
			@include fullhd {
				height: 810px;
			}
			iframe {
				margin: 0 auto;
				width: 130%;
				height: 120%;
				left: -15%;
				top: -12%;
				@include tablet {
					width: 100%;
					height: 134%;
					left: 0;
					top: -17%;
				}
				@include desktop {
					width: 104%;
					height: 120%;
					left: -2%;
					top: -10%;
				}
				@include widescreen {
					width: 101%;
					left: -.5%;
				}
				@include fullhd {
					height: 101%;
					top: -.5%;
				}
			}
		}
	}
	
	.read-more {
		.read-more-toggle {
			position: absolute;
			z-index: 1;
			left: 16px;
			bottom: 16px;
			padding: 0;
			background-color: transparent;
			border: none;
			@include tablet {
				right: 16px;
				left: auto;
			}
			&:hover {
				.plus {
					&:before {
						@include desktop {
							transform: rotate(180deg);
						}
					}
					&:after {
						@include desktop {
							transform: rotate(270deg);
						}
					}
				}
			}
			.plus {
				display: block;
				position: relative;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 1px solid #ffffff;
				margin: 0 auto;
				@include widescreen {
					width: 40px;
					height: 40px;
				}
				&:before, &:after {
					content: " ";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 16px;
					height: 1px;
					background-color: #ffffff;
					transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
					@include widescreen {
						width: 24px;
					}
				}
				&:after {
					transform: rotate(90deg);
				}
			}	
		}
		.read-less-toggle {
			position: absolute;
			top: 16px;
			left: 16px;
			padding: 0;
			background-color: transparent;
			border: none;
			@include tablet {
				right: 16px;
				left: auto;
			}
			&:hover {
				
				.cross {
					background-color: #ededed;
					&:before {
						@include desktop {
							transform: rotate(180deg);
						}
					}
					&:after {
						@include desktop {
							transform: rotate(180deg);
						}
					}
				}
			}
			.cross {
				display: block;
				position: relative;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 1px solid #ffffff;
				background-color: #f2f2f2;
				margin: 0 auto;
				&:before, &:after {
					content: " ";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 16px;
					height: 2px;
					background-color: #6c6c6c;
					transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(135deg);
				}
			}	
		}
		.read-more-content {
			position: absolute;
			z-index: 2;
			width: 100%;
			text-align: left;
			visibility: visible;
			bottom: 0;
			background-color: #ffffff;
			padding: 60px 20px;
			transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
			@include tablet {
				padding: 50px;
			}
			
			&.hidden {
				transform: translateY(300px); 
				visibility: hidden;
			}
			
		}
	}

	
	.last-section {
		border: none;
		padding: 40px 20px 0;
		margin-bottom: -20px;
		@include tablet {
			padding: 100px;
		}
		@include widescreen {
			padding: 210px;
			margin-bottom: -10px;
		}
		.ami-logo {
			&:before {
				width: 75px;
				@include widescreen {
					width: 98px;
				}
			}
		}
	}
	
	.button {
		&.outlined {
			min-width: auto;
			font-size: 14px;
			padding: 9px 24px 14px;
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: 2px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 16px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	
	.fixed-cta-container {
		bottom: 0;
		right: 0;
		position: fixed;
		margin: 1em;
		z-index: 1000;
		display: flex;
		
		.fixed-cta {
			border: none;
			border-radius: 50%;
			background-color: #000000;
			width: 60px;
			height: 60px;
			position: relative;
			margin: 0;
			padding: 0;
			@include desktop {
				width: 65px;
				height: 65px;
			}
			&:after {
				content: url("data:image/svg+xml,%3Csvg viewBox='0 0 41 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.5962 1.94938L29.4718 6.24482V4.85883C29.4718 3.67625 28.961 2.5421 28.0519 1.70589C27.1427 0.869681 25.9096 0.399902 24.6238 0.399902H4.848C3.56223 0.399902 2.32912 0.869681 1.41995 1.70589C0.51077 2.5421 0 3.67625 0 4.85883V18.741C0 19.9236 0.51077 21.0577 1.41995 21.8939C2.32912 22.7301 3.56223 23.1999 4.848 23.1999H24.6238C25.9096 23.1999 27.1427 22.7301 28.0519 21.8939C28.961 21.0577 29.4718 19.9236 29.4718 18.741V17.355L37.5962 21.6504C39.1355 22.4642 40.4 21.7953 40.4 20.1641V3.44312C40.4 1.80447 39.1395 1.13563 37.5962 1.94938Z' fill='white'/%3E%3C/svg%3E");
				position: absolute;
				margin: auto;
				top: 0;bottom: 0;left: 0;right: 0;
				width: 32px;
				height: 19px;
				@include desktop {
					width: 37px;
					height: 22px;
				}
			}
		}
	}
	&.has-js {
		.article-image {
			&.alt-image {
				bottom: -60px;
				@include widescreen {
					bottom: -80px;
				}
			}
		}
	}
}