@import "assets/css/core";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.back-top {
	display: none !important;
}

.lp-container{
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	h1, h2, h3, h4, .tag {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
		line-height: 1;
	}
	h1 {
		font-size: 56px;
		letter-spacing: -1px;
		@include widescreen {
			letter-spacing: -4px;
			margin-bottom: 35px;
		}
	}
	h2 {
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
	}
	h3 {
		font-size: 28px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		@include mobile {
			font-size: 16px;
			line-height: 1.43;
		}
		@include widescreen {
			margin-bottom: 25px;
			font-size: 20px;
			line-height: 1.45;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 100%;
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.has-text-left-mobile {
		@include mobile {
			text-align: left;
		}
	}
	.bg-video {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
	
	.section {
		.content {
			padding: 24px 28px;
		}
	}
	
	.bottega-logo {
		margin: 0 -28px;
		height: 63px;
		position: relative;
		opacity: 0;
		transform: translateY(30px);
		&.visible {
			opacity: 1;
			transform: translateY(0);
			transition: all 350ms ease-in;
		}
		&:before {
			width: 720px;
			display: inline-block;
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1560 137'%3E%3Cdefs%3E%3CclipPath id='ab633797-4bac-440a-a6fe-248c40d66a81' transform='translate(0 0.17)'%3E%3Cpath d='M72.17,95.91c0-28.41-25.87-32.66-41.29-32.66H26.36v62.6H36.89c22.42,0,35.28-10.91,35.28-29.94ZM26.36,55.12h10C52.73,55.12,61,47.53,61,32.57c0-13.8-8.19-21.39-23.07-21.39H26.36Zm28.4,3.47c20.32,3,41,14.52,41,38.68,0,13-6.63,22.82-19.71,29.2s-28.46,7.32-36.48,7.32H0V131.3c5.24-2.54,5.08-11,5.08-17V22.52c0-6,.16-14.45-5.08-17V3H32c17,0,29.41,2.05,37,6.09,8.79,4.62,14.25,13.3,14.25,22.66C83.26,44.07,73.93,52.85,54.76,58.59Zm169.59,9.83c0-33.3-16.68-60.3-44.38-60.3s-44.39,27-44.39,60.3,16.68,60.29,44.39,60.29S224.35,101.72,224.35,68.42ZM180,0c38.43,0,69.59,30.63,69.59,68.42S218.39,136.83,180,136.83s-69.58-30.63-69.58-68.41S141.53,0,180,0Zm74,17.21V2.83h82V17.21h-2.42c-4.25-6.48-11.6-6.43-17.46-6.42H305.54V114.32h0c0,6-.15,14.47,5,17v2.49H279.44v-2.49c5.19-2.55,5-11,5-17h0V10.79H273.88c-5.86,0-13.21-.06-17.46,6.42H254m104,0V2.83h82V17.21h-2.42c-4.25-6.48-11.6-6.43-17.46-6.42H409.54V114.32h0c0,6-.16,14.47,5,17v2.49H383.44v-2.49c5.19-2.55,5-11,5-17h0V10.79H377.88c-5.86,0-13.21-.06-17.45,6.42H358M531.1,125.88c5.87,0,13.45,0,17.47-6.43H551v14.38H463v-2.46c6.58-4.32,6.53-12.12,6.53-18.26V23.56c0-6.14.05-13.95-6.53-18.26V2.83h82.6V17.21h-2.43c-4.19-6.45-11.6-6.42-17.47-6.42H490.43V62.53H520c6,0,14.47.07,16.79-5.1h2.46V75.58h-2.46c-2.32-5.18-10.83-5.1-16.79-5.1H490.43v55.4H531.1M667.46,75.14V72.72h32.92c-1.09,14.35-2.68,22.3-8.88,32.83-12,20.18-32.19,31.28-56.94,31.28-18.88,0-36.55-6.67-49.75-18.79a65,65,0,0,1-21.08-48.45c0-21,11.09-43,28.25-56C603.67,4.69,618.19,0,634,0a90.76,90.76,0,0,1,23.9,3.14A70.83,70.83,0,0,0,668.6,5.3c4.36.46,10.7.39,13.42-2.22h2.42V33.21l-2.42.41c-.79-1.4-1.64-2.77-2.56-4.09-9.92-14.18-23.94-21.37-43.15-21.37C620,8.16,607.39,14.27,599,26.34c-7.3,10.43-10.39,25-10.39,42.07,0,16.09,3.1,30.74,10.11,41.26,8.19,12.3,20.6,18.81,35.89,18.81,20.05,0,41.52-16,41.52-39.93,0-12.15-8.62-13.41-8.62-13.41m109.18,8.15L756.32,30.08,736,83.29Zm35.67,34.15c1.31,3.2,4.89,12,9.6,13.77v2.58H786.82v-2.55c4.54-2.13,5.71-6,3.8-11.14L779.79,91.23H733.05L722.1,120.1c-1.91,5.11-.81,8.92,3.8,11.14v2.55H703.47v-2.61c5.12-1.46,9.42-9.41,11-14L758.26,3h9.89l.15.36ZM977.63,5.4V2.84H1000V5.46c-4.92,1.36-9.3,9.1-11,14L949.69,133.83h-10.8L900.34,19.18c-1.77-5.23-5.1-12-9.34-13.77V2.83h34.78V5.39c-6.44,3.09-4.66,10.06-3.66,12.81L951,104.85l30.7-89.23c1-3.18,1.15-7.69-4.09-10.22m109.47,120.48c5.86,0,13.44,0,17.47-6.43H1107v14.38h-88v-2.46c6.58-4.32,6.53-12.12,6.53-18.26V23.56c0-6.14,0-13.95-6.53-18.26V2.83h82.6V17.21h-2.43c-4.19-6.45-11.61-6.42-17.47-6.42h-35.27V62.53H1076c6,0,14.47.07,16.79-5.1h2.46V75.58h-2.46c-2.32-5.18-10.84-5.1-16.79-5.1h-29.57v55.4h40.67M1210.35,5.29V2.83H1227V5.29c-4.15,2.67-4.11,10.82-4.1,13.41V133.83h-5.48L1142.8,26.36V118c0,2.58,0,10.73,4.1,13.41v2.45h-16.64v-2.45c4.15-2.68,4.11-10.83,4.1-13.41V23c0-6,0-13.56-6.36-17.71V2.83h25.7l.17.25,60.59,87.16V18.7c0-2.59,0-10.74-4.11-13.41M1320.1,125.88c5.87,0,13.45,0,17.47-6.43H1340v14.38h-88v-2.46c6.58-4.32,6.53-12.12,6.53-18.26V23.56c0-6.14,0-13.95-6.53-18.26V2.83h82.6V17.21h-2.43c-4.19-6.45-11.6-6.42-17.47-6.42h-35.27V62.53H1309c6,0,14.47.07,16.79-5.1h2.46V75.58h-2.46c-2.32-5.18-10.83-5.1-16.79-5.1h-29.57v55.4h40.67M1358,17.21V2.83h82V17.21h-2.43c-4.24-6.48-11.59-6.43-17.45-6.42h-10.58V114.32h0c0,6-.15,14.47,5,17v2.49h-31.12v-2.49c5.19-2.55,5-11,5-17h0V10.79h-10.58c-5.86,0-13.21-.06-17.45,6.42H1358m156.91,66-20.25-53.32-20.24,53.32Zm35.53,34.21c1.3,3.21,4.88,12,9.56,13.8v2.58h-35v-2.55c4.52-2.13,5.69-6,3.79-11.16L1518,91.19h-46.57l-10.9,28.92c-1.91,5.12-.81,8.94,3.78,11.16v2.56H1442v-2.62c5.1-1.45,9.39-9.42,11-14L1496.59,2.83h9.86l.14.37Z' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Ctitle%3Ebottega-veneta-logo%3C/title%3E%3Cg id='f80b9480-bf69-4bff-b135-332cddf5fc47' data-name='Calque 2'%3E%3Cg id='ee72bd88-9abd-43db-8a10-24ccf9c70243' data-name='Calque 1'%3E%3Cg clip-path='url(%23ab633797-4bac-440a-a6fe-248c40d66a81)'%3E%3Cpath d='M0-.17H1560v137H0Z' transform='translate(0 0.17)' fill='%232d2a08'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
		&.aligned-right {
			&:before {
				position: absolute;
				right: 0;
				@include tablet {
					position: relative;
				}
			}
		}
	}
	
	.lp-hero {
		padding: 16px 0;
		@include tablet {
			padding: 36px 16px;
		}
		.main {
			@include tablet {
				padding: 46px 0;
			}
			@include widescreen {
				padding: 96px 0;
			}
			opacity: 0;
			transform: translateY(30px);
			&.visible {
				opacity: 1;
				transform: translateY(0);
				transition: all 500ms ease-in 700ms;
			}
		}
		strong {
			font-size: 28px;
			letter-spacing: -.5px;
		} 
		p {
			@include widescreen {
				font-size: 28px;
			}
		}
		a {
			margin: 0;
		}
	}

	.lp-body {
		padding: 20px;
		text-align: left;
		@include tablet {
			padding: 0;
		}
		.article-image {
			margin: 0 -20px;
			@include tablet {
				margin: 0;
			}
		}
		.content {
			padding: 48px 28px 24px;
			@include widescreen {
				padding: 48px 80px 24px;
			}
		}
	}
	
	.animated-article {
		padding: 0;
		@include tablet {
			padding-top: 200px;
			padding-bottom: 250px;
		}
		.line-2 {
			@include tablet {
				padding-top: 200px;
				
			}
		}
		.article-image {
			position: relative;
			margin: 0 -20px;
			overflow: hidden;
			@include mobile {
				transform: matrix(1, 0, 0, 1, 0, 1) !important;
			}
			@include tablet {
				margin: 0;
			}
			&.left-1 {
				@include tablet {
				}
			}
			.image {
				display: block;
				position: relative;
				height: 450px;
				@include tablet {
					height: 560px;
					overflow: hidden;
				}
				@include desktop {
					height: 700px;
				}
				@include widescreen {
					height: 800px;
				}
				img.b-loaded,
				img.noscript-img {
					display: block;
					-o-object-fit: cover;
					object-fit: cover;
					min-height: 100%;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	
	.mount-bag {
		overflow: hidden;
		@include tablet {
			padding: 20px 0;
		}
		.mount-bag-title {
			padding-bottom: 0;
			z-index: 1;
		}
		.button {
			margin-bottom: 0;
		}
		p {
			@include widescreen {
				font-size: 20px;
			}
		}
		.bags {
			display: flex;
			width: calc(4 * 360px);
			margin-left: -20px;
			margin-bottom: -20px;
			will-change: transform;
			//transform: translateX(-40%);
			@include desktop {
				width: calc(4 * 576px);
			}
			@include desktop {
				width: calc(4 * 740px);
			}
			&.animate {
				animation: SlideRTL 40s linear infinite;
				@include desktop {
					animation: SlideRTLDesktop 40s linear infinite;
				}
				@include widescreen {
					animation: SlideRTLWidescreen 40s linear infinite;
				}
			}
		}
		.article-image {
			margin: 0;
			.image {
				width: 360px;
				@include desktop {
					width: 576px;
				}
				@include widescreen {
					width: 740px;
				}
				img.b-loaded,
				img.noscript-img {
					display: block;
					margin: auto;
					height: 100%;
					@media screen and (max-width: 388px) {
						height: auto;
					}
				}
			}
		}
	}
	
	.products {
		padding: 0;
		@include tablet {
			padding-bottom: 20px;
		}
		@include desktop {
			padding-top: 10px;
			padding-bottom: 30px;
		}
		@include widescreen {
			padding-top: 60px;
			padding-bottom: 120px;
		}
		.product {
			a {
				display: block;
				&:hover {
					img {
						@include desktop {
							transform: scale(1.05);	
						}
					}
				}
			}
			.product-image {
				height: 196px;
				margin-bottom: 14px;
				background-color: #f1f1f1;
				@include widescreen {
					height: 340px;
				}
				@include fullhd {
					height: 392px;
				}
				.image {
					overflow: hidden;
				}
				img {
					max-height: 196px;
					width: auto;
					transition: all .4s ease;
					@include widescreen {
						max-height: 392px;
					}
				}
			}
			.product-txt {		
				margin-bottom: 30px;		
				p {
					font-size: 10px;
					margin: 0;
					line-height: 1.2;
					letter-spacing: 0.25px;
					color: #4F4E4C;
					@include desktop {
						font-size: 14px;
						line-height: 1.4;
					}
					@include widescreen {
						font-size: 16px;
						line-height: 1.6;
					}
					&:first-child {
						color: #000000;
						@include desktop {
							font-size: 16px;
						}
						@include widescreen {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
	
	.pop-up {
		@include tablet {
			margin-bottom: 80px;
		}
		@include widescreen {
			margin-bottom: 160px;
		}
	}
	
	.video-container {
		overflow: hidden;
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		.mobile-vid {
			height: 540px;
			video {
				transform: translate(-50.5%, -50%);
			}
		}
		.desktop-vid {
			@include tablet {
				height: 600px;
			}
			@include fullhd {
				height: 810px;
			}
		}
		video {
			object-position: center;
			object-fit: cover;
			min-height: 100%;
			min-width: 100%;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	.read-more {
		.read-more-toggle {
			position: absolute;
			z-index: 1;
			left: 16px;
			bottom: 16px;
			padding: 0;
			background-color: transparent;
			border: none;
			@include tablet {
				right: 16px;
				left: auto;
			}
			&:hover {
				.plus {
					&:before {
						@include desktop {
							transform: rotate(180deg);
						}
					}
					&:after {
						@include desktop {
							transform: rotate(270deg);
						}
					}
				}
			}
			.plus {
				display: block;
				position: relative;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 1px solid #ffffff;
				margin: 0 auto;
				@include widescreen {
					width: 40px;
					height: 40px;
				}
				&:before, &:after {
					content: " ";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 16px;
					height: 1px;
					background-color: #ffffff;
					transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
					@include widescreen {
						width: 24px;
					}
				}
				&:after {
					transform: rotate(90deg);
				}
			}	
		}
		.read-less-toggle {
			position: absolute;
			top: 16px;
			left: 16px;
			padding: 0;
			background-color: transparent;
			border: none;
			@include tablet {
				right: 16px;
				left: auto;
			}
			&:hover {
				
				.cross {
					background-color: #ededed;
					&:before {
						@include desktop {
							transform: rotate(180deg);
						}
					}
					&:after {
						@include desktop {
							transform: rotate(180deg);
						}
					}
				}
			}
			.cross {
				display: block;
				position: relative;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 1px solid #ffffff;
				background-color: #f2f2f2;
				margin: 0 auto;
				&:before, &:after {
					content: " ";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 16px;
					height: 2px;
					background-color: #6c6c6c;
					transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(135deg);
				}
			}	
		}
		.read-more-content {
			position: absolute;
			z-index: 2;
			width: 100%;
			text-align: left;
			visibility: visible;
			bottom: 0;
			background-color: #ffffff;
			padding: 60px 20px;
			transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
			@include tablet {
				padding: 50px;
			}
			
			&.hidden {
				transform: translateY(300px); 
				visibility: hidden;
			}
			
		}
	}
	
	.button {
		&.outlined {
			min-width: auto;
			font-size: 14px;
			padding: 9px 24px 14px;
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: 2px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 16px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	
	.collection-cta {
		display: inline-block;
		font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: -.5px;
		font-size: 40px;
		margin: 20px 0;
		@include tablet {
			margin: 90px 0;
		}
		@include widescreen {
			font-size: 40px;
			margin: 180px 0;
		}
		.arrow {
			display: block;
			position: relative;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: #000000;
			font-size: 28px;
			margin: 30px auto 0;
			@include widescreen {
				width: 72px;
				height: 72px;
				margin-top: 30px;
			}
			&:after {
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 38'%3E%3Ctitle%3Earrow%3C/title%3E%3Cg id='a3fe225b-fc67-4a83-8bee-9924914f5aba' data-name='Calque 2'%3E%3Cg id='a921e3c6-2d24-4d47-a48b-7b56f859621c' data-name='Calque 1'%3E%3Cpath d='M37.39,1.06l7.74,7.73H0v1.5H45.13L37.39,18l1.06,1.06L48,9.54,38.45,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 32px;
				height: 13px;
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				@include widescreen {
					width: 48px;
					height: 19px;
				}
			}
		}
	}
	
	&.has-js {
		.article-image {
			&.alt-image {
				bottom: -60px;
				@include widescreen {
					bottom: -80px;
				}
			}
		}
	}
}

@keyframes SlideRTL {
	from {
			transform: translateX(0);
	}
	to {
			transform: translateX(calc(4 * -360px));
	}
}
@keyframes SlideRTLDesktop {
	from {
			transform: translateX(0);
	}
	to {
			transform: translateX(calc(4 * -576px));
	}
}
@keyframes SlideRTLWidescreen {
	from {
			transform: translateX(0);
	}
	to {
			transform: translateX(calc(4 * -740px));
	}
}