@import "assets/css/core";

.section-main-container {
	max-width: 1250px;
	margin: 0 auto;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.journeedelafemme {
	background-color: #7DCABE;
	margin: 0 auto !important;
	padding: 30px 0 60px;
	@include widescreen {
		max-width: 1250px;
		padding-bottom: 100px;
		border: 1px solid #000000;
		border-top: none;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	h1, h2 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 30px;
		line-height: 1;
		letter-spacing: -1.67px;
	}
	h1 {
		font-size: 40px;		
		@include widescreen {
			font-size: 70px;
			letter-spacing: -3.45px;
			margin-bottom: 50px;
		}
	}
	h2 {
		font-size: 40px;
		@include widescreen {
			font-size: 70px;
			letter-spacing: -3.5px;
			margin-bottom: 40px;
		}
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 16px;
		@include widescreen {
			margin-bottom: 25px;
			font-size: 18px;
			line-height: 1.45;
		}
	}
	strong, .is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	a {
		text-decoration: underline;
	}

	article {
		padding-top: 20px;
		&.faq {
			padding-top: 0;
		}
	}
	.image {
		margin: 0;
	}
	
	.is-compress {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	
	.is-block {
		display: block;
	}
	.has-text-white {
		color: #ffffff;
	}
	.hash {
		height: 0;
		position: relative;
		top: -50px;
		
		@media screen and (min-width: 1024px) {
			top: -150px; 
		}
	}
	
	.journeedelafemme-hero,
	.journeedelafemme-body  {
		@include tablet {
			max-width: 768px;
			margin: 0 auto;
		}
		@include widescreen {
			max-width: 990px;
		}
		p {
			@include widescreen {
				margin-left: -20px;
				margin-right: -20px;
			}
		}
	}
	.journeedelafemme-hero {
		padding: 20px;
		@include tablet {
			padding: 20px 60px 10px;
		}
		.image {
			margin: 0 auto 30px;
			max-width: 255px;
			@include tablet {
				max-width: 367px;
			}
		}
	}

	.journeedelafemme-body {
		padding: 20px;
		@include tablet {
			padding: 30px 60px 10px;
		}
		@include widescreen {
			padding: 20px 60px 10px;
		}			
	}
	
	.solidaire {
		h2 {
			position: relative;
			z-index: 1;
		}
		.image {
			margin: 0 auto 30px;
			max-width: 280px;
			@include tablet {
				margin-top: -80px;
			}
			@include widescreen {
				max-width: 393px;
				margin-top: -115px;
				margin-bottom: 45px;
			}
		}
	}
	
	.regardemoi {
		.has-text-fat {
			font-size: 94px;
			letter-spacing: -4px;
			line-height: 1;
			text-align: center;
			margin-bottom: 30px;
			@include tablet {
				font-size: 118px;
				margin-bottom: 50px;
			}
			@include widescreen {
				margin: -10px -60px 60px;
				font-size: 168px;
				letter-spacing: -8.4px;
			}
		}
		.image {
			margin: 20px -20px -15px;
			height: 270px;
			@include tablet {
				margin: 40px auto -15px;
				height: 340px;
			}
			@include widescreen {
				height: 439px;
				margin-bottom: 10px;
			}
			img {
				object-fit: cover;
				object-position: 50%;
				height: 100%;
			}
		}
	}
	
	.fondation {
		.logo-fondation {
			margin: 0 auto 20px;
			max-width: 98px;
			@include widescreen {
				max-width: 131px;
				margin-bottom: 30px;
			}
		}
	}

	&.has-js {
	
	}
}