@import "assets/css/core";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.lp-beaute {
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
		line-height: 1;
	}
	h1 {
		font-size: 56px;
		letter-spacing: -2px;
		@include widescreen {
			font-size: 96px;
			letter-spacing: -4px;
			margin-bottom: 35px;
		}
	}
	h2 {
		font-size: 28px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 72px;
			letter-spacing: -2.5px;
		}
	}
	h3 {
		font-size: 28px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		@include mobile {
			font-size: 16px;
			line-height: 1.43;
		}
		@include widescreen {
			margin-bottom: 25px;
			font-size: 20px;
			line-height: 1.45;
		}
	}
	strong, .is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.image {
		margin: 0;
	}
	.is-uppercase {
		text-transform: uppercase;
	}

	.lp-beaute-hero {
		padding: 0 20px;
		border-bottom: 1px solid #4F4E4C;
		@include tablet {
			padding: 0;
		}
		@include mobile {
			text-align: left;
		}
		.hero-image {
			height: 360px;
			margin-left: -20px;
			margin-right: -20px;
			background-repeat: no-repeat;
			background-size: cover;
			@include tablet {
				height: 400px;
				margin: 0;
			}
			@include desktop {
				height: 580px;
			}
			@include widescreen {
				height: 650px;
			}
			@include fullhd {
				height: 720px;
			}
		}
		.content {
			padding: 20px 0;
			@include tablet {
				padding: 20px;
			}
			@include desktop {
				padding: 20px 80px;
			}
			@include widescreen {
				padding: 20px 90px;
			}
			@include fullhd {
				padding: 20px 140px;
			}
		}
		.date {
			font-size: 12px;
			font-family: 'GL_Bader_Narrow-Regular';
			margin-bottom: 10px;
		}
		h1 {
			@include widescreen {
				margin-left: -40px;
				margin-right: -40px;
			}
		}
		p {
			font-size: 20px;
		}
	}

	.lp-beaute-body {
		padding: 20px;
		border-bottom: 1px solid #E1DED9;
		@include mobile {
			text-align: left;
		}
		@include desktop {
			padding: 40px;
		}
		@include fullhd {
			padding: 60px 40px;
		}
	}
	
	.edito-main {
		background-color: #D87E87;
		padding-top: 40px;
		border: none;
		@include widescreen {
			padding: 80px 70px 60px;
		}
		@include fullhd {
			padding-left: 100px;
			padding-right: 100px;
		}
		h2 {
			@include widescreen {
				margin-bottom: 40px;
			}
		}
		p {
			font-size: 20px;
			@include widescreen {
				font-size: 28px;
			}
		}
	}
	
	.edito {
		.content {
			padding-top: 25px;
			@include tablet {
				padding-top: 35px;
			}
			@include widescreen {
				padding-top: 55px;
			}
		}
		.article-left {
			@include tablet {
				margin-right: 10px; 
			}
			@include desktop {
				margin-right: 20px;
			}
		}
		.article-right {
			@include tablet {
				margin-left: 10px; 
			}
			@include desktop {
				margin-left: 20px;
			}
		}
	}
	
	.products {
		padding: 0;
		.product {
			height: 280px;
			@include widescreen {
				height: 568px;
			}
			a {
				&:hover {
					img {
						@include desktop {
							transform: scale(1.05);	
						}
					}
				}
			}
			.product-image {
				height: 195px;
				margin-bottom: 10px;
				
				@include widescreen {
					height: 392px;
				}
				.image {
					overflow: hidden;
				}
				img {
					max-height: 195px;
					width: auto;
					transition: all .4s ease;
					@include widescreen {
						max-height: 392px;
					}
				}
			}
			.product-txt {
				p {
					font-size: 10px;
					margin: 0;
					line-height: 1.2;
					letter-spacing: 0.25px;
					color: #4F4E4C;
					@include desktop {
						font-size: 14px;
						line-height: 1.4;
					}
					@include widescreen {
						font-size: 16px;
						line-height: 1.6;
					}
					&:first-child {
						color: #000000;
						@include desktop {
							font-size: 16px;
						}
						@include widescreen {
							font-size: 20px;
						}
					}
				}
			}
		}
		
		.button {
			margin-top: 20px;
			@include desktop {
				margin-top: 40px;
				margin-bottom: 40px;
			}
			@include widescreen {
				margin-top: 0;
			}
		}
	}
	
	.last-section {
		border: none;
		padding: 40px 20px 0;
		margin-bottom: -20px;
		@include widescreen {
			padding: 80px;
			margin-bottom: -10px;
		}
		h3 {
			font-size: 40px;
			@include widescreen {
				font-size: 56px;
				margin-bottom: 45px;
			}
		}
	}
	
	.button {
		min-width: auto;
		&.primary {
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: -2px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 17px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
		&.outlined {
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: -2px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 17px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
	}
}