@import "assets/css/core";
@import "assets/css/components/flickty";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

// .back-top {
// 	display: none !important;
// }

.lp-container{
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	overflow: hidden;
	background-color:#000000;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	.boxed-text {
		line-height: .8;
		display: inline;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 0;
		> span {
			display: inline-block;
			background-color: #fff;
			border: 4px solid #000;
			padding: 6px 11px 9px;
			position: relative;
			@include widescreen {
					padding-bottom: 12px;
				}
			@include fullhd {
				border-width: 8px;
				padding: 12px 20px 18px;
			}
		}
		+ .boxed-text,
		+ p {
			margin-top: 16px;
			clear: both;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
	}
	h1{
		font-size: 80px;
		letter-spacing: -1px;
		@include widescreen {
			font-size: 188px;
		}
	}
	h2 {
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
		@include fullhd {
			font-size: 72px;
			letter-spacing: 0;
		}
	}
	h3 {
		font-size: 28px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
		@include fullhd {
			font-size: 96px;
			letter-spacing: 0;
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.43;
		@include widescreen {
			margin-bottom: 25px;
			line-height: 1.45;
			font-size: 24px;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 100%;
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.has-text-left-mobile {
		@include mobile {
			text-align: left;
		}
	}
	.is-fullheight {
		height: 100%;
	}
	.is-fullwidth {
		width: 100%;
	}
	.bg-video {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
	.alt-button {
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 8px;
		color: #ffffff;
		&:hover {
			text-decoration: none;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: #ffffff;
		}
		.icon {
			position: relative;
			width: 16px;
			height: 9px;		
			display: inline-block;
			top: -1px;
			margin-left: 8px;
		}
		.has-arrow {
			
			&:after {
				content: "";
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0; bottom: 0; left: 0; right: 0;
				margin: auto;
			}
		}
	}
	
	.lp-hero {
		padding:16px;
		color: #ffffff;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 307px;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/hero_M.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/hero_M@2x.jpg');
		}
		@include tablet {
			background-size: 700px;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/hero_D.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/hero_D@2x.jpg');
			}
		}
		@include desktop {
			background-size: 820px;
		}
		@include widescreen {
			background-size: 1075px;
			
		}
		&:after {
			height: 360px;
			width: 1440px;
			bottom: 0;
			right: 0;
			content: "";
			position: absolute;
			z-index: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_hero.png');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_hero@2x.png');
			}
			@include tablet {
				height: 470px;
				left: 0;
			}
			@include desktop {
				height: 500px;
			}
			@include widescreen {
				height: 548px;
				
			}
			@include fullhd {
				
			}
		}
		h1 {
			color: #ffffff;
			text-transform: uppercase;
			position: relative;
			z-index: 1;
			height: 400px;
			max-width: 340px;
			margin:  0 auto 20px;
			@include tablet {
				margin-bottom: 0;
				max-width: none;
				height: 450px;
			}
			@include desktop {
				height: 530px;
			}
			@include widescreen {
				height: 710px;
			}
			span {
				position: absolute;
				&:first-child {
					top: 15px;
					left: 21%;
					@include tablet {
						left: 125%;
					}
					@include desktop {
						left: 90%;
					}
					@include widescreen {
						top: 0;
						left: 83%;
					}
					
				}
				&:nth-child(2) {
					top: 165px;
					left: -2%;
					@include tablet {
						top: 140px;
						left: 5%;
					}
					@include desktop {
						top: 190px;
						left: 21%;
					}
					@include widescreen {
						top: 210px;
						left: -1%;
					}
					@include fullhd {
						top: 240px;
						left: 10%;
					}
				}
				&:last-child {
					bottom: 15px;
					right: 9%;
					@include tablet {
						bottom: 150px;
						right: -20%;
					}
					@include desktop {
						bottom: 120px;
						right: 1%;
					}
					@include widescreen {
						right: -2%;
					}
				}
			}
		}
		p {
			font-size: 17px;
			position: relative;
			z-index: 1;
			@include desktop {
				margin-bottom: 40px;
			}
			@include widescreen {
				font-size: 20px;
				margin-left: 60px;
				margin-bottom: 50px;
			}
			@include fullhd {
				margin-left: 105px;
				margin-bottom: 80px;
			}
		}
	}

	.lp-body {
		padding: 16px;
		text-align: left;
		position: relative;
		@include tablet {
			padding: 32px;
		}
		@include desktop {
			padding: 64px;
		}
		@include widescreen {
			padding: 128px;
		}
		@include fullhd {
			padding: 168px;
		}
		&.visus {
			padding: 0;
		}
		p {
			color: #ffffff;
		}
		.content {
			padding-bottom: 24px;
			@include desktop {
				padding: 0 32px 48px;
			}
			@include fullhd {
				padding: 0 64px 48px;
			}
		}
	}
	.marque,
	.collection-nuit,
	.pop-up {
		padding-top: 60px;
		padding-bottom: 60px;
		@include widescreen {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		&:before, &:after {
			content: "";
			position: absolute;
			z-index: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
		.container {
			z-index: 1;
		}
	}
	
	.marque {
		&:before {
			height: 263px;
			width: 1136px;
			top: 0;
			left: -420px;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_01.png');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_01@2x.png');
			}
			@include tablet {
				left: -320px;
			}
			@include desktop {
				left: -180px;
			}
			@include widescreen {
				left: -70px;
			}
			@include fullhd {
				left: 0;
			}
		}
		&:after {
			height: 562px;
			width: 1086px;
			bottom: 0;
			right: -250px;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_02.png');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_02@2x.png');
			}
			@include tablet {
				right: -200px;
			}
			@include desktop {
				right: -120px;
			}
			@include widescreen {
				right: 0;
			}
		}
		.boxed-text {
				display: inline-block;
				max-width: 280px;
				@include widescreen {
					max-width: 360px;
				}
				@include fullhd {
					max-width: 520px;
				}
				span {
					&:first-child {
						border-bottom: none;
						top: 4px;
						z-index:2;
						@include fullhd {
							top: 8px;
						}
					}
					&:nth-child(2) {
						border-bottom: none;
						z-index:1;
					}
					&:last-child {
						padding-bottom: 12px;
						top: -4px;
						@include fullhd {
							top: -8px;
							padding-bottom: 16px;
						}
					}
				}
			}
	}
	
	.visus {
		a {
			position: relative;
			display: block;
			&:before {
				content: "";
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				z-index: 1;
				background-color: rgba(0, 0, 0, 0);
				transition: all 300ms cubic-bezier(.645,.045,.355,1);
			}
			.plus {
				position: absolute;
				left: 0; right: 0;
				z-index: 1;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				border: 2px solid #ffffff;
				margin: auto;
				opacity: 0;
				transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1) 50ms;
				&:before, &:after {
					content: " ";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 20px;
					height: 2px;
					background-color: #ffffff;
				}
				&:after {
					transform: rotate(90deg);
				}
			}
			&:hover {
				&:before {
					@include desktop {
						background-color: rgba(0, 0, 0, 0.7);
					}
				}
				.plus {
					@include desktop {
						opacity: 1;
						transform: translateY(140px);
					}
					@include widescreen {
						transform: translateY(174px);
					}
					@include fullhd {
						transform: translateY(205px);
					}
				}
			}
		}
	}
	
	.collection-nuit {
		padding-bottom: 140px;
		@include widescreen {
				padding-bottom: 190px;
			}
		&:before {
			height: 459px;
			width: 1438px;
			top: 0;
			left: -520px;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_03.png');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_03@2x.png');
			}
			@include tablet {
				left: -200px;
			}
			@include desktop {
				left: -90px;
			}
			@include widescreen {
				left: 0;
			}
		}
		&:after {
			height: 740px;
			width: 1179px;
			bottom: 0;
			right: -450px;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_04.png');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_04@2x.png');
			}
			@include tablet {
				right: -200px;
			}
			@include desktop {
				right: -120px;
			}
			@include widescreen {
				right: 0;
			}
		}
		.boxed-text {
			display: inline-block;
			max-width: 330px;
			@include widescreen {
				max-width: 420px;
			}
			@include fullhd {
				max-width: 610px;
			}
			span {
				padding-bottom: 9px;
				@include widescreen {
						padding-bottom: 12px;
					}
				&:first-child {
					//font-family: 'GLBaderCompress-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
					background-color: #aa8eff;
					top: 4px;
					@include fullhd {
						top: 8px;
					}
				}
				&:last-child {
				}
			}
		}
	}
	
	.products {
		padding: 0;
		text-align: center;
		&:after {
			height: 620px;
			width: 1447px;
			bottom: 0;
			right: -500px;
			content: "";
			position: absolute;
			z-index: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_5b.png');
			@include tablet {
				height: 320px;
				right: -340px;
			}
			@include desktop {
				right: -240px;
			}
			@include widescreen {
				right: -130px;
			}
			@include fullhd {
				right: 0;
			}
		}
		.container {
			z-index: 1;
		}
		.boxed-text {
			display: block;
			margin-top: -100px;
			@include widescreen {
				margin-top: -120px;
			}
			@include fullhd {
				margin-top: -140px;
			}
		}
		.product {
			a {
				display: block;
				&:hover {
					img {
						@include desktop {
							transform: scale(1.05);	
						}
					}
				}
			}
			.product-image {
				height: 196px;
				margin-bottom: 14px;
				background-color: #f1f1f1;
				@include widescreen {
					height: 340px;
				}
				@include fullhd {
					height: 392px;
				}
				.image {
					overflow: hidden;
				}
				img {
					max-height: 196px;
					width: auto;
					transition: all .4s ease;
					@include widescreen {
						max-height: 392px;
					}
				}
			}
			.product-txt {		
				margin-bottom: 30px;		
				p {
					font-size: 10px;
					margin: 0;
					line-height: 1.2;
					letter-spacing: 0.25px;
					@include desktop {
						font-size: 14px;
						line-height: 1.4;
					}
					@include widescreen {
						font-size: 16px;
						line-height: 1.6;
					}
					&:first-child {
						@include desktop {
							font-size: 16px;
						}
						@include widescreen {
							font-size: 20px;
						}
					}
				}
			}
		}
		.button {
			margin-top: 10px;
			@include tablet {
				margin-top: 30px;
				margin-bottom: 30px;
			}
			@include desktop {
				margin-top: 50px;
				margin-bottom: 50px;
			}
			@include widescreen {
				margin-top: 60px;
				margin-bottom: 60px;
			}
		}
	}
	
	.pop-up {
		&:before {
			height: 571px;
			width: 1137px;
			top: 0;
			right: -400px;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_06.png');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_06@2x.png');
			}
			@include tablet {
				right: -300px;
			}
			@include desktop {
				right: -200px;
			}
			@include widescreen {
				right: 0;
			}
		}
		&:after {
			height: 984px;
			width: 1438px;
			bottom: 0;
			left: -720px;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_07.png');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/miu-miu-2021/degrade_07@2x.png');
			}
			@include tablet {
				left: -420px;
			}
			@include desktop {
				left: -240px;
			}
			@include widescreen {
				left: -50px;
			}
			@include fullhd {
				left: 0;
			}
		}
		.boxed-text.main {
			position: relative;
			z-index: 1;
			display: inline-block;
			max-width: 180px;
			margin-bottom: -100px;
			@include widescreen {
				max-width: 220px;
			}
			@include fullhd {
				max-width: 320px;
			}
			span {
				padding-bottom: 9px;
				@include widescreen {
						padding-bottom: 12px;
					}
				&:first-child {					
					top: 4px;
					@include fullhd {
						top: 8px;
					}
				}
				&:last-child {
					//font-family: 'GLBaderCompress-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
					background-color: #6FFF00;
					@include fullhd {
							padding-top: 9px;
						}
				}
			}
		}
		.article-image {
			margin-top: -95px;
			margin-bottom: 20px;
			@include tablet {
				margin-left: -20px;
				margin-right: -20px;
				margin-bottom: 45px;
			}
			@include desktop {
				margin-top: -120px;
				margin-left: -40px;
				margin-right: -40px;
			}
			@include widescreen {
				margin-top: -140px;	
				margin-left: -50px;
				margin-right: -50px;
			}
			@include fullhd {
				margin-top: -170px;	
				margin-left: -60px;
				margin-right: -60px;
			}
		}
	}
	
	.univers {
		.univers-cta {
			display: block;
			@include tablet {
				margin: 0 auto 90px;
				width: 100%;
			}
			@include widescreen {	
				margin-bottom: 70px;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.boxed-text {
			display: inline-block;
			max-width: 230px;
			@include tablet {
				max-width: none;
				display: inline-flex;
			}
			> span {
				&:first-child {
					padding-bottom: 9px;
					@include widescreen {
						padding-bottom: 11px;
					}
					@include fullhd {
						padding-bottom: 16px;
					}
				}
				&:nth-child(2) {
					@include mobile {
						z-index: 1;
						border-top: none;
						top: -4px;
						padding-top: 0;
						padding-bottom: 9px;
					}
				}
				&:last-child {
					@include mobile {
						border-top: none;
						top: 0;
						left: -10px;
						padding-top: 0;
						padding-bottom: 5px;
					}
					background-color: #6FFF00;
					@include tablet {
						line-height: 28px;
						left: -4px;
					}
					@include widescreen {
						line-height: 40px;
					}
					@include fullhd {
						line-height: 50px;
						left: -8px;
					}
				}
			}
		}
	}
	
	.button {
		&.outlined {
			min-width: auto;
			font-size: 14px;
			padding: 9px 24px 14px;
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: 2px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 16px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
	}
}