@import "assets/css/core";
@import "assets/css/components/flickty";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

// .back-top {
// 	display: none !important;
// }

.lp-container{
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	.boxed-text {
		line-height: 1;
		display: inline;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 0;
		> span {
			display: inline-block;
			background-color: #fff;
			border: 4px solid #000;
			padding: 6px 11px;
			position: relative;
			@include fullhd {
				border-width: 8px;
				padding: 12px 20px;
			}
		}
		+ .boxed-text,
		+ p {
			margin-top: 16px;
			clear: both;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
	}
	h1{
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 72px;
			letter-spacing: 0;
		}
		@include fullhd {
			font-size: 96px;
		}
	}
	h2 {
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
		@include fullhd {
			font-size: 72px;
			letter-spacing: 0;
		}
	}
	h3 {
		font-size: 28px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
		@include fullhd {
			font-size: 96px;
			letter-spacing: 0;
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.43;
		@include widescreen {
			margin-bottom: 25px;
			line-height: 1.45;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 100%;
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.has-text-left-mobile {
		@include mobile {
			text-align: left;
		}
	}
	.is-fullheight {
		height: 100%;
	}
	.bg-video {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
	.alt-button {
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 8px;
		&:hover {
			text-decoration: none;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: #000000;
		}
		.icon {
			position: relative;
			width: 16px;
			height: 9px;		
			display: inline-block;
			top: -1px;
			margin-left: 8px;
		}
		.has-arrow {
			
			&:after {
				content: "";
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0; bottom: 0; left: 0; right: 0;
				margin: auto;
			}
		}
	}
	
	.lp-hero {
		padding:0;
		height: 480px;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/pangaia/hero-v2_M.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/pangaia/hero-v2_M@2x.jpg');
		}
		@include mobile {
			text-align: left;
		}
		@include tablet {
			background-position: center center;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/pangaia/hero-v2_D.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/pangaia/hero-v2_D@2x.jpg');
			}
		}
		@include desktop {
			height: 720px;
		}
		@include widescreen {
			height: 920px;
		}
		
		h1.boxed-text{
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 115px;
			margin: auto;
			height: 60px;
			@include tablet {
				top: 0;
				bottom: 0;
			}
			span {
				background-color:#42FF00;
				@include widescreen {
					padding: 12px 20px 16px;
				}
			}
		}
		.boxed-text-container {
			height: 32px;
			@include tablet {
				height: 110px;
			}
		}
		.exclu.boxed-text {
			display: inline-block;
			font-size: 16px;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			width: 224px;
			@include tablet {
				font-size: 34px;
				width: 472px;
			}
			@include widescreen {
				font-size: 72px;
				width: 966px;
			}
			@include fullhd {
				width: 992px;
			}
			&:nth-child(2) {
				left: 220px;
				@include tablet {
					left: 468px;
				}
				@include widescreen {
					left: 962px;
				}
				@include fullhd {
					left: 983px;
				}
			}
			&:last-child {
				left: 440px;
				@include tablet {
					left: 936px;
				}
			}
			span {
				@include mobile {
					padding: 3px 4px 4px;
				}
			}
		}
		
		.selection-cta {
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			margin: auto;
			text-align: center;
			.boxed-text.selection {
				font-size: 34px;
				letter-spacing: -.5px;
				@include widescreen {
					font-size: 56px;
					letter-spacing: -2px;
				}
				@include fullhd {
					font-size: 72px;
					letter-spacing: 0;
				}
				> span {
					&:first-child {
						border-right: none;
					}
					&:last-child {
						background-color:#DFC8D9;
						margin-left: -8px;
						@include widescreen {
							margin-left: -10px;
						}
						@include fullhd {
							margin-left: -16px;
						}
					}
				}
			}
		}
	}

	.lp-body {
		padding: 16px;
		text-align: left;
		@include fullhd {
			padding: 32px;
		}
		.article-image {
			
		}
		.content {
			padding-bottom: 24px;
			@include desktop {
				padding: 0 32px 48px;
			}
			@include fullhd {
				padding: 0 64px 48px;
			}
		}
	}
	
	.marque {
		p {
			color: #ffffff;
			@include fullhd {
				font-size: 28px;
			}
		}
		.video-container {
			width: 240px;
			margin: 50px auto 20px;
			@include desktop {
				margin: 90px auto 40px;
			}
			@include fullhd {
				margin: 120px auto 60px;
			}
			video {
				max-width: 100%;
			}
		}
	}
	
	.produits {
		a {
			&:hover {
				text-decoration: none;
			}
		}
		
		.boxed-text:not(.selection) {
			display: inline-block;
			max-width: 320px;
			@include tablet {
				max-width: none;
			}
			> span {
				&:first-child {
					bottom: -4px;
					@include tablet {
						bottom: 0;
					}
				}
				&:nth-child(2) {
					@include tablet {
						left: -12px;
					}
					@include fullhd {
						left: -24px;
					}
				}
				&:last-child {
					left: -8px;
					@include tablet {
						left: -24px;
					}
					@include fullhd {
						left: -46px;
					}
				}
			}
		}
		.selection-cta {
			display: block;
			width: 303px;
			margin: auto;
			.boxed-text.selection {
				font-size: 40px;
				letter-spacing: -.5px;
				@include widescreen {
					font-size: 56px;
					letter-spacing: -2px;
				}
				@include fullhd {
					font-size: 72px;
					letter-spacing: 0;
				}
				> span {
					&:first-child {
						border-right: none;
					}
					&:last-child {
						margin-left: -8px;
					}
				}
			}
		}
		
		.product {
			width: 368px;
			padding: 0 4px;
			overflow: hidden;
			&:first-child {
				@include desktop {
					width: 412px;
					padding-left: 48px;
				}
				@include fullhd {
					width: 460px;
					padding-left: 96px;
				}
			}
			a {
				display: block;
				
				&:hover {
					img {
						@include desktop {
							transform: scale(1.05);	
						}
					}
				}
			}
			a,
			.product-image,
			.product-txt {
				width: 360px;
			}
			.product-image {
				height: 360px;
				margin-bottom: 10px;
				.image {
					overflow: hidden;
					background-color: #ebebeb;
					border-radius: 50%;
				}
				img {
					max-height: 360px;
					width: 360px;
					transition: all .4s ease;
				}
			}
			.product-txt {				
				p {
					font-size: 16px;
					margin: 0;
					color: #4F4E4C;
					@include desktop {
						font-size: 14px;
						line-height: 1.4;
					}
					@include widescreen {
						font-size: 16px;
						line-height: 1.6;
					}
					&:first-child {
						color: #000000;
						font-size: 20px;
						margin-bottom: 8px;
						@include desktop {
							font-size: 16px;
						}
						@include widescreen {
							font-size: 20px;
						}
					}
				}
			}
		}

		.slider-flickity {
			display: block;
			height: 435px;
			margin: 0 -16px;
			@include desktop {
				margin: 0 -48px;
			}
			@include fullhd {
				margin: 0 -96px;
			}
			&:focus {
				outline: none;
			}
			&:after {
				content: 'flickity';
				display: none;
			}
		}
	}
	
	.incontournables {
		.boxed-text:not(.selection) {
			> span {
				&:first-child {
					background-color:#CDE1FF;
				}
				&:nth-child(2) {
					background-color: #000000;
					color: #CDE1FF;
				}
			}
		}
		.selection-cta {
			.boxed-text.selection {
				> span {
					&:first-child {
						background-color:#CDE1FF;
					}
				}
			}
		}		
	}
	.innovations {
		.boxed-text:not(.selection) {
			> span {
				&:first-child {
					background-color:#AA7AFD;
				}
				&:nth-child(2) {
					background-color: #000000;
					color: #AA7AFD;
				}
			}
		}
		.selection-cta {
			.boxed-text.selection {
				> span {
					&:first-child {
						background-color:#AA7AFD;
					}
				}
			}
		}
	}
	
	.innovation {
		padding: 0;
		background-color:#FF4D82;
		@include tablet {
			background-color:#F8C800;
		}
		.content {
			padding: 16px 16px 24px;
			@include desktop {
				padding: 56px 48px 64px;
			}
			@include fullhd {
				padding: 64px 96px 72px;
			}
			.boxed-text {
				display: inline-block;
				max-width: 280px;
				@include widescreen {
					max-width: 360px;
				}
				@include fullhd {
					max-width: 520px;
				}
				span {
					&:first-child {
						background-color:#FF4D82; bottom: -4px;
						@include fullhd {
							bottom: -8px;
						}
					}
					&:nth-child(2) {
						border-bottom: none;
						z-index:1;
					}
					&:last-child {
						padding-bottom: 12px;
						top: -4px;
						@include fullhd {
							top: -8px;
						}
					}
				}
			}
		}
		.alt-content {
			padding: 24px 16px 64px;
			@include tablet {
				margin: 0;
				padding-right: 48px;
			}
			@include desktop {
				padding: 0 96px 0 48px;
			}
			@include fullhd {
				padding: 0 128px 0 96px;
			}
			p {
				font-size: 16px;
				@include desktop {
					font-size: 20px;
				}
			}
		}
		.article-image {
			@include tablet {
				position: relative;
				z-index: 1;
				margin: -72px 24px 0 0;
			}
			@include desktop {
				margin: -104px 48px 0 0;
			}
			@include fullhd {
				margin: -168px 96px 0 0;
			}
		}
	}
	
	.produits,
	.exclusivite,
	.go-for-good,
	.haussmann {
		padding-top: 40px;
		padding-bottom: 40px;
		@include desktop {
			padding-top: 56px;
			padding-bottom: 56px;
		}
		@include widescreen {
			padding-top: 96px;
			padding-bottom: 96px;
		}
		@include fullhd {
			padding-top: 124px;
			padding-bottom: 124px;
		}
	}
	
	.exclusivite {
		.boxed-text {
			display: inline-block;
			max-width: 330px;
			@include widescreen {
				max-width: 420px;
			}
			@include fullhd {
				max-width: 610px;
				margin-right: -50px;
			}
			> span {
				&:first-child {
					border-bottom: none;
				}
				&:last-child {
					top: -4px;
				}
			}
		}
		.product-txt {				
			p {
				&:not(.product-title) {
					font-size: 16px;
				}
			}
			.product-title {
				margin-bottom: 10px
			}
		}
		.products {
			.content {
				position: relative;
				height: 408px;
				@include tablet {
					height: 498px;
				}
				@include desktop {
					height: 604px;
				}
				@include widescreen {
					height: 634px;
				}
				.couleur {
					position: absolute;
					left: 0; right: 0;
					margin: auto;
					opacity: 0;
					visibility: hidden;
					transition: all .4s ease;
				}
				img {
					width: auto;
					max-height: 328px;
					@include tablet {
						max-height: 368px;
					}
					@include desktop {
						max-height: 496px;
					}
					@include widescreen {
						max-height: 520px;
					}
				}
			}
		}
		&.vert {
			background-color:#84C198;
			transition: all .4s ease;
			.boxed-text {
				> span {
					&:first-child {
						background-color: #009D1F;
						transition: all .4s ease;
					}
				}
			}
			.products {
				.content {
					.vert {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		&.brun {
			background-color:#A88F6F;
			transition: all .4s ease;
			.boxed-text {
				> span {
					&:first-child {
						background-color: #7B5E4E;
						transition: all .4s ease;
					}
				}
			}
			.products {
				.content {
					.brun {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		&.rouge {
			background-color:#E09696;
			transition: all .4s ease;
			.boxed-text {
				> span {
					&:first-child {
						background-color: #F9400F;
						transition: all .4s ease;
					}
				}
			}
			.products {
				.content {
					.rouge {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	
	.go-for-good {
		@include widescreen {
			padding-bottom: 0;
		}
		.boxed-text.main {
			display: inline-block;
			max-width: 335px;
			margin-right: -5px;
			@include fullhd {
				max-width: 420px;
			}
			> span {
				&:first-child {
					background-color: #9762F3;
					border-bottom: none;
				}
				&:nth-child(2) {
					@include widescreen {
						border-bottom: none;
						z-index: 1;
					}
				}
				&:nth-child(3) {
					@include widescreen {
						top: -4px;
					}
					@include fullhd {
						top: -8px;
					}
				}
				&:last-child {
					top: -4px;
					border-top: none;
					@include widescreen {
						top: -8px;
					}
					@include fullhd {
						top: -16px;
					}
				}
			}
		}
		.textiles {
			.boxed-text {
				display: block;
				max-width: 195px;
				margin: auto;
				@include tablet {
					max-width: none;
					margin-bottom: -24px;
					margin-right: -16px;
				}
				@include desktop {
					margin: 0 0 -48px -32px;
				}
				@include fullhd {
					margin-left: -64px;
					margin-right: -96px;
				}
				> span {
					background-color: #9762F3;
					&:first-child {
						border-bottom: none;
						@include tablet {
							border-bottom: 4px solid #000000;
							border-right: none;
							padding-left: 3px;
							padding-right: 3px;
						}
						@include desktop {
							padding-left: 11px;
							padding-right: 11px;
						}
						@include fullhd {
							padding-left: 9px;
							padding-right: 9px;
							border-bottom-width: 8px;
						}
					}
					&:nth-child(3) {
						@include tablet {
							left: -8px;
						}
						@include widescreen {
							left: -10px;
						}
						@include fullhd {
							left: -16px;
							padding-left: 15px;
							padding-right: 15px;
						}
					}
					&:last-child {
						top: -4px;
						border-top: none;
					}
				}
			}
			.luxe-row {
				margin: 0 -16px -40px;
				@include tablet {
					margin: 0;
				}
				@include desktop {
					margin-bottom: -56px;
				}
				@include widescreen {
					margin-bottom: 0;
				}
			}
		}
		.textile {
			padding: 24px 16px 0;
			height: 180px;
			text-align: center !important;
			@include tablet {
				padding-top: 32px;
				height: 210px;
			}
			@include widescreen {
				padding-top: 64px;
				height: 360px;
			}
			@include fullhd {
				height: 352px;
			}
			.textile-logo {
				width: 48px;
				margin: 0 auto 10px;
				@include widescreen {
					width: 88px;
				}
			}
			&-txt {
				p {
					font-size: 12px;
					margin: 0;
					@include widescreen {
						font-size: 20px;
					}
				}
			}
			.textile-title {
				font-size: 24px;
				@include widescreen {
					font-size: 40px;
				}
			}
		}
	}
	
	.haussmann {
		.article-image {
			margin: 0 -16px 24px;
			@include tablet {
				margin: 0;
			}
			img {
				min-width: 100%;
			}
		}
		.boxed-text {
			display: inline-block;
			max-width: 300px;
			@include desktop {
				max-width: 350px;
			}
			@include widescreen {
				max-width: 440px;
			}
			@include fullhd {
				max-width: 630px;
				margin-right: -64px;
			}
			> span {
				&:first-child {
					background-color: #DAE4FF;
				}
				&:nth-child(2) {
					top: -4px;
					@include fullhd {
						top: -8px;
					}
				}
				&:last-child {
					top: -8px;
					border-top: none;
				}
			}
		}
		
		.visus {
			.visu {
				height: 0;
				opacity: 0;
				visibility: hidden;
				transition: visibility 0s, opacity .4s ease;;
			}
		}
		&.visu-1 {
			.visus {
				.visu-1 {
					height: auto;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&.visu-2 {
			.visus {
				.visu-2 {
					height: auto;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&.visu-3 {
			.visus {
				.visu-3 {
					height: auto;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	
	.univers {
		@include mobile {
			border-top: 1px solid #E1DED9;
		}
		.univers-cta {
			display: block;
			width: 220px;
			margin: 32px auto;
			@include tablet {
				margin: 72px auto;
				width: 100%;
			}
			@include widescreen {	
				margin: 124px auto;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.boxed-text {
			display: inline-block;
			max-width: 280px;
			@include tablet {
				max-width: none;
				display: inline-flex;
			}
			> span {
				&:first-child {}
				&:nth-child(2) {
					@include mobile {
						border-top: none;
						top: -4px;
					}
				}
				&:last-child {
					background-color: #6FFF00;
					top: -8px;
					@include tablet {
						top: 0;
						left: -4px;
					}
				}
			}
		}
	}
	
	
	&.has-js {
		.article-image {
			&.alt-image {
				bottom: -60px;
				@include widescreen {
					bottom: -80px;
				}
			}
		}
	}
}