@import "assets/css/core";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.luxe-augmente {
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
	}
	h1 {
		font-size: 56px;
		line-height: 1.12;
		letter-spacing: -1.42px;
		@include widescreen {
			
			letter-spacing: -2.03px;
			margin-bottom: 35px;
		}
	}
	h2 {
		font-size: 36px;
		line-height: 1;
		letter-spacing: -1.29px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		@include mobile {
			font-size: 14px;
			line-height: 1.43;
		}
		@include widescreen {
			margin-bottom: 25px;
			font-size: 16px;
			line-height: 1.45;
		}
	}
	strong, .is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	small {
		@include touch {
			font-size: 75%;
		}
		@include desktop-only {
			font-size: 75%;
		}
	}

	hr {
		border-color: #d8d8d8;
		border-top-width: 1px;
		border-bottom-width: 0;
		margin: -15px 0 25px;
		@include tablet {
			margin: 30px 0 30px;
		}
		@include desktop {
			margin: 20px;
		}
		@include widescreen {
			margin: 10px 30px;
		}
	}
	ul {
		list-style-position: inside;
		padding-left: 20px;
		margin: -15px 0 20px;
		li {
			list-style-type: disc;
		}
		p {
			display: inline;
		}
	}
	article {
		padding-top: 20px;
		&.faq {
			padding-top: 0;
		}
	}
	.image {
		margin: 0;
	}
	
	.is-compress {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.is-smaller {
		font-size: 58%;
	}
	.is-block {
		display: block;
	}
	.has-text-white {
		color: #ffffff;
	}
	
	.luxe-augmente-hero {
		height: 500px;
		text-align: center;
		position: relative;
		overflow: hidden;
		@include widescreen {
			height: 800px;
		}
		.container {
			height: 100%;
		}
		.hero-video {
			width: 280%;
			height: 100%;
			margin: 0 auto; 
			left: -90%;
			@include tablet {
				width: 120%;
				height: 116%;
				left: -10%;
				top: -8%;
			}
			@include desktop {
				height: 142%;
				top: -21%;
			}
			@include widescreen {
				width: 114%;
				height: 100%;
				left: -7%;
				top: 0;
			}
			@include fullhd {
				height: 102%;
				top: -1%;
			}
		}
		.luxe-row {
			position: absolute;
			bottom: 20px;
			left: 20px;
			right: 0;
			height: 145px;
			@include tablet {
				bottom: 0;
				top: 0;
				left: 40px;
				margin: auto;
			}
			@include desktop {
				
			}
			@include widescreen {
				
			}
		}
		h1 {
			color: #ffffff;
			margin-bottom: 5px;
		}
		.button {
			font-size: 20px;
		}
		.scrolling-text-container {
			width: 3100px;
		}
		.rtl-scroll {
			padding: 5px 0;
			border-bottom: 1px solid #ffffff;
		}
		.ltr-scroll {
			padding: 5px 0;
			border-top: 1px solid #ffffff;
			position: absolute;
			bottom: 0;
		}
	}

	.luxe-augmente-body {
		padding: 20px;
		@include widescreen {
			padding: 40px;
		}
		&.bio {
			padding-bottom: 0;
			border-bottom: 1px solid #000000;
			p {
				font-size: 18px;
			}
		}
		
		.products {
			a {
				display: block;
				&:hover {
					.image {
						@include desktop {
							transform: scale(1.05);
						}
						@include widescreen {
							transform: scale(1.08);
						}
					}
				}
			}
		}
		.main-products {
			@include tablet {
				margin: 0 -20px;
			}
			@include widescreen {
				margin: 0 -40px;
			}
			.col-video {
				height: 305px;
				overflow: hidden;
				margin-bottom: 10px;
				@include tablet {
					height: 400px;
					margin-bottom: 0;
				}
				@include desktop {
					height: 480px;
				}
				@include widescreen {
					height: 580px;
				}
				
				.product-video {
					width: 100%;
					height: 150%;
					margin: 0 auto; 
					top: -25%;
					@include tablet {
						height: 160%;
						top: -30%;
					}
					@include desktop {
						height: 162%;
						top: -31%;
					}
					@include widescreen {
						height: 134%;
						top: -17%;
					}
					@include fullhd {
						height: 154%;
						top: -27%;
					}
				}
			}
			
			.col-product {
				background-color: #f6f6f6;
				height: 400px;
				@include desktop {
					height: 480px;
				}
				@include widescreen {
					height: 580px;
				}
				.product-image {
					height: 310px;
					margin-top: 30px;
					@include desktop {
						height: 390px;
					}
					@include widescreen {
						height: 480px;
						margin-top: 40px;
					}
					img {
						max-height: 310px;
						@include touch {
							width: auto;
						}
						@include desktop-only {
							width: auto;
						}
						@include widescreen {
							max-height: 100%;
						}
					}
				}
				.product-txt {
					height: 60px;
					p {
						font-size: 16px;
						@include widescreen {
							font-size: 20px;
						}
						&.has-arrow {
							position: relative;
							&:after {
								content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
								position: absolute;
								width: 20px;
								height: 10px;
								right: -30px;
							}
						}
					}
				}
			}
			
		}
		
		
		.product-image {
			display: inline-flex;
			.image {
				@include desktop {
					transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
				}
			}
		}
		.product-txt {
			display: inline-flex;
			height: 60px;
			@include widescreen {
				height: 52px;
			}
		}
		
		&.middle-page {
			padding: 0;
			@include tablet {
				padding: 20px;
			}
			@include widescreen {
				padding: 40px;
			}
			.col-video {
				height: 360px;
				overflow: hidden;
				margin-bottom: 0;
				@include tablet {
					height: 400px;
				}
				@include desktop {
					height: 480px;
				}
				@include widescreen {
					height: 580px;
				}
				
				.product-video {
					width: 100%;
					height: 150%;
					margin: 0 auto; 
					top: -25%;
					@include tablet {
						height: 160%;
						top: -30%;
					}
					@include desktop {
						height: 162%;
						top: -31%;
					}
					@include widescreen {
						height: 134%;
						top: -17%;
					}
				}
			}
		}
		&.page-bottom {
			padding: 0;
			.col-video {
				height: 360px;
				overflow: hidden;
				@include tablet {
					height: 400px;
					margin-bottom: 0;
				}
				@include desktop {
					height: 580px;
				}
				
				.product-video {
					width: 100%;
					height: 150%;
					margin: 0 auto; 
					top: -25%;
					@include tablet {
						height: 318%;
						top: -20%;
					}
					@include desktop {
						height: 270%;
						top: -25%;
					}
					@include fullhd {
						height: 310%;
						top: -20%;
					}
				}
			}
		} 
	}
	
	.collection {
		@include tablet {
			padding: 40px;
		}
		@include desktop {
			padding: 40px 80px;
		}
		@include widescreen {
			padding: 80px 150px  40px;
		}
		.products {
			.product {
				background-color: #f6f6f6;
				height: 200px;
				border: 2px solid #ffffff;
				@include widescreen {
					height: 294px;
				}
				&.main {
					overflow: hidden;
					@include tablet {
						height: 400px;
					}
					@include widescreen {
						height: 584px;
					}
					.product-image {
						height: 100%;
						width: 100%;
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						.image {
							width: 100%;
						}
						img {
							max-height: 200px;
							@include tablet {
								max-height: 400px;
							}
							@include widescreen {
								max-height: 100%;
							}
						}
					}
					.product-txt {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						p {
							width: 100%;
						}
					}
				}
				.product-image {
					height: 140px;
					@include widescreen {
						height: 232px;
						margin-top: 10px;
					}
					img {
						max-height: 140px;
						width: auto;
						@include widescreen {
							max-height: 100%;
						}
					}
				}
			}
		}
		
		&-cta {
			display: inline-block;
			font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-weight: 900;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: 1.2px;
			font-size: 28px;
			text-transform: uppercase;
			margin-top: 20px;
			@include widescreen {
				font-size: 40px;
				margin-top: 40px;
			}
			&:hover {
				text-decoration: none;
				.plus {
					&:before {
						@include desktop {
							transform: rotate(180deg);
						}
					}
					&:after {
						@include desktop {
							transform: rotate(270deg);
						}
					}
				}
			}
			.plus {
				display: block;
				position: relative;
				width: 78px;
				height: 78px;
				border-radius: 50%;
				border: 1px solid #000000;
				margin: 15px auto 0;
				@include widescreen {
					width: 108px;
					height: 108px;
					margin-top: 20px;
				}
				&:before, &:after {
					content: " ";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 40px;
					height: 1px;
					background-color: #000000;
					transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
					@include widescreen {
						width: 56px;
					}
				}
				&:after {
					transform: rotate(90deg);
				}
			}
		}
	}
	
	.shoppingadistance {
		background-color: #222222;
		padding-bottom: 55px;
		@include tablet {
			padding-top: 0;
		}
		@include desktop {
			margin-top: 20px;
		}
		@include widescreen {
			padding: 0 60px 90px;
			margin-top: 60px;
		}
		.article-body {
			padding-top: 20px;
			@include tablet {
				padding-top: 0;
				padding-left: 20px;
			}
			@include widescreen {
				padding-left: 50px;
			}
		}
		.tag {
			font-size: 24px;
			font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			margin-bottom: 20px;
		}
		p {
			font-size: 16px;
			@include widescreen {
				font-size: 20px;
			}
		}
	}
	
	.bg-image {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
	
	.scrolling-text {
		padding: 20px 0;
		overflow: hidden;
		&.icones {
			padding: 0;
			@include tablet {
				margin-bottom: -20px;
			}
			@include widescreen {
				margin: 40px 0 0;
			}
		}
		&.link {
			a {
				text-decoration: none;
				display: block;
			}
			p {
				display: inline-block;
				margin-right: 100px;
				&.has-arrow {
					position: relative;
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						position: absolute;
						width: 30px;
						height: 20px;
						right: -50px;
						top: -5px;
					}
				}
			}
		} 
	}
	.scrolling-text-container {
		width: 2350px;
		p {
			margin: 0;
		}
		.text-size-1 {
			font-size: 20px;
		}
		.text-size-2 {
			font-size: 32px;
			@include widescreen {
				font-size: 40px;
			}
		}
		.text-size-3 {
			font-size: 40px;
			@include widescreen {
				font-size: 56px;
			}
		}
		
		&.rtl-scroll {
			will-change: transform;
			&.animate {
				animation: SlideRTL 15s linear 150ms infinite;
			}
		}
		&.ltr-scroll {
			will-change: transform;
			transform: translateX(-40%);
			&.animate {
				animation: SlideLTR 15s linear 150ms infinite;
			}
		}
	}
	

	&.has-js {
	
	}
}

@keyframes SlideRTL {
	from {
			transform: translateX(0);
	}

	to {
			transform: translateX(-40%);
	}
}

@keyframes SlideLTR {
	from {
			transform: translateX(-40%);
	}

	to {
			transform: translateX(0%);
	}
}