@import "assets/css/core";

// colors
$generique: #F04E37; 
$affranchies: #E2656B;
$collectionneuses: #72B987;
$visionnaires: #ABCEE1;
$actumag: #081F72;

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}

.has-bg-image {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}
//=============

.reveal-modal {
	z-index: 100000;
	padding: 0;
	border: none;
	margin: 0 auto;
	left: 0; right: 0;
	max-width: 480px !important;
	@include touch {
		min-height: 100vh;
		@supports (-webkit-touch-callout: none) {
			min-height: var(--fix-vh-height);
		}
	}
	.close-reveal-modal {
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

.reinventons-nous-app,
.logo-anim,
.reinventons-nav,
.section-main-container {
	width: 100%;
	max-width: 480px;
	margin: 0 auto !important;
	@include desktop {
		max-width: 1440px;
	}
}
.section-main-container {
	width: 100%;
	max-width: none;
	margin: 0 auto !important;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.footer {
	margin-top: 0;
}

.footer-description,
.back-top {
	display: none !important;
}
.is-fixed-top {
	position: fixed !important;
	top: 0;
	z-index: 100000;
}
.is-fullheight {
	height: 100%;
}
.is-fullwidth {
	width: 100%;
}

.hidden-section {
	@include touch {
		//display: none;
		opacity: 0;
		visibility: hidden;
		height: 0 !important;
		min-height: 0;
	}
}
.hidden-splash {
	opacity: 0 !important;
	visibility: hidden !important;
	height: 0 !important;
	min-height: 0 !important;
}

.bg-video {
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}
.video-container {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; bottom: 0; left: 0; right: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.mobile-vid {
		height: 100vh;
		@supports (-webkit-touch-callout: none) {
			height: var(--fix-vh-height);
		}
		video,
		iframe {
			height: 100%;
			min-width: 100%;
			margin: 0 auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		iframe {
			width: 100vh;
			min-height: 178vw;
		}
		video {
			object-position: center;
			object-fit: cover;
			min-height: 100%;
			width: 100%;
		}
	}
	.desktop-vid {
		height: 100vh;
		iframe {
			position: absolute;
			width: 177.77777778vh; /* 100 * 16 / 9 */
			height: 100%;
			min-width: 100%;
			min-height: 56.25vw; /* 100 * 9 / 16 */
			margin: 0 auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.mobile-vid,
	.desktop-vid {
		&.video-with-controls {
			background-color: #000;
			iframe {
				width: 100%;
				min-height: 100%;
			}
		}
	}
}

// variables
:root {
	--fix-vh-height: 86.75vh;
	--fix-col-visu-height: 51.25vh;
	--fix-col-content-height: calc(86.75vh - var(--fix-col-visu-height));
	--col-visu-height: 56.25vh;
	--col-content-height: calc(100vh - var(--col-visu-height));
}

.reinventons-nous {
	@include touch {
		background-color: rgb(0,0,0);
	}
	@include desktop {
		max-width: 1440px;
		margin: 0 auto;
		background-color: transparent;
		@media screen and (min-height: 850px) {
			max-width: 1440px;
		}
	}
	@include fullhd {
		border: 1px solid #000000;
		border-top: none;
		max-width: 1440px;
	}
	&.is-fixed-top {
		width: 100%;
		min-height: 100vh;
		min-height: -webkit-fill-available;
	}
	.reinventons-nous-app {
		position: relative;
		overflow: hidden;
	}
	.section {
		position: relative;
		@include touch {
			height: 100vh;
			@supports (-webkit-touch-callout: none) {
				height: var(--fix-vh-height);
			}
		}
		@include desktop {
			height: calc(100vh - 100px);
		}
		.content {
			padding: 24px 8px;
			@media screen and (min-width: 360px) {
				padding: 24px 28px;
			}
			@include desktop {
				padding: 24px 32px;
			}
		}
		.col-visu {
			.content {
				position: absolute;
				bottom: 16px;
			}
		}
		.main-card {
			.col-visu {
				height: 68.75%;
				@include desktop {
					height: 100%;
					overflow: hidden;
				}
			}
			.content {
				@include desktop {
					transform: scale(1.5);
					transform-origin: left;
					bottom: 60px;
					left: 30px;
				}
				@include fullhd {
					@media screen and (min-height: 850px) {
						transform: scale(2.2);
						bottom: 90px;
						left: 0;
					}
				}
				&.has-text-right {
					@include desktop {
						transform-origin: right;
						text-align: right;
						right: 0;
						left: auto;
					}
					p {
						@include desktop {
							transform-origin: right;
						}
					}
				}
				h2 {
					top: 9px;
				}
				p {
					@include desktop {
						transform: scale(0.75);
						transform-origin: left;
					}
					@include fullhd {
						@media screen and (min-height: 850px) {
							transform: scale(0.5);
							top: -10px;
						}
					}
				}	
			}
			.col-logo {
				overflow: hidden;
				@include desktop {
					height: 100%;
				}
			}
		}
		.full-content-card {
			.content {
				padding: 55px;
				@include desktop {
					overflow: hidden;
					padding: 5% 20%;
					@media screen and (min-height: 850px) {
						padding: 20%;
					}
				}
				@include fullhd {
					padding: 20%;
					@media screen and (min-height: 1024px) {
						padding: 30%;
					}
				}				
				h2 {
					margin-bottom: 30px;
					@include desktop {
						margin-bottom: 60px;
					}
				}
				p {
					@include desktop {
						text-align: center;
						font-size: 16px;
					}
				}
			}
		}
		.full-image-card {
			.col-visu {
				@include touch {
					min-height: 100vh;
					@supports (-webkit-touch-callout: none) {
						min-height: var(--fix-vh-height);
					}
				}
				@include desktop {
					min-height: 100%;
				}
				.content {
					@include desktop {
						padding-left: 18%;
						padding-right: 18%;
					}
					&.text-center {
						h2 {
							@include fullhd {
								@media screen and (min-height: 850px) {
									transform-origin: center;
								}
							}
						}
					}
					a {
						&:not(.button) {
							display: block;
							margin-bottom: 30px;
						}
					}
					h2, p, .tag {
						position: relative;
						z-index: 1;
					}
					h2 {
						@include fullhd {
							@media screen and (min-height: 850px) {
								transform: scale(1.5);
								transform-origin: left;
								display: block;
								top: -20px !important;
							}
						}
					}
				}
			}
		}
		.half-content-card {
			.col-visu {
				height: var(--col-visu-height);
				@supports (-webkit-touch-callout: none) {
					height: var(--fix-col-visu-height);
				}
				@include desktop {
					height: calc(var(--col-visu-height) - 50px);
					@media screen and (min-height: 850px) {
						height: var(--col-visu-height);
					}
				}
				.subtitle {
					@include fullhd {
						@media screen and (min-height: 850px) {
							top: -37px;
						}
					}
				}
				h2 {
					@include fullhd {
						@media screen and (min-height: 850px) {
							transform: scale(1.5);
							transform-origin: left;
							top: -20px;
						}
					}
				}
			}
			.col-content {
				height: calc(var(--col-content-height) - 88px);
				@supports (-webkit-touch-callout: none) {
					height: calc(var(--fix-col-content-height) - 88px);
				}
				@include desktop {
					height: calc(var(--col-content-height) - 138px);
					@media screen and (min-height: 850px) {
						height: calc(var(--col-content-height) - 100px - 120px);
					}
				}
				.content {
					height: 100%;
				}
				.txt-container {
					height: calc((var(--col-content-height)) - (24px + 48px + 64px));
					overflow: auto;
					position: relative;
					z-index: 100005;
					@supports (-webkit-touch-callout: none) {
						height: calc((var(--fix-col-content-height)) - (24px + 48px + 64px));
					}
					@include desktop {
						z-index: auto;
						height: auto;
						
					}
				}
			}
			.cta-container {
				box-shadow: 0 -1px 0 #e1ded9;
				padding: 24px;
				background-color: #ffffff;
				@include desktop {
					@media screen and (min-height: 850px) {
						padding: 40px;
					}
				}
				.button {
					margin: 0;
				}
			}	
		}
		.product-card {
			p,
			h3 {
				margin-bottom: 0;
			}
			.col-title {
				padding-top: 50px;
				height: 120px;
				text-align: center;
				@include desktop {
					padding-top: 0;
				}
				.content {
					padding-top: 0;
					padding-bottom: 20px;
					@include desktop {
						padding-top: 33px;
						padding-bottom: 22px;
					}
				}
			}
			.col-content {
				box-shadow: 0 -1px 0 #e1ded9;
				@include touch {
					height: calc(100vh - 120px - 88px);
					@supports (-webkit-touch-callout: none) {
						height: calc(var(--fix-vh-height) - 120px - 88px);
					}
				}
				@include desktop {
					height: calc(100vh - 120px - 88px - 100px);
					box-shadow: none;
					@media screen and (min-height: 850px) {
						height: calc(100vh - 120px - 120px - 100px);
					}
				}
				@include fullhd {
					height: calc(100vh - 120px - 120px - 100px);
				}
				.content {
					padding-left: 0;
					padding-right: 0;
				}
				.image {
					width: 100%;
					height: 100%;
					img {
						object-fit: cover;
						height: 100%;
					}
				}
			}
			.cta-container {
				text-align: center;
				padding: 0 24px 24px;
				@include desktop {
					@media screen and (min-height: 850px) {
						padding: 0 40px 40px;
					}
				}
				.button {
					margin: 0;
				}
			}
		}
		.product-card,
		.half-content-card {
			.col-content {
				.content {
					height: 100%;
				}
			}
		}
		.logo-gl-white {
			transform: translate(12px, -45px) rotate(30deg);
			@include desktop {
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				width: 187px;
				height: 150px;;
				transform: rotate(-25deg) scale(3);
				@media screen and (min-height: 850px) {
					transform: rotate(-25deg) scale(4);
				}
			}
			@include fullhd {
				@media screen and (min-height: 850px) {
					transform: rotate(-25deg) scale(4.5);
				}
				@media screen and (min-height: 1024px) {
					transform: rotate(-25deg) scale(5);
				}
			}
		}
	}
	
	.container {
		margin: 0 auto;
		position: relative;
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
	}
	.boxed-text {
		line-height: 1;
		display: inline;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		float: left;
		margin-bottom: 0;
		> span {
			display: inline-block;
			background-color: #fff;
			border: 4px solid #000;
			padding: 0 10px;
			position: relative;
		}
		+ .boxed-text,
		+ p {
			margin-top: 16px;
			clear: both;
		}
	}
	h1 {
		font-size: 56px;
		letter-spacing: -2px;
		text-transform: uppercase;		
	}
	h2 {
		font-size: 40px;
		letter-spacing: -.5px;
		text-transform: uppercase;
		&.has-text-fat {
			font-size: 56px;
			letter-spacing: -2px;
		}
	}
	h3 {
		font-size: 24px;
		letter-spacing: -.4px;
		@include desktop {
			letter-spacing: -1px;
			@media screen and (min-height: 850px) {
				font-size: 32px;
			}
		}
		@include fullhd {
			font-size: 40px;
		}
	}
	.subtitle {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		text-transform: uppercase;
		line-height: 20px;
		font-size: 16px;
		&.boxed-text {
			span {
				padding: 0 4px;
			}	
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.43;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 16px;
		@include desktop {
			@media screen and (min-height: 850px) {
				font-size: 18px;
				line-height: 1.38;
			}
		}
		@include fullhd {
			font-size: 20px;
		}
	}
	.tag {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		text-transform: uppercase;
		font-size: 12px;
		color: #ffffff;
		letter-spacing: 3px;
		margin-bottom: 10px;
		@include fullhd {
			@media screen and (min-height: 850px) {
				margin-bottom: 50px;
			}
		}
		&.title-has-two-lines {
			@include fullhd {
				@media screen and (min-height: 850px) {
					margin-bottom: 62px;
				}
			}
		}
	}
	.go-for-good {
		width: 75px;
		height: 19px;
		margin-bottom: 16px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/go-for-good.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) { 
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/go-for-good@2x.jpg');
		}
		@include fullhd {
			@media screen and (min-height: 850px) {
				margin-bottom: 53px;
			}
		}
	}
	em {
		font-style: italic;
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.is-stronger {
		font-weight: 700;
	}
	.nowrap {
		white-space: nowrap;
	}
	a.is-text {
		font-size: inherit;
	}
	.button {
		font-size: 14px;
		padding: 13px 24px;
		z-index: 100005;
		@include desktop {
			z-index: 1;
		}
		&.is-width-auto {
			min-width: auto;
		}
		.has-arrow {
			position: relative;
			display: inline-block;
			height: 11px;
			right: 0;
			top: -1px;
			&:after {
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 16px;
			}
		}
		&:hover {
			.has-arrow {
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				}
			}
		}
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		@include touch {
			font-size: 14px;
		}
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.no-float {
		float: none;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.has-text-white {
		color: #ffffff;
	}
	.has-text-grey {
		color: #4F4E4C;
	}
	.has-background-generique {
		background-color: $generique !important;
	}
	.has-background-affranchies {
		background-color: $affranchies !important;
	}
	.has-background-collectionneuses {
		background-color: $collectionneuses !important;
	}
	.has-background-visionnaires {
		background-color: $visionnaires !important;
	}
	.has-background-actumag {
		background-color: $actumag !important;
	}
	.has-background-black {
		background-color: #000000 !important;
	}
	.has-background-white {
		background-color: #ffffff !important;
	}
	.has-background-grey {
		background-color: #f1f1f1 !important;
	}
	.has-text-light {
		.has-bg-image {
			//z-index: 0;
		}
		&:after {
			content: "";
			position: absolute;
			//z-index: 1;
			width: 100%;
			height: 100%;
			bottom: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
			@include desktop {
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%);
			}
		}
	}
		
	.go-down-container {
		position: fixed;
		z-index: 100011;
		width: 64px;
		height: 64px;
		margin: 0 auto;
		left: 0; right: 0; bottom: 4%;
		.go-down {
			background-color: transparent;
			padding: 0;
			position: absolute;			
		}
		#go-down-nav {
			li {
				display: none;
				&.next-link-is-active {
					+ li {
						display: block;
					}
				}
			}
		}
	}
	
	@keyframes animBGcolor {
		0% {
			background-color: $generique;
		}
		75% {
			background-color: $generique;
		}
		100% {
			background-color: transparent;
		}
	}	
	@keyframes animLogo {
		0% {
			opacity: 0;
			top: 20%;
			transform: rotate(0deg) scale(1);
		}
		35% {
			opacity: 1;
		}
		75% {
			top: 20%;
			transform: rotate(0deg) scale(1);
		}
		100% {
			top: -146px;
			transform: rotate(22deg) scale(.33);
		}
	}
	
	.logo-anim {
		visibility: hidden;
		opacity: 0;
		height: 0;
		background-color: $generique;
		&.static {
			visibility: visible;
			opacity: 1;
			height: auto;
			z-index: 100001;
			@include touch {
				height: 100vh;
				@supports (-webkit-touch-callout: none) {
					height: var(--fix-vh-height);
				}
			}
		}
		&.active {
			visibility: visible;
			opacity: 1;
			height: auto;
			z-index: 100001;
			.logo {
				top: -146px;
				transform: rotate(22deg) scale(.33);
			}
		}
		&.animate {
			min-height: 100vh;
			min-height: -webkit-fill-available;
			background-color: transparent;
			z-index: 1000010;
			animation: 1000ms cubic-bezier(.645,.045,.355,1) 0ms 1 animBGcolor forwards;
			.logo {
				animation: 1000ms cubic-bezier(.645,.045,.355,1) 0ms 1 animLogo forwards;
			}
		}
		&.is-hidden-top {
			.logo {
				transition: top 250ms cubic-bezier(.645,.045,.355,1);
				top: -230px;
			}
		}
		.logo {
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin: 0 auto;
			transform: rotate(0deg) scale(1);
			width: 389px;
			transition: top 250ms cubic-bezier(.645,.045,.355,1);
		}
	}
	
	.reinventons-nav {
		position: fixed;
		height: 40px;
		top: 0;
		transform: translateY(-40px);
		opacity: 0;
		visibility: hidden;
		z-index: 100005;
		transition: all 250ms cubic-bezier(.645,.045,.355,1);
		@include desktop {
			display: none;
		}
		&.active {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
		button {
			background-color: transparent;
			display: inline-block;
			padding: 0;
			position: absolute;
			
			&.trigger-nav-menu {
				width: 22px;
				height: 18px;
				left: 10px;
				top: 18px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 18.14'%3E%3Ctitle%3Eicon-menu%3C/title%3E%3Cg id='a32ca300-b6b6-4e7b-85b7-d287e9a46d40' data-name='Calque 2'%3E%3Cg id='b9de782e-17c1-4332-b710-1273ea13d3f9' data-name='Calque 1'%3E%3Cpath d='M0,1H22V0H0Zm17.54,9.51v4.8c0,1.88.54,2.83,2.23,2.83S22,17.19,22,15.31v-4.8H20.8v4.83c0,1.23-.2,1.78-1,1.78s-1-.55-1-1.78V10.51ZM2.62,14.64l1.45-4.13H5.29V18H4.1V13.32l-1,2.89h-1l-1-2.91V18H0V10.51H1.23ZM6.67,18V10.51h3.66v1H7.87v2.09h2.39v1H7.87V17h2.56v1Zm8.45-7.49V15.6l-2.23-5.09H11.63V18h1.08V12.74L15.11,18h1.11V10.51ZM22,6H0V5H22Z' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					
				}
			}
			&.close {
				width: 19px;
				height: 19px;
				right: 10px;
				top: 18px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.71 19.71'%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='f0d0a9c1-52b3-4526-926d-26e86ee65cfc' data-name='Calque 2'%3E%3Cg id='fa268191-027b-4b45-a8ff-2b1c8194e2f5' data-name='Calque 1'%3E%3Cpath d='M9.85,9.15.71,0,0,.71,9.15,9.85,0,19l.71.71,9.14-9.15L19,19.71l.71-.71L10.56,9.85,19.71.71,19,0Z' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					
				}
			}
		}
		&.inverted {
			button {
				&.trigger-nav-menu {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 18.14'%3E%3Ctitle%3Eicon-menu%3C/title%3E%3Cg id='a32ca300-b6b6-4e7b-85b7-d287e9a46d40' data-name='Calque 2'%3E%3Cg id='b9de782e-17c1-4332-b710-1273ea13d3f9' data-name='Calque 1'%3E%3Cpath d='M0,1H22V0H0Zm17.54,9.51v4.8c0,1.88.54,2.83,2.23,2.83S22,17.19,22,15.31v-4.8H20.8v4.83c0,1.23-.2,1.78-1,1.78s-1-.55-1-1.78V10.51ZM2.62,14.64l1.45-4.13H5.29V18H4.1V13.32l-1,2.89h-1l-1-2.91V18H0V10.51H1.23ZM6.67,18V10.51h3.66v1H7.87v2.09h2.39v1H7.87V17h2.56v1Zm8.45-7.49V15.6l-2.23-5.09H11.63V18h1.08V12.74L15.11,18h1.11V10.51ZM22,6H0V5H22Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						
					}
				}
				&.close {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.71 19.71'%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='f0d0a9c1-52b3-4526-926d-26e86ee65cfc' data-name='Calque 2'%3E%3Cg id='fa268191-027b-4b45-a8ff-2b1c8194e2f5' data-name='Calque 1'%3E%3Cpath d='M9.85,9.15.71,0,0,.71,9.15,9.85,0,19l.71.71,9.14-9.15L19,19.71l.71-.71L10.56,9.85,19.71.71,19,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						
					}
				}
			}
		}
	}
	
	.reinventons-top-menu {
		opacity: 0;
		visibility: hidden;
		height: 0;
		min-height: 0;
		background-color: $generique;
		position: relative;
		max-width: 480px;
		margin: 0 auto;
		&.active {
			opacity: 1;
			visibility: visible;
			min-height: 100vh;
			z-index: 100006;
			left: 0;
			right: 0;
			@supports (-webkit-touch-callout: none) {
				height: var(--fix-vh-height);
			}
		}	
		.top-container {
			position: relative;
			height: 51px;
			button {
				background-color: transparent;
				padding: 0;
				&.close {
					width: 19px;
					height: 19px;
					left: 16px;
					top: 16px;
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.71 19.71'%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='f0d0a9c1-52b3-4526-926d-26e86ee65cfc' data-name='Calque 2'%3E%3Cg id='fa268191-027b-4b45-a8ff-2b1c8194e2f5' data-name='Calque 1'%3E%3Cpath d='M9.85,9.15.71,0,0,.71,9.15,9.85,0,19l.71.71,9.14-9.15L19,19.71l.71-.71L10.56,9.85,19.71.71,19,0Z' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						
					}
				}
			}
		}
		.tabs-container {
			padding: 0 16px;
			.tabs {
				display: block;
			}
			ul{
				margin: 0 -16px;
				display: flex;
				flex-grow: 1;
				flex-shrink: 0;
				align-items: start;
				overflow: auto;
				-ms-overflow-style: none; // pour edge
				scrollbar-width: none; // pour firefox
				&::-webkit-scrollbar {
					height: 0;
					width: 0;
				}
				li {
					display: block;
					padding: 0 4px;
					&:first-child {
						padding-left: 0;
					}
					a.is-active {
						background-color: #000000;
						color: #fff;
					}
				}
			}
			.panes {
				position: relative;
				height: 80vh;
				overflow: hidden;
				@supports (-webkit-touch-callout: none) {
					height: 70vh;
				}
				&:after,
				&:before {
					content: "";
					position: absolute;
					z-index: 1;					
					height: 50px;
					width: 100%;
				}	
				&:before {
					top: 0;
				}	
				&:after {
					bottom: 0;
				}
				.tab-panes {
					height: 100%;
					padding-top: 30px;
					overflow-x:  hidden;
					overflow-y: auto; 
					-ms-overflow-style: none; // pour edge
					scrollbar-width: none; // pour firefox
					&::-webkit-scrollbar {
						height: 0;
						width: 0;
					}
				}
			}
			.tab-pane {
				a {
					display: block;
					border-radius: 7px;
					overflow: hidden;
					margin: 0 0 20px;
					box-shadow: 0 1px 1px rgba(0,0,0,0.15);
				}
			}
		}
		&.has-background-affranchies {
			.panes {
				&:before {
					background: linear-gradient(0deg, rgba(226,101,107,0) 0%, rgba(226,101,107,1) 100%); 
				}
				&:after {
					background: linear-gradient(180deg, rgba(226,101,107,0) 0%, rgba(226,101,107,1) 100%);
				}
			}
		}
		&.has-background-collectionneuses {
			.panes {
				&:before {
					background: linear-gradient(0deg, rgba(114, 185, 135,0) 0%, rgba(114, 185, 135,1) 100%); 
				}
				&:after {
					background: linear-gradient(180deg, rgba(114, 185, 135,0) 0%, rgba(114, 185, 135,1) 100%);
				}
			}
		}
		&.has-background-visionnaires {
			.panes {
				&:before {
					background: linear-gradient(0deg, rgba(171, 206, 225,0) 0%, rgba(171, 206, 225,1) 100%); 
				}
				&:after {
					background: linear-gradient(180deg, rgba(171, 206, 225,0) 0%, rgba(171, 206, 225,1) 100%);
				}
			}
		}
		&.has-background-white {
			.panes {
				&:before {
					background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				}
				&:after {
					background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				}
			}
		}
	}
	
	.prev-next-nav {
		position: absolute;
		width: 100%;
		height: 100%;
		@include desktop {
			display: none;
		}
		button {
			padding: 0;
			position: absolute;
			z-index: 100004;
			width: 50%;
			height: 100%;
			background-color: transparent;
			&.prev {
				left: 0;
			}
			&.next {
				right: 0;
			}
		}
	}
	
	.nav-arrow {
		display: block;
		width: 100%;
		margin-bottom: 16px;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 48px;
			height: 48px;
			background-color: #000000;
			border-radius: 50%;
			margin: 0 auto;
		}
		&:after {
			content: "";
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 6.36'%3E%3Ctitle%3Earrow-right-thin%3C/title%3E%3Cg id='b6abb03e-5da6-49d7-8abc-e9ced35064e0' data-name='Calque 2'%3E%3Cg id='fc699765-12cb-402f-a650-ff08b8e8c5c2' data-name='Calque 1'%3E%3Cpath d='M12.46.35,15,2.93H0v.5H15L12.46,6l.36.35L16,3.18,12.82,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			top: 17.5px;
			width: 32px;
			height: 13px;
		}
		&.is-small {
			&:before {
				width: 40px;
				height: 40px;
			}
			&:after {
				width: 16px;
				height: 6.5px;
			}
		}
		&.arrow-left {
			&:after {
				transform: rotateY(180deg);
			}
		}
		&.arrow-down {
			margin: 0;
			&:before {
				width: 64px;
				height: 64px;
			}
			&:after {
				transform: rotate(90deg);
				top: 24px;
				width: 40px;
				height: 16px;
			}
		}
		&.inverted {
			&:before {
				background-color: #ffffff;
			}
			&:after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 6.36'%3E%3Ctitle%3Earrow-right-thin%3C/title%3E%3Cg id='b6abb03e-5da6-49d7-8abc-e9ced35064e0' data-name='Calque 2'%3E%3Cg id='fc699765-12cb-402f-a650-ff08b8e8c5c2' data-name='Calque 1'%3E%3Cpath d='M12.46.35,15,2.93H0v.5H15L12.46,6l.36.35L16,3.18,12.82,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
		}
		&.outlined {
			&:before {
				background-color: transparent;
				border: 1px solid #000000;
			}
			&:after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 6.36'%3E%3Ctitle%3Earrow-right-thin%3C/title%3E%3Cg id='b6abb03e-5da6-49d7-8abc-e9ced35064e0' data-name='Calque 2'%3E%3Cg id='fc699765-12cb-402f-a650-ff08b8e8c5c2' data-name='Calque 1'%3E%3Cpath d='M12.46.35,15,2.93H0v.5H15L12.46,6l.36.35L16,3.18,12.82,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
		}
		&.restart {
			&:after {
				top: 14px;
				width: 19px;
				height: 20px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.8 19.5'%3E%3Ctitle%3Earrow-restart-b%3C/title%3E%3Cg id='e6d1dab5-1c64-41f4-b5f9-5331c61d12f3' data-name='Calque 2'%3E%3Cg id='b5c4d3a1-8e09-4aef-94d7-01b8342bd5cf' data-name='Calque 1'%3E%3Cpath d='M1.5,9.75A8.25,8.25,0,0,1,16.7,5.3H12.75a.75.75,0,0,0,0,1.5h5.3a.74.74,0,0,0,.75-.75V.75a.75.75,0,0,0-1.5,0V3.58A9.75,9.75,0,1,0,16.25,17a9.93,9.93,0,0,0,2.37-3.21.75.75,0,0,0-1.37-.62A8.25,8.25,0,0,1,1.5,9.75Z' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
		}
	}
	
	.hand-tap {
		width: 100%;
		margin-bottom: 16px;
		position: relative;
		&:after {
			content: "";
			display: block;
			width: 65px;
			height: 73px;
			margin: auto;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 72.93'%3E%3Ctitle%3Ehand-tap%3C/title%3E%3Cg id='ef1e71ad-db14-4fcc-868f-0bb4d28899df' data-name='Calque 2'%3E%3Cg id='bb687be0-232c-469c-a842-c648a998b0b1' data-name='Calque 1'%3E%3Cpath d='M.16,56.05,5.52,45l-.31-8.68a1.59,1.59,0,0,1,.24-.91l6.32-10.27,1-1.54a5.41,5.41,0,0,1,7.43-1.77,5.32,5.32,0,0,1,1.6,1.53l.06-.09a5.41,5.41,0,0,1,7.43-1.77,5.21,5.21,0,0,1,1.86,2,5.38,5.38,0,0,1,7.51,1.36l6.66-10.82a5.4,5.4,0,1,1,9.2,5.67L44,36.77c4.76,4,6.88,8.12,6.23,12.32C48.83,58,35.26,63.71,32.59,64.74L26.5,72.32a1.61,1.61,0,0,1-1.26.61,1.52,1.52,0,0,1-.85-.24L.77,58.15A1.64,1.64,0,0,1,.16,56.05ZM24.87,69.18l5.47-6.81a1.51,1.51,0,0,1,.71-.51c4.1-1.49,15-6.77,16-13.27.44-2.91-1.15-6-4.74-9.05l-.15.25a7.76,7.76,0,0,1-2,11.36l-3.54,2.19a1.58,1.58,0,0,1-.86.24,1.61,1.61,0,0,1-.85-3l3.54-2.2a4.55,4.55,0,0,0,1.09-6.78L38.89,41A1.61,1.61,0,0,1,39,38.74a2.19,2.19,0,0,1,.12-.33L51.71,18A2.13,2.13,0,0,0,52,16.38,2.2,2.2,0,0,0,51,15a2.17,2.17,0,0,0-3,.71l-9.25,15h0l-4.54,7.38a1.63,1.63,0,0,1-1.39.78A1.66,1.66,0,0,1,32,38.7a1.62,1.62,0,0,1-.53-2.23l3.89-6.31h0L36,29.08a2.18,2.18,0,0,0-.7-3,2.2,2.2,0,0,0-1.64-.26,2.17,2.17,0,0,0-1.34,1l-2,3.22h0l-4,6.43a1.62,1.62,0,0,1-1.38.77,1.55,1.55,0,0,1-.85-.24,1.62,1.62,0,0,1-.53-2.23l4.62-7.51A2.16,2.16,0,1,0,24.56,25l-2,3.22-.65,1.05v0L20.6,31.43h0l-2,3.22A1.62,1.62,0,1,1,15.85,33l3.32-5.38a2.16,2.16,0,0,0-3.69-2.25l-2.73,4.42h0l-4.29,7,.31,8.6a1.72,1.72,0,0,1-.16.77L3.71,56.15ZM56.09,24.4a11.32,11.32,0,0,0,0-19.62,9.3,9.3,0,0,0-1.91-.87,10.68,10.68,0,0,0-3.77-.67A11.36,11.36,0,0,0,39.06,14.59a10.05,10.05,0,0,0,.19,2,1.62,1.62,0,1,1-3.16.69,12.56,12.56,0,0,1-.27-2.71A14.61,14.61,0,0,1,50.41,0a13.59,13.59,0,0,1,4.82.85A12.51,12.51,0,0,1,57.7,2a14.57,14.57,0,0,1,0,25.25,1.57,1.57,0,0,1-.81.22,1.62,1.62,0,0,1-.8-3Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
		&.hand-right {
			&:after {
				transform: rotateY(180deg);
			}
		}
	}
	
	.manage-sound {
		position: absolute;
		z-index: 100006;
		background-color: transparent;
		bottom: 0;
		right: 0;
		width: 100px;
		height: 150px;
		padding: 0 0 0 30px;
		margin: 0;
		&:before {
			content: "";
			display: block;
			width: 32px;
			height: 32px;
			background-color: rgba(255,255,255,1);
			border-radius: 50%;
			margin: 0 auto;
		}
		&:after {
			content: "";
			margin: auto;
			position: absolute;
			top: 0; left: 30px; bottom: 0; right: 0;
			width: 22px;
			height: 17px;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 36 27.72'%3E%3Cdefs%3E%3Cmask id='a7a240ab-01a2-4092-b4b5-550223aaf6fa' x='0' y='0' width='36' height='27.72' maskUnits='userSpaceOnUse'%3E%3Cg id='f38eefea-1599-41a1-bd11-e0c684e27baa' data-name='path-1-inside-1'%3E%3Cpath d='M18.38,2.17a1.66,1.66,0,0,0-1.76.19L9,8.42H3.67A1.66,1.66,0,0,0,2,10.08v7.56A1.66,1.66,0,0,0,3.67,19.3H9l7.65,6.06a1.68,1.68,0,0,0,1,.36,1.69,1.69,0,0,0,1.67-1.67V3.67A1.66,1.66,0,0,0,18.38,2.17ZM25.45,8a1.67,1.67,0,0,0-2.36,2.36,5,5,0,0,1,0,7.08,1.67,1.67,0,0,0,1.18,2.85,1.65,1.65,0,0,0,1.18-.49,8.33,8.33,0,0,0,0-11.8Zm2-2a1.66,1.66,0,0,1,0-2.35,1.68,1.68,0,0,1,2.36,0,14.47,14.47,0,0,1,0,20.45,1.63,1.63,0,0,1-1.18.49,1.67,1.67,0,0,1-1.18-2.84A11.14,11.14,0,0,0,27.41,6Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Ctitle%3Esound-unmuted%3C/title%3E%3Cg id='f6eec05b-1e61-45c0-b3a2-f4a5a05cb93c' data-name='Calque 2'%3E%3Cg id='ac9549e1-f0b9-4f7e-956e-51d0cc3d1f75' data-name='Calque 1'%3E%3Cg mask='url(%23a7a240ab-01a2-4092-b4b5-550223aaf6fa)'%3E%3Cpath d='M16.62,2.36l1.25,1.57h0Zm1.76-.19L17.51,4h0ZM9,8.42v2h.7l.54-.43ZM9,19.3l1.24-1.57-.55-.43H9Zm7.65,6.06-1.24,1.57h0Zm1.76.19.87,1.81h0Zm.95-21.88h0ZM23.09,8l1.42,1.41h0Zm2.36,0L24,9.37h0Zm-2.36,2.36L24.51,8.9h0Zm0,7.08,1.42,1.42h0Zm0,2.36,1.42-1.41h0Zm2.36,0L24,18.35h0Zm2-16.12L26,2.22h0Zm0,2.35L26,7.41h0Zm2.36-2.36,1.42-1.41h0Zm0,20.45-1.41-1.41h0Zm-2.36,0,1.42-1.41h0Zm0-2.35L26,20.31h0ZM17.87,3.93a.36.36,0,0,1-.36,0L19.26.37a3.67,3.67,0,0,0-3.88.42ZM10.21,10l7.66-6.06L15.38.79,7.73,6.85Zm-6.54.43H9v-4H3.67ZM4,10.08a.34.34,0,0,1-.33.34v-4A3.66,3.66,0,0,0,0,10.08Zm0,7.56V10.08H0v7.56Zm-.33-.34a.34.34,0,0,1,.33.34H0A3.66,3.66,0,0,0,3.67,21.3Zm5.3,0H3.67v4H9Zm8.9,6.49-7.66-6.06L7.73,20.87l7.65,6.06Zm-.21-.07a.35.35,0,0,1,.2.07l-2.48,3.14a3.69,3.69,0,0,0,2.28.79Zm-.14,0a.29.29,0,0,1,.14,0v4a3.66,3.66,0,0,0,1.59-.36Zm-.19.3a.35.35,0,0,1,.18-.3l1.74,3.6a3.66,3.66,0,0,0,2.08-3.3Zm0-20.38V24.05h4V3.67Zm.18.3a.35.35,0,0,1-.18-.3h4A3.67,3.67,0,0,0,19.25.37Zm7,5.4a.33.33,0,0,1-.47,0l2.82-2.83a3.65,3.65,0,0,0-5.18,0Zm0-.47a.33.33,0,0,1,0,.47L21.68,6.54a3.68,3.68,0,0,0,0,5.19Zm0,9.92a7,7,0,0,0,0-9.92l-2.83,2.83a3,3,0,0,1,0,4.26Zm0-.48a.34.34,0,0,1,0,.48L21.68,16a3.68,3.68,0,0,0,0,5.19Zm-.24-.09a.34.34,0,0,1,.24.1l-2.83,2.82a3.64,3.64,0,0,0,2.59,1.08Zm-.24.1a.34.34,0,0,1,.24-.1v4a3.67,3.67,0,0,0,2.6-1.08Zm1.87-4.49A6.32,6.32,0,0,1,24,18.35l2.82,2.82a10.25,10.25,0,0,0,3-7.31ZM24,9.37a6.3,6.3,0,0,1,1.86,4.49h4a10.27,10.27,0,0,0-3-7.32Zm2-7.15a3.68,3.68,0,0,0,0,5.19l2.83-2.83a.33.33,0,0,1,0,.47Zm5.18,0a3.66,3.66,0,0,0-5.18,0l2.83,2.83a.33.33,0,0,1-.47,0Zm0,23.28a16.5,16.5,0,0,0,0-23.28L28.36,5.05a12.49,12.49,0,0,1,0,17.62Zm-2.6,1.07a3.7,3.7,0,0,0,2.6-1.07l-2.83-2.83a.3.3,0,0,1,.23-.1ZM26,25.5a3.69,3.69,0,0,0,2.59,1.07v-4a.33.33,0,0,1,.24.1Zm0-5.19a3.68,3.68,0,0,0,0,5.19l2.83-2.83a.33.33,0,0,1,0,.47Zm0-12.9a9.13,9.13,0,0,1,0,12.9l2.83,2.83a13.13,13.13,0,0,0,0-18.56Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
		&.is-muted {
			&:after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 36 27.72'%3E%3Cdefs%3E%3Cmask id='a85574f2-c2ea-4bed-9421-2a5eb9b52ba0' x='0' y='0' width='36' height='27.72' maskUnits='userSpaceOnUse'%3E%3Cg id='f9f256fe-1856-40d1-817b-8058fc19125a' data-name='path-1-inside-1'%3E%3Cpath d='M16.62,2.36a1.67,1.67,0,0,1,2.7,1.31V24.05a1.66,1.66,0,0,1-.94,1.5,1.69,1.69,0,0,1-.72.17,1.73,1.73,0,0,1-1-.36L9,19.3H3.67A1.67,1.67,0,0,1,2,17.63V10.08A1.66,1.66,0,0,1,3.67,8.42H9ZM31.16,9.62A1.67,1.67,0,1,1,33.51,12l-1.88,1.88,1.88,1.87a1.67,1.67,0,0,1,0,2.36,1.63,1.63,0,0,1-1.18.49,1.67,1.67,0,0,1-1.18-.49l-1.87-1.88L27.4,18.09a1.63,1.63,0,0,1-1.18.49A1.67,1.67,0,0,1,25,15.73l1.88-1.87L25,12A1.67,1.67,0,0,1,27.4,9.62l1.88,1.88Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Ctitle%3Esound-muted%3C/title%3E%3Cg id='f44a3067-2392-4e65-b8e3-c868e368fdf1' data-name='Calque 2'%3E%3Cg id='a8381e81-92fb-4b41-b551-03cade9939ea' data-name='Calque 1'%3E%3Cg mask='url(%23a85574f2-c2ea-4bed-9421-2a5eb9b52ba0)'%3E%3Cpath d='M18.38,2.17,17.51,4h0Zm-1.76.19,1.24,1.57h0Zm2.7,1.31h0Zm-.94,21.88.87,1.8h0Zm-1.76-.19-1.24,1.56h0ZM9,19.3l1.24-1.57-.55-.43H9ZM9,8.42v2h.69l.55-.44Zm24.54,1.2L32.1,11h0Zm-2.35,0L32.57,11h0ZM33.51,12,32.1,10.57h0Zm-1.88,1.88-1.41-1.42-1.41,1.42,1.41,1.41Zm1.88,1.87,1.42-1.41h0Zm0,2.36L32.1,16.68h0Zm-2.36,0,1.42-1.41h0Zm-1.87-1.88,1.41-1.41-1.41-1.41L27.86,14.8ZM27.4,18.09l1.41,1.42h0Zm-2.36,0,1.42-1.41h0Zm0-2.36-1.41-1.41h0Zm1.88-1.87,1.41,1.41,1.42-1.41-1.41-1.42ZM25,12l1.42-1.41h0Zm0-2.36L26.46,11h0Zm2.36,0,1.42-1.41h0Zm1.88,1.88-1.42,1.42,1.42,1.41,1.41-1.41ZM19.25.37a3.65,3.65,0,0,0-3.87.42l2.48,3.14a.34.34,0,0,1-.35,0Zm2.07,3.3A3.65,3.65,0,0,0,19.25.37L17.51,4a.34.34,0,0,1-.19-.3Zm0,20.38V3.67h-4V24.05Zm-2.07,3.3a3.66,3.66,0,0,0,2.07-3.3h-4a.32.32,0,0,1,.19-.3Zm-1.59.37a3.67,3.67,0,0,0,1.59-.37l-1.73-3.61.14,0Zm-2.28-.8a3.68,3.68,0,0,0,2.28.8v-4a.31.31,0,0,1,.2.07ZM7.73,20.87l7.65,6.05,2.48-3.13-7.65-6.06Zm-4.06.43H9v-4H3.67ZM0,17.63A3.67,3.67,0,0,0,3.67,21.3v-4a.33.33,0,0,1,.33.33Zm0-7.55v7.55H4V10.08ZM3.67,6.42A3.66,3.66,0,0,0,0,10.08H4a.34.34,0,0,1-.33.34Zm5.3,0H3.67v4H9ZM15.38.79,7.73,6.85,10.21,10l7.65-6.05ZM34.93,8.21a3.68,3.68,0,0,0-5.19,0L32.57,11a.33.33,0,0,1-.47,0Zm0,5.19a3.67,3.67,0,0,0,0-5.19L32.1,11a.33.33,0,0,1,0-.47Zm-1.88,1.87,1.88-1.87L32.1,10.57l-1.88,1.87Zm1.88-.95-1.88-1.88-2.83,2.83,1.88,1.88Zm0,5.19a3.67,3.67,0,0,0,0-5.19L32.1,17.15a.33.33,0,0,1,0-.47Zm-2.59,1.07a3.67,3.67,0,0,0,2.6-1.08L32.1,16.68a.3.3,0,0,1,.23-.1ZM29.74,19.5a3.66,3.66,0,0,0,2.59,1.08v-4a.34.34,0,0,1,.24.1Zm-1.88-1.87,1.88,1.87,2.83-2.82L30.69,14.8Zm1,1.87,1.87-1.87L27.86,14.8,26,16.68Zm-2.6,1.08a3.66,3.66,0,0,0,2.59-1.07L26,16.68a.3.3,0,0,1,.23-.1ZM23.63,19.5a3.64,3.64,0,0,0,2.59,1.08v-4a.33.33,0,0,1,.24.1Zm0-5.18a3.68,3.68,0,0,0,0,5.19l2.83-2.83a.33.33,0,0,1,0,.47Zm1.88-1.88-1.88,1.88,2.83,2.83,1.87-1.88Zm-1.88,1,1.88,1.88,2.83-2.83-1.88-1.87Zm0-5.18a3.68,3.68,0,0,0,0,5.19l2.83-2.83a.33.33,0,0,1,0,.47Zm5.19,0a3.68,3.68,0,0,0-5.19,0L26.46,11A.33.33,0,0,1,26,11Zm1.87,1.88L28.82,8.21,26,11l1.87,1.88Zm-1-1.88-1.88,1.88,2.83,2.83L32.57,11Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
		}
	}
	
	.reinventons-splash {
		overflow: hidden;
		opacity: 1;
		visibility: visible;
		transition: all 250ms cubic-bezier(.645,.045,.355,1) 150ms;
		.trigger-tuto-hover-video {
			z-index: 1;
			padding: 0;
			width: 100%;
			background-color: transparent;
		}
		.trigger-tuto {
			display: inline-block;
			margin-top: 32px;
			.button {
				z-index: auto;
			}
		}
		.content {
			position: absolute;
			bottom: 20px;
			padding: 12px;
			transition: all 250ms cubic-bezier(.645,.045,.355,1);
			@include desktop {
				transform: scale(1.5);
				bottom: 25%;
				left: 0;
				right: 0;
				width: 290px;
				margin: auto;
			}
			.subtitle {
				opacity: 1;
				visibility: visible;
				transition: all 250ms cubic-bezier(.645,.045,.355,1);
			}
			&.tuto-active {
				z-index: 3;
				transform: translateY(-40%);
				@media screen and (min-height: 600px) {
					transform: translateY(-60%);
				}
				@media screen and (min-height: 736px) {
					transform: translateY(-100%);
				}
				@media screen and (min-height: 812px) {
					transform: translateY(-115%);
				}
				@media screen and (min-height: 850px) {
					transform: translateY(-140%);
				}
				.subtitle {
					opacity: 0;
					visibility: hidden;
					height: 0;
				}
			}
		}
		.col-visu {
			min-height: 80vh;
			padding: 16px;
			margin-top: -1px;
			@supports (-webkit-touch-callout: none) {
				min-height: 75vh;
			}
			@include desktop {
				height: calc(100vh - 100px);
				margin-top: 0;
			}
			.bg-video-container {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0; bottom: 0; left: 0; right: 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/m-video-splash-cover.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/m-video-splash-cover@2x.jpg');
				}
				iframe {
					width: 80vh;
					height: 100%;
					min-width: 100%;
					min-height: 100vw;
					margin: 0 auto;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}		
	}
	
	.tuto {
		background-color: rgba(255,255,255,0.95);
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		visibility: hidden;
		left: 0;
		right: 0;
		transform: translateY(100%);
		transition: all 250ms cubic-bezier(.645,.045,.355,1);
		&.active {
			visibility: visible;
			transform: translateY(0);
			transition: all 250ms cubic-bezier(.645,.045,.355,1);
		}
		.tuto-container {
			> div {
				&:first-child, &:last-child {
					height: 18%;
					display: flex;
					justify-content: center;
				}
				&:first-child {
					//align-items: flex-end;
					align-items: center;
				}
				&:last-child {
					align-items: center;
				}
				&:nth-child(2) {
					height: 64%;
				}
			}
		}
		.button {
			margin: 0;
		}
		.tuto-nav {
			border-top: 1px dotted #000000;
			border-bottom: 1px dotted #000000;
			.back, .start {
				background-color: transparent;
				color: #000;
				font-size: 24px;
				font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				line-height: 1;
				letter-spacing: -0.4px;
				padding: 2rem 1.8rem;
			}
			.back {
				border-right: 1px dotted #000000;
			}
			span {
				display: inline-block;
			}
		}
	}
	
	ul.main-links {
		margin: 0;
		position: relative;
		z-index: 100005;
		li {
			position: relative;
			border-bottom: 1px solid #000000;
			&:last-child {
				border-bottom: none;
			}
			a, button {
				display: block;
				position: relative;
				width: 100%;
				font-size: 1rem;
				font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				text-transform: uppercase;
				line-height: 1;
				letter-spacing: 1px;
				padding: 20px 0;
				color: #000;
				&:hover {
					text-decoration: none;
				}
				.has-arrow {
					position: absolute;
					width: 16px;
					margin: 0;
					top: 0;
					bottom: 0;
					right: 0;
					&:after {
						content: "";
						position: absolute;
						margin: auto;
						top: 0; left: 0; bottom: 0; right: 0;
						width: 16px;
						height: 6.36px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 6.36'%3E%3Ctitle%3Earrow-right-thin%3C/title%3E%3Cg id='b6abb03e-5da6-49d7-8abc-e9ced35064e0' data-name='Calque 2'%3E%3Cg id='fc699765-12cb-402f-a650-ff08b8e8c5c2' data-name='Calque 1'%3E%3Cpath d='M12.46.35,15,2.93H0v.5H15L12.46,6l.36.35L16,3.18,12.82,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	
	.stepper {
		position: absolute;
		z-index: 1;
		height: 6px;
		width: 100%;
		padding: 4px 9px 0;
		@include desktop {
			display: none;
		}
		ul {
			margin: 0 -1px;
			li {
				padding: 0 1px;
			}
		}
		&.inverted {
			.step {
				background-color: rgba(255,255,255,0.5);
				&.is-active {
					background-color: rgba(255,255,255,1);
				}
			}
		}
		.step {
			display: block;
			height: 2px;
			width: 100%;
			border-radius: 2px;
			background-color: rgba(0,0,0,0.15);
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&.is-active {
				background-color: rgba(0,0,0,1);
			}
		}
	}


	#manifesto {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/manifesto/manifesto_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/manifesto/manifesto_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/manifesto/manifesto_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/manifesto/manifesto_D@2x.jpg');
				}
			}
		}
		.container {
			> .luxe-row {
				align-content: start;
			}
		}
		.col-visu {
			height: 400px;
			&:before,
			&:after {
				content: "";
				position: absolute;
				width: 65px;
				height: 65px;
				background-repeat: no-repeat;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/manifesto/manifesto-logo.svg');
				z-index: 1;
				transform: rotate(20deg);
				@include desktop {
					
				}
			}
			&:before {
				left: -26px;
				top: 46px;
				@include desktop {
					left: 40px;
					top: 60px;	
				}
			}
			&:after {
				left: 180px;
				bottom: 2px;
				@include desktop {
					left: 190px;
					bottom: 50px;
				}
			}
			@include desktop {
				height: 100%;
			}
			.content {
				@include desktop {
					transform: scale(1.5);
					bottom: 50px;
					right: 40px;
					text-align: right;
				}
				@include fullhd {
					@media screen and (min-height: 850px) {
						transform: scale(2.5);
						bottom: 150px;
						right: 140px;
					}
				}
			}
		}
		.col-content {
			max-height: calc(100vh - 400px);
			@supports (-webkit-touch-callout: none) {
				max-height: calc(var(--fix-vh-height) - 400px);
			}
			.content {
				@include desktop {
					max-width: 290px;
					margin: auto;
				}
			}
			.txt-container {
				height: calc(100vh - 400px - 48px);
				overflow: auto;
				position: relative;
				z-index: 100005;
				@supports (-webkit-touch-callout: none) {
					height : calc(var(--fix-vh-height) - 400px- 48px);
				}
			}
		}
	}

	#manifesto-vid {
		.video-container {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/manifesto/manifesto-vid-cover_M.gif');
		}
	}
	
	#programme {
		.container {
			max-width: 230px;
			padding-top: 84px;
		}
	}
	
	#mode-main {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-main_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-main_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-main_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-main_D@2x.jpg');
				}
			}
		}
		.col-visu {
			&:before,
			&:after {
				content: "";
				position: absolute;
				width: 87px;
				height: 91px;
				z-index: 1;
				background-repeat: no-repeat;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/picto-mode.svg');
				@include fullhd {
					@media screen and (min-height: 850px) {
						width: 147px;
						height: 154px;
					}
				}
			}
			&:before {
				top: 70px;
				left: 25px;
				@include fullhd {
					@media screen and (min-height: 850px) {
						top: 100px;
						left: 62px;
					}
				}
			}
			&:after {
				bottom: 20px;
				right: 22px;
				@include fullhd {
					@media screen and (min-height: 850px) {
						bottom: 36px;
						right: 50px;
					}
				}
			}
		}
	}
	#mode-proenza-schouler {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-proenza-schouler_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-proenza-schouler_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-proenza-schouler_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-proenza-schouler_D@2x.jpg');
				}
			}
		}
	}
	#mode-ganni {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-ganni-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-ganni-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-ganni-v2_D.jpg');
			}
		}
	}
	#mode-designers-remix {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-designers-remix-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-designers-remix-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-designers-remix-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-designers-remix-v2_D@2x.jpg');
				}
			}
		}
	}
	#mode-parisienne-et-alors {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-parisienne-et-alors-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-parisienne-et-alors-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-parisienne-et-alors-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-parisienne-et-alors-v2_D@2x.jpg');
				}
			}
		}
	}
	#mode-musier {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-musier-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-musier-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-musier-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-musier-v2_D@2x.jpg');
				}
			}
		}
	}
	#mode-skims {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-skims-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-skims-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/mode/mode-skims-v2_D.jpg');
			}
		}
	}
	
	
	#shoes-main {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-main_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-main_M@2x.jpg');
			}
		}
		.col-visu {
			&:before,
			&:after {
				content: "";
				position: absolute;
				background-repeat: no-repeat;
				transform: rotate(-10deg);
				z-index: 1;
			}
			&:before {
				width: 115px;
				height: 89px;
				top: 100px;
				left: -26px;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-blue.svg');
				@include desktop {
					top: 70px;
				}
				@include fullhd {
					@media screen and (min-height: 850px) {
						width: 166px;
						height: 127px;
						left: -40px;
					}
				}
			}
			&:after {
				width: 110px;
				height: 85px;
				bottom: -25px;
				right: -28px;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-pink.svg');
				@include desktop {
					top: 115px;
					right: -10px;
					@media screen and (min-height: 850px) {
						top: 195px;
					}
				}
				@include fullhd {
					@media screen and (min-height: 850px) {
						width: 168px;
						height: 129px;
						right: -20px;
					}
				}
			}
		}
		h2 {
			@include desktop {
				right: -5px;
			}
		}
	}
	#shoes-golden-goose {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-golden-goose_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-golden-goose_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-golden-goose_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-golden-goose_D@2x.jpg');
				}
			}
		}
	}
	#shoes-roger-vivier {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-roger-vivier_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-roger-vivier_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-roger-vivier_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-roger-vivier_D@2x.jpg');
				}
			}
		}
	}
	#shoes-chloe {
		.video-container {
			background-position: center 108%;
			background-size: 172%;
			background-color: #ece9e7;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-chloe-vid-cover_M.jpg');
			.mobile-vid {
				iframe {
					min-height: 230vw;
					top: 35%;
				}
			}
			.desktop-vid {
				iframe {
					@include desktop {
						width: 70vh;
						min-height: 110vw;
					}
				}
			}
		}
	}
	#shoes-vagabond {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-vagabond_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-vagabond_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-vagabond_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-vagabond_D@2x.jpg');
				}
			}
		}
	}
	#shoes-by-far{
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-by-far-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-by-far-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-by-far-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/shoes/shoes-by-far-v2_D@2x.jpg');
				}
			}
		}
	}
	
	
	#responsable-main {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-main-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-main-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-main-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-main-v2_D@2x.jpg');
				}
			}
		}
		.col-visu {
			&:before,
			&:after {
				content: "";
				position: absolute;
				z-index: 1;
				width: 105px;
				height: 69px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/picto-planete.png');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/picto-planete@2x.png');
				}
				@include fullhd {
					@media screen and (min-height: 850px) {
						width: 155px;
						height: 102px;
					}
				}
			}
			&:before {
				top: 225px;
				left: 154px;
				@include desktop {
					top: 35px;
					left: 45px;
					@media screen and (min-height: 850px) {
						top: 205px;
					}
				}
			}
			&:after {
				bottom: -30px;
				right: 0;
				@include desktop {
					bottom: 230px;
					right: 70px;
				}
				@include fullhd {
					@media screen and (min-height: 850px) {
						bottom: 260px;
						right: 40px;
					}
				}
			}
		}
	}
	#responsable-go-for-good {
		.content {
			position: relative;
			&:before,
			&:after {
				content: "";
				position: absolute;
				width: 100px;
				height: 99px;
				background-repeat: no-repeat;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/picto-fleur.svg');
			}
			&:before {
				bottom: 120px;
				left: -43px;
				@include desktop {
					bottom: auto;
					top: 60px;
					left: 0;
				}
				@include fullhd {
					@media screen and (min-height: 850px) {
						top: 90px;
						left: 50px;
					}
				}
			}
			&:after {
				top: 285px;
				right: -45px;
				@include desktop {
					top: auto;
					bottom: 30%;
					right: 5px;
				}
				@include fullhd {
					@media screen and (min-height: 850px) {
						bottom: 37%;
						right: 30px;
					}
				}
			}
		}
	}
	#responsable-recc-paris {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-recc-paris_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-recc-paris_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-recc-paris_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-recc-paris_D@2x.jpg');
				}
			}
		}
	}
	#responsable-justine-clenquet {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-justine-clenquet_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-justine-clenquet_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-justine-clenquet_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-justine-clenquet_D@2x.jpg');
				}
			}
		}
	}
	#responsable-aveda {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-aveda_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-aveda_M@2x.jpg');
			}
			@include desktop {
				background-position: center center;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/responsable/responsable-aveda_D.jpg');
			}
		}
	}
	
	
	#actumag-main {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-main_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-main_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-main_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-main_D@2x.jpg');
				}
			}
			&:before {
				content: "";
				display: block;
				height: 60px;
				background: linear-gradient( 
					0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
		}
	}
	#actumag-espace-chaussures {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-espace-chaussures_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-espace-chaussures_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-espace-chaussures_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-espace-chaussures_D@2x.jpg');
				}
			}
		}
	}
	#actumag-designer-galerie {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-designer-galerie_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-designer-galerie_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-designer-galerie_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-designer-galerie_D@2x.jpg');
				}
			}
		}
	}
	#actumag-creative-galerie {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-creative-galerie_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-creative-galerie_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-creative-galerie_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-creative-galerie_D@2x.jpg');
				}
			}
		}
	}
	#actumag-sneaker-galerie {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-sneaker-galerie_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-sneaker-galerie_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-sneaker-galerie_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-sneaker-galerie_D@2x.jpg');
				}
			}
		}
	}
	#actumag-re-store {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-re-store-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-re-store-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-re-store-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-re-store-v2_D@2x.jpg');
				}
			}
		}
	}
	#actumag-re-store-b {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-re-store-b-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-re-store-b-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-re-store-b-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-re-store-b-v2_D@2x.jpg');
				}
			}
		}
	}
	#actumag-renouveau-femme {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-renouveau-femme-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-renouveau-femme-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-renouveau-femme-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-renouveau-femme-v2_D@2x.jpg');
				}
			}
		}
	}
	#actumag-creative-galerie-mode {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-creative-galerie-mode-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-creative-galerie-mode-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-creative-galerie-mode-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-creative-galerie-mode-v2_D@2x.jpg');
				}
			}
		}
	}
	#actumag-marques-digitales {
		.has-bg-image {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-marques-digitales-v2_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-marques-digitales-v2_M@2x.jpg');
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-marques-digitales-v2_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reinventons-nous/actumag/actumag-marques-digitales-v2_D@2x.jpg');
				}	
			}
		}
	}
	
	
	.reinventons-replay {
		.prev-next-nav {
			.prev,
			.next {
				height: 50vh;
				margin-top: 50vh;
				@supports (-webkit-touch-callout: none) {
					height: 43.375vh;
					margin-top: 43.375vh;
				}
			}
		}
		.col-restart {
			height: 50vh;
			box-shadow: 0 -1px 0 #ffffff;
			@supports (-webkit-touch-callout: none) {
				height: 43.375vh;
			}
			@include desktop {
				height: calc(42.5vh - 80.5px);
			}
			.go-to-top,
			.start {
				background-color: transparent;
				font-size: 40px;
				font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				line-height: 1;
				letter-spacing: -2px;
				padding: 0;
				width: 100%;
				height: 100%;
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				align-content: center;
				&.back {
					box-shadow: 1px 0 0 #ffffff;
				}
			}
			span {
				display: inline-block;
			}
		}
		.col-more-news {
			height: 50vh;
			@supports (-webkit-touch-callout: none) {
				height: 43.375vh;
			}
			@include desktop {
				height: calc(57.5vh - 80.5px);
			}
			.cta-container {
				width: 100%;
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				padding-top: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				align-content: center;
				@include desktop {
					padding-top: 0;
				}
			}
			p {
				font-size: 40px;
				line-height: 1;
				letter-spacing: -1px;
				width: 100%;
			}
			a {
				text-decoration: none;
			}
		}
	}
	

	&.has-js {
		
	}
}