@import "assets/css/core";
@import "assets/css/components/flickty";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.video-modal {
	padding: 0;
	border: none;
	min-height: 10vh;
	max-width: 1118px !important;
	.modal-content {
		position: relative;
		display: block;
		height: 0;
		padding: 0 0 174%;
		overflow: hidden;
		@include tablet {
			padding: 0 0 56.25%;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			border: 0;
		}
	}
}

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.reouverture {
	background-color: rgb(240,240,240);
	margin: 0 auto !important;
	padding: 0 20px;
	@include tablet {
		text-align: left;
		padding: 0 40px;
	}
	@include desktop {
		padding: 0 80px;
	}
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
		padding: 0 130px;
	}
	@include fullhd {
		max-width: 1440px;
		padding: 0 160px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
		line-height: 1;
	}
	h1 {
		font-size: 80px;
		letter-spacing: -3.33px;
		@include widescreen {
			font-size: 100px;
			line-height: .8;
			letter-spacing: -4.17px;
			margin-bottom: 30px;
		}
	}
	h2 {
		font-size: 40px;
		letter-spacing: -1.67px;
		@include widescreen {
			font-size: 60px;
			letter-spacing: -2.5px;
		}
	}
	h3 {
		font-size: 26px;
		letter-spacing: -1.08px;
		@include widescreen {
			font-size: 34px;
			letter-spacing: -1.42px;
		}
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		@include mobile {
			font-size: 16px;
			line-height: 1.43;
		}
		@include widescreen {
			margin-bottom: 25px;
			font-size: 18px;
			line-height: 1.45;
		}
	}
	strong, .is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.image {
		margin: 0;
		transition: all .4s ease;
	}
	.article-image {
		a {
			display: block;
			overflow: hidden;
			&:hover {
				.image {
					@include desktop {
						transform: scale(1.05);
					}
				}
			}
		}	
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.button {
		font-size: 16px;
		@include tablet {
			min-width: 235px;
		}
	}
	a.is-text {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 1.2px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	.hero {
		padding: 30px 0;
		border-bottom: 1px solid #bababa;
		@include desktop {
			padding: 40px 0;
		}
		.content {
			padding: 0 0 20px;
			@include tablet {
				padding: 0 0 5px;
			}
			@include widescreen {
				padding: 0;
			}
		}
		.image {
			height: 290px;
			position: relative;
			margin-left: -20px;
			margin-right: -20px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reouverture/video-bg.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/reouverture/video-bg@2x.jpg');
			}
			@include tablet {
				height: 400px;
				margin: 0;
			}
			@include desktop {
				height: 549px;
			}
		}
		.date {
			color: #ffffff;
			font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-size: 18px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 85px;
			text-align: center;
			@include tablet {
				bottom: 130px;
			}
			@include desktop {
				bottom: 185px;
			}
		}
		p {
			font-size: 18px;
			@include widescreen {
				font-size: 20px;
			}
		}
	}

	.body {
		padding: 30px 0;
		border-bottom: 1px solid #bababa;
		@include mobile {
			text-align: left;
		}
		@include desktop {
			padding: 40px 0;
		}

		.content {
			padding-top: 30px;
			@include tablet {
				padding-top: 0;
			}
		}
	}
	
	.mag {
		.article-image {
			@include tablet {
				padding-right: 10px;
			}
			@include desktop {
				padding-right: 20px;
			}
		}
		.content {
			@include tablet {
				padding-left: 10px;
			}
			@include desktop {
				padding-left: 20px;
			}
		}
	}
	
	.promo {
		.container {
			margin-left: -20px;
			margin-right: -20px;
			padding: 0 20px 60px;
			background-color: #72b3b5;
			@include tablet {
				margin: 0 auto;
				padding: 40px;
			}
			@include widescreen {
				padding: 50px;
			}
		}
		.article-image {
			padding: 0 20px;
			@include tablet {
				padding: 0 0 0 10px;
			}
			@include desktop {
				padding-left: 30px;
			}
			@include widescreen {
				padding-left: 50px;
			}
		}
		.content {
			@include tablet {
				padding-right: 10px;
			}
		}
	}
	
	.services {
		border: none;
		.slider-services {
			@include mobile {
				height: 520px;
				margin: 10px -20px 0;
			}
			@include tablet {
				margin-top: 10px;
			}
			@include widescreen {
				margin-top: 20px;
			}
			.service {
				@include mobile {
					padding-left: 20px;
					padding-right: 20px;
				}
				.content,
				.article-image {
					@include mobile {
						width: 245px;
					}
				}
				.content {
					padding-top: 20px;
					@include tablet {
						margin-bottom: 50px;
					}
					@include widescreen {
						margin-bottom: 80px;
					}
				}
				.article-image {
					position: relative;
					span {
						font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
						text-decoration: none;
						color: #ffffff;
						font-size: 30px;
						letter-spacing: -1.25px;
						position: absolute;
						z-index: 1;
						margin: auto;
						top: 0;bottom: 0;left: 0;right: 0;
						text-align: center;
						height: 45px;
						@include widescreen {
							font-size: 60px;
							letter-spacing: -2.5px;
							height: 90px;
						}
					}
				}
				&:nth-child(odd) {
					.content,
					.article-image {
						@include tablet {
							padding-right: 10px;
						}
						@include widescreen {
							padding-right: 17px;
						}
					}
				}
				&:nth-child(even) {
					.content,
					.article-image {
						@include tablet {
							padding-left: 10px;
						}
						@include widescreen {
							padding-left: 17px;
						}
					}
				}
			}
		}
		.slider-flickity {
			@include mobile {
				display: block;
			}
			&:after {
				content: 'flickity';
				display: none;
				@include tablet {
					content: '';
				}
			}
		}
	}
}