@import "assets/css/core";

.product-list__title[data-v-b46d8838] {
	position: absolute;
	top: 260px;
	font-size: 2.75rem;
	color: #ffffff;
	@include tablet {
		width: 272px;
		text-align: center;
		left: 3%;
	}
	@include desktop {
		left: 10%;
		top: 295px;
	}
	@include widescreen {
		font-size: 80px;
		width: 472px;
		left: 17%;
		top: 335px;
		margin-left: -100px;
		margin-right: -100px;
	}
}

.richcontent-hero {
	@include desktop {
		padding-top: 24px;
		padding-left: 20px;
		padding-right: 20px;
	}
	@include widescreen {
		border-left: .0625rem solid #4f4e4c;
		border-right: .0625rem solid #4f4e4c;
	}
	&-image {
		height: 400px;
		text-align: center;
		position: relative;
		overflow: hidden;
		@include desktop {
			height: 500px;
			margin-left: -20px;
			margin-right: -20px;
		}
		@include widescreen {
			height: 630px;
		}
		.container {
			height: 100%;
		}
		.hero-bg-image {
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.8;
		}
		.button {
			position: absolute;
			bottom: 90px;
			left: 0;
			right: 0;
			margin: auto;
			font-size: 16px;
			min-width: auto;
			min-height: 40px;
			width: 272px;
			cursor: pointer;
			@include tablet {
				right: auto;
				left: 3%;
			}
			@include desktop {
				left: 10%;
				bottom: 140px;
			}
			@include widescreen {
				left: 17%;
				bottom: 170px;
			}
		}
	}
	
	&-edito {
		padding: 20px;
		@include desktop {
			padding: 40px;
		}
		p {
			line-height: 1.5rem;
		}
		.read {
			cursor: pointer;
			color: #aaa8a3;
			display: inline-block;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	&-selection {
		border-top: 1px solid #e1ded9;
		border-bottom: 1px solid #000000;
		.selection {
			display: flex;
			justify-content: left;
			padding-top: 22px;
			padding-bottom: 22px;
			overflow: auto;
			@include tablet {
				justify-content: center;
			}
			@include desktop {
				padding-top: 30px;
				padding-bottom: 30px;
			}
			> li {
				padding-left: 22px;
				padding-right: 22px;
			}
			a {
				font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				text-decoration: underline;
				text-transform: uppercase;
				display: inline-block;
				&:hover {
					text-decoration: none;
				}
			}
		} 
	}
}