//@import "assets/css/core";
@import "assets/css/utilities/initial-variables";
@import "assets/css/utilities/mixins";
@import "assets/css/utilities/helpers";

@import "assets/css/grid/grid";
@import '~sass-flex-grid/index.scss';


.richcontent-hero {
	@media screen and (min-width: 1024px) {
		border-right: 1px solid #4f4e4c;
		border-left: 1px solid #4f4e4c;
	}
	@include desktop {
		padding-left: 20px;
		padding-right: 20px;
	}
	@include widescreen {
		border-left: .0625rem solid #4f4e4c;
		border-right: .0625rem solid #4f4e4c;
	}
	
	figure {
		margin: 0;
	}
	
	.button {
		font-family: 'GLBaderCompress-Black';
		font-size: 18px;
		line-height: 0.89;
		letter-spacing: 1.27px;
		text-transform: uppercase;		
		border: 1px solid #000000;
		border-radius: 24px;
		padding: 11px 40px;
		
		&:hover {
			text-decoration: none;
		}
		&.primary {
			background-color: #000000;
			&:hover {
				background-color: #ffffff;
				color: #000000;
			}
		}
		&.borderless {
			background-color: transparent;
			border: 0;
			padding-left: 0;
			min-width: auto;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
			&.has-arrow-down {
				&:after {
					background-color: transparent;
				}
			}
		}
		.icon {
			height: 20px;
			width: 20px;
			position: absolute;
			right: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
			.microphone {
				&:before {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					left: 0;
					right: 0;
					height: 20px;
					width: 10px;
				}
			}
		}
		&.has-arrow-down {
			&:after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.2 5.55'%3E%3Ctitle%3Earrow-down%3C/title%3E%3Cg id='b73d5839-d192-4f50-80dd-e5cc05da285c' data-name='Calque 2'%3E%3Cg id='be1d69bd-44ac-4e55-8a36-be0463cfd422' data-name='Calque 1'%3E%3Cpath d='M10.6.8l-5,3.75L.6.8' fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center 6px;
				background-size: 10px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 10px;
				width: 20px;
				height: 20px;
				background-color: #000000;
				border: 2px solid #ffffff;
				border-radius: 50%;
			}
		}
	}
	
	&-image {
		height: 360px;
		text-align: center;
		position: relative;
		overflow: hidden;
		@include tablet {
			height: 450px;
		}
		@include desktop {
			height: 600px;
			margin-left: -20px;
			margin-right: -20px;
		}
		@include widescreen {
			height: 704px;
		}
		.container {
			height: 100%;
		}
		.hero-bg-video {
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: -1%;
			bottom: 0;
			left: 0;
			right: 0;
			height: 102%;
			margin: 0 auto; 
			@media screen and (min-width: 360px) {
				width: 100%;
			}
			@media screen and (min-width: 375px) {
				height: 116%;
				top: -8%;
			}
			@media screen and (min-width: 425px) {
				height: 122%;
				top: -11%;
			}
			@include tablet {
				height: 128%;
				top: -14%;
				width: 106%;
				left: -3%;
			}
			@include desktop {
				height: 118%;
				top: -9%;
			}
			@include widescreen {
				height: 100%;
				top: 0;
				width: 102%;
				left: -1%;
			}
			@include fullhd {
				
			}
		}
		.hero-content {
			position: absolute;
			bottom: 60px;
			left: 0;
			right: 0;
			margin: auto;
			@include tablet {
				bottom: 90px;
			}
			@include desktop {
				bottom: 120px;
			}
		}
		h2 {
			font-family: 'GLBaderCompress-Black';
			font-size: 40px;
			letter-spacing: -1px;
			color: #fff;
			@include desktop {
				font-size: 72px;
				letter-spacing: -2.5px;
			}
		}
	}
	
	&-edito {
		padding: 20px;
		@include desktop {
			padding: 40px;
		}
		@include widescreen {
			padding: 60px;
		}
		p {
			color: #4f4e4c;
			line-height: 1.25rem;
			font-family: 'GL_Bader_Narrow-Regular';
			margin-bottom: 20px;
			@include desktop {
				font-size: 20px;
				line-height: 1.75rem;
				padding-right: 40px;
			}
			@include widescreen {
				padding-right: 80px;
			}
		}
		.read {
			cursor: pointer;
			color: #aaa8a3;
			display: inline-block;
			&:hover {
				text-decoration: underline;
			}
		}
		
		.model3d-container {
			position: relative;
			height: 420px;
			background: radial-gradient(50% 50% at 50% 50%, #BBC1B3 0%, #8B8B8B 100%);
			@include desktop {
				height: 728px;
			}
			.model3d {
				width: 100%;
				height: 100%;
			}
			.model3d-txt {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 10px;
				text-align: center;
				color: #ffffff;
				font-size: 12px;
				font-family: 'GL_Bader_Narrow-Regular';
			}
		}
	}
	
	&-selection {
		padding: 10px;
		@include desktop {
			margin-left: -20px;
			margin-right: -20px;
		}
		p {
			font-family: 'GLBaderCompress-Black';
			font-size: 40px;
			letter-spacing: -1px;
		}
	}
}