//@import "assets/css/core";
@import "assets/css/utilities/initial-variables";
@import "assets/css/utilities/mixins";

@import "assets/css/grid/grid";
@import '~sass-flex-grid/index.scss';

.header__product-list--first-line  {
	position: relative;
	.results-title {
		position: absolute;
		left: 0;
		right: 0;
		top: 220px;
		z-index: 1;
		padding: 0;
		max-height: 61px;
		overflow: hidden;
		@include tablet {
			top: 230px;
			text-align: left;
			left: 3%;
			max-height: none;
		}
		@include desktop {
			left: 10%;
			top: 310px;
		}
		@include widescreen {
			left: 14%;
			top: 345px;
		}
		@include fullhd {
			left: 18%;
		}
		.main-title {
			font-size: 2.75rem;
			color: #ffffff;
			@include widescreen {
				font-size: 80px;
			}
		}
	}
}

.richcontent-hero {
	padding-top: 10px;
	@media screen and (min-width: 1024px) {
		border-right: 1px solid #4f4e4c;
		border-left: 1px solid #4f4e4c;
		padding-top: 18px;
	}
	@include desktop {
		padding-top: 24px;
		padding-left: 20px;
		padding-right: 20px;
	}
	@include widescreen {
		border-left: .0625rem solid #4f4e4c;
		border-right: .0625rem solid #4f4e4c;
	}
	
	figure {
		margin: 0;
	}
	
	.button {
		font-family: 'GLBaderCompress-Black';
		font-size: 16px;
		line-height: 0.89;
		letter-spacing: 1.13px;
		text-transform: uppercase;		
		border: 1px solid #000000;
		border-radius: 24px;
		padding: 11px 40px;
		
		&:hover {
			text-decoration: none;
		}
		&.primary {
			background-color: #000000;
			&:hover {
				background-color: #ffffff;
				color: #000000;
			}
		}
		&.outlined {
			background-color: transparent;
			color: #000000;
			&:hover {
				background-color: #000000;
				color: #fff;
				.icon {
					.microphone {
						&:before {
							content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
					}	
				}
			}
			.icon {
				.microphone {
					&:before {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}	
			}
		}
		.icon {
			height: 20px;
			width: 20px;
			position: absolute;
			right: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
			.microphone {
				&:before {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					left: 0;
					right: 0;
					height: 20px;
					width: 10px;
				}
			}
		}
		&.has-arrow-down {
			&:after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.2 5.55'%3E%3Ctitle%3Earrow-down%3C/title%3E%3Cg id='b73d5839-d192-4f50-80dd-e5cc05da285c' data-name='Calque 2'%3E%3Cg id='be1d69bd-44ac-4e55-8a36-be0463cfd422' data-name='Calque 1'%3E%3Cpath d='M10.6.8l-5,3.75L.6.8' fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center 6px;
				background-size: 10px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 10px;
				width: 20px;
				height: 20px;
				background-color: #000000;
				border: 2px solid #ffffff;
				border-radius: 50%;
			}
		}
	}
	
	&-image {
		height: 400px;
		text-align: center;
		position: relative;
		overflow: hidden;
		@include desktop {
			height: 500px;
			margin-left: -20px;
			margin-right: -20px;
		}
		@include widescreen {
			height: 630px;
		}
		.container {
			height: 100%;
		}
		.hero-bg-image {
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.8;
		}
		.button {
			position: absolute;
			bottom: 90px;
			left: 0;
			right: 0;
			margin: auto;
			min-width: auto;
			min-height: 40px;
			width: 272px;
			@include tablet {
				right: auto;
				left: 3%;
			}
			@include desktop {
				left: 10%;
				bottom: 140px;
			}
			@include widescreen {
				left: 14%;
				bottom: 170px;
			}
			@include fullhd {
				left: 18%;
			}
		}
	}
	
	&-edito {
		padding: 20px;
		@include desktop {
			padding: 40px;
		}
		p {
			line-height: 1.5rem;
			font-family: 'GL_Bader_Narrow-Regular';
		}
		.read {
			cursor: pointer;
			color: #aaa8a3;
			display: inline-block;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	&-selection {
		border-top: 1px solid #e1ded9;
		.selection {
			display: flex;
			justify-content: left;
			padding-top: 22px;
			padding-bottom: 22px;
			overflow: auto;
			@include tablet {
				justify-content: center;
			}
			@include desktop {
				padding-top: 30px;
				padding-bottom: 30px;
			}
			> li {
				padding-left: 22px;
				padding-right: 22px;
			}
			a {
				font-family: 'GLBaderCompress-Black';
				text-decoration: none;
				text-transform: uppercase;
				position: relative;
				display: inline-block;
				transition: all .3s ease;
				letter-spacing: .8px;
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					bottom: 0;
					left: 0;
					background-color: #000;
					transition: all .3s ease-out;
					visibility: visible;
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
				&:hover {
					text-decoration: none;
					color: #999999;
					box-shadow: inset 0 -2px #999999;
					&:after {
						visibility: hidden;
						transform: scaleX(0);
					}
				}
			}
		} 
	}
	
	.is-hidden {
		display: none !important;
	}
	
	@include mobile {
		.is-hidden-mobile {
			display: none !important;
		}
	}

	@include tablet {
		.is-hidden-tablet {
			display: none !important;
		}
	}
	
	&.has-sad {
		.sad-image {
			position: relative;
			margin-top: -65px;
			margin-bottom: 26px;
			@include tablet {
				text-align: right;
			}
			@include desktop {
				margin-top: -115px;
				margin-bottom: 0;
			}
			@include widescreen {
				margin-right: 25px;
			}
		}
		.sad-edito {
			margin-top: 20px;
			@include widescreen {
				margin-top: 30px;
			}
			&:before {
				content: "";
				display: block;
				width: 1px;
				height: 45px;
				background-color: #000000;
				margin: 0 auto 20px;
				@include widescreen {
					margin-bottom: 30px;
				}
			}
			h2 {
				font-family: 'GLBaderCompress-Black';
				font-size: 30px;
				line-height: 1;
				letter-spacing: -1.25px;
				margin-bottom: 20px;
				@include widescreen {
					font-size: 40px;
				}
			}
			a {
				display: inline-block;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
			.button {
				width: 100%;
				margin: 45px 0 25px;
				@include tablet {
					width: 272px;
				}
			}
		}
	}
}