@import "assets/css/core";
@import "assets/css/components/flickty";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.roland-garros {
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		padding: 0 20px;
		@include tablet {
			
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 20px;
		color: #ffffff;
	}
	h1 {
		font-size: 32px;
		line-height: 1;
		letter-spacing: -1px;
		margin-top: 325px;
		margin-bottom: 5px;
		@include tablet {
			margin-top: 340px;
		}
		@include desktop {
			margin-top: 370px;
		}
		@include widescreen {
			margin-top: 540px;
			font-size: 58px;
		}
		.is-bigger {
			@include tablet {
				font-size: 110%;
			}
		}
	}
	h2 {
		font-size: 36px;
		line-height: 1;
		letter-spacing: -1.29px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		@include mobile {
			font-size: 16px;
			line-height: 1.43;
		}
		@include widescreen {
			margin-bottom: 25px;
			font-size: 20px;
			line-height: 1.45;
		}
	}
	strong, .is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	small {
		@include touch {
			font-size: 75%;
		}
		@include desktop-only {
			font-size: 75%;
		}
	}
	hr {
		border-color: #ffffff;
		margin: 0 -20px;
		border-top-width: 1px;
		border-bottom-width: 0;
		@include tablet {
			display: inline-block;
			border-top-width: 0;
			border-left-width: 1px;
			border-right-width: 0;
			height: 100%;
			margin: 0 auto; 
		}
	}
	.image {
		margin: 0;
	}
	
	.is-compress {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.is-smaller {
		font-size: 58%;
	}
	.is-block {
		display: block;
	}
	.has-text-white {
		color: #ffffff;
	}
	.has-text-green {
		color: #05482F;
	}
	.has-text-orange {
		color: #D35220;
	}
	.bg-image {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
	
	.hero {
		height: 540px;
		border-bottom: 1px solid #ffffff;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: 51% center;
		background-size: cover;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/roland-garros/hero_M.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/roland-garros/hero_M@2x.jpg');
		}
		@include mobile {
			text-align: left;
		}
		@include desktop {
			background-position: center center;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/roland-garros/hero_D.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/roland-garros/hero_D@2x.jpg');
			}
		}
		@include widescreen {
			height: 800px;
		}
		.button {
			font-size: 20px;
		}
	}
	
	.body {
		
	}
	
	.intro {
		color: #ffffff;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		@include tablet {
			
		}
		p {
			font-size: 20px;
			margin: 40px 0;
			@include tablet {
				margin: 50px 0 60px;
			}
			@include widescreen {
				font-size: 28px;
				margin: 80px 0 90px;
			}
		}
	}
	
	.products {
		padding: 0;
		@include tablet {
			padding-bottom: 20px;
		}
		@include desktop {
			padding-top: 10px;
			padding-bottom: 30px;
		}
		@include widescreen {
			padding-bottom: 60px;
		}
		@include fullhd {
			padding-bottom: 90px;
		}
		.container {
			padding: 0;
		}
		.product {
			a {
				display: block;
				&:hover {
					img {
						@include desktop {
							transform: scale(1.05);	
						}
					}
				}
			}
			.product-image,
			.product-txt {
				@include mobile {
					width: 180px;
				}
			}
			.product-image {
				height: 196px;
				margin-bottom: 10px;
				@include widescreen {
					height: 340px;
				}
				@include fullhd {
					height: 392px;
				}
				.image {
					overflow: hidden;
				}
				img {
					max-height: 196px;
					width: auto;
					transition: all .4s ease;
					@include widescreen {
						max-height: 392px;
					}
				}
			}
			.product-txt {				
				p {
					font-size: 10px;
					margin: 0;
					line-height: 1.2;
					letter-spacing: 0.25px;
					color: #4F4E4C;
					@include desktop {
						font-size: 14px;
						line-height: 1.4;
					}
					@include widescreen {
						font-size: 16px;
						line-height: 1.6;
					}
					&:first-child {
						color: #000000;
						@include desktop {
							font-size: 16px;
						}
						@include widescreen {
							font-size: 20px;
						}
					}
				}
			}
		}
		
		.slider-flickity {
			@include mobile {
				display: block;
				height: 280px;
				margin:0;
			}
			&:focus {
				outline: none;
			}
			&:after {
				content: 'flickity';
				display: none;
				@include tablet {
					content: '';
				}
			}
			
			.flickity-page-dots {
				bottom: 20px;
				.dot {
					background: #777;
					width: 6px;
					height: 6px;
					margin: 0 3px;
				}
			}
		}
	}
	
	.collection-cta {
		display: inline-block;
		font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: -.5px;
		font-size: 28px;
		color: #05482F;
		text-transform: uppercase;
		margin: 20px 0 50px;
		@include widescreen {
			font-size: 40px;
			margin-bottom: 65px;
		}
		.arrow {
			display: block;
			position: relative;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: #05482F;
			margin: 10px auto 0;
			@include widescreen {
				width: 72px;
				height: 72px;
				margin-top: 20px;
			}
			&:after {
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 38'%3E%3Ctitle%3Earrow%3C/title%3E%3Cg id='a3fe225b-fc67-4a83-8bee-9924914f5aba' data-name='Calque 2'%3E%3Cg id='a921e3c6-2d24-4d47-a48b-7b56f859621c' data-name='Calque 1'%3E%3Cpath d='M37.39,1.06l7.74,7.73H0v1.5H45.13L37.39,18l1.06,1.06L48,9.54,38.45,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 32px;
				height: 13px;
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				@include widescreen {
					width: 48px;
					height: 19px;
				}
			}
		}
	}
	
	.evenements {
		background-color: #05482F;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		@include desktop {
			padding: 0 30px;
		}
		@include widescreen {
			padding: 0 50px;
		}
		article {
			color: #ffffff;
			padding-top: 20px;
			@include tablet {
				padding-top: 0;
			}
			.image {
				img {
					@include mobile {
						width: 100%;
					}
				}
			}
			.terrasse {
				.image {
					&:before {
						content: "";
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/roland-garros/badge-roland-garros.png');
						position: absolute;
						width: 64px;
						height: 64px;
						top: 12px;
						right: 8px;
						@media
						only screen and (-webkit-min-device-pixel-ratio: 2),
						only screen and (   min--moz-device-pixel-ratio: 2),
						only screen and (   -moz-min-device-pixel-ratio: 2),
						only screen and (     -o-min-device-pixel-ratio: 2/1),
						only screen and (        min-device-pixel-ratio: 2),
						only screen and (                min-resolution: 192dpi),
						only screen and (                min-resolution: 2dppx) {
							background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2021/landing/roland-garros/badge-roland-garros@2x.png');
						}
						@include widescreen {
							width: 122px;
							height: 122px;
							top: 22px;
							right: 22px;
						}
						@include fullhd {
							right: 44px;
						}
					}
				}
			}
			.article-txt {
				padding: 25px 0;
				@include desktop {
					padding-bottom: 70px;
				}
				h2 {
					@include widescreen {
						margin-right: -30px;
					}
				}
			}
		}
		
		.button {
			min-width: auto;
			font-size: 14px;
			padding: 9px 24px 14px;
			&.primary {
				.has-arrow {
					position: relative;
					display: inline-block;
					height: 15px;
					right: 0;
					top: 2px;
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						position: absolute;
						width: 16px;
					}
				}
				&:hover {
					.has-arrow {
						&:after {
							content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
					}
				}
			}
			&.outlined {
				.has-arrow {
					position: relative;
					display: inline-block;
					height: 15px;
					right: 0;
					top: 2px;
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						position: absolute;
						width: 16px;
					}
				}
				&:hover {
					.has-arrow {
						&:after {
							content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
					}
				}
			}
		}
	}
	
	.video {
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		.video-container {
			height: 328px;
			position: relative;
			overflow: hidden;
			@include tablet {
				height: 540px;
			}
			@include desktop {
				height: 600px;
			}
			@include fullhd {
				height: 810px;
			}
			.video-cta {
				margin: auto;
				position: absolute;
				z-index: 1;
				top: 0; left: 0; bottom: 0; right: 0;
			}
			iframe {
				width: 180%;
				height: 100%;
				margin: 0 auto; 
				left: -40%;
				@include tablet {
					width: 126%;
					height: 108%;
					top: -4%;
					left: -13%;
				}
				@include desktop {
					height: 118%;
					top: -9%;
					width: 104%;
					left: -2%;
				}
				@include widescreen {
					width: 100%;
					left: 0;
				}
				@include fullhd {
					height: 100%;
					top: 0;
				}
			}
		}
	}
	
	
	.scrolling-text {
		padding: 10px 0;
		overflow: hidden;
	}
	.scrolling-text-container {
		width: 2350px;
		&.has-text-2 {
			@include widescreen {
				width: 4100px;
			}
		}
		p {
			margin: 0;
		}
		.text-size-1 {
			font-size: 20px;
			line-height: 1.6;
		}
		.text-size-2 {
			font-size: 32px;
			line-height: 1.15;
			@include widescreen {
				font-size: 56px;
				line-height: 1.65;
			}
		}
		
		&.rtl-scroll {
			will-change: transform;
			&.animate {
				animation: SlideRTL 185s linear 150ms infinite;
			}
		}
		&.ltr-scroll {
			will-change: transform;
			transform: translateX(-40%);
			&.animate {
				animation: SlideLTR 185s linear 150ms infinite;
			}
		}
	}
	

	&.has-js {
	
	}
}

@keyframes SlideRTL {
	from {
			transform: translateX(0);
	}

	to {
			transform: translateX(-40%);
	}
}

@keyframes SlideLTR {
	from {
			transform: translateX(-40%);
	}

	to {
			transform: translateX(0%);
	}
}