<!-- ============ HERO IMAGE ============  --> 
 <link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack.min.v05.css" rel="stylesheet" type="text/css">
<style>
	 .hero-bg-video {
		 position: absolute;
		 height: 100%;
		 min-width: 100%;
		 margin: 0 auto;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -45%);
		 width: 110%;
		 min-height: 120%;
	 }
	 @media screen and (min-width: 768px) {
		 .hero-bg-video {
			 transform: translate(-50%, -50%);
			 width: 120%;
			 min-height: 120%;
		 }
	 }
	 @media screen and (min-width: 1025px) {
		 .hero-bg-video {
			 width: 115%;
			 min-height: 110%;
		 }
	 }
	 @media screen and (min-width: 1250px) {
		 .hero-bg-video {
			 min-height: 100%;
		 }
	 }
	 @media screen and (min-width: 1440px) {
		 .hero-bg-video {
			 width: 100%;
		 }
	 }
 </style>
<section class="richcontent-hero has-sad  has-actu">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image">
			<iframe class="hero-bg-video is-hidden-tablet" src="https://player.vimeo.com/video/657062917?background=1" width="767" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
			<iframe class="hero-bg-video is-hidden-mobile" src="https://player.vimeo.com/video/657062240?background=1" width="1440" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
		</div>
		<div class="buttons is-hidden-mobile is-animated">
			<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
			<button class="button primary trigger_liveshopping" onclick="brand='Givenchy'; return false;"  data-reveal-id="blkr-popin-live-shopping-form">Renseigner votre wishlist</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row text-center luxe-middle-mobile luxe-center-tablet">
			<div class="luxe-col-mobile-12">
				<div class="buttons is-hidden-tablet">
					<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
					<button class="button primary trigger_liveshopping" onclick="brand='Givenchy'; return false;"  data-reveal-id="blkr-popin-live-shopping-form">Renseigner votre wishlist</button>
				</div>
				<p class="brand-edito">Givenchy est une maison française de haute couture et de prêt-à-porter créée en 1952 par Hubert de Givenchy. Dès sa création, <span class="is-hidden-mobile">le couturier donne à la Maison un sens affranchi des codes de son temps. Aujourd’hui, Givenchy est synonyme d’élégance aristocratique, de fraîcheur et de modernité, grâce aux</span>
					<span class="read more">&hellip; <span class="underline-text">suite</span></span> 
					<span class="read-more-content is-hidden"><span class="is-hidden-tablet">le couturier donne à la Maison un sens affranchi des codes de son temps. Aujourd’hui, Givenchy est synonyme d’élégance aristocratique, de fraîcheur et de modernité, grâce aux</span> talents créatifs qui ont pris la suite de Monsieur de Givenchy : John Galliano, Alexander McQueen, Julien MacDonald, Riccardo Tisci et Clare Waight Keller. En juin 2020, la Maison ouvre un nouveau chapitre de son histoire en nommant Matthew M. Williams Directeur artistique de ses collections femme et homme.&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6 is-hidden">
				<figure class="inspi-image">
					<img class="is-hidden-tablet" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/shoppingadistance/givenchy/visuel_M.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/shoppingadistance/givenchy/visuel_M@2x.jpg 2x" 
						alt="La mode en Shopping à Distance - Galeries Lafayette" width="170" height="250">
					<img class="is-hidden-mobile" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/shoppingadistance/givenchy/visuel_D.jpg"
					srcset="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/shoppingadistance/givenchy/visuel_D@2x.jpg 2x" 
					alt="La mode en Shopping à Distance - Galeries Lafayette" width="430" height="630">
				</figure>
			</div>
			<div class="luxe-col-tablet-6 luxe-col-desktop-5 is-hidden
			">
				
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection">
			<li>
				<a href="https://www.galerieslafayette.com/b/givenchy/ct/homme">Sneakers&nbsp;homme</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/givenchy/ct/beaute">Beauté</a>
			</li>
		</ul>
	</div>
	
</section>

<script src="https://static.galerieslafayette.com/media/LP/src/js/2021/shoppingadistance-richScrollMagic.min.js"></script>

<div id="live_modals" style="height:0;"></div>
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/shoppingadistance-goinstore-v2.min.css" rel="stylesheet" type="text/css">
<script src="https://static.galerieslafayette.com/media/LP/src/js/2022/shoppingadistance-bleeker.min.v02.js"></script>

<script>
	var posterName='givenchy-v1';
	
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}
		
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .buttons.is-animated", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->