<!-- ============ HERO IMAGE ============  --> 
 <link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack.min.v05.css" rel="stylesheet" type="text/css">
 <style>
	 .hero-bg-video {
		 position: absolute;
		 height: 100%;
		 min-width: 100%;
		 margin: 0 auto;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
		 width: 250%;
		 min-height: 100%;
	 }
	 @media screen and (min-width: 768px) {
		 .hero-bg-video {
			 width: 120%;
			 min-height: 112%;
		 }
	 }
	 @media screen and (min-width: 1025px) {
		 .hero-bg-video {
			 width: 112%;
			 min-height: 110%;
		 }
	 }
	 @media screen and (min-width: 1250px) {
		 .hero-bg-video {
			 width: 114%;
			 min-height: 100%;
		 }
	 }
	 @media screen and (min-width: 1440px) {
		 .hero-bg-video {
			 width: 100%;
		 }
	 }
 </style>
<section class="richcontent-hero has-sad has-actu">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image">
			<iframe class="hero-bg-video" src="https://player.vimeo.com/video/691302529?background=1" width="1440" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
		</div>
		<div class="buttons is-hidden-mobile is-animated">
			<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
			<button class="button primary trigger_liveshopping" onclick="brand='Jacquemus'; return false;"  data-reveal-id="blkr-popin-live-shopping-form">Renseigner votre wishlist</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row text-center luxe-middle-mobile luxe-center-tablet">
			<div class="luxe-col-mobile-12">
				<div class="buttons is-hidden-tablet">
					<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
					<button class="button primary trigger_liveshopping" onclick="brand='Jacquemus'; return false;"  data-reveal-id="blkr-popin-live-shopping-form">Renseigner votre wishlist</button>
				</div>
				<p class="brand-edito">Simon est né en 1990, à Salon de Provence, dans le Sud de la France. Âgé de 18 ans, il déménage à Paris pour étudier dans une école <span class="is-hidden-mobile">de mode mais la quitte un mois après, suite à la mort de sa mère. En 2009, âgé de 19 ans, il lance la marque JACQUEMUS, un hommage au prénom de jeune fille de sa mère.</span>
					<span class="read more">&hellip; <span class="underline-text">suite</span></span> 
					<span class="read-more-content is-hidden"><span class="is-hidden-tablet">de mode mais la quitte un mois après, suite à la mort de sa mère. En 2009, âgé de 19 ans, il lance la marque JACQUEMUS, un hommage au prénom de jeune fille de sa mère.</span> Simon puise son inspiration dans la région méditerranéenne et sa Provence natale. La femme JACQUEMUS est inspirée des femmes de sa vie, son entourage. Chaque collection raconte une histoire et est une référence à un souvenir.&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6 is-hidden">
				<figure class="inspi-image">
					<img class="is-hidden-tablet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/jacquemus/pe22/visuel_M.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/jacquemus/pe22/visuel_M@2x.jpg 2x" 
						alt="La mode en Shopping à Distance - Galeries Lafayette" width="170" height="250">
					<img class="is-hidden-mobile" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/jacquemus/pe22/visuel_D.jpg"
					srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/jacquemus/pe22/visuel_D@2x.jpg 2x" 
					alt="La mode en Shopping à Distance - Galeries Lafayette" width="430" height="630">
				</figure>
			</div>
			<div class="luxe-col-tablet-6 luxe-col-desktop-5 is-hidden">

			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection">
			<li>
				<a href="https://www.galerieslafayette.com/b/jacquemus/ct/femme">Mode&nbsp;Femme</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/jacquemus/ct/homme">Mode&nbsp;Homme</a>
			</li>
		</ul>
	</div>
	
</section>

<script src="https://static.galerieslafayette.com/media/LP/src/js/2021/shoppingadistance-richScrollMagic.min.js"></script>

<div id="live_modals" style="height:0;"></div>
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/shoppingadistance-goinstore-v2.min.css" rel="stylesheet" type="text/css">
<script src="https://static.galerieslafayette.com/media/LP/src/js/2022/shoppingadistance-bleeker.min.v02.js"></script>

<script>
	var posterName='jacquemus-pe22';

	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}
		
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .buttons.is-animated", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->