<!-- ============ HERO IMAGE ============  --> 
 <link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack.min.v05.css" rel="stylesheet" type="text/css">
<section class="richcontent-hero has-sad">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image is-hidden-tablet" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/balenciaga/hero_M.jpg'); background-position:center top;">&nbsp;</div>
		<div class="hero-bg-image is-hidden-mobile" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/balenciaga/hero_D-v2.jpg'); background-position:center top;">&nbsp;</div>
		<div class="buttons is-hidden-mobile is-animated">
			<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
			<button class="button primary trigger_liveshopping" onclick="brand='Balenciaga'; return false;"  data-reveal-id="blkr-popin-live-shopping-form">Renseigner votre wishlist</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row text-center luxe-middle-mobile luxe-center-tablet">
			<div class="luxe-col-mobile-12">
				<div class="buttons is-hidden-tablet">
					<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
					<button class="button primary trigger_liveshopping" onclick="brand='Balenciaga'; return false;"  data-reveal-id="blkr-popin-live-shopping-form">Renseigner votre wishlist</button>
				</div>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<figure class="inspi-image">
					<img class="is-hidden-tablet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/balenciaga/visuel_M.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/balenciaga/visuel_M@2x.jpg 2x" 
						alt="La mode en Shopping à Distance - Galeries Lafayette" width="170" height="250">
					<img class="is-hidden-mobile" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/balenciaga/visuel_D.jpg"
					srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/balenciaga/visuel_D@2x.jpg 2x" 
					alt="La mode en Shopping à Distance - Galeries Lafayette" width="430" height="630">
				</figure>
			</div>
			<div class="luxe-col-tablet-6 luxe-col-desktop-5">
				<p class="brand-edito">Fondée par l’espagnol Cristóbal Balenciaga en 1917 et installée à Paris depuis 1937, la Maison Balenciaga a contribué à définir la <span class="is-hidden-mobile">couture moderne par ses nombreuses innovations formelles et techniques. Depuis sa nomination comme directeur artistique en 2015, Demna perpétue cette vision originelle</span>
					<span class="read more">&hellip; <span class="underline-text">suite</span></span> 
					<span class="read-more-content is-hidden"> <span class="is-hidden-tablet">couture moderne par ses nombreuses innovations formelles et techniques. Depuis sa nomination comme directeur artistique en 2015, Demna perpétue cette vision originelle</span> dans des collections à l’esprit précurseur, qui s’étendent désormais au prêt-à-porter pour femme et pour homme, ainsi qu’aux accessoires et objets d’art.<br />
						Perpétuelle avant-gardiste, la marque se distingue par une exploration sans précédent du monde digital, par le développement incessant de nouveaux matériaux et par un sens aigu de ses responsabilités sociétales. En 2021, Demna a également imaginé la cinquantième collection couture de Balenciaga – la première depuis que son fondateur quitta l’industrie de la mode en 1967. La Maison renoue ainsi avec ses origines, s’affirmant plus que jamais comme une pionnière de l’élégance contemporaine.&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection">
			<li>
				<a href="https://www.galerieslafayette.com/b/balenciaga/ct/femme-vetements">Mode</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/balenciaga/ct/femme-sacs+et+bagages">Maroquinerie</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/balenciaga/ct/femme-chaussures">Chaussures</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/balenciaga/ct/femme-accessoires">Accessoires</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/balenciaga/ct/femme-bijouterie+et+joaillerie">Bijoux</a>
			</li>
		</ul>
	</div>
	
</section>

<script src="https://static.galerieslafayette.com/media/LP/src/js/2021/shoppingadistance-richScrollMagic.min.js"></script>

<div id="live_modals" style="height:0;"></div>
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/shoppingadistance-goinstore-v2.min.css" rel="stylesheet" type="text/css">
<script src="https://static.galerieslafayette.com/media/LP/src/js/2022/shoppingadistance-bleeker.min.v02.js"></script>

<script>
	var posterName='balenciaga-pe22';

	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}
		
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .buttons.is-animated", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->