<!-- ============ HERO IMAGE ============  --> 
 <link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack.min.v03.css" rel="stylesheet" type="text/css">
<section class="richcontent-hero has-sad">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image is-hidden-tablet" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/icicle/hero_M-v2.jpg'); background-position:center center;">&nbsp;</div>
		<div class="hero-bg-image is-hidden-mobile" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/icicle/hero_D-v2.jpg'); background-position:center center;">&nbsp;</div>
		<div class="buttons is-hidden-mobile is-animated">
			<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
			<button class="button primary has-camera trigger_liveshopping" onclick="initSAD(); return false;">Contacter un vendeur en magasin</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row text-center luxe-middle-mobile luxe-center-tablet">
			<div class="luxe-col-mobile-12">
				<div class="buttons is-hidden-tablet">
					<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
					<button class="button primary has-camera trigger_liveshopping" onclick="initSAD(); return false;">Contacter un vendeur en magasin</button>
				</div>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<figure class="inspi-image">
					<img class="is-hidden-tablet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/icicle/visuel_M-v2.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/icicle/visuel_M-v2@2x.jpg 2x" 
						alt="La mode en Shopping à Distance - Galeries Lafayette" width="170" height="250">
					<img class="is-hidden-mobile" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/icicle/visuel_D-v2.jpg"
					srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/icicle/visuel_D-v2@2x.jpg 2x" 
					alt="La mode en Shopping à Distance - Galeries Lafayette" width="430" height="630">
				</figure>
			</div>
			<div class="luxe-col-tablet-6 luxe-col-desktop-5">
				<p class="brand-edito">Cette année, ICICLE célèbre l’eau – source de toute forme de vie et ressource la plus précieuse de la Terre – avec une collection <span class="is-hidden-mobile">aux proportions nouvelles réalisée dans des matières naturelles, issues de sources responsables, aux tonalités fraîches et lumineuses.</span>
					<span class="read more is-hidden-tablet">&hellip; <span class="underline-text">suite</span></span> 
					<span class="read-more-content is-hidden"><span class="is-hidden-tablet">aux proportions nouvelles réalisée dans des matières naturelles, issues de sources responsables, aux tonalités fraîches et lumineuses.</span>&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection is-hidden">
			<li>
				<a href="#">Mode&nbsp;Femme</a>
			</li>
			<li>
				<a href="#">Mode&nbsp;Homme</a>
			</li>
		</ul>
	</div>
	
</section>

<script src="https://static.galerieslafayette.com/media/LP/src/js/2021/shoppingadistance-richScrollMagic.min.js"></script>

<div id="live_modals" style="height:0;"></div>
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/shoppingadistance-goinstore-v2.min.css" rel="stylesheet" type="text/css">
<script src="https://static.galerieslafayette.com/media/LP/src/js/2022/shoppingadistance-bleeker.min.v02.js"></script>

<script>
	(function() {
		let scripts = Array
		.from(document.querySelectorAll('script'))
		.map(scr => scr.src);
		const url = new URL(window.location.href);
		var search = url.search;
		var paramsStr = search.substr(1);
		if (!scripts.includes('https://widget.bleeker-st.com/gl/embed-dev.js')) { 
			var scriptNode = document.createElement('script');
			scriptNode['id'] = 'bleeker-script';
			scriptNode['src'] = 'https://widget.bleeker-st.com/gl/embed-dev.js'; scriptNode['type'] = 'text/javascript'; document.documentElement.appendChild(scriptNode);
		}
		window.onload = function() {
			initBleekerLiveShopping({
				params: paramsStr,
				vendorID: 'GL',
				uaGoogle : 'UA-4094055-1',
				widget: true,
				type: 'overlay', 
			});
		} 
	})();
	
	var brandID='Icicle';
	var brand='Icicle';
	var posterName='icicle-pe22';
	function initSAD() {
		brandID;
		brand;
		posterName; 
		appointedWidgetId='5fa3b8fd48dc683d829fac1e'; 
		GL_BLKR.LiveShopping.displaySadBrand();  
		GL_BLKR.LiveShopping.checkPopinAvailability(brandID);
	}



	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}
		
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .buttons.is-animated", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->