<!-- <link href="../media/LP/src/css/2021/rich-luxe-old-stack-createurs.css" rel="stylesheet" type="text/css"> -->
<!-- ============ HERO IMAGE ============  --> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/rich-luxe-old-stack-createurs.min.01.css" rel="stylesheet" type="text/css">
<section class="richcontent-hero">
	<div class="richcontent-hero-image" style="background-color: #000000;">		
		<div class="hero-bg-image is-hidden-tablet" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/shoppingadistance/letrange/hero_M.jpg'); background-position:center center;">&nbsp;</div>
		<div class="hero-bg-image is-hidden-mobile" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/shoppingadistance/letrange/hero_D.jpg'); background-position:center center;">&nbsp;</div>
		<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections</button>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row luxe-center-mobile">
			<div class="luxe-col-tablet-6 luxe-col-desktop-5 luxe-col-widescreen-4">
				<p class="content-edito">En utilisant les plus belles qualités de matières, les finitions les plus perfectionnées et les montages les plus innovants, LÉTRANGE propose une collection de maroquinerie moderne qui s’envisage
					<span class="read more">&hellip; <span class="underline-text">suite</span></span> 
					<span class="read-more-content is-hidden">différemment, se conçoit dans l’invention, la rigueur des process et la richesse de l’imaginaire. Ingénieux dans sa conception, versatile dans son utilisation, chaque sac a sa propre personnalité.&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection is-hidden">
			<li>
				<a href="https://www.galerieslafayette.com/">Maroquinerie</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/">Petite Maroquinerie</a>
			</li>
		</ul>
	</div>
	
</section>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelector('.has-smoothscroll');
		smoothAnchor.onclick = function() {
			var target = document.querySelector('.richcontent-hero-selection');
			var abTasty = document.querySelector('.ab684263');
			if (target) {				
				if (window.matchMedia("(min-width:1024px)").matches) {
					if (abTasty) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 143;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					}
				} else {
					if (abTasty) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 49;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
				}
				scroll({
					top: offsetTop,
					behavior: "smooth"
				});
			}
		};
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .button", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
		
	});
</script>
<script src="https://static.galerieslafayette.com/media/LP/src/js/2020/shoppingadistance-richScrollMagic.min.js"></script>
<!-- ============  FIN HERO IMAGE ============ -->