<!-- <link href="../media/LP/src/css/2021/rich-luxe-old-stack-createurs.css" rel="stylesheet" type="text/css"> -->
<!-- ============ HERO IMAGE ============  --> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/rich-luxe-old-stack-createurs.min.v02.css" rel="stylesheet" type="text/css">
<style>
	.hero-bg-video {
		position: absolute;
		height: 100%;
		min-width: 100%;
		margin: 0 auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 120%;
		min-height: 130%;
	}
	@media screen and (min-width: 768px) {
		.hero-bg-video {
			min-height: 120%;
		}
	}
	@media screen and (min-width: 1025px) {
		.hero-bg-video {
			width: 115%;
			min-height: 110%;
		}
	}
	@media screen and (min-width: 1250px) {
		.hero-bg-video {
			min-height: 100%;
		}
	}
	@media screen and (min-width: 1440px) {
		.hero-bg-video {
			width: 100%;
		}
	}
</style>
<section class="richcontent-hero">
	<div class="richcontent-hero-image" style="background-color: #000000;">		
		<div class="hero-bg-image">
			<iframe class="hero-bg-video is-hidden-tablet" src="https://player.vimeo.com/video/639874938?background=1" width="767" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
			<iframe class="hero-bg-video is-hidden-mobile" src="https://player.vimeo.com/video/639874028?background=1" width="1440" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
		</div>
		<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections</button>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row luxe-center-mobile">
			<div class="luxe-col-tablet-6 luxe-col-desktop-5 luxe-col-widescreen-4">
				<p class="content-edito">Depuis 40 ans, Tartine et Chocolat occupe une place de choix dans le palmarès des marques pour enfants les plus appréciées des parents. La griffe, dévoile chaque saison des vêtements élégants et intemporels
					<span class="read more">&hellip; <span class="underline-text">suite</span></span>
					<span class="read-more-content is-hidden"> ainsi que des accessoires tout doux dont l'incontournable peluche hérisson Léon. Souci du détail, raffinement à la Française, Tartine et Chocolat c’est l’assurance d’un style dans l’air du temps.&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection is-hidden">
			<li>
				<a href="https://www.galerieslafayette.com/b/tartine+et+chocolat/ct/bebe">Bébé</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/tartine+et+chocolat/ct/fille">Fille</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/tartine+et+chocolat/ct/garcon">Garçon</a>
			</li>
		</ul>
	</div>
	
</section>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelector('.has-smoothscroll');
		smoothAnchor.onclick = function() {
			var target = document.querySelector('.richcontent-hero-selection');
			if (target) {				
				if (window.matchMedia("(min-width:1024px)").matches) {
					var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
				} else {
					var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
				}
				scroll({
					top: offsetTop,
					behavior: "smooth"
				});
			}
		};
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .button", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
		
	});
</script>
<script src="https://static.galerieslafayette.com/media/LP/src/js/2020/shoppingadistance-richScrollMagic.min.js"></script>
<!-- ============  FIN HERO IMAGE ============ -->