<!-- <link href="../../media/LP/src/css/2022/rich-luxe-createurs-old-stack-coming-soon.css" rel="stylesheet" type="text/css"> -->
<!-- ============ HERO IMAGE ============  --> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack-coming-soon.min.v01.css" rel="stylesheet" type="text/css">
<style>

 </style>
<section class="richcontent-hero" style="background-color: #e52728;">
	
	<div class="richcontent-hero-edito has-txt-white">
		<div class="luxe-row luxe-center luxe-middle-tablet">
			
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<figure class="inspi-image text-center">
					<img src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/kenzo/img-coming-soon.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/kenzo/img-coming-soon@2x.jpg 2x" 
						alt="Kenzo Coming Soon - Galeries Lafayette">
				</figure>
			</div>
			<div class="luxe-col-tablet-6">
				<div class="inspi-txt">
					<p>Kenzo <br />coming soon<br />1.06.2022</p>
				</div>
		</div>
	</div>
	
</section>

<!-- ============  FIN HERO IMAGE ============ -->