<!-- <link href="../../media/LP/src/css/2022/rich-luxe-createurs-old-stack-alt.css" rel="stylesheet" type="text/css"> -->
<!-- ============ HERO IMAGE ============  --> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack-alt.min.v04.css" rel="stylesheet" type="text/css">
<style>
	.richcontent-hero-edito .brand-edito-title {
		 font-family: GLBaderCompress-Black;
	 }
	 @media screen and (min-width: 1250px) {
		 .richcontent-hero-edito .brand-edito-title {
			 font-size: 28px;
		 }
	 }
 </style>
<section class="richcontent-hero" style="background-color: #F5F5F5;">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/AH22/hero_D.jpg'); background-position:center top; opacity:1;">&nbsp;</div>
		<div class="hero-content">
			<h2>Polo Ralph Lauren</h2>
			<button class="button borderless has-arrow-down has-smoothscroll is-hidden-mobile">Voir la sélection</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row luxe-center luxe-middle-tablet">
			<div class="luxe-col-tablet-6 text-center">
				<p class="brand-edito-title">NUANCES D’AUTOMNE</p>
				<p class="brand-edito">
					Polo Ralph Lauren dévoile une nouvelle collection automne 2022 pour l’homme, la  femme et l’enfant. Des pièces incontournables de saison
					<span class="is-hidden-mobile">qui incarnent la simplicité et l’authenticité.<br/>
						Découvrez des looks pour toutes les occasions.</span>
					<span class="read more is-hidden-tablet">&hellip; <span class="underline-text">Lire la suite</span></span> 
					<span class="read-more-content is-hidden"><span class="is-hidden-tablet">qui incarnent la simplicité et l’authenticité.<br/>
						Découvrez des looks pour toutes les occasions.</span>&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<figure class="inspi-image text-center is-hidden-mobile">
					<img src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/AH22/inspi-racine.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/AH22/inspi-racine@2x.jpg 2x" 
						alt="Polo Ralph Lauren - Galeries Lafayette">
				</figure>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection text-center">
		<ul class="selection has-image">
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/ct/homme">
					<img alt="Homme" class="visual" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/AH22/vignette-homme-b.jpg"> 
					 <span>Homme</span> 
				</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/ct/femme">
					<img alt="Femme" class="visual" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/AH22/vignette-femme.jpg">
					<span>Femme</span>
				</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/c/enfant">
					<img alt="Enfants" class="visual" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/AH22/vignette-enfants.jpg">
					<span>Enfant</span>
				</a>
			</li>
		</ul>
	</div>
	
</section>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}		
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->