<!-- <link href="../../media/LP/src/css/2022/rich-luxe-createurs-old-stack-alt.css" rel="stylesheet" type="text/css"> -->
<!-- ============ HERO IMAGE ============  --> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack-alt.min.v03.css" rel="stylesheet" type="text/css">
<style>
	 .hero-bg-video {
		 position: absolute;
		 height: 100%;
		 min-width: 100%;
		 margin: 0 auto;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
		 width: 100%;
		 min-height: 120%;
	 }
	 @media screen and (min-width: 768px) {
		 .hero-bg-video {
			 width: 118%;
			 min-height: 116%;
		 }
	 }
	 @media screen and (min-width: 1025px) {
		 .hero-bg-video {
			 width: 108%;
		 }
	 }
	 @media screen and (min-width: 1250px) {
		 .hero-bg-video {
				width: 102%;
		 }
	 }
 </style>
<section class="richcontent-hero" style="background-color: #85061e;">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<iframe class="hero-bg-video is-hidden-tablet" src="https://player.vimeo.com/video/733630478?background=1" width="767" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
		<iframe class="hero-bg-video is-hidden-mobile" src="https://player.vimeo.com/video/733626514?background=1" width="1440" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
		<div class="hero-content">
			<h2>Polo Ralph Lauren</h2>
			<button class="button borderless has-arrow-down has-smoothscroll is-hidden-mobile">Voir la sélection</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito has-txt-white">
		<div class="luxe-row luxe-center luxe-middle-tablet">
			<div class="luxe-col-tablet-6 text-center">
				<p class="brand-edito-title">UNE RENTRÉE REMARQUÉE</p>
				<p class="brand-edito">
					Juste à temps pour la rentrée ! Vivez les aventures du quotidien avec des essentiels de saison aux couleurs vives et imprimés ludiques.
 <span class="is-hidden-mobile">Polo Ralph Lauren dévoile une collection pour les garçons et les filles avec des pièces intemporelles et distinctives pour toutes les occasions.</span>
					<span class="read more is-hidden-tablet">&hellip; <span class="underline-text">Lire la suite</span></span> 
					<span class="read-more-content is-hidden"><span class="is-hidden-tablet">Polo Ralph Lauren dévoile une collection pour les garçons et les filles avec des pièces intemporelles et distinctives pour toutes les occasions.</span>&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<figure class="inspi-image text-center">
					<img src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/50ans/inspi-enfant-2.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/50ans/inspi-enfant-2@2x.jpg 2x" 
						alt="Polo Ralph Lauren - Galeries Lafayette">
				</figure>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection text-center" style="background-color: #ffffff;">
		<ul class="selection">
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/ct/homme">
					 <span>Homme</span> 
				</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/ct/femme">
					<span>Femme</span>
				</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/c/enfant">
					<span>Enfant</span>
				</a>
			</li>
		</ul>
		<div class="categorie" style="background-color: #ffffff;">
			<p>Enfant</p>
		</div>
		
	</div>
	
</section>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}		
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->