<!-- <link href="../../media/LP/src/css/2022/rich-luxe-createurs-old-stack-alt.css" rel="stylesheet" type="text/css"> -->
<!-- ============ HERO IMAGE ============  --> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack-alt.min.v04.css" rel="stylesheet" type="text/css">
<style>
	.richcontent-hero-edito .brand-edito-title {
		 font-family: GLBaderCompress-Black;
	 }
	 .hero-bg-video {
		 position: absolute;
		 height: 100%;
		 min-width: 100%;
		 margin: 0 auto;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
		 width: 100%;
		 min-height: 120%;
	 }
	 @media screen and (min-width: 768px) {
		 .hero-bg-video {
			 width: 118%;
			 min-height: 116%;
		 }
	 }
	 @media screen and (min-width: 1025px) {
		 .hero-bg-video {
			 width: 108%;
		 }
	 }
	 @media screen and (min-width: 1250px) {
		 .hero-bg-video {
				width: 102%;
		 }
		 .richcontent-hero-edito .brand-edito-title {
			 font-size: 28px;
		 }
	 }
 </style>
<section class="richcontent-hero has-actu" style="background-color: #f7f4ef;">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<iframe class="hero-bg-video is-hidden-tablet" src="https://player.vimeo.com/video/744494866?background=1" width="767" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
		<iframe class="hero-bg-video is-hidden-mobile" src="https://player.vimeo.com/video/744487757?background=1" width="1440" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
		<div class="hero-content">
			<h2>Polo Ralph Lauren</h2>
			<button class="button borderless has-arrow-down has-smoothscroll is-hidden-mobile">Voir la sélection</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito has-txt-black">
		<div class="luxe-row luxe-center luxe-middle-tablet">
			<div class="luxe-col-tablet-6 text-center">
				<p class="brand-edito-title">LA COLLECTION DE SACS À MAIN POLO ID</p>
				<p class="brand-edito">
					La collection Polo ID met à l'honneur des sacs à main inspirés par l'aventure, le romantisme et l'optimisme. Une collection qui s'étend 
 <span class="is-hidden-mobile">sur quatre silhouettes de sacs à mains fabriqués à partir de cuir italien et dotés de l'emblème iconique Polo Pony qui honore l'héritage de l'artisanat équestre.</span>
					<span class="read more is-hidden-tablet">&hellip; <span class="underline-text">Lire la suite</span></span> 
					<span class="read-more-content is-hidden"><span class="is-hidden-tablet">sur quatre silhouettes de sacs à mains fabriqués à partir de cuir italien et dotés de l'emblème iconique Polo Pony qui honore l'héritage de l'artisanat équestre.</span>&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
				<ul class="actu-infos">
					<li>
						<p class="has-icon cal is-hidden">Du 5 juillet au 31 août</p>
					</li>
					<li>
						<p class="has-icon pin">Retrouvez la collection Polo ID sur le pop-up store exclusif Polo Ralph Lauren au 3e étage du magasin Coupole des Galeries Lafayette Paris Haussmann 
							du 2 au 20 septembre 2022</p>
					</li>
				</ul>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<figure class="inspi-image text-center">
					<img src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/polo-id/inspi-femme.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/polo-ralph-lauren/polo-id/inspi-femme-b@2x.jpg 2x" 
						alt="Polo Ralph Lauren - Galeries Lafayette">
				</figure>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection text-center" style="background-color: #ffffff;">
		<ul class="selection">
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/ct/homme">
					 <span>Homme</span> 
				</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/ct/femme">
					<span>Femme</span>
				</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/polo+ralph+lauren/c/enfant">
					<span>Enfant</span>
				</a>
			</li>
		</ul>
		<div class="categorie" style="background-color: #ffffff;">
			<p>Femme</p>
		</div>
		
	</div>
	
</section>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}		
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->