<!-- <link href="../media/LP/src/css/2021/rich-luxe-old-stack-createurs-wvideo.css" rel="stylesheet" type="text/css"> -->
<!-- ============ HERO IMAGE ============  --> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/rich-luxe-old-stack-createurs-wvideo.min.v04.css" rel="stylesheet" type="text/css">
<style>
	model-viewer.model3d {
		--poster-color: transparent;
	}
</style>
<section class="richcontent-hero" style="background-color: #f4fcea;">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<iframe class="hero-bg-video is-hidden-tablet" src="https://player.vimeo.com/video/539084413?background=1" width="360" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen="" webkitallowfullscreen=""></iframe>
		<iframe class="hero-bg-video is-hidden-mobile" src="https://player.vimeo.com/video/539125571?background=1" width="1250" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen="" webkitallowfullscreen=""></iframe>
		<div class="hero-content">
			<h2>La basket Tomorrow</h2>
			<button class="button borderless has-arrow-down has-smoothscroll">Voir tous les modèles</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row luxe-center-tablet luxe-middle-tablet">
			<div class="luxe-col-tablet-6">
				<p class="content-edito is-hidden-tablet">Avec ses lignes singulières et son design rétro contemporain, la sneaker Tomorrow donne aux hommes et aux femmes The Kooples une réelle liberté de mouvement, sans aucun compromis &nbsp;
					<span class="read more">&hellip; <span class="underline-text">Lire la suite</span></span> 
					<span class="read-more-content is-hidden"> de style. Sa ligne incarne parfaitement la fusion de la mode et du streetwear, tout en alliant innovation et savoir-faire.
						<br />
						Un style très pointu et une allure affirmée, en 6 références, la sneaker Tomorrow se fait déjà indispensable.  &nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
				<p class="content-edito is-hidden-mobile">Avec ses lignes singulières et son design rétro contemporain, la sneaker Tomorrow donne aux hommes et aux femmes The Kooples une réelle liberté de mouvement, sans aucun compromis de style. Sa ligne incarne parfaitement la fusion de la mode et du streetwear, tout en alliant innovation et savoir-faire.
					<br /><br />
					Un style très pointu et une allure affirmée, en 6 références, la sneaker Tomorrow se fait déjà indispensable.
					
				</p>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<div class="model3d-container">
					<span class="model3d-txt is-hidden-desktop">Touchez la sneaker pour interagir</span>
					<span class="model3d-txt is-hidden-touch">Passez la souris sur la sneaker pour interagir</span>
					<model-viewer class="model3d" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/kooples/shoes4k2.glb" poster="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/kooples/poster-tomorrow-de-the-kooples.png" alt="model 3D de Tomorrow de Th Kooples" auto-rotate camera-controls  exposure="2" loading="eager"></model-viewer>
				</div>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection text-center" style="background-color: #ffffff;">
		<p>La collection Tomorrow</p>
	</div>
	
</section>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelector('.has-smoothscroll');
		smoothAnchor.onclick = function() {
			var target = document.querySelector('.richcontent-hero-selection');
			var abTasty = document.querySelector('.ab_widget_container_promotional-banner');
			if (target) {				
				if (window.matchMedia("(min-width:1024px)").matches) {
					if (abTasty) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 143;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					}
				} else {
					if (abTasty) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 49;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
				}
				scroll({
					top: offsetTop,
					behavior: "smooth"
				});
			}
		};		
	});
</script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<!-- ============  FIN HERO IMAGE ============ -->