<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Davines" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/davines/davines.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: #ccc8b3;">
            <p class="content-edito" style="color: #000;">
                Une routine complète conçue pour exalter la beauté des cheveux blonds naturels, éclaircis ou teints. 
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide">
               L’extrait bleu de Jagua garantit un rééquilibrage délicat des tonalités et est adapté à tous les types de blond.                
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>      
   <div class="block-selection">
        <ul class="carousel-rich-univers wrapper">
          <li>
            <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="#">
                    <img alt="A Single Shampoo" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/davines/vignette01.jpg"> 
                    <span class="js-scramble-link">A Single Shampoo</span> 
                </a>
            </div>
         </li>   
         <li>
            <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="#">
                    <img alt="Gamme OI" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/davines/vignette02.jpg"> 
                    <span class="js-scramble-link">Gamme OI</span> 
                </a>
            </div>
         </li>
         <li>
            <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="#">
                    <img alt="Gamme Essential Haircare" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/davines/vignette03.jpg"> 
                    <span class="js-scramble-link">Gamme Essential Haircare</span> 
                </a>
            </div>
         </li>
         <li>
            <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="#">
                    <img alt="Heart of Glass" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/davines/vignette04.jpg"> 
                    <span class="js-scramble-link">Heart of Glass</span> 
                </a>
            </div>
         </li>
       </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>