<!-- <link href="../media/LP/src/css/2021/rich-luxe-old-stack-createurs.css" rel="stylesheet" type="text/css"> -->

<!-- ============ HERO IMAGE ============  --> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/rich-luxe-old-stack-createurs.min.v02.css" rel="stylesheet" type="text/css">
<style>
	.back-top {
		display: none !important;
	}
	.gis-cta-logo {
		height: 65px !important;
		width: 65px !important; 
	}
	.gis-cta-indicator {
		height: 15px !important;
		width: 15px !important;
	}
	@media screen and (max-width: 1024px) {
		.gis-cta-logo {
			height: 60px !important;
			width: 60px !important; 
		}
	}
</style>
<section class="richcontent-hero has-sad">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image is-hidden-tablet" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/isabel-marant/hero_M.jpg'); background-position:center top;">&nbsp;</div>
		<div class="hero-bg-image is-hidden-mobile" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/isabel-marant/hero_D.jpg'); background-position:center top;">&nbsp;</div>
		<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections</button>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row text-center">
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<figure class="sad-image">
					<img class="is-hidden-tablet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/isabel-marant/visuel_M.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/isabel-marant/visuel_M@2x.jpg 2x" 
						alt="Isabel Marant en Shopping à Distance - Galeries Lafayette" width="170" height="250">
					<img class="is-hidden-mobile" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/isabel-marant/visuel_D.jpg"
					srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/isabel-marant/visuel_D@2x.jpg 2x" 
					alt="Isabel Marant en Shopping à Distance - Galeries Lafayette" width="430" height="630">
				</figure>
			</div>
			<div class="luxe-col-tablet-6 luxe-col-desktop-5">
				<p class="content-edito">Qui dit Isabel Marant dit esprit Parisien. Après avoir fondé sa Maison en 1994, elle est devenue instantanément une référence pour son style audacieux, cosmopolite et plein de personnalité. Un style feel good,
					<span class="read more">&hellip; <span class="underline-text">suite</span></span> 
					<span class="read-more-content is-hidden">une dégaine… Ainsi, depuis son lancement, aucun modèle ne part en fabrication sans avoir été essayé par Isabel elle-même. Une assurance que sa mode est faite pour la vraie vie des vraies femmes.&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
				<div class="sad-edito">
					<h2>La mode en Shopping à Distance</h2>
					<p>Découvrez toutes les collections Isabel Marant des Galeries Lafayette Paris Haussmann en live shopping vidéo ou en renseignant votre wishlist. &nbsp;<a href="https://www.galerieslafayette.com/evt/fr/shoppingadistance-service" target="_blank">En savoir +</a></p>
					
					<button class="button outlined trigger_liveshopping" onclick="initSAD(); return false;">Shopping à Distance<span class="icon"><i class="microphone"></i></span></button>
				</div>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection">
			<li>
				<a href="https://www.galerieslafayette.com/b/isabel+marant/ct/femme">Mode&nbsp;Femme</a>
			</li>
			<li>
				<a href="https://www.galerieslafayette.com/b/isabel+marant/ct/homme">Mode&nbsp;Homme</a>
			</li>
		</ul>
	</div>
	
</section>

<script src="https://static.galerieslafayette.com/media/LP/src/js/2021/shoppingadistance-richScrollMagic.min.js"></script>

<div id="goinstore_modals" style="height:0;"></div>
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/shoppingadistance-goinstore-v2.min.css" rel="stylesheet" type="text/css">
<script src="https://static.galerieslafayette.com/media/LP/src/js/2021/shoppingadistance-goinstore-v2.min.v03.js"></script>

<script>
	var routingKey = "brand34";
	function initSAD() {
		clickedBrand='Isabel Marant';
		cleanBrandName='isabel-marant-pe22'; 
		appointedWidgetId='5f8878806a0d547bea7db8ef'; 
		GL_GIS.LiveShopping.displaySadBrand();
		GL_GIS.LiveShopping.checkPopinClerkAvailability(routingKey);  
	}
	
	window.onload = function() {
		GL_GIS.LiveShopping.init(routingKey);    
		
		var gisCTA = document.getElementById('gis-cta');
		if (gisCTA) {
			gisCTA.addEventListener('click', function(e) {
				e.stopPropagation();
				initSAD();
				GL_GIS.LiveShopping.displaySadBrand();
				return false;  
			}, true);
		}
		
		var gisMsgContainer = document.getElementById('gis-awareness-msg-container');
		if (gisMsgContainer) {
			gisMsgContainer.lastChild.addEventListener('click', function(e) { 
				e.stopPropagation();
				initSAD();
				GL_GIS.LiveShopping.displaySadBrand();
				return false;
			}, true);
		}
	}; 
	
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelector('.has-smoothscroll');
		smoothAnchor.onclick = function() {
			var target = document.querySelector('.sad-edito h2');
			var abTasty = document.querySelector('.ab684263');
			if (target) {				
				if (window.matchMedia("(min-width:1024px)").matches) {
					if (abTasty) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 170;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 120;
					}
				} else {
					if (abTasty) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 90;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 70;
					}
				}
				scroll({
					top: offsetTop,
					behavior: "smooth"
				});
			}
		};
		
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .button", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->