<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
    .hero-image .new-content-edito.promo h2 {
        margin: 10px auto 10px;
    }
   .hero-image .new-content-edito {
       position: relative; 
    }
    .hero-image .new-content-edito .see-conditions {
        bottom: 2px;
    }
@media screen and (min-width: 768px) {
     .hero-image .new-content-edito.promo h2 {
        font-size: 30px;
       line-height: 35px;
    }
}
@media screen and (min-width: 1250px) {
     .hero-image .new-content-edito.promo h2 {
       font-size: 40px;
       line-height: 45px;
    }
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content hide-for-small">
           <div><img alt="Avant-premières" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/petits-prix/ete/maison.jpg"></div>
       </div> 

        <div class="new-content-edito promo" style="background: #f8ea4c;">
            <div class="content-edito">
                <span>- RÉSERVÉ AUX MEMBRES FIDÉLITÉ MES GALERIES -</span>
                <h2>AVANT-PREMIÈRES<br /> Jusqu'à -40% sur une sélection d'articles*</h2>
                <h3" class="hide-for-medium">
                1. Créez votre compte ou identifiez-vous<br>
                2. Renseignez votre n° de carte fidélité<br>  
                3. Bénéficiez de la remise directement dans votre panier
                </h3>
            </div>
           <span class="see-conditions" style="font-size: 11px;">* Voir conditions</span>
           <span class="conditions" style="text-transform: none;"><span class="close">&nbsp;</span> 
               Offre réservée aux membres du programme de fidélité Mes Galeries du 20/07/22 au 18/08/22 dans les magasins Galeries Lafayette (hors outlet) et sur galerieslafayette.com en vous connectant à votre compte. Offre accessible sur une sélection d'articles signalés, la remise s'applique sur le prix d'entrée de saison et n'est pas cumulable avec les autres offres en cours.
           </span> 
        </div>
   </div>  
    
   <div class="block-selection">
        <ul class="carousel-rich-univers wrapper">
             <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/avantage+carte/ct/maison-linge+de+maison">
                        <span>Linge de Maison</span>                              
                    </a>
               </div>
             </li>
              <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/avantage+carte/ct/maison-culinaire">
                        <span>Culinaire</span>                              
                    </a>
               </div>
             </li>

            <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/avantage+carte/ct/maison-arts+de+la+table">
                         <span>Arts de la table</span>                              
                    </a>
               </div>
             </li>
            <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/avantage+carte/ct/maison-luminaires">
                         <span>Luminaires</span>                              
                    </a>
               </div>
              </li> 
             <li>
                 <div class="block-news">
                     <a class="block-richcontent-link js-scramble-link" href="c/avantage+carte/ct/maison-meubles+et+canapes">
                          <span>Meubles et canapés</span>                              
                     </a>
                </div>
              </li>
             <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="c/avantage+carte/ct/maison">
                         <span>Voir tout</span>                              
                    </a>
               </div>
             </li>
        </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
    $('.see-conditions').on('click', function() {
        $('.conditions').addClass('active');
    });
    $('.close').on('click', function() {
        $('.conditions').removeClass('active');
    });
});
</script>