@import "assets/css/core";

// hide search on mobile
.header--shadow {
	@include mobile {
		height: 48px !important;
	}
}
.menu-wrapper {
	@include mobile {
		height: 0;
	}
}
.menu-wrapper__search {
	@include mobile {
		display: none !important;
	}
}
//======================
.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}
.footer {
	margin-top: 0;
}
.footer-description {
	padding: 0 !important;
}
.luxe-col-tablet-offset-0 {
	@include tablet {
		margin-left: 0;
	}
}


.grand-jeu-noel {
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	h1, h2, h3, h4, .h2 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
	}
	h1 {
		font-size: 72px;
		line-height: 1.1;
		letter-spacing: -2.5px;
		margin: 0 auto;
		@include tablet {
			text-align: left;
			font-size: 62px;
		}
		@include desktop {
			font-size: 76px;
		}
		@include widescreen {
			font-size: 96px;
			letter-spacing: -4px;
			line-height: 1;
			margin-bottom: 25px;
		}
	}
	h2, .h2 {
		font-size: 24px;
		line-height: 1;
		letter-spacing: -.4px;
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
	}
	a {	
		&.is-text {
			font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			color: inherit;
			font-size: inherit;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			letter-spacing: normal;
			text-decoration: underline;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
		&.is-pink {
			color: #D32966;
		}
		&.is-bold {
			font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		}
	}
	.button {
		font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-size: 16px;
		font-weight: 900;
		font-stretch: normal;
		line-height: 0.89;
		letter-spacing: 1.13px;
		text-transform: uppercase;		
		border: 1px solid #000000;
		border-radius: 24px;
		padding: 12px 25px;
		margin-bottom: 20px;
		min-width: 100%;
		text-decoration: none;
		&.is-primary {
			background-color: #000000;
			&:hover {
				background-color: #ffffff;
				color: #000000;
			}
		}
		&.is-pink {
			background-color: #D32966;
			border-color: #D32966;
			color: #ffffff;
			@include tablet {
				min-width: 100%;
			}
			&:hover {
				background-color: #ffffff;
				color: #D32966;
			}
		}
		&.is-gold {
			background-color: #AB9458;
			border-color: #AB9458;
			@include tablet {
				min-width: 100%;
			}
			&:hover {
				background-color: #ffffff;
				color: #AB9458;
			}
		}
		&.has-arrow {
			position: relative;
			padding-left: 12px;
			&:after {
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 16px;
				height: 8.48px;
				right: 25px;
				transition: right 350ms ease;
			}
			&:hover {
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23AB9458' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					right: 20px;
				}
			}
		}

		@include tablet {
			min-width: 310px;
		}
		@include widescreen {
			font-size: 16px;
		}
		.icon {
			height: 20px;
			width: 20px;
			position: absolute;
			right: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
			.microphone {
				&:before {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					left: 0;
					right: 0;
					height: 20px;
					width: 10px;
				}
			}
		}
		&.has-arrow-down {
			position: relative;
			&:after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.2 5.55'%3E%3Ctitle%3Earrow-down%3C/title%3E%3Cg id='b73d5839-d192-4f50-80dd-e5cc05da285c' data-name='Calque 2'%3E%3Cg id='be1d69bd-44ac-4e55-8a36-be0463cfd422' data-name='Calque 1'%3E%3Cpath d='M10.6.8l-5,3.75L.6.8' fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center 6px;
				background-size: 10px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 10px;
				width: 20px;
				height: 20px;
				background-color: #000000;
				border: 2px solid #ffffff;
				border-radius: 50%;
			}
		}
	}
	.buttons {
		.button {
			@include tablet {
				margin-right: 10px;	
			}
		}
	}
	.buttons {
		.button {
			@include tablet-only {
				min-width: 320px;
			}
			@include desktop-only {
				min-width: 320px;
			}
		}
	}
	
	.is-uppercase {
		text-transform: uppercase;
	}
	.is-lighter {
		color: #AAA8A3;
	}
	.is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	
	.image {
		margin: 0 auto;
	}
}

.grand-jeu-noel {
	.calendrier-avent {
		position: relative;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/calendrier-de-l-avent/bg-main.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/calendrier-de-l-avent/bg-main@2x.jpg');
		}
		@media screen and (min-width: 415px) {
			padding: 4% 0;
		}
		.container {
			margin: auto;
			position: relative;
			z-index: 1;
			height: 100%;
			
			-ms-overflow-style: none; // pour edge
			scrollbar-width: none; // pour firefox
			&::-webkit-scrollbar {
				height: 0;
				width: 0;
			}
			
			@media screen and (min-width: 415px) {
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
				max-width: 360px;
				max-height: 626px;
				box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.35);
				border-radius: 20px;
			}
		}
		
		
		// Animations =================================
		//=========================
		//pan & dezoom des backgrounds 
		@keyframes backgroundDrift {
			0% {
				background-position: -250px -40px;
				background-size: 850px;
			}
			50% {
				background-position: right top;
				background-size: 640px;
			}
			100% {
				background-position: -250px -40px;
				background-size: 850px;
			}
		}
		@keyframes backgroundDriftSmall {
			0% {
				background-position: -410px top;
			}
			50% {
				background-position: -900px top;
			}
			100% {
				background-position: -410px top;
			}
		}
		@keyframes backgroundDriftTiny {
			0% {
				background-position: -100px -140px;
				background-size: 640px;
			}
			50% {
				background-position: right top;
				background-size: 500px;
			}
			100% {
				background-position: -100px -140px;
				background-size: 640px;
			}
		}
		//==============================================
		.welcome, .gifts {
			height: 100%;
		}
		.welcome {
			overflow: hidden;
			background-repeat: repeat;
			background-size: cover;
			background-position: center -52px;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/calendrier-de-l-avent/bg-splash-calendrier.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/calendrier-de-l-avent/bg-splash-calendrier@2x.jpg');
			}
			@media screen and (min-width: 415px) {
				background-position: center top;
			}
			.article-body {
				max-width: 280px;
				margin: 0 auto;
				opacity: 0;
				transform: scale(.1) rotate(-12deg);
				transition: all 600ms ease-in;
				position: relative;
				z-index: 3;
				
				.image {
					margin: 20px auto 8px;
					@media screen and (min-width: 415px) {
						margin-top: 40px;
					}
					img {
						@media screen and (min-width: 415px) {
							width: 230px;
						}
					}
				}
			}
			p, h1 {
				color: #ffffff;
			}
			button {
				&.is-gold, &.is-pink {
					font-size: 14px;
				}
			}
			.image {
				margin: 0;
				&.nordman {
					position: absolute;
					left: 0;
					right: 0;
					opacity: 0;
					bottom: -230px;
					z-index: 5;
					transition: 300ms all 300ms ease-out;
				}
			}
			&.animate {
				.article-body {
					opacity: 1;
					transform: scale(1);
				}
				.image {
					&.nordman {
						bottom: -10px;
						opacity: 1;
					}
				}
			}
			&.is-transitioning {
				.article-body {
					opacity: 0;
					transform: scale(.1) rotate(-6deg);
					transition: 300ms all 150ms cubic-bezier(.5, -.8, 1, .8);
				}
				.image {
					&.nordman {
						bottom: -130px;
						opacity: 0;
						transition: 300ms bottom 150ms cubic-bezier(.5, -.8, 1, .8), 150ms opacity 350ms linear;
					}
				}
			}
		}
		
		.video-transition {
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			opacity: 0;
			visibility: hidden;
			z-index: 100;
			overflow: hidden;
			&.animate {
				opacity: 1;
				visibility: visible;
			}
			.bg-video-container {
				height: 100%;
				.bg-video {
					background-repeat: no-repeat;
					background-size: cover;
					position: absolute;
					object-position: center;
					object-fit: cover;
					min-height: 100%;
					width: 100%;
					height: 100%;
					min-width: 100%;
					margin: 0 auto;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		
		.gifts {
			&.container {
				overflow: auto;
			}
			&.bg-gifts {
				background-color: #43574b;
				animation: backgroundDriftSmall 180s linear 0ms infinite;
				background-repeat: no-repeat;
				background-position: -500px top;
				background-size: cover;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/calendrier-de-l-avent/bg-gifts.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/calendrier-de-l-avent/bg-gifts@2x.jpg');
				}
			}
			.day-title {
				position: relative;
				text-align: center;
				margin: 20px auto 0;
				// img {
				// 	filter: drop-shadow(0px 2px 4px #000000);
				// }
			}
			.article-body {
				max-width: 280px;
				margin: auto;
				@media screen and (min-width: 360px) {
					max-width: 310px;
				}
				h2 {
					color: #ffffff;
					text-shadow: (3px 4px 6px rgba(0, 0, 0, 0.5));
				}
				p{
					color: #ffffff;
					text-shadow: (2px 3px 6px rgba(0, 0, 0, 0.7));
				}
				.value {
					font-size: 15px;
					margin-top: -10px;
				}
				.gift-display {
					&.is-goforgood {
						.image {
							&:before {
								content: "";
								position: absolute;
								z-index: 1;
								width: 60px;
								height: 60px;
								bottom: 0;
								right: 0;
								background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/calendrier-de-l-avent/go_for_good_stamp.svg');
							}
						}
					}
					.image {
						width: 230px;
						margin-bottom: 10px;
					}
				}
				.product {
					filter: drop-shadow(5px 6px 8px rgba(0, 0, 0, 0.3));
				}
			}
		}
		
		.form {
			visibility: hidden;
			opacity: 0;
			height: 0;
			max-width: 320px;
			position: absolute;
			left: 0;
			right: 0;
			top: 600px;
			z-index: 10;
			margin: 0 auto 30px;
			transition: visibility 0ms linear, opacity 100ms linear, top 250ms ease-out;
			&.is-active {
				visibility: visible;
				opacity: 1;
				height: auto;
				top: 30px;
				&.is-hidding {
					visibility: hidden;
					opacity: 0;
					top: 600px;
					transition: visibility 0ms linear 250ms, opacity 50ms linear 150ms, top 200ms ease;
				}
			}
		}
		.calendar-form-container {
			color: #000000;
			padding: 50px 30px 30px;
			background-color: #ffffff;
			box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.6);
			font-size: 12px;
			width: 100%;
			position: relative;
			overflow: hidden;
			.form-header {
				margin-top: -20px;
				position: relative;
				height: 40px;
				.close_form {
					padding: 20px 0 0;
					height: 0;
					width: 20px;
					text-indent: -99999px;
					z-index: 100;
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.71 25.71'%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='ba8c35b1-a45f-4c8e-948b-619a7ab5098a' data-name='Calque 2'%3E%3Cg id='a1586dbf-ebd3-4465-aaf5-a1a732039c5a' data-name='Calque 1'%3E%3Cpath d='M12.85,12.15.71,0,0,.71,12.15,12.85,0,25l.71.71L12.85,13.56,25,25.71l.71-.71L13.56,12.85,25.71.71,25,0Z' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat scroll 0 0;
				}
			}
			p {
				font-size: 12px;
			}
		}
		.form-footer {
			height: 30px;
		}
		.form-success, .form-already-registered {
			.h2 {
				display: block;
			}
			.button {
				font-size: 14px;
				@include tablet {
					min-width: 100%;
				}
			}
			.lutins {
				margin: 0 auto -70px;
			}
		}
		#calendar-form {
			.form-group {
				display: flex;
				flex-direction: column-reverse;
				input:valid, select:valid {
					+ label {
						color: #AAA8A3;
					}
				}
			}
			label {
				font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-size: 12px;
				color: #000000;
				line-height: 16px;
				margin-bottom: 4px;
			}
			
			select, input[type=text], input[type=email], input[type=tel] {
				border-color: #4F4E4C;
				border-radius: 4px;
				height: 40px;
				font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-size: 16px;
				color: #000000;
			}
			input[type=text], input[type=email], input[type=tel] {
				&::placeholder {
					color: #AAA8A3;
				}
			}
			select {
				margin-bottom: 16px;
				&:invalid, &[disabled], &:disabled {
					color: #AAA8A3;
				}
			}
			input[type=checkbox] {
				+ label {
					margin-left: 0;
					margin-bottom: 15px;
					padding-left: 33px;
					&:before {
						width: 20px;
						height: 20px;
						border-color: #4F4E4C;
						border-radius: 2px;
					}
					&:after {
						top: 8px;
						left: 3px;
					}
				}
			}
			.button {
				min-width: 260px;
				margin-bottom: 30px;
			}
		} 
	}
	
	&.has-js {

	}
}