@import "assets/css/core";
@import "assets/css/components/flickty";
@import "assets/css/components/accordion";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============
html {
	scroll-behavior: smooth;
}
.page .inner-wrap {
	background-color: rgb(0,0,0);
}
.footer-description {
	display: none;
}
.footer {
	margin-top: 0;
	background-color: rgb(255,255,255);
}
.section-main-container {
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.hero-bg-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: -40px auto 0;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/digital-fashion/bg-microverse-hero-vig.jpg');
	height: 640px;		
	@include tablet {
		height: 600px;
	}
	@include desktop {
		height: 780px;
		margin: -25px auto 0;
	}
	@include widescreen {
		height: 860px;
	}
	@include fullhd {
		height: 950px;
	}
}

// .back-top {
// 	display: none !important;
// }

.lp-container{
	margin: 0 auto !important;
	position: relative;
	//overflow: hidden;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	.boxed-text {
		line-height: .8;
		display: inline;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 0;
		> span {
			display: inline-block;
			background-color: #fff;
			border: 4px solid #000;
			padding: 6px 11px 9px;
			position: relative;
			@include widescreen {
				border-width: 8px;
				padding: 16px 11px 22px;
			}
			@include fullhd {
				
				
			}
		}
		+ .boxed-text,
		+ p {
			margin-top: 16px;
			clear: both;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
		color: #ffffff;
		letter-spacing: -.03em;
	}
	h1{
		font-size: 47px;
		line-height: 1;
		@include widescreen {
			font-size: 64px;
		}
	}
	h2 {
		font-size: 28px;
		@include widescreen {
			font-size: 40px;
		}
	}
	h3 {
		font-size: 56px;
		@include widescreen {
			font-size: 64px;
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.43;
		color: #ffffff;
		@include widescreen {
			margin-bottom: 25px;
			line-height: 1.45;
			font-size: 20px;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.is-compress {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 50%;
		letter-spacing: 0;
		line-height: 1.8;
	}
	.is-bigger {
		font-size: 28px;
		line-height: 1;
		@include widescreen {
			font-size: 40px;
		}
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.is-marginless {
		margin: 0;
	}
	.has-text-left-mobile {
		@include mobile {
			text-align: left;
		}
	}
	.is-fullheight {
		height: 100%;
	}
	.is-fullwidth {
		width: 100%;
	}
	.bg-video {
		position: absolute;
		 height: 100%;
		 min-width: 100%;
		 margin: 0 auto;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
		 width: 100%;
	}
	
	.lp-hero {
		padding: 24px;
		position: relative;
		height: 640px;
		color: #ffffff;
		
		@include tablet {
			height: 600px;
		}
		@include desktop {
			height: 780px;
		}
		@include widescreen {
			height: 860px;
		}
		@include fullhd {
			height: 950px;
		}
		&:after {
			@include mobile {
				content: "";
				position: absolute;
				bottom: -100px;
				left: 0;
				right: 0;
				z-index: 1;
				width: 100%;
				height: 400px;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
			}
		}
		.video-container {
			overflow: hidden;
		}
		.title {
			position: relative;
			z-index: 2;
			@include tablet {
				margin-top: 40px;
			}
			@include desktop {
				margin-top: 60px;
			}
			@include fullhd {
				margin-top: 80px;
			}
			h1 {
				text-transform: uppercase; 
				@include desktop {
					margin-bottom: 40px;
				}
				@include fullhd {
					margin-bottom: 60px;
				}
			}
		}
		.button {
			&.primary {
				font-size: 16px;
			}
		}
		.video {
			width: 200%;
			min-height: 120%;
			@include tablet {
				width: 120%;
			}
			@include desktop {
				min-height: 122%;
			}
			@include fullhd {
				min-height: 140%;
			}
		}
	}
	
	.lp-body {
		padding: 24px;
		position: relative;
		border-bottom: 1px solid #757575;
		@include tablet {
			text-align: left;
			padding: 40px;
		}
		@include desktop {
			padding: 64px;
		}
		@include widescreen {
			padding: 88px;
		}
		@include fullhd {
			padding: 104px;
		}
		@include widescreen {
			border-left: 1px solid #757575;
			border-right: 1px solid #757575;
		}
		@include fullhd {
			
		}
		.tag {
			color: #ffffff;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1;
		}
		.subtitle {
			text-transform: uppercase;
			font-size: 22px;
			line-height: 1;
			@include widescreen {
				font-size: 28px;
			}
		}
	}
	
	.intro-btn-container {
		@include tablet {
			width: 64px;
			height: 64px;
			margin: -150px auto -32px;
			position: relative;
			z-index: 1;
		}
		@include desktop {
			margin-top: -222px;
		}
		@include widescreen {
			margin-top: -242px;
		}
		@include fullhd {
			margin-top: -265px;
		}
		.go-down {
			.nav-arrow {
				display: block;
				width: 100%;
				margin-bottom: 16px;
				position: relative;
				&:before {
					content: "";
					display: block;
					width: 48px;
					height: 48px;
					background-color: #000000;
					border-radius: 50%;
					border: 1px solid #757575;
					margin: 0 auto;
				}
				&:after {
					content: "";
					background-repeat: no-repeat;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 6.36'%3E%3Ctitle%3Earrow-right-thin%3C/title%3E%3Cg id='b6abb03e-5da6-49d7-8abc-e9ced35064e0' data-name='Calque 2'%3E%3Cg id='fc699765-12cb-402f-a650-ff08b8e8c5c2' data-name='Calque 1'%3E%3Cpath d='M12.46.35,15,2.93H0v.5H15L12.46,6l.36.35L16,3.18,12.82,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					margin: 0 auto;
					left: 0;
					right: 0;
					top: 17.5px;
					width: 32px;
					height: 13px;
				}
				&.arrow-down {
					margin: 0;
					&:before {
						width: 64px;
						height: 64px;
					}
					&:after {
						transform: rotate(90deg);
						top: 24px;
						width: 40px;
						height: 16px;
					}
				}
			}
		}
	}
	
	.hero-txt {
		padding-top: 0;
		@include tablet {
			background-color: #000000;
			padding-top: 60px;
			border-top: 1px solid #757575;
		}
		@include desktop {
			padding-top: 80px;
		}
		.content {
			position: relative;
			z-index: 1;
			p {
				font-size: 20px;
				@include widescreen {
					font-size: 24px;
				}
			}
			.read {
				cursor: pointer;
				color: #aaa8a3;
				display: inline-block;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	.wearables {
		padding: 0;
		.wearable {
			padding: 40px 0;
			border-bottom: 1px solid #757575;
			@include desktop {
				border-bottom: none;
				padding-bottom: 80px;
			}
			@include widescreen {
				padding-bottom: 104px;
			}
			&:nth-child(2) {
				@include desktop {
					border-left: 1px solid #757575;
					border-right: 1px solid #757575;
				}
			}
			&:last-child {
				border-bottom: none;
			}
			.video {
				max-width: 100%;
				height: 412px;
				@include desktop {
					height: 340px;
				}
				@include widescreen {
					height: 430px;
				}
				@include fullhd {
					height: 438px;
				}
			}
			.clothe {
				padding: 30px;
				img {
					height: 412px;
				}
			}
			.qrcode {
				@include desktop {
					padding-top: 20px; 
				}
				img {
					height: 175px;
				}
			}
		}
	}
	
	.steps-header {
		.title {
			font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-size: 40px;
			line-height: 1;
			@include widescreen {
				font-size: 72px;
			}
		}
	}
	.steps {
		padding: 0;
		.step {
			&:nth-child(2) {
				@include mobile {
					border-top: 1px solid #757575;
				}
				@include tablet {
					border-left: 1px solid #757575;
				}
			}
			.title {
				font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-size: 28px;
				letter-spacing: -.5px;
				line-height: 1;
				text-transform: uppercase;
				margin-top: 16px;
				@include desktop {
					margin-top: 32px;
				}
				@include widescreen {
					margin-top: 40px;
				}
			}
			.content {
				padding: 48px;
				@include tablet {
					width: 384px;
					margin: auto;
				}
				@include desktop {
					padding: 60px 0 60px;
				}
				@include widescreen {
					padding: 80px 0 60px;
				}
				@include fullhd {
					padding: 100px 0 80px;
				}
			}
			.step-image {
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
				@include tablet {
					background-size: cover;
				}
				&.step-1 {
					height: 480px;
					background-position: center top;
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/digital-fashion/step_1.gif');
					@include tablet {
						height: 570px;
					}
					@include widescreen {
						height: 626px;
					}
				}
				&.step-2 {
					height: 570px;
					background-position: center center;
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/digital-fashion/step_2.gif');
					@include widescreen {
						height: 626px;
					}
				}
			}
			.video-container {
				height: 308px;
				margin-bottom: 24px;
				@include tablet {
					height: 440px;
					margin-bottom: 0;
				}
				@include desktop {
					height: 570px;
				}
				@include widescreen {
					height: 674px;
				}
				&.step-1 {
					height: 480px;
					@include tablet {
						height: 570px;
					}
					@include widescreen {
						height: 626px;
					}
				}
				&.step-2 {
					height: 570px;
					@include widescreen {
						height: 626px;
					}
				}
			}
		}
	}
	
	.snapcode {
		padding-top: 64px;
		padding-bottom: 64px;
		@include desktop {
			padding: 80px;
		}
		@include widescreen {
			padding: 96px 120px;
		}
		@include fullhd {
			padding: 96px 168px;
		}
		.image {
			text-align: center;
			margin-bottom: 16px;
			@include tablet {
				margin-bottom: 0;
			}
		}
		img {
			height: 217px;
		}
	}
	
	.digital-fashion {
		.image {
			height: 308px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/digital-fashion/img-digital-fashion.gif');
			margin-bottom: 24px;
			@include tablet {
				height: 440px;
			}
			@include desktop {
				height: 570px;
			}
			@include widescreen {
				height: 674px;
			}
		}
		.video-container {
			height: 308px;
			margin-bottom: 24px;
			@include tablet {
				height: 440px;
				margin-bottom: 0;
			}
			@include desktop {
				height: 570px;
			}
			@include widescreen {
				height: 674px;
			}
		}
	}
	
	.video-container {
		position: relative;
		overflow: hidden;
		video {
			position: absolute;
			object-position: center;
			object-fit: cover;
			min-height: 100%;
			width: 100%;
			height: 100%;
			min-width: 100%;
			margin: 0 auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
	.benefices {
		@include tablet {
			padding-top: 48px;
			padding-bottom: 48px;
		}
		@include widescreen {
			padding-top: 96px;
			padding-bottom: 96px;
		}
		h2 {
			@include tablet {
				margin-bottom: 32px;
			}
			@include widescreen {
				font-size: 56px;
				margin-bottom: 64px;
			}
		}
		.image {
			max-width: 140px;
			margin: 0 auto 16px;
			@include desktop {
				max-width: 200px;
				margin-bottom: 32px;
			}
			@include widescreen {
				margin-bottom: 64px;
			}
		}
	}
	
	.metaverse {
		background-repeat: repeat-x;
		background-position: center -50px;
		background-size: contain;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/digital-fashion/bg-grad-purple-nft.jpg');
		@include tablet {
			background-position: center center;
		}
		@include widescreen {
			background-size: auto;
		}
	}
	
	.section-faq {
		background-color: #ffffff;
		border-bottom: none;
		box-shadow: 1000px 0 0 0 #ffffff, -1000px 0 0 0 #ffffff;
		@include desktop {
			padding-bottom: 40px;
		}
		p, h2, h3 {
			color: #000000;
		}
		h2 {
			font-size: 56px;
			margin-bottom: 50px;
			text-align: center;
		}
		.accordions {
			.accordion {
				&:last-child {
					border-bottom: none;
				}
				.accordion-header {
					p {
						font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
						font-size: 28px;
						letter-spacing: -.05px;
						@include widescreen {
							font-size: 40px;
							letter-spacing: -.1px;
						}
					}
				}
			}
		}
		.faq {
			@include tablet {
				padding: 40px 60px;
			}
			@include desktop {
				padding: 60px 100px;
			}
			@include widescreen {
				padding: 80px 150px;
			}
			@include fullhd {
				padding: 80px 245px;
			}
		}
		.cgv {
			text-align: left;
			margin-top: 60px;
			@include desktop {
				margin-top: 40px;
			}
			@include widescreen {
				margin-top: 20px;
			}
		}
	}
	
	
	
	.button {
		&.primary {
			min-width: auto;
			min-height: 40px;
			font-size: 14px;
			padding: 11px 40px;
			.has-eye {
				position: relative;
				display: inline-block;
				height: 10px;
				width: 14px;
				right: -10px;
				top: 0;
				&:after {
					content:'';
					display: block;
					background-repeat: no-repeat;
					background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 10'%3E%3Ctitle%3Eeye%3C/title%3E%3Cg id='ee804f43-8a93-436e-8e4f-014b4d7855aa' data-name='Calque 2'%3E%3Cg id='fa54d549-b13e-4eb6-8c12-3852b5451f17' data-name='Calque 1'%3E%3Cpath d='M7,0A5.63,5.63,0,0,0,3.16,1.47C2.17,2.37,0,5,0,5S2.17,7.63,3.16,8.53A5.63,5.63,0,0,0,7,10a5.63,5.63,0,0,0,3.84-1.47C11.83,7.63,14,5,14,5s-2.17-2.63-3.16-3.53A5.63,5.63,0,0,0,7,0ZM7,1a4.69,4.69,0,0,1,3.17,1.2c.63.58,1.83,2,2.52,2.8-.69.82-1.89,2.22-2.52,2.8a4.79,4.79,0,0,1-6.34,0C3.2,7.22,2,5.82,1.31,5,2,4.18,3.2,2.78,3.83,2.2A4.69,4.69,0,0,1,7,1ZM8.5,5a1.5,1.5,0,0,1-.63-2.86A3.11,3.11,0,0,0,7,2a3,3,0,1,0,3,3,3.17,3.17,0,0,0-.14-.87A1.51,1.51,0,0,1,8.5,5Z' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					width: 14px;
					height: 10px;
				}
			}
			&:hover {
				.has-eye {
					&:after {
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 10'%3E%3Ctitle%3Eeye-white%3C/title%3E%3Cg id='f2d88b31-1a4b-4656-aad5-066b986aa9a0' data-name='Calque 2'%3E%3Cg id='b956f97d-4f70-4625-8a09-3e025828a9c2' data-name='Calque 1'%3E%3Cg id='be4b858f-2328-4979-beba-714d3007e3b9' data-name='ee804f43-8a93-436e-8e4f-014b4d7855aa'%3E%3Cg id='f94ec905-5c55-48d9-99e9-6b50d7685b69' data-name='fa54d549-b13e-4eb6-8c12-3852b5451f17'%3E%3Cpath d='M7,0A5.62,5.62,0,0,0,3.16,1.47C2.17,2.37,0,5,0,5S2.17,7.63,3.16,8.53A5.62,5.62,0,0,0,7,10a5.62,5.62,0,0,0,3.84-1.47C11.83,7.63,14,5,14,5s-2.17-2.63-3.16-3.53A5.62,5.62,0,0,0,7,0ZM7,1a4.69,4.69,0,0,1,3.17,1.2c.63.58,1.83,2,2.52,2.8-.69.82-1.89,2.22-2.52,2.8a4.79,4.79,0,0,1-6.34,0C3.2,7.22,2,5.82,1.31,5,2,4.18,3.2,2.78,3.83,2.2A4.69,4.69,0,0,1,7,1ZM8.5,5a1.5,1.5,0,0,1-.63-2.86A3.17,3.17,0,0,0,7,2a3,3,0,1,0,3,3,3.23,3.23,0,0,0-.14-.87A1.51,1.51,0,0,1,8.5,5Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
			&.is-purple {
				background-color: #7000FF;
				border-color: #7000FF;
				&:hover {
					background-color: #ffffff;
					border-color: #ffffff;
					color: #7000FF;
				}
				&.has-arrow {
					&:hover {
						&:after {
							content: "";
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%237000FF' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
					}
				}
			}
		}
		&.has-arrow {
			padding-right: 46px;
			&:after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 14.46'%3E%3Ctitle%3EFichier 1%3C/title%3E%3Cg id='a71ec316-894f-4487-8d31-2e9abdd7d877' data-name='Calque 2'%3E%3Cg id='e5778355-0b9f-4915-8d74-8336b84caecc' data-name='Calque 1'%3E%3Cpath d='M20.72,1.2l5.69,5.18H0v1.7H26.41l-5.69,5.18L22,14.46l8-7.23L22,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 16px;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 16px;
				width: 16px;
				height: 100%;
			}
			&:hover {
				&:after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				}
			}
		}
		&.has-arrow-down {
			&:after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.2 5.55'%3E%3Ctitle%3Earrow-down%3C/title%3E%3Cg id='b73d5839-d192-4f50-80dd-e5cc05da285c' data-name='Calque 2'%3E%3Cg id='be1d69bd-44ac-4e55-8a36-be0463cfd422' data-name='Calque 1'%3E%3Cpath d='M10.6.8l-5,3.75L.6.8' fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center 6px;
				background-size: 10px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 12px;
				width: 20px;
				height: 20px;
				background-color: #7000FF;
				border: 2px solid #ffffff;
				border-radius: 50%;
			}
		}
	}
	
	.scrolling-text {
		padding: 10px 0;
		overflow: hidden;
	}
	.scrolling-text-container {
		width: 2350px;
		p {
			margin: 0;
		}
		.text-size-1 {
			font-size: 20px;
			line-height: 1.6;
		}
		
		&.rtl-scroll {
			will-change: transform;
			&.animate {
				animation: SlideRTL 185s linear 150ms infinite;
			}
		}
		&.ltr-scroll {
			will-change: transform;
			transform: translateX(-40%);
			@include desktop {
				transform: translateX(-10%);
			}
			&.animate {
				animation: SlideLTR 185s linear 150ms infinite;
				@include desktop {
					animation: SlideLTRdesk 185s linear 150ms infinite;
				}
			}
		}
	}
}

.fadeout-splash {
	background-color: rgba(255,255,255,0);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10004;
	left: 0;
	visibility: hidden;
	opacity: 0;
	&.animate {
		visibility: visible;
		opacity: 1;
		background-color: rgba(255,255,255,1);
		transition: background-color 1000ms cubic-bezier(.645,.045,.355,1);
	}
}

@keyframes SlideRTL {
	from {
			transform: translateX(0);
	}

	to {
			transform: translateX(-40%);
	}
}

@keyframes SlideLTR {
	from {
			transform: translateX(-40%);
	}

	to {
			transform: translateX(0%);
	}
}
@keyframes SlideLTRdesk {
	from {
			transform: translateX(-10%);
	}

	to {
			transform: translateX(30%);
	}
}