@import "assets/css/core";


//=============
html {
	scroll-behavior: smooth;
}
.page .inner-wrap {
	background-color: rgb(0,0,0);
}
.footer-description {
	display: none;
}
.footer {
	margin-top: 0;
	background-color: rgb(255,255,255);
}
.section-main-container {
	width: 100%;
	max-width: none;
	margin: 0 auto !important;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}
// variables
:root {
	--fix-vh-height: 86.75vh;
	--fix-col-visu-height: 51.25vh;
	--fix-col-content-height: calc(86.75vh - var(--fix-col-visu-height));
	--col-visu-height: 56.25vh;
	--col-content-height: calc(100vh - var(--col-visu-height));
}

.microverse-app {
	z-index: 100000;
	padding: 0;
	border: none;
	margin: 0 auto;
	left: 0; right: 0;
	width: 100%;
	max-width: none;
	margin: 0 auto !important;
	min-height: 100vh;
	@supports (-webkit-touch-callout: none) {
		min-height: var(--fix-vh-height);
	} 
}
.is-fixed-top {
	position: fixed !important;
	top: 0;
	z-index: 100000;
}