@import "assets/css/core";
.section-main-container {
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}
#header {
	display: none;
}
footer.footer {
	display: block;
	z-index: 9;
	position: relative;
	background-color: #fff;
	margin: 0;
}

@keyframes blink {
	0% {
		top: 47%;
	}
	50% {
		top: 48%;
	}
	100% {
		top: 47%;
	}
}

.reveal-loaded {
	.content-cartouches {
		[class*=cartouche-][class*=reveal-] {
			opacity: 1;
		}
	}
}

.great-store-of-all {
	.back-button {
		position: fixed;
		z-index: 100;
		top: 20px;
		right: 20px;
		background-color: rgba(255, 255, 255, 0.7);
		color: #000;
		font-size: 14px;
		letter-spacing: 0.8px;
		min-width: auto;
		padding: 6px 11px;
		border: none;
	}
	
	.div-fixed {
			left: 50%;
			z-index: 6;
			position: fixed;
			top: 47%;
			transform: translateX(-50%);
			width: 48px;
			height: 48px;
			a {
				opacity: 0;
			}
			&.show-arrow {
				animation: blink 1.25s ease-in-out 0ms infinite;
				a {
					opacity: .9;
					transition: opacity 2s ease-out 2s;
				}
			}
	}
	.button-anchor_b {
		svg {
			stroke: #fbff37;
			position: absolute;
			width: 48px;
			height: 48px;
			transition: all .3s ease;
		}
	}
	p {
		@include widescreen {
			font-family: glbadercompress-black;
		}
	}
	.intro {
		z-index: 4;
	}
	.content-cartouches {
		padding-top: 60px;	
		@include fullhd {
			padding-top: 99px;
		}
		[class*=cartouche-] {
			opacity: 0;
			@include mobile {
				font-size: 20px;
				border-width: 3px;
			}
			@include widescreen {
				padding: 0px 22px 4px;
				font-size: 54px;
			}
			@include fullhd {
				font-size: 64px;
			}
		}
		.cartouche-01 {
			left: 5%;
			@include widescreen {
				left: 12%;
			}
			@include fullhd {
				top: 15%;
				left: 17%;
			}
		}
		.cartouche-02 {
			left: 20%;
			@include widescreen {
				left: 28%;
			}
			@include fullhd {
				top: 15%;
			}
		}
		.cartouche-03 {
			right: 30%;
			@include widescreen {
				right: 33%;
			}
			@include fullhd {
				top: 15%;
			}
		}
		.cartouche-04 {
			top: auto;
			right: 5%;
			left: auto;
			@include widescreen {
				right: 12%;
			}
			@include fullhd {
				top: 15%;
				right: 17%;
			}
		}
		.cartouche-05 {
			top: 105px;
			left: 5%;
			right: auto;
			@include tablet {
				top: 156px;
			}
			@include widescreen {
				left: 12%;
			}
			@include fullhd {
				left: 17%;
				top: 85%;
			}
		}
		.cartouche-06 {
			top: 105px;
			left: 34%;
			@include tablet {
				top: 156px;
			}
			@include widescreen {
				left: 38%;
			}
			@include fullhd {
				top: 85%;
			}
		}
		.cartouche-07 {
			top: 105px;
			right: 26%;
			@include tablet {
				top: 156px;
			}
			@include widescreen {
				right: 33%;
			}
			@include fullhd {
				top: 85%;
			}
		}
		.cartouche-08 {
			top: 105px;
			right: 5%;	
			@include tablet {
				top: 156px;
			}
			@include widescreen {
				right: 12%;
			}
			@include fullhd {
				right: 17%;
				top: 85%;
			}
		}
	}
	
	.hero-image-container {
		height: 100%;
		transition: opacity 500ms ease-out;
	}
	.hero_M {
		transform: scale(1.5);
		opacity: 0;
		background-position: center top;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/grand-magasin-bonne-annee/hero_M.jpg'); 
		@include desktop {
			background-position: center -100px;
		}
		@include widescreen {
			display: none;
		}
		&.show-image {
			opacity: 1;
			transform: scale(1);
			transition: all 2s ease-out 850ms;
		}
	}
	.hero_D {
		display: none;
		@include widescreen {
			display: block;
			transform: scale(1.5);
			opacity: 0;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/grand-magasin-bonne-annee/hero_D.jpg'); 
		}	
		&.show-image {
			opacity: 1;
			transform: scale(1);
			transition: all 2s ease-out 850ms;
		}
	}
	.hero_logo {
		top: 62%;
		left: 8%;
		width: 108%;
		transform-origin: bottom;
		@media screen and (min-width: 425px) {
			top: 64%;
			width: 110%;
		}
		@include tablet {
			top: 70%;
			left: 5%;
			width: 600px;
			transform-origin: center;
		}
		@include desktop {
			top: 58%;
			width: 800px;
		}
		@include widescreen {
			top: 50%;
			@media screen and (min-height: 900px) {
				top: 55%;
			}
			width: 900px;
		}
		a {
			display: block;
			opacity: 0;
			&.show-logo {
				opacity: 1;
				transition: all 1.5s ease-out 2.65s;
			}
		}
	}
	
	.part02 {
		padding: 0 32px;
		position: relative;
		z-index: 5;
		@include widescreen {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100vh;
		}
		p {
			@include touch {
				text-transform: uppercase;
			}
		}
		.button {
			//display: none;
			position: fixed;
			z-index: 1000;
			bottom: -40px;
			left: 0; right: 0;
			margin: auto;
			font-size: 16px;
			min-width: auto;
			width: 148px;
			padding: 13px 23px;
			text-align: left;
			transition: bottom 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
			// @include widescreen {
			// 	display: block;
			// }
			&.show-button {
				bottom: 5%;
			}
			&.is-yellow {
				color: #000;
				background-color: #FBFF37;
				border: none;
				&:after {
					content: "";
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.01 19.02'%3E%3Ctitle%3Eplay%3C/title%3E%3Cg id='ea278175-8c2b-4113-a31d-c9800f4546da' data-name='Calque 2'%3E%3Cg id='b98dccb8-680e-4010-8a04-1c9552989868' data-name='Calque 1'%3E%3Cpath d='M15.71,9.19l-15-9A.38.38,0,0,0,.12.5v18a.38.38,0,0,0,.57.32l15-9A.37.37,0,0,0,15.71,9.19Z' fill='%23FBFF37' stroke='%23FBFF37' stroke-width='0.25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-position: 6px 5px;
					background-size: 6px;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					right: 18px;
					width: 16px;
					height: 16px;
					background-color: #000000;
					border-radius: 50%;
				}
			}
		}
		.videoContainer, .txt-container {
			@include widescreen {
				opacity: 0;
				position: absolute;
			}
		}
		.txt-container {
			@include widescreen {
				width: 600px;
				height: 800px;
				top: 35%;
				left: 0; right: 0;
				margin: auto;
				transform: scale(1.8);
				transform-origin: top;
			}
		}
		.small-video01 {
			@include widescreen {
				top: 35%;
				right: 40px;
				transform: scale(1.3);
				transform-origin: bottom;
			}
		}
		.small-video02 {
			@include widescreen {
				top: 38%;
				left: 50px;
				transform: scale(1.2);
				transform-origin: bottom;
			}
		}
		.small-video03 {
			@include widescreen {
				top: 75%;
				left: 2%;
				transform: scale(1.4);
				transform-origin: top;
			}
		}
		.small-video04 {
			@include widescreen {
				top: 60%;
				right: 1%;
				transform: scale(1.1);
				transform-origin: top;
			}
		}
	}
	
	.part03 {
		z-index: 7;
		@include widescreen {
			margin-top: 1000px;
			padding-bottom: 100px;
			height: 100vh;
		}
		h2 {
			@include widescreen {
				position: absolute;
				top: 5%;
				left: 0; right: 0;
				margin: auto;
			}
		}
		.videoContainer {
			@include widescreen {
				position: relative;
				height: 80%;
				top: 10%;
				z-index: 1;
			}
		}
		.video_wrapper {
			@include widescreen {
				transform-origin: center;
				height: 100%;
				position: absolute;
				left: 0; right: 0;
				margin: auto;
			}
			.video_M {
				@include tablet {
					display: none;
				}
			}
			.video_T {
				display: none;
				@include tablet {
					display: block;
				}
				@include widescreen {
					display: none;
				}
			}
			.video_D {
				display: none;
				@include widescreen {
					display: block;
				}
			}
			iframe {
				left: 0;
				right: 0;
				margin: auto;
				width: 89vw;
				@include tablet {
					width: 90%;
					border-radius: 0;
				}
			}
		}
		.mention {
			@include widescreen {
				position: absolute;
				bottom: 5%;
				left: 0; right: 0;
				margin: auto;
			}
		}
	}
	
	.part04 {
		background: #fbff37;
		padding: 54px 0;
		position: relative;
		z-index: 100;
		@include widescreen {
			margin-top: -100vh;
		}
		h2 {
			color: #132b3f;
		}
		.wrapper {
			li {
				span {
					bottom: 38px;
					@include tablet {
						bottom: 226px;
					}
					&:after {
						top: 4px;
					}
				}
			}
		}
	}
}