@import "assets/css/core";
@import "assets/css/components/flickty";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.reveal-modal {
	&.opened {
		width: 360px;
		padding: 30px 20px;
		min-height: 50vh;
		@media only screen and (max-width: 768px) {
			left:50%;
			transform: translateX(-50%)
		}
		h3 {
			font-size: 30px;
			line-height: 1.17;
			letter-spacing: -1px;
			font-family: GLBaderCompress-Black;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		p {
			font-family: GL_Bader_Narrow-Regular;
			line-height: 1.5;
		}
		ol {
			margin: 30px 0;
			list-style: none;
			counter-reset: the-counter;
			li {
				margin-bottom: 20px;
				padding-left: 40px;
				position: relative;
				counter-increment: the-counter;
				&:before {
					content: counter(the-counter) " ";
					position: absolute;
					left: 0;
					font-family: GLBaderCompress-Black;
					font-size: 40px;
					line-height: 1;
					color: #7EB4B8;
				}
			}
		}
		.button {
			font-size: 16px;
			font-family: GLBaderCompress-Black;
			min-width: auto;
			margin: 0 auto;
		}
	}
	.close-reveal-modal {
		right: 10px;
	}
}

.lp-container{
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	position: relative;
	overflow: hidden;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	.boxed-text {
		line-height: 1;
		display: inline;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 0;
		> span {
			display: inline-block;
			background-color: #fff;
			border: 5px solid #000;
			padding: 6px 11px 8px;
			position: relative;
			@include widescreen {
				border-width: 6px;
				padding: 8px 18px 10px;
			}
		}
		+ .boxed-text,
		+ p {
			margin-top: 16px;
			clear: both;
		}
		sub.r {
			font-family: Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-size: 25%;
			bottom: 0em;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
	}
	h1{
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 72px;
			letter-spacing: 0;
		}
	}
	h2 {
		font-size: 34px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 50px;
			letter-spacing: -1px;
		}
	}
	h3 {
		font-size: 30px;
		letter-spacing: -.5px;
		line-height: 1;
		margin-bottom: 20px;
		@include widescreen {
			font-size: 60px;
			letter-spacing: -1px;
			margin-bottom: 30px;
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.43;
		@include widescreen {
			font-size: 20px;
			margin-bottom: 25px;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 100%;
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.has-text-white {
		color: #ffffff;
	}
	.has-text-left-mobile {
		@include mobile {
			text-align: left;
		}
	}
	.is-fullheight {
		height: 100%;
	}
	.bg-video {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
		height: 100%;
		width: 100%;
	}
	
	.lp-hero-video {
		position: relative;
		z-index: 3;
		.title {
			position: absolute;
			z-index: 1;
			width: 100%;
			bottom: 100px;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include tablet {
				bottom: 160px;
			}
			@include desktop {
				bottom: 280px;
			}
			@include fullhd {
				bottom: 300px;
			}
			img {
				width: 100%;
				transform: scale(1.005);
			}
		}
		.col-visu {
			min-height: 360px;
			@include tablet {
				min-height: 580px;
			}
			@include desktop {
				height: calc(100vh - 100px);
				margin-top: 0;
				@supports (-webkit-touch-callout: none) {
					min-height: 75vh;
				}
			}
			.video-container {
				position: absolute;
				overflow: hidden;
				width: 100%;
				height: 100%;
				top: 0; bottom: 0; left: 0; right: 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/splash_hero.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/splash_hero@2x.jpg');
				}
				.video {
					width: 335%;
					height: 100%;
					min-width: 100%;
					margin: 0 auto;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					@media screen and (min-height: 700px) {
						width: 360%;
					}
					@media screen and (min-width: 375px) {
						width: 320%;
						@media screen and (min-height: 700px) {
							width: 400%;
						}
					}
					@include tablet {
						width: 220%;
					}
					@include desktop {
						min-height: 100vw;
						width: 180%;
					}
					@include fullhd {
						width: 150%;
					}
				}
			}
		}	
	}
	.lp-hero {
		position: relative;
		z-index: 1;
		padding: 40px 8px 30px;
		@include desktop {
			padding-top: 50px;
		}
		p {
			font-size: 22px;
			font-family: 'GLBaderCompress-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			@include widescreen {
				font-size: 30px;
			}
		}
		.buttons {
			display: flex;
			justify-content: left;
			overflow: auto;
			margin: 20px -8px 0;
			@include tablet {
				justify-content: center;
				padding: 0;
			}
		}
		.button {
			@include fullhd {
				font-size: 20px;
			}
		}
	}
	
	.scroller {
		position: relative;
	}

	.lp-body {
		position: relative;
		z-index: 2;
		padding: 40px 8px;
		text-align: left;
		@include desktop {
			padding: 50px 30px;
		}
		@include widescreen {
			padding: 70px;
		}
		.content {
			padding-top: 10px;
		}
		
		.image-container {
			display: block;
			&:hover {
				img {
					@include desktop {
						transform: scale(1.05);	
					}
				}
			}
		}
	}
	
	.selections {
		border-top: 1px solid #cbcbcb;
		
		img {
			transition: all .4s ease;
		}
		.selection-1 {
			margin-top: 50px;
			margin-bottom: -10px;
			@include tablet {
				margin-bottom: 40px;
			}
			@include desktop {
				margin-bottom: 56px;
			}
			.main {
				height: 294px;
				overflow: hidden;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				@include tablet {
					height: 400px;
				}
				@include desktop {
					height: 600px;
				}
				img {
					height: 100%;
				}
			}
			.selection {
				margin-bottom: 16px;
				@include tablet {
					height: 400px;
					margin-bottom: 40px;
				}
				@include desktop {
					height: 600px;
					margin-bottom: 80px;
				}
				@include fullhd {
					margin-bottom: 104px;
				}
				&.aigle {
					.main {
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/fond_aigle.jpg');
						@media
						only screen and (-webkit-min-device-pixel-ratio: 2),
						only screen and (   min--moz-device-pixel-ratio: 2),
						only screen and (   -moz-min-device-pixel-ratio: 2),
						only screen and (     -o-min-device-pixel-ratio: 2/1),
						only screen and (        min-device-pixel-ratio: 2),
						only screen and (                min-resolution: 192dpi),
						only screen and (                min-resolution: 2dppx) {
							background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/fond_aigle@2x.jpg');
						}
					}
				}
				&.courreges {
					.main {
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/fond_courreges.jpg');
						@media
						only screen and (-webkit-min-device-pixel-ratio: 2),
						only screen and (   min--moz-device-pixel-ratio: 2),
						only screen and (   -moz-min-device-pixel-ratio: 2),
						only screen and (     -o-min-device-pixel-ratio: 2/1),
						only screen and (        min-device-pixel-ratio: 2),
						only screen and (                min-resolution: 192dpi),
						only screen and (                min-resolution: 2dppx) {
							background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/fond_courreges@2x.jpg');
						}
					}
				}
				&.marc-o-polo {
					.main {
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/fond_marc-o-polo.jpg');
						@media
						only screen and (-webkit-min-device-pixel-ratio: 2),
						only screen and (   min--moz-device-pixel-ratio: 2),
						only screen and (   -moz-min-device-pixel-ratio: 2),
						only screen and (     -o-min-device-pixel-ratio: 2/1),
						only screen and (        min-device-pixel-ratio: 2),
						only screen and (                min-resolution: 192dpi),
						only screen and (                min-resolution: 2dppx) {
							background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/fond_marc-o-polo@2x.jpg');
						}
					}
				}
			}
			.content {
				background-color: #f0f0f0;
				padding: 10px 10px 35px;
				@include tablet {
					height: 100%;
					padding: 10px 20px 35px;
				}
				@include desktop {
					padding: 15px 20px 20px;
				}
				@include widescreen {
					padding: 20px 30px;
				}
				@include fullhd {
					padding: 40px 35px 20px;
				}
				h3 {
					@include desktop {
						position: relative;
						z-index: 1;
					}
				}
			}
			
			.slider-pdt {
				@include desktop {
					display: block;
					position: absolute;
					height: 402px;
					width: 368px;
					top: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
				&:after {
					content: '';
					@include desktop {
						content: 'flickity';
						display: none;
					}
				}
				.pdt {
					@include desktop {
						flex: none;
						max-width: none;
					}
					.image {
						@include desktop {
							height: 402px;
							width: 368px;
						}
					}	
				}
				.flickity-prev-next-button {
					width: 30px;
					padding: 0;
					border-radius: 0;
					background: transparent;
					&:after {
						content: " ";
						display: block;
						width: 30px;
						height: 14px;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 14.46'%3E%3Ctitle%3EFichier 1%3C/title%3E%3Cg id='a71ec316-894f-4487-8d31-2e9abdd7d877' data-name='Calque 2'%3E%3Cg id='e5778355-0b9f-4915-8d74-8336b84caecc' data-name='Calque 1'%3E%3Cpath d='M20.72,1.2l5.69,5.18H0v1.7H26.41l-5.69,5.18L22,14.46l8-7.23L22,0Z' fill='%237c7c7c' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
					.flickity-button-icon {
						display: none;
					}
					&.previous {
						left: -40px;
						&:after {
							transform: rotate(180deg);
						}	
					}
					&.next {
						right: -40px;
					}
				}
				.flickity-page-dots {
					bottom: -10px;
					.dot {
						background-color: transparent;
						width: 7px;
						height: 7px;
						border: 1px solid #7C7C7C;
						opacity: 1;
						margin: 0 2px;
						&.is-selected {
							background-color: #7C7C7C;
							width: 7px;
							height: 7px;
							margin-bottom: 0;
						}
					}
				}
			}
			.content-bottom {
				@include mobile {
					margin-top: 20px;
				}
				@include tablet {
					position: absolute;
					bottom: 22px;
					margin-right: 20px;
				}
				@include desktop {
					bottom: 35px;
				}
				@include widescreen {
					margin-right: 30px;
				}
				@include fullhd {
					margin-right: 35px;
				}
				p {
					margin-bottom: 14px;
				}
			}
		}
		
		.selection-2 {
			@include tablet {
				padding: 0;
			}
			> .luxe-row {
				@include desktop {
					margin-left: -30px;
					margin-right: -30px;
				}
				@include widescreen {
					margin-left: -76px;
					margin-right: -76px;
				}
			}
			.luxe-middle-mobile {
				@include mobile {
					margin-top: 44px; 
				}
			}
			.selection {
				@include widescreen {
					padding-left: 14px;
					padding-right: 14px;
				}
			}
			.mode {
				.papillon {
					position: absolute;
					z-index: 1;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/papillon.png');
					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (   -moz-min-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2),
					only screen and (                min-resolution: 192dpi),
					only screen and (                min-resolution: 2dppx) {
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/papillon@2x.png');
					}
				}
				.papillon-1 {
					height: 89px;
					width: 62px;
					top: 0;
					right: 50px;			
					transform: rotate(-3deg);
					z-index: 1;
					@include tablet {
						top: -20px;
						right: 35%;
					}
					@include desktop {
						height: 193px;
						width: 134px;
						top: -70px;
						right: 22%;
					}
					@include widescreen {
						top: -58px;
						right: 112px;
					}
					@include fullhd {
						right: 146px;
					}
				}
				.papillon-2 {
					height: 147px;
					width: 102px;
					top: -72px;
					left: 85%;
					transform: scaleX(-1) rotate(-10deg);			
					@include tablet {
						top: 5px;
						right: -40px;
						left: auto;
					}
					@include desktop {
						height: 254px;
						width: 176px;
						top: 7px;
						right: -104px;
					}
					@include widescreen {
						height: 310px;
						width: 215px;
						right: -120px;
					}
					@include fullhd {
						right: -90px;
					}
				}
			}
			.image {
				height: 314px;
				@include tablet {
					height: 360px;
					overflow: hidden;
				}
				@include desktop {
					height: 430px;
				}
				@include widescreen {
					height: 520px;
				}
				&.is-go-for-good {
					&:before {
						content: "";
						height: 20px;
						width: 72px;
						position: absolute;
						z-index: 1;
						top: 0;
						left: 0;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/logo_goforgood.png');
						@media
						only screen and (-webkit-min-device-pixel-ratio: 2),
						only screen and (   min--moz-device-pixel-ratio: 2),
						only screen and (   -moz-min-device-pixel-ratio: 2),
						only screen and (     -o-min-device-pixel-ratio: 2/1),
						only screen and (        min-device-pixel-ratio: 2),
						only screen and (                min-resolution: 192dpi),
						only screen and (                min-resolution: 2dppx) {
							background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/logo_goforgood@2x.png');
						}
						@include widescreen {
							width: 134px;
							height: 37px;
						}
					}
				}
				img {
					display: block;
					object-fit: cover;
					min-height: 100%;
					width: 100%;
					height: 100%;
				}
			}
			.image-container {
				position: relative;
				bottom: -60px;
			}
			.content {
				@include tablet {
					margin-top: -28px;
					padding-left: 15px;
					padding-right: 15px;
				}
				@include widescreen {
					margin-top: -45px;
					padding-left: 10px;
					padding-right: 10px;
				}
				@include fullhd {
					padding-left: 30px;
					padding-right: 30px;
				}
				
				p {
					@include tablet {
						min-height: 92px;
					}
					@include desktop {
						min-height: 68px;
					}
					@include widescreen {
						min-height: 85px;
					}
				}
			}
		}
	}
	
	.vacades {
		border-top: 1px solid #cbcbcb;
		border-bottom: 1px solid #cbcbcb;
		padding-top: 0;
		padding-bottom: 20px;
		z-index: 1;
		@include widescreen {
			padding-bottom: 30px;
		}
		.video-container {
			position: relative;
			overflow: hidden;
			display: block;
			height: 0;
			padding: 0 0 56.25% 0;
			margin-bottom: 30px;
		}
		p {
			font-size: 18px;
			@include widescreen {
				font-size: 20px;
			}
		}
	}
	
	.engagements {
		.slider-engagements {
			
			@include touch {
				display: block;
				height: 298px;
			}
			margin: 40px -8px 0;
			@include tablet {
				margin: 50px -8px 0;
			}
			@include fullhd {
				margin-left: -20px;
				margin-right: -20px;
			}
			&:after {
				content: 'flickity';
				display: none;
				@include desktop {
					content: '';
				}
			}
		
			.engagement {
				padding: 0 12px;
				@include fullhd {
					padding: 0 20px;
				}
				.engagement-container {
					height: 298px;
					width: 245px;
					border: 1px solid #7EB4B8;
					border-radius: 28px;
					padding: 20px 30px;
					@include desktop {
						width: auto;
					}
					@include widescreen {
						height: 347px
					}
					@include fullhd {
						padding-top: 26px;
						padding-left: 52px;
					}
					.title {
						font-size: 26px;
						line-height: .8;
						@include desktop {
							line-height: 1;
							font-size: 24px;
							margin-left: -14px;
						}
						@include fullhd {
							font-size: 26px;
							margin-left: -22px;
						}
					}
					.number {
						font-size: 70px;
						min-height: 70px;
						line-height: 1;
						margin-bottom: 14px;
						color: #7EB4B8;
						position: relative;
						@include widescreen {
							font-size: 94px;
							min-height: 94px;
						}
						sup {
							font-size: 43%;
							top: -30px;
							@include widescreen {
								font-size: 70%;
								top: -18px;
								left: 10px;
							}
						}
					}
				}
			}
		}
	}
	
	.arrondi {
		.image {
			height: 404px;
			margin: -40px -10px 0;
			@include tablet {
				margin: -40px 0 20px;
			}
			@include desktop {
				margin: -50px 0 20px;
			}
			@include widescreen {
				height: 472px;
				margin: -70px 0 30px;
			}
			img {
				object-fit: cover;
				min-height: 100%;
				width: 100%;
				height: 100%;
				@include tablet {
					width: auto;
				}
				@include desktop {
					padding-left: 38px;
				}
				@include widescreen {
					padding-left: 58px;
				}
				@include fullhd {
					padding-left: 78px;
				}
			}
		}
		.content {
			padding-top: 20px;
			@include tablet {
				padding-right: 30px;
			}
			@include desktop {
				padding-right: 30px;
			}
			@include widescreen {
				padding-right: 50px;
			}
			@include fullhd {
				padding-right: 70px;
			}
		}
	}
	.re-store {
		overflow: hidden;
		.image {
			overflow: hidden;
			height: 413px;
			margin: -40px -10px 0;
			@include tablet {
				margin: -40px 0;
			}
			@include desktop {
				margin: -50px 0;
			}
			@include widescreen {
				height: 590px;
				margin: -70px 0;
			}
			@include fullhd {
				height: 570px;
			}
			img {
				object-fit: cover;
				min-height: 100%;
				width: 100%;
				height: 100%;
				transition: all .4s ease;
			}
		}
		.content {
			@include mobile {
				padding-top: 40px;
			}
			@include desktop {
				padding-left: 30px;
			}
			@include widescreen {
				padding-left: 50px;
			}
			@include fullhd {
				padding-left: 70px;
			}
		}
		h3 {
			margin-top: 30px;
		}
	}
	
	.univers {
		background-color: #3F7A60;
		padding: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/bg_papillons_b_M.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/bg_papillons_b_M@2x.jpg');
		}
		@include tablet {
			padding: 48px;
		}
		@include desktop {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/bg_papillons_b_D.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/bg_papillons_b_D@2x.jpg');
			}
		}
		@include widescreen {
			padding: 110px;
		}
		.univers-cta {
			display: block;
			width: 230px;
			margin: 32px auto;
			@include mobile {
				text-align: left;
			}
			@include tablet {
				width: 100%;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.boxed-text {
			@include tablet {
				max-width: none;
				display: inline-flex;
			}
			@include fullhd {
				font-size: 96px;
			}
			> span {
				&:first-child {}
				&:nth-child(2) {
					@include mobile {
						border-top: none;
						top: -5px;
					}
				}
				&:last-child {
					background-color: #ffffff;
					top: 0;
					@include tablet {
						top: 0;
						left: -5px;
					}
					@include widescreen {
						left: -9px;
					}
				}
			}
		}
	}
	
	.alt-button {
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 8px;
		&:hover {
			text-decoration: none;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: #000000;
		}
		.icon {
			position: relative;
			width: 16px;
			height: 9px;		
			display: inline-block;
			top: -1px;
			margin-left: 8px;
		}
		.has-arrow {
			
			&:after {
				content: "";
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0; bottom: 0; left: 0; right: 0;
				margin: auto;
			}
		}
	}
	
	.button {
		font-size: 16px;
		margin-bottom: 0;
		&.has-icon {
			min-width: auto;
			font-size: 14px;
			padding: 9px 24px 14px;
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: 2px;
			}
		}
		&.outlined {
			min-width: auto;
			padding: 12px 24px 12px;
		}
		&.primary {
			.has-arrow {
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 16px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
		&.inverted {
			background-color: transparent;
			color: #000000;
			border-color: #000000;
			&.outlined {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						position: absolute;
						width: 16px;
					}
				}
				&:hover {
					border-color: #ffffff;
				}
			}
		}
	}
	
	div[class^="halo-"] {
		position: absolute;
		z-index: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.halo-top-selections {
		top: -170px;
		left: -730px;
		width: 1500px;
		height: 1500px;
		transform: rotate(120deg);
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/forme-degrade.png');
		@include tablet {
			top: -220px;
			left: -680px;
		}
		@include desktop {
			left: -650px;
		}
		@include widescreen {
			top: -130px;
			left: -530px;
		}
		@include fullhd {
			top: -140px;
		}
	}
	.halo-mid-selections {
		top: 760px;
		right: -660px;
		width: 1740px;
		height: 1740px;
		transform: rotate(177deg);
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/forme-rose.png');
		@include tablet {
			top: 440px;
		}
		@include desktop {
			top: 860px;
			right: -580px;
		}
		@include widescreen {
			top: 970px;
		}
		@include fullhd {
			top: 1030px;
		}
	}
	.halo-bottom-selections {
		top: 1570px;
		left: -1200px;
		width: 2170px;
		height: 2170px;
		transform: rotate(120deg);
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/forme-degrade.png');
		@include tablet {
			top: 780px;
			left: -880px;
		}
		@include desktop {
			top: 1480px;
			left: -750px;
		}
		@include widescreen {
			top: 1560px;
			left: -650px;
		}
		@include fullhd {
			top: 1610px;
			left: -540px;
		}
	}
	.halo-video {
		top: -470px;
		left: -900px;
		width: 1500px;
		height: 1500px;
		transform: rotate(120deg);
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/nature-urbaine/forme-degrade.png');
		@include tablet {
			top: -460px;
			left: -630px;
		}
		@include desktop {
			top: -400px;
		}
		@include widescreen {
			top: -390px;
			left: -560px;
		}
	}
	
	.is-animated {
		bottom: -80px;
		opacity: 0;
		transition: opacity 600ms cubic-bezier(.645,.045,.355,1), bottom 400ms cubic-bezier(.645,.045,.355,1);
		&.visible {
			opacity: 1;
			bottom: 0;
		}
	}
		
	&.has-js {

	}
}