@import "assets/css/core";
@import "assets/css/components/flickty";

.section-main-container {
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}
.app-container, header, .header--shadow, .footer-description,
#header {
	display: none;
} 
.back-top {
	display: none !important;
}
footer.footer {
	display: block;
	z-index: 9;
	position: relative;
	background-color: #fff;
	margin: 0;
}
@keyframes blink {
	0% {
		bottom: 8%;
	}
	50% {
		bottom: 9%;
	}
	100% {
		bottom: 8%;
	}
}
@keyframes anim-planete {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes anim-nordman-mobile {
	0% {
		left: -40%;
		top: 50%;
	}
	25% {
		left: 40%;
		top: 35%;
		transform: scale(.5);
	}
	50% {
		left: 120%;
		top: 50%;
		transform: scale(1);
	}
	51% {
		transform: scale(1) scaleX(-1);
	}
	75% {
		left: 40%;
		top: 85%;
		transform: scale(1.25) scaleX(-1);
	}
	99% {
		transform: scale(1.25) scaleX(-1);
	}
	100% {
		left: -50%;
		top: 55%;
	}
}
@keyframes anim-nordman {
	0% {
		left: -20%;
		top: 50%;
	}
	25% {
		left: 50%;
		top: 30%;
		transform: scale(.5);
	}
	50% {
		left: 120%;
		top: 50%;
		transform: scale(1);
	}
	51% {
		transform: scale(1) scaleX(-1);
	}
	75% {
		left: 50%;
		top: 90%;
		transform: scale(1.25) scaleX(-1);
	}
	99% {
		transform: scale(1.25) scaleX(-1);
	}
	100% {
		left: -30%;
		top: 55%;
	}
}
.lp-container {
	position: relative;
	background-color: #091857;
	margin: 0 auto;
		
	.container {
		max-width: 1440px;
		left: 0; right: 0; top: 0; bottom: 0;
		margin: auto;
	}
	.back-button {
		position: fixed;
		z-index: 100;
		top: 20px;
		right: 20px;
		background-color: rgba(255, 255, 255, 0.7);
		color: #000;
		font-size: 14px;
		letter-spacing: 0.8px;
		min-width: auto;
		padding: 6px 11px;
		border: none;
	}
	
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
		color: #ffffff;
	}
	h1 {
		font-size: 96px;
		line-height: 96px;
		letter-spacing: 4px;
		margin-bottom: 100px;
		text-transform: uppercase;
		@include desktop {
			margin-bottom: 60px;
		}
	}
	h2 {
		text-transform: uppercase;
		font-size: 40px;
		line-height: 64px;
		letter-spacing: 2px;
		@include widescreen {
			font-size: 64px;
		}
	}
	.is-fullheight {
		height: 100%;
	}
	
	.lp-logo {
		margin-bottom: -50vh;
		z-index: 10;
		// @include touch {
		// 	@supports (-webkit-touch-callout: none) {
		// 		margin-bottom: -43.75vh;
		// 	}
		// }
		@include desktop {
			margin-bottom: -500vh;
		}
	}
	.hero_logo {
		opacity: 0;
		position: absolute;
		z-index: 5;
		top: 0; left: 0; right: 0;
		margin: auto;
		width: 250px;
		transform: rotate(33deg);
		@include desktop {
			top: -290px;
			width: 380px;
			@media screen and (min-height: 900px) {
				width: 480px;
				transform: rotate(33deg) translate3d(-10px, -30px, 0px);
			}
			@media screen and (min-height: 1150px) {
				width: 530px;
				transform: rotate(33deg) translate3d(-10px, -50px, 0px);
			}
		}
		&.reveal-anim {
			top: 0;
			opacity: 1;
			transition: all 1s ease-out 2000ms;
			@include desktop {
				top: -118px;
				opacity: 1;
				transition: all 400ms ease-out 1800ms;
			}
		}
	}
	
	.lp-hero {
		height: 100vh;
		// @include touch {
		// 	@supports (-webkit-touch-callout: none) {
		// 		height: 86.75vh;
		// 	}
		// }
		.lp-hero-anim {
			position: relative;
			&-logo,
			&-planete,
			&-nordman,
			&-bg {
				
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			&-logo {
				opacity: 0;
				width: 245px;
				height: 150px;
				z-index: 3;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/planete-sapin-logo.png');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/planete-sapin-logo@2x.png');
				}
				@include desktop {
					width: 390px;
					height: 239px;
				}
				@include widescreen {
					width: 460px;
					height: 282px;
				}
				@include fullhd {
					width: 538px;
					height: 329px;
				}
			}
			&-planete {
				opacity: 0;
				transform: scale(0) rotate(15deg);
				width: 275px;
				height: 281px;
				z-index: 2;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/planete-sapin.png');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/planete-sapin@2x.png');
				}
				@include desktop {
					width: 475px;
					height: 485px;
				}
				@include widescreen {
					width: 600px;
					height: 613px;
				}
				@include fullhd {
					width: 725px;
					height: 742px;
				}
			}
			&-nordman {
				opacity: 0;
				width: 150px;
				height: 90px;
				z-index: 1;
				top: auto; left: auto; bottom: auto; right: auto;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/nordman-fusee.png');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/nordman-fusee@2x.png');
				}
				@include desktop {
					width: 190px;
					height: 114px;
				}
				@include widescreen {
					width: 260px;
					height: 156px;
				}
				@include fullhd {
					width: 325px;
					height: 195px;
				}
			}
			&-bg {
				opacity: 0;
				transform: scale(1.5) rotate(-5deg);
				z-index: 0;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/bg-anim.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/bg-anim@2x.jpg');
				}
			}
			
			.lp-hero-anim-container-nordman {
				height: 100%;
				width: 100%;
				margin: auto;
				position: absolute;
				z-index: 1;
				top: auto; left: auto; bottom: auto; right: auto;
			}
			.lp-hero-anim-container-planete {
				height: 100%;
				margin: auto;
				position: absolute;
				z-index: 3;
				top: 0; left: 0; bottom: 0; right: 0;
			}
			
			&.reveal-anim {
				.lp-hero-anim-bg {
					opacity: 1;
					transform: scale(1) rotate(0);
					transition: all 1.6s ease-out 800ms;
				}
				.lp-hero-anim-planete {
					opacity: 1;
					transform: scale(1) rotate(0);
					transition: all 1.2s cubic-bezier(0.2, 0.25, 0.25, 2) 2200ms;
					animation: anim-planete 30s linear 3400ms infinite;
				}
				.lp-hero-anim-logo {
					opacity: 1;
					transition: all 850ms linear 3400ms;
				}
				.lp-hero-anim-nordman {
					opacity: 1;
					transition: all 400ms linear 3400ms;
					animation: anim-nordman-mobile 7s linear 3400ms infinite;
					@include desktop {
						animation: anim-nordman 7s linear 3400ms infinite;
					}
				}
			}
		}
		
		.div-fixed {
				left: 50%;
				z-index: 6;
				position: fixed;
				bottom: 8%;
				transform: translateX(-50%);
				width: 48px;
				height: 48px;
				a {
					opacity: 0;
				}
				&.show-arrow {
					animation: blink 1.25s ease-in-out 0ms infinite;
					a {
						opacity: .9;
						transition: opacity 850ms ease-out 3400ms;
					}
				}
		}
		.button-anchor_b {
			svg {
				stroke: #ffffff;
				position: absolute;
				width: 48px;
				height: 48px;
				transition: all .3s ease;
			}
		}
	}
	
	.lp-main-content {
		padding: 0 16px;
		margin-top: -100vh;
		@include touch {
			@supports (-webkit-touch-callout: none) {
				margin-top: -86.75vh;
			}
		}
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/bg-conte@2x.jpg');
		@include desktop {
			width: 100%;
			height: 100vh;
			z-index: 5;
		}
		.button.is-gl-pink  {
			display: none;
			position: fixed;
			z-index: 1000;
			bottom: -50px;
			left: 0; right: 0;
			margin: auto;
			&:hover {
				padding-left: 32px;
				&.is-gl-pink  {
					background-color: #ffffff;
					border-color: #ffffff;
					color: #D32966;
					.has-arrow {
						&:after {
							content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23D32966' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
					}
				}
			}
			@include desktop {
				display: block;
			}
			&.show-button {
				bottom: 7%;
			}
		}
		.videoContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 30px;
				.video_wrapper {
						width: 940px;
						@include desktop {
							width: 280px;
						}
				}
				iframe {
					border-radius: 30px;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0; right: 0; bottom: 0; left: 0;
					margin: auto;
				}
		}
		.videoContainer, .txt-container {
			@include desktop {
				opacity: 0;
				position: absolute;
			}
		}
		.txt-container {
			@include desktop {
				width: 640px;
				height: 800px;
				top: 24%;
				left: 0; right: 0;
				margin: auto;
				transform: scale(1.8);
				transform-origin: top;
				@media screen and (min-height: 900px) {
					top: 30%;
				}
				@media screen and (min-height: 1150px) {
					top: 35%;
				}
			}
			@include widescreen {
				width: 700px;
			}
		}
		p {
			color: #ffffff;
			font-size: 20px;
			line-height: 40px;
			letter-spacing: 2px;
			margin:0 auto 50px;
			max-width: 500px;
			@include desktop {
				font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-weight: normal;
				font-size: 72px;
				line-height: 72px;
				letter-spacing: -2.5px;
				max-width: 640px;
			}
			@include widescreen {
				max-width: 700px;
			}
		}
		.small-video01 {
			@include desktop {
				top: 35%;
				left: 2%;
				transform: scale(1.3);
				transform-origin: bottom;
			}
			@include widescreen {
				top: 32%;
				left: 5%;
			}
			@include fullhd {
				left: 8%;
			}
			.video_wrapper {
				@include desktop {
					width: 153px;
				}
			}
		}
		.small-video02 {
			@include desktop {
				top: 5%;
				right: 0;
				transform: scale(1.2);
				transform-origin: bottom;
				@media screen and (min-height: 900px) {
					top: 9%;
				}
				@media screen and (min-height: 1150px) {
					top: 16%;
				}
			}
			@include widescreen {
				top: 12%;
				@media screen and (min-height: 1150px) {
					top: 16%;
				}
			}
			@include fullhd {
				top: 13%;
				right: 4%;
			}
			.video_wrapper {
				@include desktop {
					width: 288px;
				}
			}
		}
		.small-video03 {
			@include desktop {
				top: 75%;
				left: 0;
				transform: scale(1.4);
				transform-origin: top;
			}
			@include widescreen {
				top: 78%;
				left: 2%;
				@media screen and (min-height: 1150px) {
					top: 73%;
				}
			}
			@include fullhd {
				left: 5%;
			}
		}
		.small-video04 {
			@include desktop {
				top: 73%;
				right: 7%;
				transform: scale(1.1);
				transform-origin: top;
			}
			@include widescreen {
				top: 70%;
				right: 10%;
			}
			@include fullhd {
				right: 12%;
			}
			.video_wrapper {
				@include desktop {
					width: 182px;
				}
			}
		}
	}
	
	
	.lp-main-video {
		
		@include desktop {
			position: relative;
			z-index: 7;
			background-color: #091857;
			//background-color: #08154c;
			margin-top: -100vh;
			padding: 100px 0;
			height: 100vh;
		}
		h2 {
			@include desktop {
				margin: 0;
			}
		}
		.videoContainer {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 30px;
			@include desktop {
				position: relative;
				height: auto;
				top: 10%;
				z-index: 1;
			}
			@include widescreen {
				height: 69%;
			}
			.video_wrapper {
				width: 940px;
				@include desktop {
					width: 780px;
					transform-origin: center;
					height: 100%;
					position: absolute;
					left: 0; right: 0;
					margin: auto;
				}
				@include widescreen {
					width: 940px;
				}
				@include fullhd {
					width: 1000px;
				}
				.video_M {
					@include tablet {
						display: none;
					}
				}
				.video_T {
					display: none;
					@include tablet {
						display: block;
					}
					@include widescreen {
						display: none;
					}
				}
				.video_D {
					display: none;
					@include widescreen {
						display: block;
					}
				}
				iframe {
					border-radius: 30px;
					width: 89vw;
					height: 100%;
					position: absolute;
					top: 0; right: 0; bottom: 0; left: 0;
					margin: auto;
					@include tablet {
						width: 90%;
						border-radius: 0;
					}
				}
			}
		}

		.mention {
			@include desktop {
				position: absolute;
				bottom: 5%;
				left: 0; right: 0;
				margin: auto;
			}
		}
	}
	
	
	.lp-boutique-links {
		padding: 60px 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/bg-panel-links.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/bg-panel-links@2x.jpg');
		}
		@include desktop {
			position: relative;
			z-index: 8;
			margin-top: -90vh;
			margin-bottom: -1%;
			padding: 130px 32px;
		}
		.container {
			margin: 0 auto;
			position: relative;
			@include widescreen {
				max-width: 1250px;
			}
			@include fullhd {
				max-width: 1440px;
			}
		}
		.slider-links {
			@include touch {
				display: block;
			}
			height: 430px;
			margin: 60px 0 0;
			@include widescreen {
				margin-top: 70px;
			}
			&:after {
				content: 'flickity';
				display: none;
				@include desktop {
					content: '';
				}
			}
			
			.link {
				@include touch {
					width: 320px;
					padding: 0 11px;
				}
				&:first-child {
					@include touch {
						padding-left: 22px;
						width: 331px;
					}
					
				}
				&:last-child {
					@include touch {
						padding-right: 22px;
						width: 331px;
					}
				}				
				a {
					//color: #ffffff;
					text-decoration: none;
					height: 410px;
					width: 100%;
					position: relative;
					border-radius: 20px;
					overflow: hidden;
					display: inline-block;
					background-repeat: no-repeat;
					background-position: center top;
					background-size: 305px;
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/bg-links.jpg');
					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (   -moz-min-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2),
					only screen and (                min-resolution: 192dpi),
					only screen and (                min-resolution: 2dppx) {
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/planete-sapin/bg-links@2x.jpg');
					}
					@include desktop {
						width: 300px;
					}
					@include widescreen {
						width: 357px;
						height: 431px;
						background-size: cover;
						background-position: center -48px;;
					}
					&:before {
						content: "";
						position: absolute;
						top: 0; right: 0; bottom: 0; left: 0;
						margin: auto;
						background-color: rgba(0,0,0,0.15);
					}
					&:hover {
						.button {
							padding-left: 32px;
							&.is-gl-pink  {
								background-color: #ffffff;
								border-color: #ffffff;
								color: #D32966;
								.has-arrow {
									&:after {
										content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23D32966' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
									}
								}
							}
						}
					}
					img {
						transition: all .4s ease;
					}
					&:hover {
						img {
							transform: scale(1.05);
						}
					}
					.product-image, .product-txt {
						position: relative;
						z-index: 1;
					}
					&.cadeaux {
						.product-image {
							img {
								min-width: 100%;
								margin-top: 0;
								@include widescreen {
									margin-top: -54px;
								}
							}
						}
					}
					&.livre {
						.product-image, .image {
							height: 100%;
						}
						.product-image {
							img {
								height: 318px;
								position: absolute;
								top: 0; right: 0; bottom: 0; left: 0;
								margin: auto;
							}
						}
					}
					&.sapin {
						.product-image {
							padding: 0 8px;
							@include widescreen {
								padding: 0 32px;
							}
							img {
								height: 230px;
								margin-top: 10px;
							}
							p {
								text-decoration: none;
								line-height: 20px;
							}
						}
					}
					.product-txt {
						position: absolute;
						margin: 0 auto;
						left: 0; right: 0;
						bottom: 35px;
						@include widescreen {
							bottom: 45px;
						}
						.button {
							margin: 0;
						}
					}
				}
			}
		}
	}
	
	.button {
		&.is-gl-pink  {
			background-color: #D32966;
			border-color: #D32966;
			min-width: auto;
			width: 200px;
			font-size: 16px;
			padding: 11px 20px 13px;
			transition: all .4s ease;
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: 0;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 16px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23D32966' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	
}
