@import "assets/css/core";
@import "assets/css/components/flickty";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

// .back-top {
// 	display: none !important;
// }

.lp-container{
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	padding: 22px;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
		padding: 80px;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	.boxed-text {
		line-height: 1;
		display: inline;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 0;
		> span {
			display: inline-block;
			background-color: #fff;
			border: 5px solid #000;
			padding: 6px 11px 8px;
			position: relative;
			@include widescreen {
				border-width: 9px;
				padding: 12px 20px 14px;
			}
		}
		+ .boxed-text,
		+ p {
			margin-top: 16px;
			clear: both;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
	}
	h1{
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 72px;
			letter-spacing: 0;
		}
	}
	h2 {
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
		@include fullhd {
			font-size: 72px;
			letter-spacing: 0;
		}
	}
	h3 {
		font-size: 28px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
		@include fullhd {
			font-size: 96px;
			letter-spacing: 0;
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.43;
		@include widescreen {
			margin-bottom: 25px;
			line-height: 1.45;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 100%;
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.has-text-left-mobile {
		@include mobile {
			text-align: left;
		}
	}
	.is-fullheight {
		height: 100%;
	}
	.bg-video {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
	.alt-button {
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 8px;
		&:hover {
			text-decoration: none;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: #000000;
		}
		.icon {
			position: relative;
			width: 16px;
			height: 9px;		
			display: inline-block;
			top: -1px;
			margin-left: 8px;
		}
		.has-arrow {
			
			&:after {
				content: "";
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0; bottom: 0; left: 0; right: 0;
				margin: auto;
			}
		}
	}
	
	.lp-hero {
		box-shadow: 0px 0px 0px 5.6px #64BC77, 0px 0px 0px 8px #ffffff, 0px 0px 0px 13.6px #64BC77, 0px 0px 0px 16px #ffffff, 0px 0px 0px 22px #64BC77;
		padding:0 24px 34px;
		height: auto;
		position: relative;
		overflow: hidden;
		background-color:#BDDCF1;
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 767px;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/hero-larg_M.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/hero-larg_M@2x.jpg');
		}
		@include mobile {
			text-align: left;
		}
		@include tablet {
			background-size: 1024px;
		}
		@include desktop {
			background-size: contain;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/hero_D-v2.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/hero_D-v2@2x.jpg');
			}
		}
		@include widescreen {
			background-size: 1088px;
			box-shadow: 0px 0px 0px 20px #64BC77, 0px 0px 0px 30px #ffffff, 0px 0px 0px 50px #64BC77, 0px 0px 0px 60px #ffffff, 0px 0px 0px 80px #64BC77;
		}
		@include fullhd {
			background-size: 1278px;
		}
		
		.boxed-text-container {
			margin-top: 310px;
			max-width: 250px;
			@include tablet {
				margin-top: 140px;
				margin-left: 320px;
				text-align: left;
			}
			@include desktop {
				margin-top: 190px;
				margin-left: 560px;
			}
			@include widescreen {
				position: absolute;
				z-index: 1;
				margin-top: 160px;
				max-width: 450px;
			}
			@include fullhd {
				margin-top: 200px;
				margin-left: 710px;
			}
		}
		h1.boxed-text{		
			> span {
				&:first-child {
					background-color:#64BC77;
					font-size: 24px;
					@include widescreen {
						font-size: 40px;
					}
				}
				&:last-child {
					background-color: #ffffff;
					top: -5px;
					@include widescreen {
						top: -9px;
					}
				}
			}
		}
		
		.selection-cta {
			display: block;
			.boxed-text.selection {
				display: block;
				margin-top: -10px;
				font-size: 24px;
				letter-spacing: -.5px;
				@include desktop {
					margin-top: -10px;
				}
				@include widescreen {
					font-size: 40px;
					margin-top: -18px;
				}
				@include fullhd {
					
				}
				> span {
					&:first-child {
						border-right: none;
					}
					&:last-child {
						background-color:#64BC77;
						margin-left: -8px;
						
						@include widescreen {
							margin-left: -10px;
						}
						@include fullhd {
							margin-left: -16px;
						}
					}
				}
			}
		}
		
		.main-text {
			margin-top: 30px;
			@include tablet {
				margin-top: 160px;
			}
			@include desktop {
				margin-top: 240px;
			}
			@include widescreen {
				margin-top: 640px;
			}
			@include fullhd {
				margin-top: 750px;
			}
			p {
				@include widescreen {
					font-size: 28px;
				}
			}
		}
		
		.slider-ancres {
			@include touch {
				display: block;
			}
			height: 222px;
			margin: 10px -24px 0;
			@include tablet {
				margin-top: 50px;
				margin-bottom: 20px;
			}
			@include desktop {
				margin: 70px 0 30px;
			}
			@include desktop {
				margin: 80px 0 40px;
			}
			@include fullhd {
				margin: 100px 0 50px;
			}
			&:focus {
				outline: none;
			}
			&:after {
				content: 'flickity';
				display: none;
				@include desktop {
					content: '';
				}
			}
			
			.product {
				@include touch {
					width: 226px;
					padding: 0 24px;
				}
				&:first-child {
					@include desktop {
						
					}
					@include fullhd {
						
					}
				}
				a {
					display: inline-block;
					text-decoration: underline;
					&:hover {
						img {
							@include desktop {
								transform: scale(1.05);	
							}
						}
					}
				}
				a,
				.product-image,
				.product-txt {
					width: 178px;
				}
				.product-image {
					height: 178px;
					border: 2px solid #000000;
					border-radius: 50%;
					overflow: hidden;
					margin-bottom: 10px;
					overflow: hidden;
					.image {
						
						
					}
					img {
						max-height: 360px;
						width: 360px;
						transition: all .4s ease;
					}
				}
				.product-txt {				
					p {
						font-size: 16px;
						margin: 0;
						color: #4F4E4C;
						
						@include desktop {
							font-size: 14px;
							line-height: 1.4;
						}
						@include widescreen {
							font-size: 16px;
							line-height: 1.6;
						}
						&:first-child {
							color: #000000;
							font-size: 20px;
							margin-bottom: 8px;
							@include desktop {
								font-size: 16px;
							}
							@include widescreen {
								font-size: 20px;
							}
						}
					}
				}
			}	
		}
	}

	.lp-body {
		position: relative;
		margin: 46.2px 0 0;
		@include widescreen {
			margin-top: 170px;
		}
		.content {
			padding-bottom: 24px;
			@include desktop {
				padding: 0 32px 48px;
			}
			@include fullhd {
				padding: 0 64px 48px;
			}
		}
		&.chapeaux {
			box-shadow: 0px 0px 0px 6px #2930A3, 0px 0px 0px 8px #ffffff, 0px 0px 0px 14px #2930A3, 0px 0px 0px 16px #ffffff, 0px 0px 0px 22px #2930A3;
			@include widescreen {
				box-shadow: 0px 0px 0px 20px #2930A3, 0px 0px 0px 30px #ffffff, 0px 0px 0px 50px #2930A3, 0px 0px 0px 60px #ffffff, 0px 0px 0px 80px #2930A3;
			}
		}
		&.sac-triangle {
			box-shadow: 0px 0px 0px 6px #FC0407, 0px 0px 0px 8px #ffffff, 0px 0px 0px 14px #FC0407, 0px 0px 0px 16px #ffffff, 0px 0px 0px 22px #FC0407;
			@include widescreen {
				box-shadow: 0px 0px 0px 20px #FC0407, 0px 0px 0px 30px #ffffff, 0px 0px 0px 50px #FC0407, 0px 0px 0px 60px #ffffff, 0px 0px 0px 80px #FC0407;
			}
		}
		&.souliers {
			box-shadow: 0px 0px 0px 6px #F8C800, 0px 0px 0px 8px #ffffff, 0px 0px 0px 14px #F8C800, 0px 0px 0px 16px #ffffff, 0px 0px 0px 22px #F8C800;
			@include widescreen {
				box-shadow: 0px 0px 0px 20px #F8C800, 0px 0px 0px 30px #ffffff, 0px 0px 0px 50px #F8C800, 0px 0px 0px 60px #ffffff, 0px 0px 0px 80px #F8C800;
			}
		}
		&.raphia {
			box-shadow: 0px 0px 0px 6px #FF8B10, 0px 0px 0px 8px #ffffff, 0px 0px 0px 14px #FF8B10, 0px 0px 0px 16px #ffffff, 0px 0px 0px 22px #FF8B10;
			@include widescreen {
				box-shadow: 0px 0px 0px 20px #FF8B10, 0px 0px 0px 30px #ffffff, 0px 0px 0px 50px #FF8B10, 0px 0px 0px 60px #ffffff, 0px 0px 0px 80px #FF8B10;
			}
		}
		&.lunettes-soleil {
			box-shadow: 0px 0px 0px 6px #FF8B10, 0px 0px 0px 8px #ffffff, 0px 0px 0px 14px #FF8B10, 0px 0px 0px 16px #ffffff, 0px 0px 0px 22px #FF8B10;
			@include widescreen {
				box-shadow: 0px 0px 0px 20px #FF8B10, 0px 0px 0px 30px #ffffff, 0px 0px 0px 50px #FF8B10, 0px 0px 0px 60px #ffffff, 0px 0px 0px 80px #FF8B10;
			}
		}
		&.pop-up, &.haussmann, &.univers {
			box-shadow: 0px 0px 0px 6px #64BC77, 0px 0px 0px 8px #ffffff, 0px 0px 0px 14px #64BC77, 0px 0px 0px 16px #ffffff, 0px 0px 0px 22px #64BC77;
			@include widescreen {
				box-shadow: 0px 0px 0px 20px #64BC77, 0px 0px 0px 30px #ffffff, 0px 0px 0px 50px #64BC77, 0px 0px 0px 60px #ffffff, 0px 0px 0px 80px #64BC77;
			}
		}
	}
	
	.section-header {
		height: 480px;
		@include tablet {
			height: 560px;
			background-position: center center;
		}
		@include desktop {
			height: 700px;
		}
		@include widescreen {
			height: 780px;
		}
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
		.content {
			position: absolute;
			bottom: 16px;
			left: 0; right: 0;
		}
		.boxed-text {
			span {
				box-shadow: 0 0 0 4px #ffffff;
				@include widescreen {
					box-shadow: 0 0 0 8px #ffffff;
				}
			}
		}
		&.chapeaux {
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_M@2x.jpg');
			}
			@include tablet {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_D@2x.jpg');
				}
			}
			&:after {
				box-shadow: 3px 3px 0px 3px #2930A3, 4px 4px 0px 4px #ffffff, 7px 7px 0px 7px #2930A3, 8px 8px 0px 8px #ffffff, 11px 11px 0px 11px #2930A3;
				@include widescreen {
					box-shadow: 10px 10px 0px 10px #2930A3, 15px 15px 0px 15px #ffffff, 25px 25px 0px 25px #2930A3, 30px 30px 0px 30px #ffffff, 40px 40px 0px 40px #2930A3;
				}
			}
		}
		
		&.sac-triangle {
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/sacs_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/sacs_M@2x.jpg');
			}
			@include tablet {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/sacs_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/sacs_D@2x.jpg');
				}
			}
			&:after {
				box-shadow: 3px 3px 0px 3px #FC0407, 4px 4px 0px 4px #ffffff, 7px 7px 0px 7px #FC0407, 8px 8px 0px 8px #ffffff, 11px 11px 0px 11px #FC0407;
				@include widescreen {
					box-shadow: 10px 10px 0px 10px #FC0407, 15px 15px 0px 15px #ffffff, 25px 25px 0px 25px #FC0407, 30px 30px 0px 30px #ffffff, 40px 40px 0px 40px #FC0407;
				}
			}
			.content {
				@include tablet {
					bottom: 206px;
				}
				@include desktop {
					bottom: 236px;
				}
				@include widescreen {
					bottom: 286px;
				}
			}
		}
		
		&.souliers {
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/souliers_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/souliers_M@2x.jpg');
			}
			@include tablet {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/souliers_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/souliers_D@2x.jpg');
				}
			}
			&:after {
				box-shadow: 3px 3px 0px 3px #F8C800, 4px 4px 0px 4px #ffffff, 7px 7px 0px 7px #F8C800, 8px 8px 0px 8px #ffffff, 11px 11px 0px 11px #F8C800;
				@include widescreen {
					box-shadow: 10px 10px 0px 10px #F8C800, 15px 15px 0px 15px #ffffff, 25px 25px 0px 25px #F8C800, 30px 30px 0px 30px #ffffff, 40px 40px 0px 40px #F8C800;
				}
			}
		}
		
		&.raphia {
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_M@2x.jpg');
			}
			@include tablet {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/raphia_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/raphia_D@2x.jpg');
				}
			}
			&:after {
				box-shadow: 3px 3px 0px 3px #FF8B10, 4px 4px 0px 4px #ffffff, 7px 7px 0px 7px #FF8B10, 8px 8px 0px 8px #ffffff, 11px 11px 0px 11px #FF8B10;
				@include widescreen {
					box-shadow: 10px 10px 0px 10px #FF8B10, 15px 15px 0px 15px #ffffff, 25px 25px 0px 25px #FF8B10, 30px 30px 0px 30px #ffffff, 40px 40px 0px 40px #FF8B10;
				}
			}
		}
		
		&.lunettes-soleil {
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_M@2x.jpg');
			}
			@include tablet {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/chapeaux_D@2x.jpg');
				}
			}
			&:after {
				box-shadow: 3px 3px 0px 3px #FF8B10, 4px 4px 0px 4px #ffffff, 7px 7px 0px 7px #FF8B10, 8px 8px 0px 8px #ffffff, 11px 11px 0px 11px #FF8B10;
				@include widescreen {
					box-shadow: 10px 10px 0px 10px #FF8B10, 15px 15px 0px 15px #ffffff, 25px 25px 0px 25px #FF8B10, 30px 30px 0px 30px #ffffff, 40px 40px 0px 40px #FF8B10;
				}
			}
		}
		
		&.pop-up {
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/pop-up_D.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/pop-up_D@2x.jpg');
			}
			@include tablet {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/pop-up_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/prada-tropico/pop-up_D@2x.jpg');
				}
			}
			&:after {
				box-shadow: 3px 3px 0px 3px #64BC77, 4px 4px 0px 4px #ffffff, 7px 7px 0px 7px #64BC77, 8px 8px 0px 8px #ffffff, 11px 11px 0px 11px #64BC77;
				@include widescreen {
					box-shadow: 10px 10px 0px 10px #64BC77, 15px 15px 0px 15px #ffffff, 25px 25px 0px 25px #64BC77, 30px 30px 0px 30px #ffffff, 40px 40px 0px 40px #64BC77;
				}
			}
		}
	}
	
	.products {
		padding: 0;
		margin: 22px 0 0;
		@include widescreen {
			margin-top: 80px;
		}
		.product {
			a {
				display: block;
				&:hover {
					img {
						@include desktop {
							transform: scale(1.05);	
						}
					}
				}
			}
			.product-image {
				height: 196px;
				margin-bottom: 14px;
				background-color: #f1f1f1;
				@include widescreen {
					height: 340px;
				}
				@include fullhd {
					height: 392px;
				}
				.image {
					overflow: hidden;
				}
				img {
					max-height: 196px;
					width: auto;
					transition: all .4s ease;
					@include widescreen {
						max-height: 392px;
					}
				}
			}
			.product-txt {		
				margin-bottom: 30px;		
				p {
					font-size: 10px;
					margin: 0;
					line-height: 1.2;
					letter-spacing: 0.25px;
					color: #4F4E4C;
					@include desktop {
						font-size: 14px;
						line-height: 1.4;
					}
					@include widescreen {
						font-size: 16px;
						line-height: 1.6;
					}
					&:first-child {
						color: #000000;
						@include desktop {
							font-size: 16px;
						}
						@include widescreen {
							font-size: 20px;
						}
					}
				}
			}
		}
		.button {
			margin-top: 20px;
			@include desktop {
				margin-top: 40px;
			}
			@include fullhd {
				margin-top: 60px;
			}
		}
	}

	
	.haussmann {
		padding: 40px 24px;
		margin-top: 22px;
		@include desktop {
			padding: 56px 0 8px;
		}
		@include widescreen {
			padding: 96px 0 48px;		
			margin-top: 80px;	
		}
		@include fullhd {
			padding: 124px 0 76px;
		}
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			left: 0;
			transform: rotate(90deg);
			bottom: 0;
			z-index: 1;
			box-shadow: 3px 3px 0px 3px #64BC77, 4px 4px 0px 4px #ffffff, 7px 7px 0px 7px #64BC77, 8px 8px 0px 8px #ffffff, 11px 11px 0px 11px #64BC77;
			@include widescreen {
				box-shadow: 10px 10px 0px 10px #64BC77, 15px 15px 0px 15px #ffffff, 25px 25px 0px 25px #64BC77, 30px 30px 0px 30px #ffffff, 40px 40px 0px 40px #64BC77;
			}
		}
		.boxed-text {
			display: inline-block;
			max-width: 300px;
			@include desktop {
				max-width: 400px;
			}
			@include widescreen {
				position: relative;
				left: 40px;
				max-width: 490px;
				margin-left: -6px;
			}
			@include fullhd {
				left: 124px;
				max-width: 655px;
				margin-left: -146px;
			}
			> span {
				&:first-child {
					background-color: #64BC77;
					@include desktop {
						border-right: none;
					}
				}
				&:nth-child(2) {
					background-color: #64BC77;
					@include touch {
						border-top: none;
						top: -5px;
					}
					@include desktop {
						border-left: none;
						left: -20px;
					}
					@include widescreen {
						left: -29px;
						padding-left: 10px;
					}
				}
				&:last-child {
					top: -10px;
					@include desktop {
						top: -5px;
					}
					@include widescreen {
						top: -9px;
					}
				}
			}
		}
	}
	
	.univers {
		margin-top: 22px;
		@include widescreen {
			margin-top: 80px;	
		}
		.univers-cta {
			display: block;
			width: 230px;
			margin: 32px auto;
			@include mobile {
				text-align: left;
			}
			@include tablet {
				margin: 32px auto;
				width: 100%;
			}
			@include widescreen {	
				margin: 124px auto;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.boxed-text {
			@include tablet {
				max-width: none;
				display: inline-flex;
			}
			> span {
				&:first-child {}
				&:nth-child(2) {
					@include mobile {
						border-top: none;
						top: -5px;
					}
				}
				&:last-child {
					background-color: #64BC77;
					top: -10px;
					@include tablet {
						top: 0;
						left: -4px;
					}
				}
			}
		}
	}
	
	.button {
		&.outlined {
			min-width: auto;
			font-size: 14px;
			padding: 9px 24px 14px;
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: 2px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 16px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	
	
	&.has-js {

	}
}