//@import "assets/css/core";
@import "assets/css/utilities/initial-variables";
@import "assets/css/utilities/mixins";

@import "assets/css/grid/grid";
@import '~sass-flex-grid/index.scss';

.header__product-list {
	padding-top: 0;
}
.header__product-list--first-line  {
	@include desktop {
		padding-top: 0 !important;
	}
	.breadcrumbs,
	.quantity-title,
	.results-title {
		display:none !important;
	}
	
}
.section-main-container {
	background-color: #e52728;
}
.lp-container{
	margin: 0 auto !important;
	overflow: hidden;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
}

.richcontent-hero {
	@media screen and (min-width: 1024px) {
		border-right: 1px solid #4f4e4c;
		border-left: 1px solid #4f4e4c;
		padding-top: 18px;
	}
	@include widescreen {
		border-left: .0625rem solid #4f4e4c;
		border-right: .0625rem solid #4f4e4c;
	}
	
	figure {
		margin: 0;
	}

	&-edito {
		padding: 0 20px 40px;
		@include mobile {
			margin: auto;
			max-width: 507px;
		}
		@include tablet {
			padding: 40px;
		}
		@include desktop {
			padding: 60px 140px;
		}
		@include widescreen {
			padding: 100px 120px;
		}
		@include fullhd {
			padding: 140px 220px;
		}
		.buttons {
			@include mobile {
				max-width: 320px;
				margin: 0 auto 20px;
			}
			.button {
				min-width: auto;
				min-height: 40px;
				width: 310px;
				margin: 17px 0;
			}
		}
		.inspi-txt {
			position: relative;
			z-index: 1;
			margin-top: -115px;
			@include tablet {
				margin-top: 0;
				margin-left: -50px;
			}
			@include widescreen {
				margin-left: -80px;
			}
		}
		p {
			font-size: 70px;
			line-height: 72px;
			font-family: 'GLBaderCompress-Black';
			text-transform: uppercase;
			color: #ffffff;
			@include widescreen {
				font-size: 128px;
				line-height: 136px;
			}
		}
		
		.inspi-image {
			margin: 0 -20px;
			@include tablet {
				margin: 0;
			}
		}
	}
	
	.is-hidden {
		display: none !important;
	}
	
	@include mobile {
		.is-hidden-mobile {
			display: none !important;
		}
	}

	@include tablet {
		.is-hidden-tablet {
			display: none !important;
		}
	}
}