//@import "assets/css/core";
@import "assets/css/utilities/initial-variables";
@import "assets/css/utilities/mixins";

@import "assets/css/grid/grid";
@import '~sass-flex-grid/index.scss';

.richcontent-hero {
	@media screen and (min-width: 1024px) {
		border-right: 1px solid #4f4e4c;
		border-left: 1px solid #4f4e4c;
	}
	@include desktop {
		padding-top: 0;
		padding-left: 16px;
		padding-right: 16px;
	}
	@include widescreen {
		border-left: .0625rem solid #4f4e4c;
		border-right: .0625rem solid #4f4e4c;
	}
	
	figure {
		margin: 0;
	}
	.button {
		font-family: 'GLBaderCompress-Black';
		font-size: 16px;
		line-height: 0.89;
		letter-spacing: .8px;
		text-transform: uppercase;		
		border: 1px solid #000000;
		border-radius: 24px;
		padding: 11px 40px;
		
		&:hover {
			text-decoration: none;
		}
		&.primary {
			background-color: #000000;
			&:hover {
				background-color: #ffffff;
				color: #000000;
			}
		}
		&.borderless {
			background-color: transparent;
			border: 0;
			padding-left: 0;
			min-width: auto;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
			&.has-arrow-down {
				&:after {
					background-color: transparent;
				}
			}
		}
		&.outlined {
			background-color: transparent;
			color: #000000;
			&:hover {
				background-color: #000000;
				color: #fff;
				.icon {
					.microphone {
						&:before {
							content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
					}	
				}
			}
			.icon {
				.microphone {
					&:before {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}	
			}
		}
		.icon {
			height: 20px;
			width: 20px;
			position: absolute;
			right: 14px;
			top: 0;
			bottom: 0;
			margin: auto;
			.camera {
				&:before {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 14'%3E%3Ctitle%3Ecamera-black%3C/title%3E%3Cg id='f7bb6e80-5b01-4d10-b15f-be4783a1d3a2' data-name='Calque 2'%3E%3Cg id='bfebc55f-6b17-4850-81aa-07a880a5438a' data-name='Calque 1'%3E%3Cg id='ec514dde-ca9d-4730-b400-6af67b571109' data-name='adb3d65f-617e-42b6-803d-991c2f195693'%3E%3Cg id='bb45d901-7afc-4f4f-bdbd-7a7bdd0cd1c7' data-name='e85c1332-8d14-4486-b231-628fefd078f8'%3E%3Cpath id='ab12bbfa-6ac2-4b57-875f-fa233feeaa74' data-name='e241e9d3-f8ce-4fdb-9ecf-ac0f88ffca7b' d='M21.23,1.73a.43.43,0,0,0-.46,0L17.57,4.1v-1A2.59,2.59,0,0,0,15,.5H3.15A2.6,2.6,0,0,0,.5,3.05h0v8a2.59,2.59,0,0,0,2.65,2.5H14.93A2.58,2.58,0,0,0,17.57,11V10l3.2,2.37a.43.43,0,0,0,.46,0c.18-.09.27-.18.27-.35V2.08C21.5,1.91,21.41,1.82,21.23,1.73Z' stroke='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					left: -2px;
					right: 0;
					height: 16px;
					width: 24px;
				}
			}
		}
		&.has-arrow-down {
			&:after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.2 5.55'%3E%3Ctitle%3Earrow-down%3C/title%3E%3Cg id='b73d5839-d192-4f50-80dd-e5cc05da285c' data-name='Calque 2'%3E%3Cg id='be1d69bd-44ac-4e55-8a36-be0463cfd422' data-name='Calque 1'%3E%3Cpath d='M10.6.8l-5,3.75L.6.8' fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center 6px;
				background-size: 10px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 10px;
				width: 20px;
				height: 20px;
				background-color: #000000;
				border: 2px solid #ffffff;
				border-radius: 50%;
			}
		}
	}
	
	&-image {
		height: 314px;
		text-align: center;
		position: relative;
		overflow: hidden;
		@include tablet {
			height: 448px;
		}
		@include desktop {
			height: 546px;
			margin-left: -16px;
			margin-right: -16px;
		}
		@include widescreen {
			height: 630px;
		}
		.container {
			height: 100%;
		}
		.hero-bg-image {
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.8;
		}
		.hero-content {
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			margin: auto;
			@include tablet {
				bottom: 50px;
			}
		}
		h2 {
			font-family: 'GLBaderCompress-Black';
			font-size: 40px;
			letter-spacing: -1px;
			color: #fff;
			@include desktop {
				font-size: 72px;
				letter-spacing: -2.5px;
			}
		}
	}

	&-edito {
		margin-top: 20px;
		padding: 16px;
		@include tablet {
			padding-top: 50px;
			margin-top: 0;
		}
		@include desktop {
			padding: 100px 0 70px;
		}
		.buttons {
			@include mobile {
				max-width: 320px;
				margin: 0 auto 20px;
			}
			.button {
				min-width: auto;
				min-height: 40px;
				width: 310px;
				margin: 17px 0;
			}
		}
		p {
			font-size: 16px;
			line-height: 20px;
			font-family: 'GLBaderNarrow-Regular';
			color: #4F4E4C;
			@include desktop {
				font-size: 20px;
				line-height: 28px;
				max-width: 455px;
				margin: auto;
			}
		}
		.brand-edito-title {
			font-weight: 700;
			margin-bottom: 20px;
			@include desktop {
				margin-bottom: 30px;
			}
		}
		.read {
			cursor: pointer;
			color: #aaa8a3;
			display: inline-block;
			.underline-text {
				text-decoration: underline;
			}
			&:hover {
				.underline-text {
					text-decoration: none;
				}
			}
		}
		
		.inspi-image {
			margin-top: 50px;
			@include tablet {
				margin-top: 0;
			}
		}
		&.has-txt-white {
			p {
				color: #ffffff;
			}
			.read {
				color: #ffffff;
			}
		}
		&.has-txt-black {
			p {
				color: #000000;
			}
			.read {
				color: #000000;
			}
		}
	}
	
	&-selection {
		@include desktop {
			margin-left: -16px;
			margin-right: -16px;
		}
		.selection {
			display: flex;
			justify-content: center;
			padding-top: 22px;
			padding-bottom: 26px;
			overflow: auto;
			border-bottom: 1px solid #000000;			
			@include desktop {
				padding-top: 32px;
				padding-bottom: 36px;
			}
			> li {
				padding-left: 30px;
				padding-right: 30px;
				@include desktop {
					padding-left: 70px;
					padding-right: 70px;
				}
				
			}
			a {
				display: inline-block;
				&:hover {
					span {
						text-decoration: none;
						color: #999999;
						box-shadow: inset 0 -2px #999999;
						&:after {
							visibility: hidden;
							transform: scaleX(0);
						}
					}
				}
				span {
					font-family: 'GLBaderCompress-Black';
					text-decoration: none;
					text-transform: uppercase;
					position: relative;
					display: inline-block;
					transition: all .3s ease;
					letter-spacing: .8px;
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						bottom: 0;
						left: 0;
						background-color: #000;
						transition: all .3s ease-out;
						visibility: visible;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
					}
				}
			}
			&.has-image {
				padding-top: 30px;
				padding-bottom: 50px;
				padding-left: 16px;
				border-bottom: none;
				@include desktop {
					padding-bottom: 100px;
				}
				> li {
					padding-left: 3px;
					padding-right: 3px;
					@include desktop {
						padding-left: 6px;
						padding-right: 6px;
					}
					&:first-child {
						padding-left: 0;
					}
				}
				a {
					width: 142px;
					@include desktop {
						width: 296px;
					}	
					span {
						margin-top: 12px;
					}
				}
			}
		} 
		
		.categorie {
			padding: 20px 0 25px;
			@include desktop {
				padding: 35px 0 40px;
			}
			p {
				font-family: 'GLBaderCompress-Black';
				font-size: 40px;
				line-height: 1;
				letter-spacing: -1px;
			}
		}
		
		&.has-txt-white {
			.selection {
				a {
					color: #ffffff;
					&:hover {
						span {
							color: #c4c4c4;
							box-shadow: inset 0 -2px #c4c4c4;
						}
					}
					span {
						&:after {
							background-color: #fff;
						}
					}
				}
			}
		}
	}
	
	&.has-actu {
		.actu-infos {
			display: none;
			text-align: left;
			margin-top: 30px;
			margin-bottom: 8px;
			padding: 0 12px;
			@include tablet {
				padding: 0 32px;
				margin-top: 30px;
			}
			@include desktop {
				display: block;
				margin-bottom: 0;
			}
			@include widescreen {
				max-width: 455px;
				margin-left: auto;
				margin-right: auto;
			}
			li {
				padding: 12px 8px;
				border-bottom: 1px solid #000000;
				&:last-child {
					border-bottom: none;
				}
			}
			p {
				font-size: 17px;
				&.has-icon {
					padding-left: 43px;
					position: relative;
					&:before {
						content: "";
						background-repeat: no-repeat;
						position: absolute;
					}
					&.cal {
						&:before {
							top: -1px;
							left: 0;
							width: 29px;
							height: 29px;
							background-image: url("data:image/svg+xml,%3Csvg id='Calque_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.59 22.27'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23010101;%7D%3C/style%3E%3C/defs%3E%3Crect class='cls-1' x='5.79' y='9.06' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Crect class='cls-1' x='9.83' y='9.06' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Crect class='cls-1' x='13.86' y='9.06' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Crect class='cls-1' x='5.79' y='12.1' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Crect class='cls-1' x='9.83' y='12.1' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Crect class='cls-1' x='13.86' y='12.1' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Crect class='cls-1' x='5.79' y='15.13' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Crect class='cls-1' x='9.83' y='15.13' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Crect class='cls-1' x='13.86' y='15.13' width='2.25' height='2.25' rx='.34' ry='.34'/%3E%3Cpath class='cls-1' d='M16.08,2.06h-1.86V0h-.86V2.06h-5.07V0h-.86V2.06h-1.61c-.68,0-1.35,.2-1.92,.58h0c-.37,.24-.68,.55-.93,.9h0L.65,7.04c-.1,.13-.19,.27-.27,.41h0c-.24,.44-.38,.94-.38,1.47v10.27c0,1.7,1.38,3.08,3.08,3.08H13.35c.82,0,1.56-.33,2.11-.85h0l3.05-3.05,.03-.03,.14-.15h0c.15-.17,.28-.35,.4-.55,.33-.56,.51-1.18,.51-1.8V5.58c0-1.94-1.58-3.51-3.51-3.51Zm-1.86,2.93v-.62c.2,.14,.32,.36,.32,.62,0,.42-.34,.76-.76,.76s-.76-.34-.76-.76c0-.26,.13-.48,.32-.62v.62h.86Zm-5.93,0v-.62c.2,.14,.32,.36,.32,.62,0,.42-.34,.76-.76,.76s-.76-.34-.76-.76c0-.26,.13-.48,.32-.62v.62h.86Zm10.44,10.85c0,.47-.13,.93-.39,1.36-.49,.81-1.33,1.29-2.26,1.29H5.81c-1.46,0-2.65-1.19-2.65-2.65V7.82h15.56V15.84Zm0-8.87H3.17v-1.4c0-.89,.45-1.72,1.2-2.21,.43-.29,.94-.44,1.45-.44h1.61v.68c-.59,.18-1.01,.73-1.01,1.38,0,.8,.65,1.45,1.45,1.45s1.45-.65,1.45-1.45c0-.65-.43-1.2-1.02-1.38v-.68h5.07v.68c-.59,.18-1.02,.73-1.02,1.38,0,.8,.65,1.45,1.45,1.45s1.45-.65,1.45-1.45c0-.65-.43-1.2-1.01-1.38v-.68h1.86c1.46,0,2.65,1.19,2.65,2.65v1.4Z'/%3E%3C/svg%3E");
						}
					}
					&.pin {
						&:before {
							top: -1px;
							left: 1px;
							width: 29px;
							height: 32px;
							background-image: url("data:image/svg+xml,%3Csvg id='Calque_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 32 40'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-2%7Bfill:none;%7D.cls-3%7Bclip-path:url(%23clippath);%7D.cls-4%7Bfill:%231d1d1b;%7D.cls-2%7Bclip-rule:evenodd;%7D.cls-5%7Bclip-path:url(%23clippath-1);%7D.cls-6%7Bclip-path:url(%23clippath-2);%7D.cls-7%7Bisolation:isolate;%7D%3C/style%3E%3CclipPath id='clippath'%3E%3Cpath class='cls-2' d='M24.22,7.78c-1.72-1.72-4.09-2.78-6.72-2.78s-5,1.06-6.72,2.78l-3,3c-1.72,1.72-2.78,4.1-2.78,6.72s.84,5.47,3,8.5c5,7,6.5,9,6.5,9l3-3s1.5-2,6.5-9c2.16-3.03,3-5.77,3-8.5s-1.06-5-2.78-6.72m-1.03,14.64c-3.03,4.25-4.78,6.66-5.69,7.9-.9-1.23-2.65-3.65-5.69-7.9-1.92-2.69-2.81-5.2-2.81-7.92,0-2.27,.88-4.41,2.49-6.01,1.6-1.6,3.74-2.49,6.01-2.49s4.41,.88,6.01,2.49c1.61,1.61,2.49,3.74,2.49,6.01,0,2.72-.9,5.23-2.81,7.92'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-1' x='4' y='5' width='23' height='30'/%3E%3C/clipPath%3E%3CclipPath id='clippath-2'%3E%3Cpath class='cls-2' d='M17.5,9c-1.52,0-2.89,.62-3.89,1.61-1,1-1.61,2.37-1.61,3.89s.62,2.89,1.61,3.89c.99,1,2.37,1.61,3.89,1.61s2.89-.61,3.89-1.61c1-1,1.61-2.37,1.61-3.89s-.61-2.89-1.61-3.89c-1-1-2.37-1.61-3.89-1.61m3.18,8.68c-.85,.85-1.98,1.32-3.18,1.32s-2.33-.47-3.18-1.32c-.85-.85-1.32-1.98-1.32-3.18s.47-2.33,1.32-3.18c.85-.85,1.98-1.32,3.18-1.32s2.33,.47,3.18,1.32c.85,.85,1.32,1.98,1.32,3.18s-.47,2.33-1.32,3.18'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-7'%3E%3Cg class='cls-3'%3E%3Cg class='cls-5'%3E%3Crect class='cls-4' width='32' height='40'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg class='cls-6'%3E%3Crect class='cls-4' x='7' y='4' width='21' height='21'/%3E%3C/g%3E%3C/svg%3E");
						}
					}
				}
			}
		}
	}
	
	.is-hidden {
		display: none !important;
	}
	
	@include mobile {
		.is-hidden-mobile {
			display: none !important;
		}
	}

	@include tablet {
		.is-hidden-tablet {
			display: none !important;
		}
	}
}