@import "assets/css/core";
@import "assets/css/components/flickty";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

// .back-top {
// 	display: none !important;
// }

.lp-container{
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	.boxed-text {
		line-height: 1;
		display: inline;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 0;
		> span {
			display: inline-block;
			background-color: #fff;
			border: 5px solid #000;
			padding: 6px 11px 8px;
			position: relative;
			@include widescreen {
				border-width: 9px;
				padding: 12px 20px 14px;
			}
		}
		+ .boxed-text,
		+ p {
			margin-top: 16px;
			clear: both;
		}
		sub.r {
			font-family: Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-size: 25%;
			bottom: 0em;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
	}
	h1{
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 72px;
			letter-spacing: 0;
		}
	}
	h2 {
		font-size: 40px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
		@include fullhd {
			font-size: 72px;
			letter-spacing: 0;
		}
	}
	h3 {
		font-size: 28px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2px;
		}
		@include fullhd {
			font-size: 96px;
			letter-spacing: 0;
		}
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.43;
		@include widescreen {
			margin-bottom: 25px;
			line-height: 1.45;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 100%;
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.has-text-white {
		color: #ffffff;
	}
	.has-text-left-mobile {
		@include mobile {
			text-align: left;
		}
	}
	.is-fullheight {
		height: 100%;
	}
	.bg-video {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 1;
	}
	
	
	.lp-hero {
		padding:0 32px 34px;
		color: #ffffff;
		background-color:#000000;
		text-align: left;
		overflow: hidden;
		@include fullhd {
			padding-left: 96px;
		}
		.hero-image {
			height: 490px;
			margin: 0 -32px;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/hero_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/hero_M@2x.jpg');
			}
			@media screen and (min-width: 520px) {
				background-size: contain;
			}
			@include tablet {
				height: 640px;
				margin-left: -80px;
				margin-right: -170px;
				margin-bottom: -34px;
			}
			@include desktop {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/hero_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/hero_D@2x.jpg');
				}
			}
			@include widescreen {
				height: 950px;
				margin-left: -170px;
			}
			@include fullhd {
				margin-left: -85px;
			}
		}
		
		.boxed-text-container {
			margin-top: -65px;
			max-width: 280px;
			@include tablet {
				margin-top: 80px;
				margin-left: -5px;
			}
			@include desktop {
				
			}
			@include widescreen {
				margin-top: 150px;
				max-width: 480px;
				margin-left: -9px;
			}
			@include fullhd {
				margin-right: -20px;
			}
		}
		h1.boxed-text{		
			> span {
				&:first-child {

				}
				&:last-child {
					background-color: #ffffff;
					top: -5px;
					border-top: none;
					@include widescreen {
						top: -9px;
					}
				}
			}
		}
		
		.selection-cta {
			display: block;
			.boxed-text.selection {
				display: block;
				font-size: 24px;
				letter-spacing: -.5px;
				@include tablet {
					margin-top: 50px;
					margin-left: -5px;
				}
				@include desktop {
					
				}
				@include widescreen {
					font-size: 40px;
					margin-top: 80px;
					margin-left: -9px;
				}
				@include fullhd {
					
				}
				> span {
					&:first-child {
						border-right: none;
					}
					&:last-child {
						background-color:#FFE816;
						margin-left: -8px;
						
						@include widescreen {
							margin-left: -10px;
						}
						@include fullhd {
							margin-left: -16px;
						}
					}
				}
			}
		}
		
		.main-text {
			margin-top: 30px;
			p {
				@include widescreen {
					font-size: 24px;
				}
			}
		}
		
		.smiley-logo {
			@include mobile {
				margin-top: 30px;
			}
			@include tablet {
				position: absolute;
				top: -10px;
			}
			@include desktop {
				top: -30px;
			}
		}
	}

	.lp-body {
		position: relative;
		padding: 48px;
		text-align: left;
		@include widescreen {
			padding: 100px;
		}
		.content {
		}
	}
	
	.collection {
		background-color: #ffe718;
		padding: 100px 32px 240px;
		@media screen and (min-width: 550px) {
			padding-bottom: 290px;
		}
		@include tablet {
			padding-top: 80px;
			padding-bottom: 380px;
		}
		@include desktop {
			padding-bottom: 470px;
		}
		@include widescreen {
			padding-left: 96px;
			padding-right: 96px;
		}
		@include fullhd {
			padding-bottom: 540px;
		}
		h2 + p {
			font-size: 24px;
			margin-top: 10px;
			@include widescreen {
				margin-top: 30px;
			}
		}
		.boxed-text{		
			display: block;
			@include mobile {
				width: 310px;
			}
			@include widescreen {
				margin-left: -10px;
			}
			> span {
				&:first-child {
					border-bottom: none;
					z-index: 1;
				}
				&:last-child {
					top: -5px;
					@include widescreen {
						top: -9px;
					}
				}
			}
			&:after {
				content: "";
				position: absolute;
				top: -75px;
				right: 15px;
				transform: rotate(13deg);
				z-index: 1;
				width: 110px;
				height: 110px;
				background-repeat: no-repeat;
				background-position: center top;
				background-size: cover;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/smileyx50.png');
				@include tablet {
					width: 160px;
					height: 160px;
					top: -10px;
					right: -200px;
				}
				@include desktop {
					width: 268px;
					height: 268px;
					top: -20px;
					right: -290px;
				}
				@include widescreen {
					right: -190px;
				}
				@include fullhd {
					top: 0;
					right: -290px;
				}
			}
		}
		
		.products {
			padding: 30px 0;
			max-width: 688px;
			margin: 0 -40px;
			@media screen and (min-width: 592px) {
				margin: 0 auto;
			}
			@include tablet {
				max-width: none;
			}
			@include widescreen {
				margin: 0 -12px;
			}
			a {
				display: block;
				background-color: #ffffff;
				height: 100%;
				&:hover {
					.image {
						@include desktop {
							transform: scale(1.05);
						}
						@include widescreen {
							transform: scale(1.08);
						}
					}
				}
			}
			.product {
				min-height: 224px;
				margin-bottom: 8px;
				@include tablet {
					margin-bottom: 16px;
				}
				@include widescreen {
					min-height: 314px;
					margin-bottom: 24px;
					padding-right: 12px;
					padding-left: 12px;
				}
				&:nth-child(odd) {
					@include mobile {
						padding-right: 2px;
					}
				}
				&:nth-child(even) {
					@include mobile {
						padding-left: 2px;
					}
				}
				&.main {
					@include mobile {
						min-height: 360px;
						padding: 0 8px;
					}
					@include tablet {
						padding: 0 8px;
					}
					@include widescreen {
						padding: 0 12px;
					}
					.product-image {
						min-height: 100%;
						.image {
							width: 100%;
							@include desktop {
								transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
							}
						}
					}
					.product-txt {
						background-color: transparent;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						p {
							&:last-child {
								color: #ffffff;
							}
						}
					}
				}
				.product-image {
					display: inline-flex;
					min-height: 158px;
					overflow: hidden;
					@include widescreen {
						min-height: 246px;
					}
					.image {
						@include desktop {
							transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
						}
					}
					img {
						min-height: 100%;
						width: auto;
						object-fit: cover;
						@include widescreen {
							max-height: 100%;
						}
					}
				}
				.product-txt {
					padding: 13px 0 13px;
					min-height: 68px;
					p {
						font-size: 10px;
						margin: 0;
						@include desktop {
							font-size: 14px;
						}
						&:first-child {
							font-weight: bold;
						}
						&:last-child {
							color: #4F4E4C;
						}
					}
				}
			}
		}
		
		&-cta {
			display: inline-block;
			font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-weight: 900;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: 1.2px;
			font-size: 28px;
			text-transform: uppercase;
			margin-top: 20px;
			@include widescreen {
				font-size: 40px;
				margin-top: 40px;
			}
			&:hover {
				text-decoration: none;
				.plus {
					&:before {
						@include desktop {
							transform: rotate(180deg);
						}
					}
					&:after {
						@include desktop {
							transform: rotate(270deg);
						}
					}
				}
			}
			.plus {
				display: block;
				position: relative;
				width: 78px;
				height: 78px;
				border-radius: 50%;
				border: 2px solid #000000;
				margin: 15px auto 0;
				@include widescreen {
					width: 96px;
					height: 96px;
					margin-top: 20px;
				}
				&:before, &:after {
					content: " ";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 30px;
					height: 2px;
					background-color: #000000;
					transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
					@include widescreen {
						width: 36px;
					}
				}
				&:after {
					transform: rotate(90deg);
				}
			}
		}
	}
	
	.graff {
		background-color: #eb0296;
		padding: 0;
		height: auto;
		position: relative;
		@include tablet {
			padding-top: 0;
		}
		&:before, &:after {
			content: "";
			position: absolute;
			width: 100%;
			z-index: 1;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&:before {
			height: 200px;
			top: -180px; 
			background-position: left bottom;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/bg-grafitti-pink-top@2x.png');
			@media screen and (min-width: 550px) {
				height: 263px;
				top: -243px;
			}
			@include tablet {
				height: 380px;
				top: -340px;
			}
			@include desktop {
				height: 456px;
				top: -410px;
			}
			@include fullhd {
				height: 526px;
				top: -480px;
			}
		}
		&:after {
			height: 430px;
			bottom: -250px; 
			background-position: -210px top;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/bg-grafitti-pink-bottom@2x.png');
			@media screen and (min-width: 390px) {
				height: 500px;
				bottom: -320px;
				background-position: center top;
			}
			@include tablet {
				height: 660px;
				bottom: -430px;
			}
			@include desktop {
				height: 800px;
				bottom: -510px;
			}
			@include fullhd {
				height: 924px;
				bottom: -590px;
			}
		}
		.content, .graffcontainer {
			margin-top: -10px;
			margin-bottom: -40px;
			z-index: 2;
			position: relative;
		}
		.content {
			padding: 0 48px;
			@include desktop {
				padding: 0 40px;
			}
			.default-graff {
						
				@include desktop {
					width: 605px;
					margin: auto;
				}
			}
			p {
				font-size: 16px;
				margin-top: 20px;
				@include tablet {
					margin-top: 48px;
				}
				@include widescreen {
					font-size: 24px;
				}
			}
		}
		.graffcontainer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			max-width: 320px;
			@include tablet {
				max-width: 688px;
			}
			@include desktop {
				max-width: 961px;
			}
			@include widescreen {
				max-width: 1048px;
			}
			@include fullhd {
				max-width: 1238px;
			}
			
			canvas {
				//border: 1px solid #ccc;
				background-color: #f5009b;
				position:relative;
				cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  width='90' height='90' viewBox='0 0 49.8 97.78'%3E%3Cg data-name='Calque 2'%3E%3Cpath d='M13 30.78a7 7 0 00-7 7v4.1a7 7 0 00-6 6.9v36a13 13 0 0013 13h12a13 13 0 0013-13v-36a7 7 0 00-6-6.9v-4.1a7 7 0 00-7-7h-2.2v-3H24a3 3 0 003-3v-10a3 3 0 00-3-3h-9a3 3 0 00-3 3v10a3 3 0 003 3h1.8v3zm5-13h3v4h-3zm31.8-1h-12v6h12zm-12.46 9l-4.25 4.24 8.49 8.49 4.24-4.25zM41.61 0l-8.48 8.49 4.24 4.24 8.49-8.49z' data-name='Calque 1'/%3E%3C/g%3E%3C/svg%3E")
				40 16, auto;
				@include tablet {
					
				}
			}
			.buttons {
				//background-color: #E54791;
				margin-top: 20px;
			}
			.close-button {
				position: absolute;
				right: -12px;
				top: -22px;
				z-index: 1;
				height: 44px;
				width: 44px;
				background-color: #ffffff;
				border: 2px solid #000000;
				border-radius: 50%;
				padding: 0;
				&:before {
					content: "";
					position: absolute;
					left: 0; right: 0; top: 0; bottom: 0;
					margin: auto;
					width: 13.5px;
					height: 14px;
					background-repeat: no-repeat;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.5 13.63'%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='f6577199-d3db-4ddb-a7cf-7c5cc03aca51' data-name='Calque 2'%3E%3Cg id='f17a2a96-9a26-419b-97e5-9b001cf02567' data-name='Calque 1'%3E%3Cpath d='M1.19.71l11.6,11.6m-.48-11L.71,12.92' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				}
			}
		}
		
	}
	
	.section-with-image {
		background-color: #000000;
		@include mobile {
			padding-top: 0;
		}
		.visuel-container {
			@include mobile {
				margin: 0 -48px;
			}			
		}
		.boxed-text {
			display: inline-block;
			max-width: 310px;
			margin-top: 48px;
			margin-left: -5px;
			@include desktop {
				max-width: 580px;
			}
			@include widescreen {
				margin-top: 90px;
			}
			@include fullhd {
				margin-right: -15px;
			}
			> span {
				&:nth-child(2) {
					@include touch {
						top: -5px;
					}
					@include desktop {
						top: -5px;
					}
					@include widescreen {
						top: -9px;
					}
				}
				&:last-child {
					top: -10px;
					@include widescreen {
						top: -18px;
					}
				}
			}
		}
		p {
			font-size: 16px;
			margin-top: 20px;
			@include widescreen {
				font-size: 20px;
			}
		}
	}
	
	.section-with-image:not(.haussmann) {
		.boxed-text {
			@include tablet {
				max-width: 260px;
			}
			@include widescreen {
				max-width: 400px;
			}
			@include fullhd {
				max-width: 530px;
			}
			> span {
				&:first-child {
					font-size: 24px;
					@include widescreen {
						font-size: 40px;
					}
				}
			}
		}
	}
	
	.andre {
		padding-top: 330px;
		@include tablet {
			padding-top: 500px;
			padding-bottom: 48px;
		}
		@include desktop {
			padding-top: 560px;
		}
		@include widescreen {
			padding-bottom: 100px;
		}
		@include fullhd {
			padding-top: 640px;
		}
		.visuel-container {
			@include tablet {
				padding-left: 48px;
			}
			@include widescreen {
				padding-left: 90px;
			}
			&:before {
				content: "";
				position: absolute;
				top: -105px;
				right: -30px;
				z-index: 1;
				width: 134px;
				height: 133px;
				background-repeat: no-repeat;
				background-position: center top;
				background-size: cover;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/smileyxo.png');
				@include tablet {
					width: 190px;
					height: 188px;
					top: -120px;
					right: 15px;
				}
				@include desktop {
					width: 271px;
					height: 268px;
					top: -165px;
					right: 20px;
				}
			}
		}
		.image {
			height: 450px;
			@include tablet {
				overflow: hidden;
			}
			@include widescreen {
				height: 600px;
			}
			img {
				height: 100%;
				max-width: none;
				position: absolute;
				left: -190px;
				margin: 0 auto;
				@media screen and (min-width: 520px) {
					left: -30px;
				}
				@include tablet {
					left: -220px;
				}
				@include widescreen {
					left: -310px;
				}
			}
		}
	}
	
	.fondation {
		@include tablet {
			padding-top: 190px;
		}
		@include desktop {
			padding-top: 130px;
		}
		@include fullhd {
			padding-top: 170px;
		}
		.container {
			z-index: 1;
		}
		.visuel-container {
			display: block;
			@include tablet {
				margin-right: -48px;
				padding-left: 48px;
			}
			@include widescreen {
				margin-right: -100px;
				padding-left: 0;
			}
		}
		.image {
			img {
				width: 100%;
			}
		}
		.boxed-text {
			@include tablet-only {
				margin-top: 0;
			}
			@include widescreen {
				margin-top: 0;
			}
			@include fullhd {
				margin-top: 90px;
			}
		}
		.content {
			@include widescreen {
				padding-right: 48px;
			}
			@include fullhd {
				padding-right: 58px;
			}
		}
	}
	
	.fondation-vid {
		
		.visuel-container {
			position: relative;
			overflow: hidden;
			display: block;
			height: 360px;
			@media screen and (min-width: 520px) {
				height: 540px;
			}
			@include tablet {
				height: 420px;
			}
			@include desktop {
				height: 600px;
			}
			@include fullhd {
				height: 692px;
			}
			.video {
				height: 100%;
				width: 200%;
				left: -50%;
				@include tablet {
					width: 116%;
					left: -8%;
				}
				@include desktop {
					width: 112%;
					left: -6%;
				}
				@include fullhd {
					width: 100%;
					left: 0;
				}
			}
		}
		.content {
			@include tablet {
				margin-top: 40px;
			}
			@include desktop {
			}
			@include widescreen {
			}
		}
	}
	
	.haussmann {
		@include tablet {
			padding-bottom: 0;
		}
		.container {
			z-index: 2;
		}
		.content {
			@include desktop {
				padding: 0 40px;
			}
		}
		.visuel {
			height: 450px;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/smiley-coupole_M.jpg');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/smiley-coupole_M@2x.jpg');
			}
			@include tablet {
				height: 560px;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/smiley-coupole_D.jpg');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/smiley-coupole_D@2x.jpg');
				}
			}
			@include widescreen {
				height: 714px;
			}
		}
		.boxed-text {
			> span {
				&:first-child {
					border-bottom: none;
					z-index: 1;
				}
				&:last-child {
					border-top: none;
				}
			}
		}
		p {
			@include tablet {
				margin-top: 48px;
			}
			@include widescreen {
				margin-top: 90px;
			}
		}
		&:after {
			@include tablet {
				content: "";
				position: absolute;
				left: 0;
				z-index: 1;
				width: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				height: 660px;
				bottom: -410px;
				background-position: center top;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2022/landing/smiley-50/bg-grafitti-black-bottom@2x.png');
			}
			@include desktop {
				height: 800px;
				bottom: -490px;
			}
			@include fullhd {
				height: 924px;
				bottom: -590px;
			}
		}
	}
	
	
	
	.univers {
		background-color: #FFE816;
		padding: 0;
		@include tablet {
			padding: 48px;
		}
		@include widescreen {
			padding: 100px;
		}
		.univers-cta {
			display: block;
			width: 230px;
			margin: 32px auto;
			@include mobile {
				text-align: left;
			}
			@include tablet {
				width: 100%;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.boxed-text {
			@include tablet {
				max-width: none;
				display: inline-flex;
			}
			@include fullhd {
				font-size: 96px;
			}
			> span {
				&:first-child {}
				&:nth-child(2) {
					@include mobile {
						border-top: none;
						top: -5px;
					}
				}
				&:last-child {
					background-color: transparent;
					top: -10px;
					@include tablet {
						top: 0;
						left: -5px;
					}
					@include widescreen {
						left: -9px;
					}
				}
			}
		}
	}
	
	.alt-button {
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 8px;
		&:hover {
			text-decoration: none;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: #000000;
		}
		.icon {
			position: relative;
			width: 16px;
			height: 9px;		
			display: inline-block;
			top: -1px;
			margin-left: 8px;
		}
		.has-arrow {
			
			&:after {
				content: "";
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0; bottom: 0; left: 0; right: 0;
				margin: auto;
			}
		}
	}
	
	.button {
		&.has-icon {
			min-width: auto;
			font-size: 14px;
			padding: 9px 24px 14px;
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: 2px;
			}
		}
		&.primary {
			.has-arrow {
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 16px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
		&.inverted {
			background-color: transparent;
			color: #000000;
			border-color: #000000;
			&.outlined {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						position: absolute;
						width: 16px;
					}
				}
				&:hover {
					border-color: #ffffff;
				}
			}
		}
	}
	
	
	&.has-js {

	}
}