@import "assets/css/core";
@import "assets/css/components/flickty";

// Pour annuler la hauteur des images en cas de chargement sans JS
.b-lazy {
	height: 1px;
	&:not(.b-loaded) {
		width: auto;
	}
}
//=============

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

// .back-top {
// 	display: none !important;
// }

.lp-container{
	background: linear-gradient(180deg, #FEEBD8 0%, #F7E4E4 37.5%, #E7B7C1 63.02%, #F9F9FF 83.33%, #E6E2FF 87%, #E6E2FF 100%);
	margin: 0 auto !important;
	overflow: hidden;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			
		}
	}
	.boxed-text {
		line-height: .8;
		display: inline;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 0;
		> span {
			display: inline-block;
			background-color: #fff;
			border: 4px solid #000;
			padding: 6px 11px 9px;
			position: relative;
			@include widescreen {
				border-width: 8px;
				padding: 16px 11px 22px;
			}
			@include fullhd {
				
				
			}
		}
		+ .boxed-text,
		+ p {
			margin-top: 16px;
			clear: both;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		margin-bottom: 16px;
		line-height: normal;
	}
	h1{
		font-size: 40px;
		letter-spacing: -1px;
		@include widescreen {
			font-size: 72px;
		}
	}
	h2 {
		font-size: 24px;
		letter-spacing: -.5px;
		@include widescreen {
			font-size: 40px;
			letter-spacing: -2px;
		}
	}
	h3 {
		font-size: 28px;
		letter-spacing: -.02em;
	}
	em,
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 1.43;
		@include widescreen {
			margin-bottom: 25px;
			line-height: 1.45;
			font-size: 20px;
		}
	}
	em {
		font-style: italic;
		font-size: 14px;
		@include widescreen {
			font-size: 18px;
		}
	}
	strong, .is-bold {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	.is-striked {
		text-decoration: line-through;
	}
	.tag {
		font-size: 24px;
	}
	.image {
		margin: 0;
	}
	.is-smaller {
		font-size: 100%;
	}
	.is-tiny {
		font-size: 12px;
	}
	.is-block {
		display: block;
	}
	.is-uppercase {
		text-transform: uppercase;
	}
	.is-marginless {
		margin: 0;
	}
	.has-text-left-mobile {
		@include mobile {
			text-align: left;
		}
	}
	.is-fullheight {
		height: 100%;
	}
	.is-fullwidth {
		width: 100%;
	}
	.bg-video {
		position: absolute;
		 height: 100%;
		 min-width: 100%;
		 margin: 0 auto;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%);
		 width: 100%;
	}
	.hero-bg-image {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.lp-hero {
		position: relative;
		height: 360px;
		overflow: hidden;
		@include tablet {
			height: 410px;
		}
		@include desktop {
			height: 580px;
		}
		&.has-video {
			+ .hero-txt {
				margin-top: -90px;
				@include widescreen {
					margin-top: -135px;
				}
			}
		}
		.video-container {
			overflow: hidden;
		}
		.title {
			position: relative;
			z-index: 1;
			img {
				width: 270px;
				@include desktop {
					width: 478px;
				}
			}
		}
		.video {
			width: 200%;
			min-height: 120%;
			@include tablet {
				width: 160%;
				min-height: 100%;
			}
			@include desktop {
				width: 140%;
			}
			@include widescreen {
				width: 120%;
			}
			@include fullhd {
				width: 100%;
			}
		}
	}
	
	.lp-body {
		padding: 18px;
		text-align: left;
		position: relative;
		@include tablet {
			text-align: center;
		}
		@include desktop {
			padding: 16px 70px;
		}
		@include widescreen {
			padding: 32px 90px;
		}
		@include fullhd {
			
		}
	}
	
	.hero-txt {
		padding-top: 60px;
		@include widescreen {
			padding-top: 80px;
		}
		.content {
			p {
				font-size: 20px;
				@include widescreen {
					font-size: 28px;
				}
				&:first-child {
					margin-top: 30px;
					margin-bottom: 30px;
					@include widescreen {
						margin-top: 70px;
						margin-bottom: 40px;
					}
				}
				&.is-bold {
					font-size: 24px;
					@include widescreen {
						font-size: 40px;
					}
				}
			}
			a {
				margin-top: 20px;
				@include widescreen {
					margin-top: 60px;
				}
			}
		}
		.boxed-text {
			@include tablet {
				left: 11px;
			}
			> span {
				&:first-child {
					@include mobile {
						border-bottom: none;
						z-index: 1;
						bottom: -4px;
					}
				}
				&:last-child {
					@include tablet {
						border-left: none;
						left: -22px;
					}
				}
			}
		}
	}
	
	.middle-section {
		.title {
			.image {
				padding-bottom: 60px;
				text-align: center;
				@include tablet {
					padding-bottom: 20px;
				}
			}
		}
		.content {
			padding: 24px 16px;
			@include tablet {
				text-align: left;
				padding: 16px;
			}
			@include desktop {
				padding: 20px 62px 0;
			}
			@include widescreen {
				padding-left: 30px;
				padding-right: 30px;
			}
			li {
				@include fullhd {
					margin-bottom: 40px;
				}
				&:last-child {
					@include fullhd {
						margin-bottom: 0;
					}
				}
			}
			p {
				@include widescreen {
					font-size: 24px;
					line-height: 1.4;
				}
			}
			h2 {
				margin-bottom: 8px;
			}
		}
		.main-image {
			.image {
				padding: 40px 16px 16px;
				text-align: center;
				@include tablet {
					padding: 16px;
				}
				img {
					max-height: 719px;
				}
			}
		}
	}
	
	.rituals, .brands {
		padding-top: 50px;
		@include tablet {
			padding-top: 80px;
		}
		@include widescreen {
			padding-top: 120px;
		}
		.boxed-text {
			font-family: 'GLBaderCompress-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-size: 40px;
			@include widescreen {
				font-size: 72px;
			}
			> span {
				background-color: transparent;
			}
		}
	}
	
	.rituals {
		.intro {
			p {
				margin-bottom: 30px;
				@include widescreen {
					font-size: 24px;
					margin-bottom: 50px;
				}
			}
		}
		.boxed-text {
			display: inline-block;
			margin-bottom: 25px;
			@include mobile {
				max-width: 246px;
				text-align: left;
			}
			@include widescreen {
				margin-bottom: 45px;
			}
			> span {
				display: inline-block;
				position: relative;
				@include mobile {
					padding: 6px 11px;
					background-color: #f8e4e4;
				}
				@include tablet {
					
				}
				&:first-child {					
					@include mobile {
						border-bottom: none;
						z-index: 1;
					}
					@include tablet {
						border-right: none;
						padding-right: 4px;
						margin-right: -4px;
					}
					@include widescreen {
						padding-right: 6px;
						margin-right: -6px;
					}
				}
				&:last-child {
					@include mobile {
						padding-bottom: 12px;
						top: -4px;
					}
					@include tablet {
						border-left: none;
						padding-left: 4px;
						margin-left: -4px;
					}
					@include widescreen {
						padding-left: 6px;
						margin-left: -6px;
					}
				}
			}
		}
		.slider-rituals {
			&:after {
				content: 'flickity';
				display: none;
				// @include desktop {
				// 	content: '';
				// }
			}
			.flickity-prev-next-button {
				top: 65px;
				width: 35px;
				height: 35px;
				padding: 0;
				background: rgba(0, 0, 0, 0.2);
				border: 3px solid #FFFFFF;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				@include tablet {
					top: 130px;
				}
				@include widescreen {
					width: 44px;
					height: 44px;
				}
				&.previous {
					@include tablet {
						left: 12%;
					}
					@include desktop {
						left: 21%;
					}
					@include widescreen {
						left: 25%;
					}
					@include fullhd {
						left: 28.5%;
					}
				}
				&.next {
					@include tablet {
						right: 12%;
					}
					@include desktop {
						right: 21%;
					}
					@include widescreen {
						right: 25%;
					}
					@include fullhd {
						right: 28.5%;
					}
				}
				.flickity-button-icon {
					width: 57%;
					height: 57%;
					fill: #ffffff;
				}
			}
			.flickity-page-dots {
				top: 185px;
				bottom: auto;
				@include tablet {
					top: 330px;
				}
				@include widescreen {
					top: 350px;
				}
				.dot {
					width: 13px;
					height: 13px;
					opacity: 1;
					background: transparent;
					border: 1px solid #C1A9AC;
					@include widescreen {
						width: 20px;
						height: 20px;
					}
					&.is-selected {
						width: 13px;
						height: 13px;
						margin-bottom: 0;
						background: #C1A9AC;
						@include widescreen {
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}
		.ritual-items {
			display: block;
			height: 430px;
			margin: 50px -18px 0;
			@include tablet {
				height: 550px;
			}
			@include desktop {
				margin: 50px -70px 0;
			}
			@include widescreen {
				height: 640px;
				margin: 85px -90px 0;
			}
			.ritual {
				width: 279px;
				padding: 0 15px;
				text-align: center;
				opacity: .7;
				transition: opacity 250ms ease-in-out;
				@include tablet {
					width: 467px;
					padding: 0 0;
				}
				&.is-selected {
					opacity: 1;
					@include tablet {
						width: 467px;
					}
					.image {
						@include tablet {
							width: 467px;
							height: 310px;
							margin-top: 0;
						}
					}
					.ritual-info {
						opacity: 1;
					}
				}
				// &:first-child {
				// 	@include tablet {
				// 		width: 507px;
				// 		padding-left: 40px;
				// 	}
				// }
				// &:last-child {
				// 	@include tablet {
				// 		width: 507px;
				// 		padding-right: 40px;
				// 	}
				// }
				.image {
					height: 165px;
					transition: all 250ms ease-in-out;
					@include tablet {
						height: 185px;
						width: 279px;
						margin: 40px auto 0;
					}
				}
				&-info {
					margin-top: 60px;
					opacity: 0;
					transition: all 350ms ease-in-out;
					@include widescreen {
						margin-top: 100px;
					}
				}
				&-txt {
					
				}
				&-price {
					font-size: 20px;
					margin-bottom: 25px;
					@include widescreen {
						font-size: 24px;
						margin-bottom: 45px;
					}
					.is-striked {
						color: #7A7A7A;
						opacity: .9;
					}
					.is-bold {
						font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
						font-weight: bolder;
					}
				}
			}
		}
	}
	
	.brands {
		.brand-items {
			margin-top: 40px;
			@include desktop {
				margin-top: 60px;
				margin-bottom: 10px;
			}
			@include widescreen {
				margin-top: 100px;
				margin-bottom: 40px;
			}
			@include fullhd {
				margin-top: 120px;
				margin-bottom: 60px;
			}
			.image {
				height: 200px;
				@include desktop {
					height: 260px;
				}
				@include widescreen {
					height: 320px;
				}
				@include fullhd {
					height: 353px;
				}
				img {
					max-height: 200px;
					@include desktop {
						max-height: 260px;
					}
					@include widescreen {
						max-height: 320px;
					}
					@include fullhd {
						max-height: 353px;
					}
				}
			}
			.brand-title {
				font-size: 24px;
				line-height: 1;
				margin-top: 20px;
				min-height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				@include widescreen {
					font-size: 40px;
					margin-top: 60px;
					min-height: 80px;
				}
			}
			.brand-txt {
				@media screen and (max-width: 374px) {
					min-height: 115px;
				}
				@include tablet {
					min-height: 92px;
				}
				@include widescreen {
					min-height: 116px;
				}
				@include fullhd {
					min-height: 92px;
					padding: 0 10px;
				}
			}
			a {
				display: block;
				margin-bottom: 50px;
				text-decoration: underline;
				@include desktop {
					&:hover {
						text-decoration: none;
					}
				}
				@include widescreen {
					font-size: 20px;
				}
			}
			&.has-large-txt {
				.brand-txt {
					@media screen and (max-width: 374px) {
						min-height: 162px;
					}
					@media screen and (min-width: 375px) and (max-width: 500px) {
						min-height: 138px;
					}
					@include tablet {
						min-height: 138px;
					}
					@include desktop {
						min-height: 116px;
					}
					@include widescreen {
						min-height: 146px;
					}
					@include fullhd {
						min-height: 116px;
					}
				}
			}
		}
	}
	
	.magasin {
		padding-top: 48px;
		padding-bottom: 64px;
		@include desktop {
			padding-bottom: 84px;
		}
		@include widescreen {
			padding-bottom: 124px;
		}
		@include fullhd {
			padding-bottom: 144px;
		}
		.content {
			h3 {
				@include widescreen {
					margin-bottom: 20px;
				}
				@include fullhd {
					margin-bottom: 40px;
				}
			}
			hr {
				border: 1px solid #D3D3D3;
				border-bottom: none;
				margin-bottom: 16px;
				@include widescreen {
					margin-bottom: 20px;
				}
				@include fullhd {
					margin-bottom: 40px;
				}
			}
			.week {
				margin-bottom: 16px;
				@include widescreen {
					margin-bottom: 20px;
					font-size: 20px;
				}
				@include fullhd {
					margin-bottom: 40px;
				}
				.day {
					display: inline-block;
					min-width: 70px;
					@include widescreen {
						min-width: 90px;
					}
				}
			}
			.button {
				margin-top: 18px;
			}
		}
		.image {
			padding: 40px 16px 16px;
			text-align: center;
			@include tablet {
				padding: 16px;
			}
			@include desktop {
				margin-left: 40px;
			}
			img {
				max-height: 719px;
			}
		}
	}
	
	
	.button {
		&.outlined {
			min-width: auto;
			font-size: 14px;
		}
		&.primary {
			min-width: auto;
			font-size: 14px;
			padding: 9px 24px 14px;
			.has-arrow {
				position: relative;
				display: inline-block;
				height: 15px;
				right: 0;
				top: 2px;
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					width: 16px;
				}
			}
			&:hover {
				.has-arrow {
					&:after {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23000' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
		}
	}
}