<!-- =========================== LANDING PAGE ========================== -->
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/live-shopping01.css" rel="stylesheet" type="text/css"/>
<div class="live-shopping">
    <section class="bloc01">
        <div class="section-content">
            <div class="language"><a href="/evt/en/live">EN</a> &nbsp;|&nbsp; FR</div>

            <div>
                <span>Les Galeries Lafayette s&rsquo;invitent chez vous</span>
                <h1>exclusive<br/>live shopping</h1>

                <p>Accompagn&eacute; en live vid&eacute;o par un conseiller de marque ou un Personal Shopper des
                    Galeries Lafayette Paris Haussmann, r&eacute;alisez votre shopping luxe et cr&eacute;ateur de votre
                    grand magasin depuis chez vous. <strong>Du lundi au samedi de 11H &mdash; 20H et le dimanche de 11H &mdash; 19H</strong>
                </p>

                <div class="cta-bloc">
                    <a class="live-shopping-cta goto-personal-shopper" href="" title="Consulter un Personal Shopper">Consulter un Personal Shopper</a>
                    <a class="live-shopping-cta goto-brands" href="" title="Contacter une Marque">Contacter une Marque</a>
                </div>
            </div>
        </div>

        <div class="hero-img hide-for-small">
            <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/d-hero02.jpg"/>
        </div>
    </section>

    <section class="bloc02">
        <div class="section-content">
            <h3>Un shopping simplifi&eacute;, personnalis&eacute;, sublim&eacute;</h3>

            <div class="service">
                <div class="bloc-service">
                    <span>
                        <img alt="L’inspiration" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-mic-black.jpg"/>
                    </span>

                    <p>
                        <strong>L&rsquo;inspiration</strong> &Eacute;changez en live vid&eacute;o avec un conseiller de marque ou nos Personal Shoppers
                    </p>
                </div>

                <div class="bloc-service">
                    <span>
                        <img alt="Le Luxe" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-luxe.jpg"/>
                    </span>

                    <p>
                        <strong>Le Luxe</strong> Acc&eacute;dez &agrave; nos plus belles marques luxe et cr&eacute;ateurs depuis chez vous
                    </p>
                </div>

                <div class="bloc-service">
                    <span>
                        <img alt="La simplicité" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-simplicite.jpg"/>
                    </span>

                    <p>
                        <strong>La simplicit&eacute;</strong> Confirmez votre commande par mail et proc&eacute;dez au paiement s&eacute;curis&eacute;
                    </p>
                </div>

                <div class="bloc-service">
                    <span>
                        <img alt="Le bonheur" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-bonheur.jpg"/>
                    </span>

                    <p>
                        <strong>Le bonheur</strong> Recevez votre commande personnalis&eacute;e &agrave; domicile ou en click &amp; collect
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bloc03">
        <div class="ancre" id="brands">&nbsp;</div>

        <div class="section-content">
            <div class="live-text">
                <h2>&Eacute;changez avec les conseillers de nos plus belles marques</h2>

                <p>
                    Explorez la liste des marques luxe et cr&eacute;ateurs dont les conseillers sont &agrave; votre
                    disposition.
                </p>
                <small class="hide-for-small icon-mic">
                    <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-mic-white.jpg"/>
                    Ce symbole vous indique la possibilit&eacute; de consulter un conseiller en video live. Dans le cas
                    contraire, partagez-nous votre liste d&rsquo;envies en remplissant le formulaire de contact.
                </small>
            </div>

            <div class="live-brands-list top16 show-brands" id="brands-top16">
                <span class="show-for-all read-more">
                    <span class="look-brands">Voir toutes les marques +</span>
                </span>
            </div>
        </div>

        <div class="section-content-brands-list show-brands">
            <div class="live-brands-list  all-hide" id="brands-list">
                <span class="show-for-all all-hide">
                    <span class="look-brands">Fermer -</span>
                </span>
            </div>
        </div>
        <small class="show-for-small icon-mic">
            <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-mic-white.jpg"/>
            Ce symbole vous indique la possibilit&eacute; de consulter un conseiller en video live. Dans le cas contraire,
            partagez-nous votre liste d&rsquo;envies en remplissant le formulaire de contact.
        </small>
    </section>

    <section class="bloc04">
        <div class="ancre" id="personal-shopper">&nbsp;</div>

        <div class="section-content">
            <div>
                <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/D-personal-shopper.jpg"/>
            </div>

            <div>
                <h2>Vous souhaitez &ecirc;tre inspir&eacute; ? Nos Personal Shoppers sont &agrave; votre &eacute;coute</h2>

                <p>
                    D&eacute;couvrez les derni&egrave;res collections d&rsquo;un large choix de marques luxe et cr&eacute;ateurs,
                    choisissez un cadeau ou une tenue pour compl&eacute;ter votre vestiaire, en &eacute;tant accompagn&eacute;
                    par nos Personal Shoppers disponibles en live vid&eacute;o.
                </p>
                <a class="live-shopping-cta" href="" onclick="clickedBrand=''; GL_GIS.LiveShopping.checkClerkAvailability(['ps1', 'ps2', 'ps3']); return false;">Consulter un Personal Shopper</a>
            </div>
        </div>
    </section>

    <section class="bloc05">
        <div class="ancre" id="faq">&nbsp;</div>

        <div class="section-content">
            <div>
                <h2>Vous avez des questions ?</h2>
                <a href="/evt/faq">Toute notre FAQ</a>
            </div>

            <div>
                <p>
                    <strong>Peut-on me voir pendant le live ?</strong>
                    Non, la cam&eacute;ra est unidirectionnelle. Vous voyez et entendez votre Personal Shopper. Lui, vous entend mais ne vous voit pas.
                </p>

                <p>
                    <strong>Quelles sont les modalit&eacute;s de livraison ?</strong>
                    Vous pouvez venir chercher votre colis le jour-J au click &amp; collect du magasin Galeries Lafayette Paris Haussmann. La livraison
                    est disponible sur la France et &agrave; l&rsquo;international.
                </p>

                <p>
                    <strong>Quelles sont les modalit&eacute;s de paiement ?</strong>
                    Vous pouvez payer directement en ligne gr&acirc;ce &agrave; un lien s&eacute;curis&eacute; ou faire un virement et recevoir un mail de confirmation du Service de Vente &agrave; Distance &agrave; la r&eacute;ception du paiement.
                </p>
            </div>
        </div>
    </section>

    <section class="bloc06">
        <div class="ancre" id="form">&nbsp;</div>

        <div class="section-content">
            <div>
                <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/D-formulaire.jpg"/>
            </div>

            <div>
                <h2>Vous savez ce que vous d&eacute;sirez ? Envoyez-nous votre liste d&rsquo;envies !</h2>

                <p>
                    Rep&eacute;rez. Partagez. Nous nous occupons de tout ! N&rsquo;h&eacute;sitez pas &agrave; nous partager vos souhaits en remplissant notre formulaire en ligne et ainsi &ecirc;tre livr&eacute; sereinement chez vous.
                </p>
                <a class="live-shopping-cta liveshopping-open-empty-form" href="#" target="_self">Remplir le formulaire</a>
            </div>
        </div>
    </section>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('.show-brands .show-for-all').on('click', function () {
            $('.show-brands .all-hide').toggleClass('all-show');
            $('.show-brands .show-for-all.read-more').toggleClass('read-all');
        });
    });
</script>
<script type="text/javascript">
    var clickedBrand = '';
    var marques = [
        {"marque":"Acné","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Alexander McQueen","secteur":"","top":true,"visio":true,"key":"brand28"},
        {"marque":"Ami","secteur":"Homme","top":false,"visio":false,"key":""},
        {"marque":"Balenciaga","secteur":"","top":true,"visio":true,"key":"brand2"},
        {"marque":"Baume & Mercier","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Bell & Ross","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Berluti","secteur":"","top":true,"visio":true,"key":"brand3"},
        {"marque":"Blancpain","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Boss","secteur":"","top":true,"visio":true,"key":"brand11"},
        {"marque":"Bottega Veneta","secteur":"","top":true,"visio":true,"key":"brand5"},
        {"marque":"Breitling","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Brunello Cucinelli","secteur":"","top":false,"visio":true,"key":"brand8"},
        {"marque":"Bulgari","secteur":"Mode","top":false,"visio":false,"key":""},
        {"marque":"Burberry","secteur":"","top":false,"visio":true,"key":"brand31"},
        {"marque":"Cartier","secteur":"Joaillerie","top":false,"visio":false,"key":""},
        {"marque":"Celine","secteur":"","top":false,"visio":true,"key":"brand22"},
        {"marque":"Chanel","secteur":"Mode","top":false,"visio":false,"key":""},
        {"marque":"Chanel ","secteur":"Beauté","top":false,"visio":true,"key":"brand18"},
        {"marque":"Chaumet","secteur":"Joaillerie","top":false,"visio":true,"key":"brand26"},
        {"marque":"Chloé","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Coach","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"David Yurman","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"De Beers","secteur":"","top":false,"visio":true,"key":"brand33"},
        {"marque":"Dior","secteur":"","top":true,"visio":true,"key":"brand13"},
        {"marque":"Dior ","secteur":"Beauté","top":true,"visio":true,"key":"brand14"},
        {"marque":"Dolce & Gabbana","secteur":"","top":false,"visio":true,"key":"brand20"},
        {"marque":"Dsquared","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Dunhill","secteur":"Homme","top":false,"visio":false,"key":""},
        {"marque":"Etoile","secteur":"","top":false,"visio":true,"key":"brand34"},
        {"marque":"Fendi","secteur":"","top":false,"visio":true,"key":"brand30"},
        {"marque":"Ferragamo","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Fred","secteur":"","top":false,"visio":true,"key":"brand24"},
        {"marque":"Givenchy","secteur":"","top":false,"visio":true,"key":"brand21"},
        {"marque":"Gucci","secteur":"","top":true,"visio":true,"key":"brand4"},
        {"marque":"Hamilton","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Herbelin","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Hermès","secteur":"Beauté","top":true,"visio":true,"key":"brand15"},
        {"marque":"Hogan","secteur":"","top":false,"visio":true,"key":"brand17"},
        {"marque":"Hublot","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Isabel Marant","secteur":"","top":false,"visio":true,"key":"brand34"},
        {"marque":"Jacquemus","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Jaeger Lecoultre","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Kenzo","secteur":"","top":true,"visio":true,"key":"brand6"},
        {"marque":"Lancel","secteur":"","top":false,"visio":true,"key":"brand25"},
        {"marque":"Lemaire","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Loewe","secteur":"","top":false,"visio":true,"key":"brand29"},
        {"marque":"Longchamp","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Longines","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Louis Vuitton","secteur":"","top":true,"visio":true,"key":"brand1"},
        {"marque":"Margiela","secteur":"Femme","top":false,"visio":false,"key":""},
        {"marque":"Marni","secteur":"","top":false,"visio":true,"key":"brand32"},
        {"marque":"MCM","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Mido","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Miu Miu","secteur":"Femme","top":false,"visio":true,"key":"brand16"},
        {"marque":"Moncler","secteur":"","top":true,"visio":true,"key":"brand23"},
        {"marque":"Montblanc","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Off-White","secteur":"Homme","top":true,"visio":true,"key":"brand10"},
        {"marque":"Omega","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Paco Rabanne","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Pal Zileri","secteur":"Homme","top":false,"visio":false,"key":""},
        {"marque":"Paladini","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Panerai","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Piaget","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Pomellato","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Prada","secteur":"","top":true,"visio":true,"key":"brand16"},
        {"marque":"Qeelin","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Rado","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Rimowa","secteur":"","top":false,"visio":true,"key":"brand7"},
        {"marque":"Roger Dubuis","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Roger Vivier","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Saint Laurent","secteur":"Mode","top":false,"visio":true,"key":"brand19"},
        {"marque":"Salvatore Ferragamo","secteur":"","top":false,"visio":true,"key":"brand27"},
        {"marque":"Seiko","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Stone Island","secteur":"Homme","top":false,"visio":false,"key":""},
        {"marque":"Tag Heuer","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Tiffany & Co.","secteur":"Joaillerie","top":false,"visio":false,"key":""},
        {"marque":"Tissot","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Tod's","secteur":"","top":false,"visio":true,"key":"brand17"},
        {"marque":"Ulysse Nardin","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Vacheron Constantin","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Van Cleef & Arpels","secteur":"","top":false,"visio":false,"key":""},
        {"marque":"Weston ","secteur":"","top":true,"visio":true,"key":"brand9"},
        {"marque":"Zegna","secteur":"Homme","top":true,"visio":true,"key":"brand12"},
        {"marque":"Zenith","secteur":"","top":false,"visio":false,"key":""}
    ];

    function getList(el, top = false) {
        const bloc = document.createElement('div');
        bloc.style.cssText = 'display: flex; flex-direction: column';
        let wrapper_letter = null;
        let wrapper = top ? bloc : wrapper_letter;
        const lst = top ? marques.filter(m => m.top) : marques;
        let letter = null;
        lst.forEach(m => {
            const l = m.marque.substring(0, 1);
            if (!top) {
                if (letter === null || letter !== l) {
                    letter = l;
                    wrapper_letter = document.createElement('div');
                    wrapper_letter.style.cssText = 'display: flex; flex-direction: column';
                    wrapper_letter.classList.add('wrapper');
                    bloc.appendChild(wrapper_letter);
                    const line = document.createElement('div');
                    line.innerText = l;
                    line.classList.add('letter');
                    wrapper_letter.appendChild(line);
                    wrapper = wrapper_letter;
                }
            }
            const line = document.createElement('a');
            line.setAttribute('href', "");
            if (m.visio) {
                line.setAttribute("onclick", "clickedBrand='" + m.marque.replace(/'/g, "\\'") + "'; GL_GIS.LiveShopping.checkClerkAvailability(['" + m.key + "']); return false;");
            } else {
                line.setAttribute("onclick", "clickedBrand='" + m.marque.replace(/'/g, "\\'") + "'; return false;");
            }
            line.innerText = m.marque;
            line.classList.add('marque');
            if (!m.visio) {
                line.classList.add('close-modal-and-go-to-form');
            }
            if (m.secteur) {
                const univers = document.createElement('span');
                univers.innerText = m.secteur;
                line.appendChild(univers);
            }
            if (m.visio) {
                const visio = document.createElement('img');
                visio.setAttribute('alt', m.marque);
                visio.setAttribute('src', 'https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-mic-white.jpg');
                line.appendChild(visio);
            }
            wrapper.appendChild(line);
        });
        document.getElementById(el).appendChild(bloc);
    }

    getList('brands-top16', true);
    getList('brands-list');
</script>
<!--=========================== POPIN FORM ========================-->

<div class="reveal-modal opened" data-reveal="" id="popin-live-shopping-form" role="dialog">
    <div>
        <a class="close-reveal-modal">Fermer</a>
        <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/m-formulaire02.jpg"/>

        <div class="shopping-modal">
            <div class="live-shopping-form" id="liveshopping-id">
                <h1>VOTRE LISTE D'ENVIES</h1>

                <p>
                    N&rsquo;h&eacute;sitez pas &agrave; nous partager, &agrave; tout moment, vos souhaits en Mode Luxe et Cr&eacute;ateurs, accessoires, beaut&eacute;, parfumerie et autres secteurs sur demande en remplissant notre formulaire en ligne et ainsi &ecirc;tre livr&eacute; sereinement chez vous. Nous nous occupons de tout.
                </p>

                <form id="liveshopping-form">
                    <select name="entry.304588818" required="">
                        <option disabled="disabled" selected="selected" value="">Civilit&eacute;*</option>
                        <option value="Monsieur">Monsieur</option>
                        <option value="Madame">Madame</option>
                    </select>
                    <input name="entry.509454348" placeholder="Nom*" required="" type="text"/>
                    <input name="entry.1522782477" placeholder="Prénom*" required="" type="text"/>
                    <input name="entry.468148627" placeholder="Numéro carte de fidélité" type="text"/>
                    <input name="entry.217612602" placeholder="Email*" required="" type="email"/>
                    <input name="entry.517758040" placeholder="Téléphone*" required="" type="tel"/>
                    <input name="entry.974087837" placeholder="Adresse*" required="" type="text"/>
                    <input name="entry.189941857" placeholder="Code postal*" required="" type="text"/>
                    <input name="entry.893139328" placeholder="Ville*" required="" type="text"/>
                    <input name="entry.733239574" placeholder="Pays*" required="" type="text"/>
                    <textarea id="liveshopping-form-marque" name="entry.1094282192" rows="3" placeholder="Marque(s)*" required=""></textarea>
                    <textarea name="entry.1705887713" rows="3" placeholder="Produits souhaités*" required=""></textarea>
                    <select name="entry.1908800211" required="">
                        <option disabled="disabled" selected="selected" value="">Mode de r&eacute;cup&eacute;ration souhait&eacute;*</option>
                        <option value="Click &amp; Collect Galeries Lafayette Haussmann">Click &amp; Collect Galeries Lafayette Haussmann</option>
                        <option value="Livraison à domicile">Livraison &agrave; domicile</option>
                    </select>
                    <textarea name="entry.1884808902" rows="3" placeholder="Précisions complémentaires"></textarea>
                    <span>*champs obligatoires</span>

                    <div id="recaptcha_element">&nbsp;</div>
                    <button class="live-shopping-cta" disabled="true" id="liveshopping-form-submit" type="submit">Envoyer</button>
                </form>
            </div>

            <script type="text/javascript">
                window.addEventListener("load", function () {
                    $(document).on('closed.fndtn.reveal', '[data-reveal]', function () {
                        var modal = $(this);
                        if (modal.attr('id') === 'popin-live-shopping-form') {
                            document.getElementById('liveshopping-form-submit').setAttribute('disabled', 'true');
                         }
                    });

                    $(document).on('opened.fndtn.reveal', '[data-reveal]', function () {
                        var modal = $(this);
                        if (modal.attr('id') === 'popin-live-shopping-form') {
                            document.getElementById('liveshopping-form-marque').value = clickedBrand || '';
                        }
                    });

                    function sendData() {
                        var XHR = new XMLHttpRequest();
                        var FD = new FormData(form);
                        XHR.addEventListener("load", function (event) {
                            form.reset();
                            grecaptcha.reset(recaptchaWidget);
                            $('#popin-live-shopping-form').foundation('reveal', 'close');
                            $('#popin-live-shopping-form-success').foundation('reveal', 'open');
                        });
                        XHR.addEventListener("error", function (event) {
                            form.reset();
                            grecaptcha.reset(recaptchaWidget);
                            $('#popin-live-shopping-form').foundation('reveal', 'close');
                            $('#popin-live-shopping-form-success').foundation('reveal', 'open');
                        });
                        XHR.open("POST", "https://docs.google.com/forms/u/0/d/e/1FAIpQLScRe9z6i6MgsY0xvkyVvh1fDV7BMXRjRyKQbcG61hLoc9-RJw/formResponse");
                        XHR.send(FD);
                    }

                    var form = document.getElementById("liveshopping-form");
                    form.addEventListener("submit", function (event) {
                        event.preventDefault();
                        sendData();
                    });
                });
                var recaptchaWidget;
                var onloadCallback = function () {
                    recaptchaWidget = grecaptcha.render('recaptcha_element', {
                        'sitekey': '6LeDz_cUAAAAAAv0cVuWW6F-xBAV2cD2BJmprF_F',
                        'callback': verifyCallback
                    });
                };

                function verifyCallback() {
                    if (grecaptcha.getResponse(recaptchaWidget)) {
                        document.getElementById('liveshopping-form-submit').removeAttribute('disabled');
                    }
                }
            </script>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
        </div>
    </div>
</div>
<!--=========================== POPIN BRAND UNAVAILABLE ========================-->

<div class="reveal-modal opened" data-reveal="" id="popin-live-shopping-closed" role="dialog">
    <div>
        <a class="close-reveal-modal">Fermer</a>
        <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/pop-in-live.jpg"/>
        <div class="shopping-modal">
            <div>
                <div id="ps-closed">
                    <h1>Service indisponible</h1>
                    <p>Nous sommes d&eacute;sol&eacute;s, votre conseiller n&rsquo;est pas disponible.</p>
                    <p>R&eacute;essayez dans quelques minutes et/ou connectez-vous sur les heures d&rsquo;ouverture, du lundi au samedi de 11h &agrave; 20h et le dimanche de 11h &agrave; 19h</p>
                    <hr/>
                    <p class="small">Vous savez ce que vous d&eacute;sirez ? Envoyez-nous votre liste d&rsquo;envies !</p>
                    <button class="live-shopping-cta form close-modal-and-go-to-form">Remplir le formulaire</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=========================== POPIN BRAND AVAILABLE ========================-->

<div class="reveal-modal opened" data-reveal="" id="popin-live-shopping-open" role="dialog">
    <div>
        <a class="close-reveal-modal">Fermer</a>
        <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/pop-in-live.jpg"/>
        <div class="shopping-modal">
            <div>
                <div id="ps-closed">
                    <h1>Votre conseiller est disponible pour vous</h1>

                    <p>Pour &ecirc;tre mis en relation, il vous suffit de d&eacute;marrer le live vid&eacute;o</p>
                    <button id="live-shopping-goinstore-start-chat" class="live-shopping-cta video" onclick="GL_GIS.LiveShopping.onConnectClick(); return false;">Demarrer le live vid&eacute;o</button>

                    <p class="small">Notez que seule la cam&eacute;ra de votre conseiller est activ&eacute;e</p>

                    <hr/>
                    <p class="medium">Vous savez ce que vous d&eacute;sirez ? Envoyez-nous votre liste d&rsquo;envies !</p>
                    <button class="live-shopping-cta form close-modal-and-go-to-form">Remplir le formulaire</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=========================== POPIN FORM SUCCESS ========================-->

<div class="reveal-modal opened" data-reveal="" id="popin-live-shopping-form-success" role="dialog">
    <div>
        <a class="close-reveal-modal">Fermer</a>
        <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/m-formulaire02.jpg"/>
        <div class="shopping-modal">
            <div>
                <div id="ps-closed">
                    <h2 id="modalTitle">Merci !</h2>
                    <p>
                        Nous avons bien reçu votre message ! Un conseiller vous recontactera rapidement pour finaliser la vente !
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=========================== POPIN BROWSER UNSUPPORTED ========================-->

<div class="reveal-modal opened" data-reveal="" id="popin-live-shopping-browser-unsupported" role="dialog">
    <div>
        <a class="close-reveal-modal">Fermer</a>
        <img alt="" src="https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/pop-in-live.jpg"/>
        <div class="shopping-modal">
            <div>
                <div id="ps-closed">
                    <h1>Navigateur non supporté</h1>
                    <p>Nous sommes d&eacute;sol&eacute;s, votre navigateur ne supporte pas les fonctionnalités de live vidéo.</p>
                    <hr/>
                    <p class="small">Vous savez ce que vous d&eacute;sirez ? Envoyez-nous votre liste d&rsquo;envies !</p>
                    <button class="live-shopping-cta form close-modal-and-go-to-form">Remplir le formulaire</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=========================== CLOSE POPIN AND GO TO FORM ========================-->
<script type="text/javascript">
    window.addEventListener("load", function () {
        $(document).on('click', '.liveshopping-open-empty-form', function(e) {
            e.preventDefault();
            clickedBrand = '';
            $('#popin-live-shopping-form').foundation('reveal', 'open');
        });

        $(document).on('click', '.close-modal-and-go-to-form', function () {
            var modal = $(this);
            var modalId = modal.parents('.reveal-modal').attr('id');
            $('#' + modalId).foundation('reveal', 'close');
            $('#popin-live-shopping-form').foundation('reveal', 'open');
        });

        $(document).on('click', '.live-shopping-cta.goto-personal-shopper', function (e) {
            e.preventDefault();
            $('html,body').animate({scrollTop: $('#personal-shopper').offset().top},'slow');
        });

        $(document).on('click', '.live-shopping-cta.goto-brands', function (e) {
            e.preventDefault();
            $('html,body').animate({scrollTop: $('#brands').offset().top},'slow');
        });

        $(document).on('click', '.gis-v3-close-btn', function (e) {
            e.preventDefault();
            location.reload();
        });
    });
</script>

<!--======== GO IN STORE WIDGET ======-->
<script type="text/javascript">
    var GL_GIS = GL_GIS || {};
    GL_GIS.LiveShopping = (function () {
        'use strict';
        var PLUGIN_ERROR = "PluginError";
        function show(id) {
            document.getElementById(id).style.display = 'block';
        }
        function hide(id) {
            document.getElementById(id).style.display = 'none';
        }
        function showModal() {
            show('msc-confirm');
            document.getElementById('install-btn').onclick = installPlugin;
        }
        function hideModal() {
            hide('msc-confirm');
        }

        function callEndedHandler(data) {
            console.log('GIS: call ended.');
            setTimeout(checkClerkAvailable, 3000);
        }
        function connectWithAutoInstallPlugin() {
            console.log('GIS: connecting via auto install plugin');
            gisApi.checkMicrophone(checkMicrophoneHandler);
        }
        function connectWithOutAutoInstallPlugin() {
            console.log('GIS: connecting via without auto install plugin');
            gisApi.checkMicrophone(checkMicrophoneHandler, false);
        }
        function checkMicrophoneHandler(err, hasMicrophone) {
            if (err instanceof Error && err.name === PLUGIN_ERROR) {
                showModal();
            } else if(err) {
                console.log("Error while checking Microphone: ", err);
            } else {
                console.log('GIS: checkMicrophoneHandler ok');
                gisApi.startCall(callEndedHandler);
            }
        }
        function installPlugin() {
            hideModal();
            gisApi.installPlugin();
        }
        function onSubmitContact(contactForm) {
            gisApi.submitContactDetails(contactForm);
        }

        function checkEnvironment() {
            return typeof gisApi != 'undefined'
                && typeof gisApi.getVersionInfo() != 'undefined'
                && gisApi.getVersionInfo().version.charAt(0) === '1'
                && gisApi.checkSystemSupported();
        }
        function checkClerkAvailability(routingKeysAsArray) {
            console.log('GIS: Checking clerk availability.');

            if (checkEnvironment()) {
                console.log('GIS: Current system supported.');
                var routingkeyAsJSON = {"required":[routingKeysAsArray],"optional":[]};
                gisApi.checkClerkAvailability(clerkAvailableHandler, clerkUnavailableHandler, JSON.stringify(routingkeyAsJSON));
                document.getElementById('live-shopping-goinstore-start-chat').dataset.brand = routingKeysAsArray;
            } else {
                console.log('GIS: Current system not supported.');
                $('#popin-live-shopping-browser-unsupported').foundation('reveal', 'open');
            }
        }
        function clerkAvailableHandler() {
            console.log('GIS: clerk available.');
            $('#popin-live-shopping-open').foundation('reveal', 'open');
            gisApi.logEvent(gisApi.Events.CALL_CTA_SHOWN);
        }
        function clerkUnavailableHandler() {
            console.log('GIS: clerk unavailable.');
            $('#popin-live-shopping-closed').foundation('reveal', 'open');
        }
        function onConnectClick() {
            var brandAsArray = document.getElementById('live-shopping-goinstore-start-chat').dataset.brand;
            console.log('GIS: making call to clerk ' + brand);
            $('#popin-live-shopping-open').foundation('reveal', 'close');

            var routingkeyAsJSON = {"required":[brandAsArray],"optional":[]};

            gisApi.logEvent(gisApi.Events.CALL_CTA_CLICK);
            gisApi.startCall(callEndedHandler, JSON.stringify(routingkeyAsJSON));
        }

        return {
            onConnectClick: onConnectClick,
            onSubmitContact: onSubmitContact,
            connectWithAutoInstallPlugin: connectWithAutoInstallPlugin,
            connectWithOutAutoInstallPlugin: connectWithOutAutoInstallPlugin,
            checkClerkAvailability: checkClerkAvailability
        };
    }
    ());
    window.onGisApiReady = function () {
        /* nothing atm */
    };
</script>
<script src="//gis.goinstore.com/gis/script/d320e21d-3fbc-468b-9dae-86409198d897" async defer></script>

<!--=========================== FIN LANDING PAGE ========================-->
