<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
@media screen and (min-width: 1024px) { 
     .richcontent-hero-image .block-selection {
         margin-left: 0; 
    }
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div>
              <a href="https://www.galerieslafayette.com/p/lip+comfort+oil+dans+mon+lip+comfort+oil+tout+le+soin+clarins-clarins/84058482/290003?version=v2">
                  <img alt="Clarins" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/clarins/clarins.jpg">
              </a>
           </div>
       </div> 

        <div class="new-content-edito" style="background: #f0e2d1;">
            <p class="content-edito" style="color: #000;">
                Clarins, la Beaut&eacute; prise au s&eacute;rieux. Clarins est n&eacute; par amour. L&#39;amour et le respect de Jacques
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide">
                  Courtin-Clarins pour la beaut&eacute; des femmes, depuis l&#39;ouverture du premier Institut Clarins &agrave; Paris en 1954. 
                  Clarins &oelig;uvre inlassablement pour offrir &agrave; chaque femme le meilleur de la Nature en y puisant ses actifs les plus pr&eacute;cieux. 
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>      
   <div class="block-selection with-carousel-variable-width">
        <ul class="carousel-rich-univers carousel-variable-width js-carousel-variable-width">
            <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/beaute-soin-soin+visage/fm/clarins#ebp=SmMvxkqDL6S1a502afB.ojV6MEUjYXXHEH.tkdqj..He">
                        <img alt="SOIN VISAGE" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clarins/vignette01.jpg"> 
                        <span>SOIN VISAGE</span> 
                    </a>
               </div>
            </li>
            <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="/c/Clarins+Cocooning">
                       <img alt="Auto-bronzants" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clarins/vignette02.jpg"> 
                       <span>Auto-bronzants</span> 
                   </a>
               </div>
            </li>
            <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="/c/beaute-maquillage/fm/clarins?ebp=8lL.QlYVeQ7BL6AqQORYnbvRBYrH7jqFrdhVZz91dw--">
                       <img alt="MAQUILLAGE" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clarins/v2/vignette03b.jpg"> 
                       <span>MAQUILLAGE</span> 
                   </a>
               </div>
            </li>
            <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="/b/clarins/flp/aromaphytocare">
                       <img alt="Aromaphytosoin" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2019/hero-image/marques/clarins/vignette05bis.jpg"> 
                       <span>Aromaphytosoin</span> 
                   </a>
               </div>
            </li>
            <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="/c/beaute-soin-soin+corps/fm/clarins#ebp=SmMvxkqDL6S1a502afB.ojUlgDDQ7vD8g9svftxaTbL2">
                       <img alt="SOIN CORPS" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clarins/vignette04.jpg"> 
                       <span>SOIN CORPS</span> 
                   </a>
               </div>
            </li>
            <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="/b/clarins/flp/clarinsmen">
                       <img alt="CLARINS MEN" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clarins/vignette05.jpg?02"> 
                       <span>CLARINS MEN</span> 
                   </a>
               </div>
            </li>
        </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>