<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Color Wow" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/color-wow/color-wow.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: #e9e9e9;">
            <p class="content-edito" style="color: #3c3434;">
               La rencontre de la chimie et de la passion pour des produits révolutionnaires, uniques et glamour.
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide">
                  Gail Federici, fondatrice, se donne pour mission de répondre à tous les problèmes existants ou nouveaux liés à la coloration. 
                  Color Wow offre une solution complète, à la maison, contre les repousses disgracieuses des racines, l'aspect jaunâtre, la décoloration et bien plus.
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
<ul class="carousel-rich-univers wrapper">
      <li>
         <div class="block-news">
             <a class="block-richcontent-link js-scramble-link" href="#">
                 <img alt="HAIR CARE" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/color-wow/vignette01.jpg"> 
                 <span>HAIR CARE</span> 
             </a>
         </div>
      </li>
      <li>
         <div class="block-news">
             <a class="block-richcontent-link js-scramble-link" href="#">
                 <img alt="HAIR STYLING" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/color-wow/vignette02.jpg"> 
                 <span>HAIR STYLING</span> 
             </a>
         </div>
      </li>
   </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>