<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Roger&Gallet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/dolce-gabbana/dolce-gabbana.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: rgb(162, 130, 116);">
            <p class="content-edito" style="color: rgb(0, 0, 0);">Synonyme du glamour italien et de la tradition sicilienne, Dolce&amp;Gabbana offre un luxe moderne et <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> <span class="all-hide"> non conventionnel, combinant des innovations fortes et l’héritage méditerranéen de ses origines. Les parfums Dolce&amp;Gabbana sont l’accessoire ultime pour exprimer son humeur du jour. Si les vêtements définissent la silhouette des hommes et des femmes, un jus sensuel permet de pénétrer au plus profond de leur être. <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span></p>
        </div>
   </div>      
   <div class="block-selection">
       <ul class="carousel-rich-univers wrapper"> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/dolce+gabbana/ct/beaute-parfum-parfum+femme"><img alt="Iconiques Femme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/dolce-gabbana/vignette01.jpg?01"> <span>Iconiques Femme</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/dolce+gabbana+beauty/ct/beaute-parfum-parfum+homme"><img alt="Iconiques Homme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/dolce-gabbana/vignette02.jpg?01"> <span>Iconiques Homme</span> </a></div> 	</li> </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>