<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Acqua di Parma" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/acqua-di-parma/acqua-di-parma02.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: rgb(197, 234, 221);">
            <p class="content-edito" style="color: #000;">
              Fondée en 1916, Acqua di Parma est une icône de l'excellence, de l'artisanat et du style italien.
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
              <span class="all-hide">
                 Le savoir-faire artisanal est au cœur de tous ses produits qui sont fièrement fabriqués en Italie, où l'authenticité et la simplicité brillent.
                 <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
      <ul class="carousel-rich-univers wrapper">
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/acqua+di+parma/f/parfum">
                  <img alt="FRAGRANCES" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/acqua-di-parma/vignette01b.jpg">
                  <span class="js-scramble-link">FRAGRANCES</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/acqua+di+parma/ct/beaute-parfum/flp/collection+maison">
                  <img alt="COLLECTION MAISON" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/acqua-di-parma/vignette02b.jpg">
                  <span class="js-scramble-link">COLLECTION MAISON</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/acqua+di+parma/flp/barbiere">
                  <img alt="SOIN BARBIERE" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/acqua-di-parma/vignette03b.jpg">
                  <span class="js-scramble-link">COLLECTION BARBIERE</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/acqua+di+parma/f/bain+douche">
                  <img alt="BAINS ET CORPS" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/acqua-di-parma/vignette04.jpg">
               <span class="js-scramble-link">BAINS & CORPS</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/acqua+di+parma/f/coffrets+parfum+pour+elle+lui/coffrets+homme">
                  <img alt="CADEAUX" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/acqua-di-parma/vignette05.jpg">
                  <span class="js-scramble-link">CADEAUX</span>
               </a>
            </div>
         </li>
      </ul>  
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>