<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Francis Kurkdjian" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/maison-francis-kurkdjian/maison-francis-kurkdjian04.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: #dcb478;">
            <p class="content-edito" style="color: #000;">Parfumeur contemporain parmi les plus célébrés, Francis Kurkdjian a imaginé 
               <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
               <span class="all-hide"> un territoire d'expression d'un perfectionnisme sensuel et délicat. La collection de parfums Maison Francis Kurkdjian se porte tel un vestiaire olfactif dont chacune des facettes accompagne une part de nous-mêmes.  
                  <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span>
               </span>
            </p>
        </div>
   </div>      
   <div class="block-selection">
       <ul class="carousel-rich-univers wrapper">          <li>             <div class="block-news">                 <a class="block-richcontent-link js-scramble-link" href="/b/maison+francis+kurkdjian/ct/beaute-parfum">                     <img class="visual hide-for-small" alt="Les parfums" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/maison-francis-kurkdjian/vignette01.jpg?01">                      <span class="js-scramble-link">Les parfums</span>                  </a>             </div>          </li>          <li>             <div class="block-news">                 <a class="block-richcontent-link js-scramble-link" href="/b/maison+francis+kurkdjian/f/bougies">                     <img class="visual hide-for-small" alt="L'art de vivre" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/maison-francis-kurkdjian/vignette02.jpg?01">                      <span class="js-scramble-link">L'art de vivre</span>                  </a>             </div>          </li>          <li>             <div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/maison+francis+kurkdjian/ct/beaute-soin">                     <img class="visual hide-for-small" alt="Le soin du corps" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/maison-francis-kurkdjian/vignette03.jpg?02">                      <span class="js-scramble-link">Le soin du corps</span>                  </a>             </div>          </li>        </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>