<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Roger&Gallet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/ysl/ysl.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: #f3e8d7;">
            <p class="content-edito" style="color: #000;">Yves Saint Laurent Beauté est la signature beauté la plus subversive des marques de Couture parisiennes. Bousculez les codes avec YSL Beauté.
               <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
               <span class="all-hide">  Oubliez les règles. Suivez votre intuition sans compromis. Chez Yves Saint Laurent, la beauté est attitude. Une manière de jouer, de séduire.
                  <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span>
               </span>
            </p>
        </div>
   </div>      
   <div class="block-selection">
       <ul class="carousel-rich-univers wrapper">
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/yves+saint+laurent/ct/beaute-parfum-parfum+femme">
                   <img alt="Parfums" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/ysl/vignette01.jpg">
                   <span>Parfums Femme</span>
                </a>
             </div>
          </li>
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/yves+saint+laurent/ct/beaute-parfum-parfum+homme">
                   <img alt="Corps" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/ysl/vignette02.jpg">
                   <span>Parfums Homme</span>
                </a>
             </div>
          </li>
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/yves+saint+laurent/ct/beaute-maquillage">
                   <img alt="Homme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/ysl/vignette03.jpg">
                   <span>Maquillage</span>
                </a>
             </div>
          </li>
       </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>