<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Hermès" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/hermes/beaute-maquillage/v2/hermes02.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: #A6CCCF;">
            <p class="content-edito" style="color: #000;">Hermès est le nom d’une maison, mais c’est avant tout celui d’une famille qui, depuis 1837, écrit de génération
               <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
               <span class="all-hide"> en génération l’histoire d’une entreprise parisienne fondée sur le savoir-faire artisan et la qualité, la tradition et l’innovation. Maison familiale indépendante, Hermès crée, fabrique, et vend des objets beaux, utiles et durables. Hermès déploie aujourd’hui sa créativité à travers seize métiers. Exigence et authenticité, élégance et sobriété, fantaisie et audace caractérisent toutes ses créations. 
                  <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span>
               </span>
            </p>
        </div>
   </div>      
   <div class="block-selection">
       <ul class="carousel-rich-univers wrapper"> 
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/hermes/ct/beaute-maquillage">
                   <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/marques/hermes/vignette01.jpg">
                   <span>Maquillage</span>
                </a>
             </div>
          </li>
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/hermes/ct/beaute-parfum-parfum+femme#ebp=SmMvxkqDL6S1a502afB.oibg6ZpYPZMxnj.ACmhF4YcS">
                   <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/hermes/v3/vignette02.jpg">
                   <span>Parfums femme</span>
                </a>
             </div>
          </li>
          <li>
             <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/hermes/ct/beaute-parfum-parfum+homme">
                   <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/hermes/beaute-maquillage/v2/vignette03.jpg">
                   <span>Parfums homme</span>
               </a>
            </div>
          </li>
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/hermes/flp/hermessences">
                   <img alt="Les Exclusifs" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/hermes/vignette04.jpg?01">
                   <span>Les Exclusifs</span>
                </a>
             </div>
          </li>
       </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>