<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><a href="/p/eau+de+toilette-guerlain/76862732/378"><img alt="Guerlain Eau de toilette" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/guerlain/v2/guerlain-v2.jpg"></a></div>           
       </div> 

        <div class="new-content-edito" style="background: rgb(249, 210, 155);">
            <p class="content-edito" style="color: rgb(60, 52, 52);">
               Depuis 190 ans, Guerlain explore, Guerlain innove, Guerlain sublime. En Parfum, en Soin, en Maquillage. Des créateurs audacieux, 
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide"> des créations mythiques, des savoir-faire transmis et perpétués.
                  <br />La Culture du Beau en signature. 
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
      <ul class="carousel-rich-univers wrapper">
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/guerlain/ct/beaute-parfum-parfum+femme">
                  <img alt="Parfums femme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/guerlain/v2/vignette01.jpg?01">
                  <span>Parfums femme</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/guerlain/ct/beaute-parfum-parfum+homme">
                  <img alt="Parfums homme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/guerlain/vignette02b.jpg?01">
                  <span>Parfums homme</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/guerlain/ct/beaute-soin">
                  <img alt="soin" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/guerlain/v2/vignette03c.jpg">
                  <span>soin</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/guerlain/ct/beaute-maquillage">
                  <img alt="maquillage" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/guerlain/v2/vignette04.jpg?01">
                  <span>maquillage</span> 
               </a>
            </div>
         </li>
      </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>