<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Shiseido" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/shiseido/shiseido-v2.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: rgb(248 249 241);">
            <p class="content-edito" style="color: rgb(21 36 23);">
               Depuis 140 ans Shiseido propose une conception unique de la beauté et transmet un savoir-faire aux 
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide"> quatre coins du monde. Nous sommes convaincus que nourrie de partage et d'empathie la beauté peut être une puissante force positive qui accompagne les nouvelles générations vers le futur.
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
      <ul class="carousel-rich-univers wrapper">
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/shiseido/ct/beaute-soin">
                  <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2019/hero-image/marques/shiseido/vignette01.jpg?01">
                  <span class="js-scramble-link">le soin</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/shiseido/ct/beaute-maquillage">
                  <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2018/hero-image/marques/refonte/shiseido/vignette02.jpg?02">
                  <span class="js-scramble-link">le maquillage</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/shiseido/ct/beaute-parfum">
                  <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2018/hero-image/marques/refonte/shiseido/vignette03.jpg?01">
                  <span class="js-scramble-link">le parfum</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/c/beaute+homme/fm/shiseido">
                  <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2018/hero-image/marques/refonte/shiseido/vignette04.jpg?01">
                  <span class="js-scramble-link">l’homme</span>
               </a>
            </div>
         </li>
      </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>