<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Bvlgari" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/bvlgari/v2/bvlgari.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: rgb(252, 219, 214);">
            <p class="content-edito" style="color: #000;">
              Les parfums Bvlgari, nés de la rencontre entre le joaillier et le parfumeur, sont l'expression de
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
              <span class="all-hide">
                 l'élégance méditerranéenne contemporaine. On y retrouve l'esprit novateur, le sens de la magnificence et la maîtrise des couleurs chers à la marque et profondément ancrés dans la ville de Rome.
                 <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
      <ul class="carousel-rich-univers wrapper">
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/bulgari/ct/beaute-parfum/prix/227-329">
                  <img alt="Soins Haute Technologie" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/bvlgari/vignette01.jpg">
                  <span>Le gemme</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/bulgari/ct/beaute-parfum-parfum+pour+elle+lui">
                  <img alt="Soins Cultes" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/bvlgari/vignette02.jpg">
                  <span>eau parfumée</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/bulgari/ct/beaute-parfum-parfum+femme">
                  <img alt="Soins Ciblés" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/bvlgari/v2/vignette03.jpg">
                  <span>parfums femme</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/bulgari/ct/beaute-parfum-parfum+homme">
                  <img alt="Parfums" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/bvlgari/vignette04.jpg">
                  <span>parfums homme</span>
               </a>
            </div>
         </li>
      </ul>  
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>