<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Clinique" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/clinique/clinique.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: #e0d7f7;">
            <p class="content-edito" style="color: #000;">Première marque au monde créée par des dermatologues, Clinique propose des produits simples, <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> <span class="all-hide">efficaces et sûrs pour des résultats visibles sur votre peau. Clinique répond aujourd’hui aux besoins de toutes les femmes, quel que soit leur âge, leur carnation et leur type de peau. Des formules conçues pour un résultat maximal sans irritation. Sans parabènes. Sans phtalates. Sans parfum. Soumis à 7200 tests d’allergie. <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span></p>
        </div>
   </div>      
   <div class="block-selection">
        <ul class="carousel-rich-univers wrapper"> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/s?query=smart%20clinique"><img alt="Anti âge" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clinique/v3/vignette01.jpg?01"> <span>Anti âge</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/c/beaute/soin/soin-du-visage/fm/clinique/fssv/hydratant-nourissant?l=n"><img alt="Hydratation" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clinique/v3/vignette02.jpg?01"> <span>Hydratation</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/clinique/ct/beaute-soin"><img alt="Soin" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clinique/v3/vignette03.jpg?02"> <span>Soin</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/clinique/ct/beaute-maquillage"><img alt="Maquillage" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clinique/v3/vignette04.jpg?01"> <span>Maquillage</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/clinique/ct/beaute-parfum"><img alt="Parfums" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/clinique/v3/vignette05.jpg?01"> <span>Parfums</span> </a></div> 	</li> </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>