<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Cartier" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/la-prairie/la-prairie.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #dbd3c1;">
						 <p class="content-edito" style="color: #000;">
								 Choisir un parfum Cartier parce qu’il est la signature d’un caractère. S’offrir un frisson d’élégance, une  
								<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
								<span class="all-hide">
								 aura invisible et précieuse. Des créations originales aux accords inédits.
								<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span>
							</span>
						 </p>
				</div>
	 </div>  
		
	 <div class="block-selection">
			<ul class="carousel-rich-univers wrapper">
				<li>
					<div class="block-news">
							<a class="block-richcontent-link js-scramble-link" href="/b/la+prairie/flp/platinum+rare">
									<img alt="Parfums femme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/la-prairie/vignette01.jpg">
									<span>Platinum rare</span> 
							</a>
					</div>
				</li>
				<li>
					<div class="block-news">
						 <a class="block-richcontent-link js-scramble-link" href="/b/la+prairie/flp/skin+caviar">
								 <img alt="coffrets" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/la-prairie/vignette02.jpg">
								 <span>Skin caviar</span> 
						 </a>
					</div>
				</li>
				<li>
					<div class="block-news">
							<a class="block-richcontent-link js-scramble-link" href="/b/la+prairie/flp/radiance">
									<img alt="Parfums homme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/la-prairie/vignette03.jpg">
									<span>Radiance</span>
							</a>
					</div>
				</li>
				<li>
					<div class="block-news">
							<a class="block-richcontent-link js-scramble-link" href="/b/la+prairie/flp/white+caviar">
									<img alt="Parfums femme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/la-prairie/vignette04.jpg">
									<span>White caviar</span> 
							</a>
					</div>
				 </li>				 
			</ul>
	 </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
<!---------------- FIN HERO IMAGE  ------------------>  