<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Rituals" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/rituals/rituals_b.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: #eaaacf;">
            <p class="content-edito" style="color: #000;">Les routines se trouvent partout dans notre quotidien et nous avons tendance à les ignorer. Rituals
               <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
               <span class="all-hide"> les transforme en moments riches de sens et vous rappelle d’en profiter chaque jour. Trouvez le bonheur dans les petites choses de la vie à travers des collections de produits raffinés pour le corps & la maison, aux senteurs inspirées des traditions ancestrales asiatiques et orientales.  
                  <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span>
               </span>
            </p>
        </div>
   </div>      
   <div class="block-selection">
       <ul class="carousel-rich-univers wrapper"> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/rituals/flp/the+ritual+of+sakura"><img alt="The Ritual of Sakura" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/rituals02/vignette01.jpg?01"> <span>The Ritual of Sakura</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/s?query=the%20ritual%20of%20ayurveda"><img alt="The Ritual of Ayurveda" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/rituals02/vignette02.jpg?01"> <span>The Ritual of Ayurveda</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/rituals/flp/the+ritual+of+karma"><img alt="The Ritual of Karma" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/rituals/vignette03.jpg?01"> <span>The Ritual of Karma</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/s?query=the%20ritual%20of%20jing"><img alt="The Ritual of Jing" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/rituals02/vignette04.jpg?01"> <span>The Ritual of Jing</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/b/rituals/flp/the+ritual+of+samurai"><img alt="Homme &amp; Sport" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/rituals/vignette05.jpg?01"> <span>Homme &amp; Sport</span> </a></div> 	</li> </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>