<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Givenchy" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/givenchy/givenchy.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: #fbdfd3;">
            <p class="content-edito" style="color: #000;">
               De la Mode à la Beauté, Givenchy célèbre plus de 60 ans de style et d’impertinence. Ses Parfums et Cosmétiques
               <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
               <span class="all-hide">offrent aux femmes et aux hommes des créations audacieuses et innovantes pour se réinventer librement. Entre sensorialité, couleur et performance, les intemporels et must-have Givenchy invitent à s’affirmer pour être magnétique et inoubliable. Givenchy libère votre élégance singulière.
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
      <ul class="carousel-rich-univers wrapper">
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/givenchy/ct/beaute-parfum-parfum+femme">
                  <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/givenchy/v2/vignette01.jpg" alt="Parfum">
                  <span>Parfum</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/givenchy/ct/beaute-parfum-parfum+homme">
                  <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/givenchy/vignette02.jpg" alt="Homme">
               <span>Homme</span>
            </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/givenchy/ct/beaute-maquillage-levres">
                  <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/givenchy/v2/vignette03.jpg" alt="Rouge à lèvres">
                  <span>Rouge à lèvres</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/givenchy/ct/beaute-soin">
                  <img class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/givenchy/v2/vignette04.jpg" alt="Soin Givenchy">
                  <span>Soin</span>
               </a>
            </div>
         </li>
      </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>