<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Roger&Gallet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/roger-gallet/roger-gallet.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: #f2d2cf;">
            <p class="content-edito" style="color: #000;">Depuis 1862, la maison Roger & Gallet distille du bonheur à travers des collections de parfums et d’essentiels de toilette où le sourire 
               <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
               <span class="all-hide"> et la joie de vivre sont une seconde nature. Dans le sillage de deux inventeurs de génie, héritiers de la formule de l’Eau de Cologne, chaque création puise dans la nature ses bienfaits et nous invite à ressentir le parfum différemment.  
                  <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span>
               </span>
            </p>
        </div>
   </div>      
   <div class="block-selection">
       <ul class="carousel-rich-univers wrapper">
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/roger+gallet/ct/beaute-parfum">
                   <img alt="Parfums" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/roger-gallet/vignette01.jpg">
                   <span>Parfums</span>
                </a>
             </div>
          </li>
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/roger+gallet/ct/beaute-soin-soin+corps">
                   <img alt="Corps" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/roger-gallet/vignette02.jpg">
                   <span>Corps</span>
                </a>
             </div>
          </li>
          <li>
             <div class="block-news">
                <a class="block-richcontent-link js-scramble-link" href="/b/roger+gallet/ct/beaute-soin-soin+homme">
                   <img alt="Homme" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/roger-gallet/vignette03.jpg">
                   <span>Homme</span>
                </a>
             </div>
          </li>
       </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>