<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">         
           <div><img alt="Rituals" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/origins/origins.jpg"></div>
       </div> 

        <div class="new-content-edito" style="background: #eab59e;">
            <p class="content-edito" style="color: #000;">
                Origins est née en 1990 d’une vision audacieuse. Celle de créer une marque qui se préoccupe du bien-être
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide">
                  des humains et de la planète. Nous avons recherché les ingrédients les plus puissants de la nature, 
                  identifié des alternatives sûres et utilisé des technologies scientifiques de pointe pour créer des produits aussi sains qu’efficaces.<br>
                   *Dans la limite de 20000 arbres.
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>      
   <div class="block-selection">
        <ul class="carousel-rich-univers wrapper">
           <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/origins/f/hydratant+nourrissant">
                        <img alt="Hydratation" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/origins/vignette01.jpg?01">
                        <span>Hydratation</span>                              
                   </a>
              </div>
            </li>
            <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="#">
                        <img alt="Anti imperfections" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/origins/vignette02.jpg?01">
                        <span>Anti imperfections</span>                              
                   </a>
              </div>
            </li>
            <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="#">
                        <img alt="Masques" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/origins/vignette03.jpg?01">
                        <span>Masques</span>                              
                   </a>
              </div>
            </li>
            <li>
               <div class="block-news">
                   <a class="block-richcontent-link js-scramble-link" href="#">
                        <img alt="Anti âge" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/origins/vignette04.jpg?01">
                        <span>Anti âge</span>                              
                   </a>
              </div>
            </li>
       </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>