<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Acqua di Parma" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/elizabeth-arden/elizabeth-arden.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: rgb(208, 167, 181);">
            <p class="content-edito" style="color: #000;">
              Elizabeth Arden se consacre depuis 1910 à l'émancipation des femmes en leur proposant un large
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
              <span class="all-hide">
                 éventail de soins pour la peau formulés scientifiquement, de parfums signatures et de produits de maquillage polyvalents. Aujourd’hui, la marque iconique est vendue dans plus de 120 pays et est fière de perpétuer l’héritage de sa fondatrice consistant à émanciper les femmes et à leur offrir des soins pour la peau luxueux et hautes performances qui tirent profit de plus de 100 ans d’expertise. 
                 <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
      <ul class="carousel-rich-univers wrapper">
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/elizabeth+arden/flp/eight+hour+cream">
                  <img alt="Soins Haute Technologie" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/elizabeth-arden/vignette03.jpg">
                  <span>Soins Cultes</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/elizabeth+arden/flp/prevage+">
                  <img alt="Soins Cultes" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/elizabeth-arden/vignette01.jpg">
                  <span>Soins Haute Technologie</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/elizabeth+arden/ct/beaute-soin-soin+visage">
                  <img alt="Soins Ciblés" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/elizabeth-arden/vignette02.jpg">
                  <span>Soins Ciblés</span>
               </a>
            </div>
         </li>
         <li>
            <div class="block-news">
               <a class="block-richcontent-link js-scramble-link" href="/b/elizabeth+arden/ct/beaute-parfum">
                  <img alt="Parfums" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/elizabeth-arden/vignette04.jpg">
                  <span>Parfums</span>
               </a>
            </div>
         </li>
      </ul>  
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>