<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Color Wow" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/aveda/aveda-main.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: #a9af41;">
            <p class="content-edito" style="color: #000;">
               Fondée en 1978 aux Etats-Unis, Aveda propose des produits capillaires, visage et corps haute performance, formulés avec
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide">
                  des ingrédients à 90% d’origine naturelle, à base d’essences pures de plantes et de fleurs, fabriqués dans le respect de la planète pour une expérience de beauté holistique. Depuis 2021 100% vegan – maintenant et pour toujours.
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
<ul class="carousel-rich-univers wrapper">
      <li>
         <div class="block-news">
             <a class="block-richcontent-link js-scramble-link" href="#">
                 <img alt="HAIR CARE" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/aveda/vignette01.jpg"> 
                 <span>Hydratation</span> 
             </a>
         </div>
      </li>
      <li>
         <div class="block-news">
             <a class="block-richcontent-link js-scramble-link" href="#">
                 <img alt="HAIR STYLING" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/aveda/vignette02.jpg"> 
                 <span>Réparation</span> 
             </a>
         </div>
      </li>
      <li>
         <div class="block-news">
             <a class="block-richcontent-link js-scramble-link" href="#">
                 <img alt="HAIR CARE" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/aveda/vignette03.jpg"> 
                 <span>Cheveux fins et clairsemés</span> 
             </a>
         </div>
      </li>
      <li>
         <div class="block-news">
             <a class="block-richcontent-link js-scramble-link" href="#">
                 <img alt="HAIR STYLING" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/aveda/vignette04.jpg"> 
                 <span>Cheveux Bouclés</span> 
             </a>
         </div>
      </li>
   </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>