<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Color Wow" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/o-and-m/o-and-m-main.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: #ebc0aa;">
            <p class="content-edito" style="color: #000;">
               Chez Original & Mineral, notre vision est de réunir la nature et le luxe dans une ligne de produits de coloration, de soins 
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide"> et de coiffage d'origine australienne qui sont sûrs, efficaces et beaux à utiliser.
                  <br />
                  Nos formulations remplacent les produits chimiques agressifs par des extraits naturels et des minéraux actifs, y compris des ingrédients d'origine australienne ainsi que des huiles essentielles de qualité qui procurent de réels bienfaits.
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
<ul class="carousel-rich-univers wrapper">
      <li>
         <div class="block-news">
             <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/o+m/flp/hair+styling/flp/hair+care">
                 <img alt="HAIR CARE" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/o-and-m/vignette01.jpg"> 
                 <span>Hair care</span> 
             </a>
         </div>
      </li>
      <li>
         <div class="block-news">
             <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/b/o+m/flp/hair+styling/flp/hair+styling">
                 <img alt="HAIR STYLING" class="visual hide-for-small" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/o-and-m/vignette02.jpg"> 
                 <span>Hair Styling</span> 
             </a>
         </div>
      </li>
   </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>