.accordions {

  .accordion {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #838383;
    padding: 15px 0;
    @include tablet {
      padding: 20px 15px;
    }
    @include widescreen {
      padding: 25px 25px;
    }
    &:hover,
    &.is-active {
      .accordion-header {
        cursor: pointer;
      }
    }
    &:hover {
      .accordion-header {
        color: #a6a6a6;
        .toggle {
          &::before {
            border-top-color: #a6a6a6;
          }
        }
      }
    }
    &.is-active {
      .accordion-header {
        .toggle {
          &::before {
            border-top: 0;
            border-bottom: 9px solid #000000;
          }
        }
      }
    }

    &:first-child {
      border-top: 1px solid #838383;
    }

    .accordion-header {
      height: auto;
      position: relative;
      line-height: inherit;
      transition: 300ms all ease;
      justify-content: normal;
      padding-right: 23px;
      
      .accordion-title {
        .title {
          margin: 0;
        }
        @include mobile() {
          flex-grow: 1;
        }
      }

      .toggle {
        cursor: pointer;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 0px;
        top: 0;
        bottom: 0;
        width: 18px;
        height: 9px;
        margin: auto 0;
        @include tablet {
          right: 0;
        }
        &::before {
          content: "";
          display: block;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-top: 9px solid #000000;
          margin: auto;
          transition: 150ms border-top ease;
        }
      }

      p {
        font-size: 16px;
        font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        margin-bottom: 0;
        @include widescreen {
          font-size: 20px;
        }
      }

      & + .accordion-body {
        overflow-y: hidden;
        max-height: 0;
        transition: max-height .2s ease;
        
        .accordion-content {
          padding: 15px 0 0;
          @include tablet {
            padding-top: 25px;
          }
          
          p {
            @include widescreen {
              font-size: 16px;
            }
          }
        }
      }
    }
    &.is-active {
      .accordion-header {
        .toggle {
          &::before {
            content: ""; /* arrow-up */
          }
        }
      }
      .accordion-body {
        max-height: 100em;
      }
    }
  }
}
