.tabs {
	-webkit-overflow-scrolling: touch;
	align-items: stretch;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
	width: 100%;
	margin: 0;
	ul {
		align-items: center;
		border-bottom: 1px solid #000000;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		justify-content: center;
	}
	li {

	}
	a {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-size: 24px;
		line-height: 1;
		letter-spacing: -0.86px;
		align-items: center;
		border-bottom: 0 solid #A6A6A6;
		color: #A6A6A6;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		padding: 10px 20px 30px;
		vertical-align: top;
		text-decoration: none;
		transition: all 150ms ease-out;
		&.is-active, &:hover , &:focus {
			color: #000000;
			box-shadow: inset 0 -0.3rem 0 #000000;
			@include widescreen {
				box-shadow: inset 0 -0.4rem 0 #000000;
			}
		}
	}
}
.tab-pane {
	//display: none;
	overflow-y: hidden;
	max-height: 0;
	height: auto;
	&.is-active {
		//display: block;
		max-height: none;
	}
}