<!-- ============ HERO IMAGE ============  --> 
 <link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack.min.v05.css" rel="stylesheet" type="text/css">
<section class="richcontent-hero has-actu has-actu-video">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image is-hidden-tablet" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/stone-island/fw21/hero_M.jpg'); background-position:center top;">&nbsp;</div>
		<div class="hero-bg-image is-hidden-mobile" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/stone-island/fw21/hero_D.jpg'); background-position:center center;">&nbsp;</div>
		<div class="buttons is-hidden-mobile is-animated">
			<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row text-center luxe-middle-fullhd luxe-center-tablet">
			<div class="luxe-col-mobile-12 luxe-col-widescreen-11">
				<div class="buttons is-hidden-tablet">
					<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
				</div>
				<p class="brand-edito is-hidden-tablet">Fondée en 1982, la marque italienne Stone Island s'est destinée à devenir le symbole de la recherche extrême autour des fibres et des textiles, appliquée à un design innovant. La maison qui dévoile des collections  <span class="is-hidden-mobile">sportswear pour homme a développé une capacité unique à travailler sur le vêtement fini, via une expérimentation continue des teintures et des traitements.</span>
					<span class="read more">&hellip; <span class="underline-text">suite</span></span> 
					<span class="read-more-content is-hidden"><span class="is-hidden-tablet">sportswear pour homme a développé une capacité unique à travailler sur le vêtement fini, via une expérimentation continue des teintures et des traitements.</span>&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
			<div class="luxe-col-mobile-12 mobile-vid-container">
				<div class="luxe-row luxe-middle-desktop">	
					
					<div class="luxe-col-mobile-12 luxe-col-tablet-6 luxe-col-desktop-7">
						<figure class="inspi-image">
							<button class="play play-vid-mobile is-hidden-tablet"></button>
							<button class="play play-vid-desktop  is-hidden-mobile"></button>
							<img class="is-hidden-tablet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/stone-island/visuel-video_M.jpg"
								srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/stone-island/visuel-video_M@2x.jpg 2x" 
								alt="La mode en Shopping à Distance - Galeries Lafayette">
							<img class="is-hidden-mobile" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/stone-island/visuel-video_D.jpg"
							srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/stone-island/visuel-video_D@2x.jpg 2x" 
							alt="La mode en Shopping à Distance - Galeries Lafayette" width="630" height="430">
						</figure>
						
					</div>
					<div class="luxe-col-tablet-6 luxe-col-desktop-5">
						<div class="actu-edito is-hidden-mobile">
							<p class="actu-edito-title is-hidden">Un pop-up pour une nouvelle icône</p>
							<p>Fondée en 1982, la marque italienne Stone Island s'est destinée à devenir le symbole de la recherche extrême autour des fibres et des textiles, appliquée à un design innovant. La maison qui dévoile des collections sportswear pour homme a développé une capacité unique à travailler sur le vêtement fini, via une expérimentation continue des teintures et des traitements.</p>
							<ul class="actu-infos is-hidden">
								<li>
									<p class="has-icon cal is-hidden">Du 5 juillet au 31 août</p>
								</li>
								<li>
									<p class="has-icon pin">Au 1e étage du magasin Coupole des Galeries Lafayette Paris Haussmann</p>
								</li>
							</ul>	
						</div>
					</div>
					
					<div class="video-pop-up-mobile is-hidden-tablet is-hidden">
						<button class="stop"></button>
						<iframe id="brand-vid-mobile" class="bg-video" src="https://player.vimeo.com/video/745722005?loop=1" width="767" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
						</video>
					</div>
					
				</div>
			</div>
			
			
			<div class="video-pop-up is-hidden">
				<button class="stop"></button>
				<iframe id="brand-vid" class="bg-video" src="https://player.vimeo.com/video/745721647?loop=1" width="1440" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
			</div>
			
			
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection is-hidden">
			<li>
				<a href="#">Femme</a>
			</li>
		</ul>
	</div>
	
</section>

<script src="https://static.galerieslafayette.com/media/LP/src/js/2021/shoppingadistance-richScrollMagic.min.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}
		
		var containerVideoMobile = document.querySelector('.mobile-vid-container');
		var brandIframeVideoMobile = document.getElementById('brand-vid-mobile');
		var brandPlayerVideoMobile = new Vimeo.Player(brandIframeVideoMobile);
		var popupVideoMobile = document.querySelector('.video-pop-up-mobile');
		var closeVideoMobile = document.querySelector('.video-pop-up-mobile .stop');
		var openVideoMobile = document.querySelector('.play-vid-mobile');
		
		var containerVideo = document.querySelector('.richcontent-hero-edito');
		var brandIframeVideo = document.getElementById('brand-vid');
		var brandPlayerVideo = new Vimeo.Player(brandIframeVideo);
		var popupVideo = document.querySelector('.video-pop-up');
		var closeVideo = document.querySelector('.video-pop-up .stop');
		var openVideo = document.querySelector('.play-vid-desktop');
		
		function playVidDesktop() {
			containerVideo.classList.add('vid-is-playing');
			popupVideo.classList.remove('is-hidden');
			brandPlayerVideo.play();
		}
		function closeVidDesktop() {
			containerVideo.classList.remove('vid-is-playing');
			popupVideo.classList.add('is-hidden');
			brandPlayerVideo.pause();
		}
		
		function playVidMobile() {
			containerVideoMobile.classList.add('vid-is-playing');
			popupVideoMobile.classList.remove('is-hidden');
			brandPlayerVideoMobile.play();
		}
		function closeVidMobile() {
			containerVideoMobile.classList.remove('vid-is-playing');
			popupVideoMobile.classList.add('is-hidden');
			brandPlayerVideoMobile.pause();
		}
		
		if("matchMedia" in window) {
			var mqDesktop = window.matchMedia("(min-width:768px)");
			mqDesktop.addListener(WidthChange);
			WidthChange(mqDesktop);
		}
		
		function WidthChange(mqDesktop) {
			if (mqDesktop.matches) {
				closeVidMobile();
				openVideo.addEventListener("click", function(e) {
					playVidDesktop();
				});
				closeVideo.addEventListener("click", function(e) {
					closeVidDesktop();
				});
			} else {		
				closeVidDesktop();		
				openVideoMobile.addEventListener("click", function(e) {
					playVidMobile();
				});
				closeVideoMobile.addEventListener("click", function(e) {
					closeVidMobile();
				});
			}
		}
		
		
		
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .buttons.is-animated", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->