<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2021/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
   .hero-image .new-content-edito {
       position: relative; 
    }
    .hero-image .new-content-edito .see-conditions {
        bottom: 2px;
    }
    .hero-image .conditions {
        padding-right: 22px;
    }
    .hero-image .new-content-edito.rich-promo h2 {
        font-size: 42px;
        line-height: 1;
    }
    .hero-image .new-content-edito.rich-promo h3 {
        font-size: 22px;
    }
@media screen and (min-width: 1250px) {
     .hero-image .new-content-edito.rich-promo h2 {
        line-height: 80px;
        font-size: 72px;
        margin-top: -21px;
    }
    .hero-image .new-content-edito.rich-promo h3 {
        font-size: 35px;
    }
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content hide-for-small">
           <div><img alt="Beaux jours, Bonjour" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/beaux-jours-bonjour/rich-beaux-jours.jpg"></div>
       </div> 

        <div class="new-content-edito rich-promo" style="background: #ff8b6c;">
            <div class="content-edito" style="color: #000;">
                <h2>BEAUX JOURS, BONJOUR</h2>
                <h3>-20% sur une sélection*</h3>
            </div>
           <span class="see-conditions" style="color: #000;font-size: 11px;">Voir conditions</span>
           <span class="conditions" style="text-transform: none;"><span class="close">&nbsp;</span>
            Offre valable exclusivement sur galerieslafayette.com sur une sélection d'articles signalés du 28 avril au 3 mai 2021.
           </span> 
        </div>
   </div>  
    
   <div class="block-selection">
        <ul class="carousel-rich-univers wrapper">
            <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/beaux+jours/ct/femme">
                        <span>Femme</span>                              
                    </a>
               </div>
             </li>
              <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/beaux+jours/ct/homme">
                        <span>Homme</span>                              
                    </a>
               </div>
             </li>

            <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/beaux+jours/ct/femme-sacs+et+bagages">
                         <span>Maroquinerie</span>                              
                    </a>
               </div>
             </li>
            <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/beaux+jours-beaux+jours+enfant">
                         <span>Enfant</span>                              
                    </a>
               </div>
              </li> 
              <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/beaux+jours/ct/beaute">
                         <span>Beauté</span>                              
                    </a>
               </div>
              </li>
             <li>
                <div class="block-news">
                    <a class="block-richcontent-link js-scramble-link" href="/c/beaux+jours/ct/maison">
                         <span>Maison</span>                              
                    </a>
               </div>
             </li> 
         </ul>
   </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
    $('.see-conditions').on('click', function() {
        $('.conditions').addClass('active');
    });
    $('.close').on('click', function() {
        $('.conditions').removeClass('active');
    });
});
</script>
<!---------------- FIN HERO IMAGE  ------------------>   