<!-- ============ HERO IMAGE ============  --> 
 <link href="https://static.galerieslafayette.com/media/LP/src/css/2022/rich-luxe-createurs-old-stack.min.v04.css" rel="stylesheet" type="text/css">
 <style>
		.hero-bg-video {
			position: absolute;
			height: 100%;
			min-width: 100%;
			margin: 0 auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 250%;
			min-height: 100%;
		}
		@media screen and (min-width: 768px) {
			.hero-bg-video {
				width: 120%;
				min-height: 112%;
			}
		}
		@media screen and (min-width: 1025px) {
			.hero-bg-video {
				width: 112%;
				min-height: 110%;
			}
		}
		@media screen and (min-width: 1250px) {
			.hero-bg-video {
				width: 114%;
				min-height: 100%;
			}
		}
		@media screen and (min-width: 1440px) {
			.hero-bg-video {
				width: 100%;
			}
		}
	</style>
<section class="richcontent-hero">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image">
			<iframe class="hero-bg-video" src="https://player.vimeo.com/video/722905628?background=1" width="1440" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
		</div>
		<div class="buttons is-hidden-mobile is-animated">
			<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
		</div>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row text-center luxe-middle-mobile luxe-center-tablet">
			<div class="luxe-col-mobile-12">
				<div class="buttons is-hidden-tablet">
					<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections en ligne</button>
				</div>
			</div>
			<div class="luxe-col-mobile-12 luxe-col-tablet-6">
				<figure class="inspi-image">
					<img class="is-hidden-tablet" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/luniform/202208/visuel_M.jpg"
						srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/luniform/202208/visuel_M@2x.jpg 2x" 
						alt="La mode en Shopping à Distance - Galeries Lafayette" width="170" height="250">
					<img class="is-hidden-mobile" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/luniform/202208/visuel_D.jpg"
					srcset="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/shoppingadistance/luniform/202208/visuel_D@2x.jpg 2x" 
					alt="La mode en Shopping à Distance - Galeries Lafayette" width="430" height="630">
				</figure>
			</div>
			<div class="luxe-col-tablet-6 luxe-col-desktop-5">
				<p class="brand-edito">Il y a les sacs d’un voyage et de tous les voyages, les sacs pour s’évader et ceux pour revenir, les sacs qui décident et les sacs <span class="is-hidden-mobile">qui se font prier, les sacs qu’on cache et ceux qu’on arbore. Il y a les sacs qu’on n’abandonnera jamais et ceux qu’on a déjà oubliés. Et il y a LE sac : celui qui s’impose</span>
					<span class="read more">&hellip; <span class="underline-text">suite</span></span> 
					<span class="read-more-content is-hidden"><span class="is-hidden-tablet">qui se font prier, les sacs qu’on cache et ceux qu’on arbore. Il y a les sacs qu’on n’abandonnera jamais et ceux qu’on a déjà oubliés. Et il y a LE sac : celui qui s’impose</span> et, dès lors, fidèle et discret, devient l’objet du quotidien : l’école, le travail, l’ailleurs. La vie en somme. Et quitte à mettre du beau dans l’utile, L/UNIFORM s’invite aussi dans la maison avec des objets simples, qu’on est juste heureux de retrouver tous les jours.&nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection is-hidden">
			<li>
				<a href="#">Femme</a>
			</li>
		</ul>
	</div>
	
</section>

<script src="https://static.galerieslafayette.com/media/LP/src/js/2021/shoppingadistance-richScrollMagic.min.js"></script>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function() {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		readLessTrigger.onclick = function() {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		};
		
		var smoothAnchor = document.querySelectorAll('.has-smoothscroll');
		for (var i=0; i < smoothAnchor.length; i++) {
			smoothAnchor[i].onclick = function() {
				var target = document.querySelector('.richcontent-hero-selection');
				if (target) {				
					if (window.matchMedia("(min-width:1024px)").matches) {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 98;
					} else {
						var offsetTop = target.getBoundingClientRect().top + window.pageYOffset;
					}
					scroll({
						top: offsetTop,
						behavior: "smooth"
					});
				}
			};
		}
		
		
		var controller = new ScrollMagic.Controller();

		var tweenHeroFade = TweenMax.to(".hero-bg-image", 1, {opacity: 0.1});
		var heroFade = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "40%", 
			offset: 0
			})
		.setTween(tweenHeroFade)
		.addTo(controller);
		
		var tweenHeroTxt = TweenMax.to(".header__product-list--first-line .results-title", 2, {opacity: 0, marginTop: "+=90"});
		var heroTxt = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroTxt)
		.addTo(controller);
		
		var tweenHeroButton = TweenMax.to(".richcontent-hero-image .buttons.is-animated", 2, {opacity: 0, marginBottom: "-=80"});
		var heroButton = new ScrollMagic.Scene({
			triggerElement: ".richcontent-hero-image",
			triggerHook: 0, 
			duration: "27%", 
			offset: 100
			})
		.setTween(tweenHeroButton)
		.addTo(controller);
	});
</script>
<!-- ============  FIN HERO IMAGE ============ -->