<link href="../media/LP/src/css/2021/rich-luxe-createurs.css" rel="stylesheet" type="text/css">
<!---------------- HERO IMAGE  ------------------> 
<!-- <link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css"> -->
<section class="richcontent-hero">
	<div class="richcontent-hero-image" style="background-color: #000000;">
		<div class="hero-bg-image is-hidden-tablet" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/shoppingadistance/rich-brand-hero_M.jpg'); background-position:76% center;">&nbsp;</div>
		<div class="hero-bg-image is-hidden-mobile" style="background-image:url('https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/shoppingadistance/rich-brand-hero_D.jpg'); background-position:center top;">&nbsp;</div>
		
		<button class="button primary has-arrow-down has-smoothscroll">Découvrir les collections</button>
	</div>
	
	<div class="richcontent-hero-edito">
		<div class="luxe-row luxe-center-mobile">
			<div class="luxe-col-tablet-6 luxe-col-desktop-5 luxe-col-widescreen-4">
				<p class="content-edito">Simon est né en 1990, à Salon de Provence, dans le Sud de la France. Âgé de 18 ans, il déménage à Paris pour étudier dans une école de mode mais la quitte un mois après, suite à la mort de sa mère. &nbsp;
					<span class="read more">&hellip; <span class="underline-text">Lire&nbsp;la&nbsp;suite</span></span> 
					<span class="read-more-content is-hidden"> En 2009, âge de 19 ans, il lance la marque JACQUEMUS, un hommage au prénom de jeune fille de sa mère. Simon puise son inspiration dans la région méditerranéenne et sa Provence natale. La femme JACQUEMUS est inspirée des femmes de sa vie, son entourage. Chaque collection raconte une histoire et est une référence à un souvenir. &nbsp;
					<span class="read less"><span class="underline-text">Fermer</span></span></span>
				</p>
			</div>
		</div>
	</div>

	<div class="richcontent-hero-selection">
		<ul class="selection">
			<li>
				<a href="#">Mode&nbsp;Femme</a>
			</li>
			<li>
				<a href="#">Mode&nbsp;Homme</a>
			</li>
			<li>
				<a href="#">Maroquinerie</a>
			</li>
		</ul>
	</div>
	
</section>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var readMore = document.querySelector('.read-more-content');
		var readMoreTrigger = document.querySelector('.read.more');
		var readLessTrigger = document.querySelector('.read.less');
		readMoreTrigger.onclick = function(e) {
			this.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		}
		readLessTrigger.onclick = function(e) {
			readMoreTrigger.classList.toggle('is-hidden');
			readMore.classList.toggle('is-hidden');
		}
		
		var smoothAnchor = document.querySelector('.has-smoothscroll');
		smoothAnchor.addEventListener("click", function(e) {
			e.preventDefault();
			var target = document.querySelector('.product-list__main');
			if (target) {
				var offsetTop = target.getBoundingClientRect().top + window.pageYOffset - 72;
				scroll({
					top: offsetTop,
					behavior: "smooth"
				});
			}
		});
	});
</script>
<!---------------- FIN HERO IMAGE  ------------------>

