<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="robe qui tourne" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/boutiques/enfant/robe_qui_tourne.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #E8E2C3;">
						 <p class="content-edito" style="color: #000;">
								Quelle petite fille n'a jamais rêvé d'une vraie robe qui tourne et virevolte au gré du vent ? Pour les cérémonies ou les
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide"> cours de récré, voilà une sélection spécialement pensée pour les fashionista en herbe.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>