<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Beauty Disrupted" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/beauty-disrupted/beauty-disrupted.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #cfc799;">
						 <p class="content-edito" style="color: #000;">
								La beauté en conscience, non genrée, conçue à Stockholm et façonnée dans le sud de la France. Sous forme solide et moussante, chaque création épouse les contours	du corps pour un plaisir inégalé,
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide">naturel avec des fragrances 100% bios de Grasse. Végane et Cruelty Free, sans plastique ni d'ingrédient controversé, BD reverse 20% des bénéfices à des ONG qui luttent pour la planète.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>