<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Trudon" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/trudon/trudon02.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #c5bebc;">
						 <p class="content-edito" style="color: #000;">
								Né en 1643, Trudon est le plus ancien cirier en activité au monde. Au XVIIe siècle, la manufacture devient Manufacture Royale de Cire fournisseur attitré
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide">de la Cour de France. Trudon développe aujourd’hui des bougies parfumées élaborées en partenariat avec des parfumeurs de renom. En 2017, la maison étend son savoir-faire et se dote d’une gamme de sept eaux de parfums.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>