<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Chemise en jean" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/the-ordinary/the-ordinary.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #F3F3F3;">
						 <p class="content-edito" style="color: #000;">
								The Ordinary est une marque fonctionnelle de beauté qui offre des technologies cliniques reconnues, efficaces, proposées à un prix juste et accompagnées d’un 
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide"> discours transparent. La marque a été créée pour célébrer l’intégrité dans l’industrie cosmétique. Ses soins sont pionniers en terme d’honnêteté et se focalisent sur l’aspect fonctionnel des formules.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>