<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Chemise en jean" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/mario-badescu/mario-badescu.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #f6ddd7;">
						 <p class="content-edito" style="color: #000;">
								UNE BELLE PEAU L'EST POUR TOUJOURS. Depuis 1967, Mario Badescu Skin Care s'est donné pour mission d'inspirer de bonnes habitudes 
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide"> pour la peau qui durent toute la vie, quel que soit le stade où vous vous trouvez dans votre parcours de soins de la peau. Grâce à des solutions éprouvées, formulées et testées quotidiennement dans leur salon emblématique de New York, les soins de la peau sont devenus faciles, efficaces et accessibles à tous.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>