<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Colekt" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/colekt/colekt.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #F0ECE2;">
						 <p class="content-edito" style="color: #000;">
								Colekt est une marque qui crée des routines de soins de la peau ainsi que des parfums de niche qui vous feront vivre l'expérience de la flore Scandinave.
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide">Fondée en 2020, la marque s'est rapidement imposée comme une référence grâce à son approche responsable dans l'univers de la beauté en produisant des soins de haute qualité avec des ingrédients naturels aux bienfaits reconnus.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>