<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
.hero-image .new-content-edito .smaller {
 font-size: 76%;	
}
@media screen and (min-width: 1024px) { 
	.richcontent-hero-image .block-selection {
			height: 10px;
	}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Les maillots de la saison" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/virtue/virtue.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #e8dcd4;">
					<div class="content-edito">						
						<p style="color: #000;">
							VIRTUE® est la seule gamme de soins capillaires biotechnologiques formulés avec l'Alpha Keratin 60ku®, une protéine naturelle qui
							<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
							<span class="all-hide">  renforce et répare tous types et textures de cheveux.<br />
							Pour la première fois, vos cheveux abîmés se régénèrent au niveau cellulaire grâce à l'Alpha Keratin 60ku®, scientifiquement prouvée pour transformer les cheveux dès cinq lavages.
								<br />
								<span class="smaller hidden-for-medium-only">SANS SULFATES, PARABENS, PHTALATES, COULEURS SYNTHÉTIQUES ET COLORANTS. SANS GLUTEN. CRUELTY FREE.</span> 
							<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
						</p>
					</div>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>