<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Callys" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/marques/callys/callys.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #d9ebf7;">
						 <p class="content-edito" style="color: #000;">
								Callys propose des soins anti-âge conçus avec le meilleur de la technologie suisse pour combattre les signes du temps et préserver son capital jeunesse.
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide">Ses sérums visage sont riches en actifs puissants et efficaces, à plus de 97% d’origine naturelle, formulés exclusivement avec l’eau des glaciers environnants, pure et riche en minéraux. Pour des résultats visibles et durables.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>