<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Lanvin" src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/shoppingadistance/rich-lanvin@2x.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #f3f1e4;">
						 <p class="content-edito" style="color: #000;">
								Fondée en 1889 par Jeanne Lanvin, une femme visionnaire amoureuse d'art et de culture, Lanvin est la plus ancienne maison de couture française  
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide">toujours en activité et une référence du luxe parisien. Aujourd'hui, Lanvin perpétue la tradition artistique à travers la vision moderne de Bruno Sialelli, directeur artistique depuis janvier 2019. Il se démarque par sa nouvelle perspective sur l'esprit Lanvin, avec une confiance et une énergie qui caractérisent parfaitement ce nouveau chapitre de l'histoire de la maison de couture.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>