<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .block-selection {
		padding: 0;
		height: 0;
}
.richcontent-hero-image {
padding-bottom: 0;
}
@media screen and (min-width: 1024px) { 
		.richcontent-hero-image .block-selection {
				height: 10px;
		}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Studio Céleste" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/studio-celeste/studio-celeste.gif"></div>
			 </div> 

				<div class="new-content-edito" style="background: #8ebdd1;">
						 <p class="content-edito" style="color: #fff;">
								Studio Céleste est née d’une envie simple : provoquer la rencontre entre le style et le sens. Célébrant la féminité avec gaieté et poésie,
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide"> ses chaussures ont été créées pour marcher au rythme de notre époque, en suivant ses désirs. Éco-conçues sans matière ni composant d’origine animale, elles sont certifiées VEGAN par le label PETA. Avec soin et détails pétillants, Studio Céleste fait bouger les lignes de la mode à petit pas.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">&nbsp;</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>