section {
	padding: 20px;
	&[class*="hero"] {
		padding: 20px 10px;
	}
}
.container {
	margin: 0 auto;
	position: relative;
	@include tablet {
		margin: 0 -20px;
	}
}
h1, h2, h3, h4 {
	font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-weight: 900;
	font-stretch: normal;
	margin-bottom: 20px;
}
h1 {
	font-size: 56px;
	line-height: 1.71;
	letter-spacing: -2.33px;
	text-align: center;
	@include desktop {
		font-size: 84px;
		line-height: 1.3;
	}
	@include widescreen {
		font-size: 120px;
		letter-spacing: -5px;
		line-height: 0.8;
		margin-bottom: 45px;
	}
}
h2, h4 {
	font-size: 40px;
	line-height: 1;
	letter-spacing: -1.67px;
	@include widescreen {
		font-size: 70px;
		letter-spacing: -3.5px;
		margin-bottom: 35px;
	}
}
h3 {
	font-size: 24px;
	line-height: normal;
	letter-spacing: -1px;
	@include widescreen {
		font-size: 40px;
	}
}
h4 {
	@include widescreen {
		font-size: 66px;
	}
}
p {
	font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.38;
	letter-spacing: normal;
	margin-bottom: 20px;
	@include widescreen {
		margin-bottom: 40px;
		font-size: 18px;
		line-height: 1.45;
	}
}