.breadcrumb {
	font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	white-space: nowrap;
	margin-top: -10px;
	@include tablet {
		margin-bottom: -10px;
		margin-left: 20px;
	}
	ul {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 14px;
		@include tablet {
			justify-content: flex-start;
			font-size: 12px;
		}
	}
	li {
		align-items: center;
		display: flex;
		&:first-child {
			a {
				padding-left: 0;
			}
		}
		+ li {
			&:before {
				content: "/";
			}
		}
		&.is-active {
			a {
				color: #aaa8a3;
				cursor: default;
				pointer-events: none;
			}
		}
	}
	a {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 0 5px;
		
	}
}