&.has-js {
	&.template-marque {
		.luxe-augmente-body {
			.animated-article {
				.article-image {
					@include tablet {
						bottom: -80px;
					}
				}
			}
		}
	}
	&.template-vad {
		.luxe-augmente-body {
			.article2, .article3 {
				.article-image {
					bottom: -80px;
				}
			}
			.distance-shopping {
				.article-txt {
					bottom: -40px;
				}
			}
		}
	}
	.luxe-augmente-body {
		overflow: hidden;
		.animated-article {
			.article-image, .article-body, .article-txt, .podium-image {
				opacity: 0;
				transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
			}
			&.visible {
				.article-image, .article-body, .article-txt, .podium-image {
					opacity: 1;
				}
			}
		}
	}
}