.has-text-big {
	p {
		font-family: 'GL_Bader_Narrow-Light',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-size: 30px;
		line-height: 1.67;
		letter-spacing: 10px;
		@include widescreen {
			letter-spacing: 10px;
		}
	}
}
.has-text-fat {
	p {
		font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-size: 46px;
		line-height: .96;
		letter-spacing: -1.92px;
		@include tablet {
			font-size: 90px;
		}
		@include widescreen {
			font-size: 130px;
			letter-spacing: -5.42px;
		}
	}
}
.has-text-huge {
	p, h3 {
		font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-size: 64px;
		line-height: .94;
		letter-spacing: -2.67px;
		@include tablet {
			font-size: 80px;
		}
		@include desktop {
			font-size: 100px;
		}
		@include widescreen {
			font-size: 130px;
			letter-spacing: -5.42px;
		}
	}
}
.is-pulled-row {
	@include tablet {
		margin-top: -380px;
	}
	@include desktop {
		margin-top: -530px;
	}
	
	> div {
		@include fullhd {
			max-width: 396px;
		}
	}
}
.has-text-right-tablet {
	@include tablet {
		text-align: right !important;
	}
}
.has-text-vertical {
	transform: rotate(-90deg);
	transform-origin: center center;
}
.is-uppercase {
	text-transform: uppercase;
}
.is-marginless {
	margin: 0;
}