&-hero {
	height: 360px;
	text-align: center;
	position: relative;
	overflow: hidden;
	@include tablet {
		height: 448px;
	}
	@include desktop {
		height: 546px;
	}
	@include widescreen {
		height: 630px;
	}
	.container {
		height: 100%;
	}
	.luxe-row {
		position: absolute;
		bottom: 45px;
		left: 0;
		right: 0;
		height: 115px;
		@include tablet {
			height: 185px;
			bottom: 0;
		}
		@include desktop {
			height: 210px; 
		}
		@include widescreen {
			bottom: 40px;
		}
	}
	h1 {
		color: #ffffff;
		margin-bottom: 0;
		@include desktop {
			margin-bottom: 10px;
		}
		@include widescreen {
			margin-bottom: 40px;
		}
	}
	.hero-bg-image {
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.7;
	}
}