.podium {
	margin-bottom: 50px;
	margin-top: -15px;
	@include tablet {
		margin-top: -40px;
		margin-bottom: 60px;
	}
	@include desktop {
		margin-top: -50px;
	}
	@include widescreen {
		margin-top: -85px;
	}
	h3 {
		font-size: 50px;
		letter-spacing: -2.08px;
	}
	&-image {
		height: 222px;
		margin: 20px 0;
		overflow: hidden;
		display: inline-flex;
		@include tablet {
			height: 272px;
		}
		@include desktop {
			height: 292px;
		}
		@include widescreen {
			height: 312px;
		}
		.image {
			margin: 0;
			@include desktop {
				transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
			}
		}
	}
	&-txt {
		display: inline-flex;
		min-height: 44px;
		@include widescreen {
			min-height: 52px;
		}
		p {
			margin: 0;
			font-size: 14px;
			@include tablet {
				font-size: 16px;
			}
			@include widescreen {
				font-size: 18px;
			}
		}
	}
	&-cta {
		display: inline-block;
		font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: 1.2px;
		font-size: 24px;
		text-transform: uppercase;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			.plus {
				&:before {
					@include desktop {
						transform: rotate(180deg);
					}
				}
				&:after {
					@include desktop {
						transform: rotate(270deg);
					}
				}
			}
		}
		.plus {
			display: block;
			position: relative;
			width: 78px;
			height: 78px;
			border-radius: 50%;
			border: 1px solid #000000;
			margin: 0 auto 33px;
			@include widescreen {
				width: 108px;
				height: 108px;
			}
			&:before, &:after {
				content: " ";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 40px;
				height: 1px;
				background-color: #000000;
				transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
				@include widescreen {
					width: 56px;
				}
			}
			&:after {
				transform: rotate(90deg);
			}
		}
		
	}
}
.podium-items {
	margin-bottom: 40px;
	margin-left: -20px;
	margin-right: -20px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	@include tablet {
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	@include widescreen {
		margin-bottom: 50px;
	}
	div[class*=luxe-col-] {
		height: 326px;
		border-bottom: 1px solid #000000;
		border-right: 1px solid #000000;
		@include tablet {
			height: 376px;
		}
		@include desktop {
			height: 396px;
		}
		@include widescreen {
			height: 426px;
		}
		&:last-child {
			border-right: none;
		}
		&:last-child, &:nth-last-child(2) {
			@include mobile {
				border-bottom: none;
			}
		}
		&:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
			@include tablet {
				border-bottom: none;
			}
		}
		&:nth-child(even) {
			@include mobile {
				border-right: none;
			}
		}
	}
	a {
		display: block;
		&:hover {
			.image {
				@include desktop {
					transform: scale(1.05);
				}
				@include widescreen {
					transform: scale(1.08);
				}
			}
		}
	}
}