@import "assets/css/core";

// hide search on mobile
.header--shadow {
	@include mobile {
		height: 48px !important;
	}
}
.menu-wrapper {
	@include mobile {
		height: 0;
	}
}
.menu-wrapper__search {
	@include mobile {
		display: none !important;
	}
}
//======================
.section-main-container {
	max-width: 1250px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}
.footer {
	margin-top: 0;
}
.footer-description {
	padding: 0 !important;
}
.luxe-col-tablet-offset-0 {
	@include tablet {
		margin-left: 0;
	}
}


.grand-jeu-noel {
	background-color: #1F1A3E;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	
	h1, h2, h3, h4, .h2 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
	}
	h1 {
		font-size: 72px;
		line-height: 1.1;
		letter-spacing: -2.5px;
		margin: 0 auto;
		@include tablet {
			text-align: left;
			font-size: 62px;
		}
		@include desktop {
			font-size: 76px;
		}
		@include widescreen {
			font-size: 96px;
			letter-spacing: -4px;
			line-height: 1;
			margin-bottom: 25px;
		}
	}
	h2, .h2 {
		font-size: 24px;
		line-height: 1;
		letter-spacing: -.4px;
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
	}
	a {	
		&.is-text {
			font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			color: inherit;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			letter-spacing: normal;
			text-decoration: underline;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
		&.is-pink {
			color: #ff208d;
		}
		&.is-bold {
			font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		}
	}
	.button {
		font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-size: 16px;
		font-weight: 900;
		font-stretch: normal;
		line-height: 0.89;
		letter-spacing: 1.13px;
		text-transform: uppercase;		
		border: 1px solid #000000;
		border-radius: 24px;
		padding: 12px 25px;
		margin-bottom: 20px;
		min-width: 100%;
		text-decoration: none;
		&.is-primary {
			background-color: #000000;
			&:hover {
				background-color: #ffffff;
				color: #000000;
			}
		}
		&.is-blue {
			background-color: #1F1A3E;
			border-color: #1F1A3E;
			&:hover {
				background-color: #ffffff;
				color: #1F1A3E;
			}
		}
		&.is-gold {
			background-color: #AB9458;
			border-color: #AB9458;
			@include tablet {
				min-width: 100%;
			}
			&:hover {
				background-color: #ffffff;
				color: #AB9458;
			}
		}
		&.has-arrow {
			position: relative;
			padding-left: 12px;
			&:after {
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				position: absolute;
				width: 16px;
				height: 8.48px;
				right: 25px;
				transition: right 350ms ease;
			}
			&:hover {
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8.48'%3E%3Ctitle%3Earrow-right%3C/title%3E%3Cg id='af3e2e9b-9c8d-4f00-a2e1-7a004c05eba6' data-name='Calque 2'%3E%3Cg id='b4fcb262-46d9-4687-8303-a16ee0182927' data-name='Calque 1'%3E%3Cpath d='M11.05.71l3,3H0v1H14.09l-3,3,.71.7L16,4.24,11.76,0Z' fill='%23AB9458' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					right: 20px;
				}
			}
		}

		@include tablet {
			min-width: 310px;
		}
		@include widescreen {
			font-size: 16px;
		}
		.icon {
			height: 20px;
			width: 20px;
			position: absolute;
			right: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
			.microphone {
				&:before {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					left: 0;
					right: 0;
					height: 20px;
					width: 10px;
				}
			}
		}
		&.has-arrow-down {
			position: relative;
			&:after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.2 5.55'%3E%3Ctitle%3Earrow-down%3C/title%3E%3Cg id='b73d5839-d192-4f50-80dd-e5cc05da285c' data-name='Calque 2'%3E%3Cg id='be1d69bd-44ac-4e55-8a36-be0463cfd422' data-name='Calque 1'%3E%3Cpath d='M10.6.8l-5,3.75L.6.8' fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center 6px;
				background-size: 10px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 10px;
				width: 20px;
				height: 20px;
				background-color: #000000;
				border: 2px solid #ffffff;
				border-radius: 50%;
			}
		}
	}
	.buttons {
		.button {
			@include tablet {
				margin-right: 10px;	
			}
		}
	}
	.buttons {
		.button {
			@include tablet-only {
				min-width: 320px;
			}
			@include desktop-only {
				min-width: 320px;
			}
		}
	}
	
	.is-uppercase {
		text-transform: uppercase;
	}
	.is-lighter {
		color: #AAA8A3;
	}
	.is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	
	.image {
		margin: 0 auto;
	}
}

.grand-jeu-noel {
	.calendrier-avent {
		position: relative;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/stars-large.png');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/stars-large@2x.png');
		}
		@media screen and (min-width: 415px) {
			padding: 4% 0;
		}
		.container {
			margin: auto;
			position: relative;
			z-index: 1;
			height: 100%;
			
			-ms-overflow-style: none; // pour edge
			scrollbar-width: none; // pour firefox
			&::-webkit-scrollbar {
				height: 0;
				width: 0;
			}
			
			@media screen and (min-width: 415px) {
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
				max-width: 360px;
				max-height: 626px;
				box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.35);
				border-radius: 20px;
			}
			
			@include tablet {
			
			}
		}
		
		
		// Animations =================================
		// Rotation Soleil========
		@keyframes rotateSun {
			0% {
				transform: rotate(-5deg);
			}
			50% {
				transform: rotate(25deg);
			}
			100% {
				transform: rotate(-5deg);
			}
		}
		//=========================
		//Rotation Discoball=======
		@keyframes rotateDisco {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(-360deg);
			}
		}
		//=========================
		//Montée des cadeaux
		@keyframes floatGifts {
			0% {
				transform: rotate(0deg);
			}
			100% {
				bottom: 660px;
				transform: rotate(145deg);
			}
		}
		//pan & dezoom des backgrounds 
		@keyframes backgroundDrift {
			0% {
				background-position: -250px -40px;
				background-size: 850px;
			}
			50% {
				background-position: right top;
				background-size: 640px;
			}
			100% {
				background-position: -250px -40px;
				background-size: 850px;
			}
		}
		@keyframes backgroundDriftSmall {
			0% {
				background-position: -100px -10px;
				background-size: 700px;
			}
			50% {
				background-position: right top;
				background-size: 600px;
			}
			100% {
				background-position: -100px -10px;
				background-size: 700px;
			}
		}
		@keyframes backgroundDriftTiny {
			0% {
				background-position: -100px -140px;
				background-size: 640px;
			}
			50% {
				background-position: right top;
				background-size: 500px;
			}
			100% {
				background-position: -100px -140px;
				background-size: 640px;
			}
		}
		//==============================================
		.welcome, .gifts {
			height: 100%;
			background-repeat: repeat;
			background-position: center center;
			background-size: cover;
		}
		.welcome {
			overflow: hidden;
			background: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/stars.png') center center/ cover repeat, linear-gradient(180deg, #1F1A3E 0%, #363C82 100%), #1F1A3E;
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/stars@2x.png') center center/ cover repeat, linear-gradient(180deg, #1F1A3E 0%, #363C82 100%), #1F1A3E;
			}	
			.article-body {
				max-width: 280px;
				margin: 0 auto;
				opacity: 0;
				transform: scale(.1) rotate(-12deg);
				transition: all 600ms ease-in;
				position: relative;
				z-index: 3;
				
				.image {
					margin: 140px auto 20px;
					@media screen and (min-width: 415px) {
						margin-top: 120px;
					}
					@include tablet {
						margin-top: 150px;
					}
				}
			}
			p, h1 {
				color: #AB9458;
			}
			button {
				&.is-gold {
					font-size: 14px;
				}
			}
			.image {
				margin: 0;
				&.guirlande, &.valise, &.soleil, &.discoball, &.cadeaux {
					position: absolute;
				}
				&.guirlande, &.valise {
					left: 0;
					right: 0;
					opacity: 0;
				}
				&.guirlande {
					top: -85px;
					transition: all 300ms ease-out;
					z-index: 3;
					img {
						width: 100%;
					}
				}
				&.valise {
					bottom: -360px;
					z-index: 5;
					transform: rotate(4deg);
					transition: 300ms all 300ms ease-out;
				}
				&.soleil {
					top: 95px;
					left: -30px;
					opacity: 0;
					transition: left 300ms ease-out, opacity 600ms linear;
				}
				&.discoball {
					top: 20px;
					right: -180px;
					z-index: 1;
					transition: right 300ms ease-out, opacity 600ms linear;
				}
				&.cadeaux {
					opacity: 0;
					bottom: -40px;
					z-index: 4;
					transition: 300ms opacity 500ms linear;
				}
			}
			&.animate {
				.article-body {
					opacity: 1;
					transform: scale(1);
				}
				.image {
					&.guirlande {
						top: 0;
						opacity: 1;
					}
					&.valise {
						bottom: -120px;
						opacity: 1;
						transform: rotate(-8deg);
					}
					&.soleil {
						opacity: 1;
						left: 20px;
						animation: rotateSun 6000ms linear 0ms infinite;
					}
					&.discoball {
						opacity: 1;
						right: -66px;
						animation: rotateDisco 55s linear 0ms infinite;
					}
					&.cadeaux {
						opacity: 1;
					}
					&.cadeau-rouge {
						left: 120px;
						bottom: 100px;
						animation: floatGifts 32s ease-in 700ms infinite;
					}
					&.cadeau-bleu {
						left: 60px;
						bottom: 70px;
						z-index: 2;
						animation: floatGifts 22s ease-in 500ms infinite;
					}
					&.cadeau-vert {
						right: 130px;
						bottom: 110px;
						animation: floatGifts 26s ease-in 150ms infinite;
					}
					&.cadeau-rose {
						right: 80px;
						bottom: 100px;
						animation: floatGifts 18s ease-in 0ms infinite;
					}
				}
			}
			&.is-transitioning {
				.article-body {
					opacity: 0;
					transform: scale(.1) rotate(-6deg);
					transition: 300ms all 150ms cubic-bezier(.5, -.8, 1, .8);
				}
				.image {
					&.valise {
						bottom: -30px;
						opacity: 0;
						transition: 300ms bottom 150ms cubic-bezier(.5, -.8, 1, .8), 150ms opacity 350ms linear;
					}
					&.guirlande {
						top: -85px;
						opacity: 0;
						transition: 300ms top 150ms cubic-bezier(.5, -.8, 1, .8), 150ms opacity 350ms linear;
					}
					&.soleil {
						opacity: 0;
						left: -30px;
						animation-play-state: paused;
						transition: 300ms left 150ms cubic-bezier(.5, -.8, 1, .8), 150ms opacity 350ms linear;
					}
					&.discoball {
						opacity: 0;
						right: -180px;
						animation-play-state: paused;
						transition: 300ms right 150ms cubic-bezier(.5, -.8, 1, .8), 150ms opacity 350ms linear;
					}
					&.cadeaux {
						opacity: 0;
						animation-play-state: paused;
						transition: 150ms opacity 150ms linear;
					}
				}
			}
		}
				
		.gifts {
			&.container {
				overflow: auto;
			}
			&.bg-jungle {
				background-color: #43574b;
				animation: backgroundDrift 180s linear 0ms infinite;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/bg-jungle.jpg');
			}
			&.bg-night-star {
				background-color: #121b3a;
				animation: backgroundDriftSmall 180s linear 0ms infinite;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/bg-night-star.jpg');
			}
			&.bg-moscow {
				background-color: #121b3a;
				animation: backgroundDriftSmall 180s linear 0ms infinite;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/bg-moscow.jpg');
			}
			&.bg-north-pole {
				background-color: #121b3a;
				animation: backgroundDriftSmall 180s linear 0ms infinite;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/bg-north-pole.jpg');
			}
			&.bg-las-vegas {
				background-color: #675396;
				animation: backgroundDrift 180s linear 0ms infinite;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/bg-las-vegas.jpg');
			}
			&.bg-las-vegas-flipped {
				background-color: #8b68b4;
				background-repeat: no-repeat;
				animation: backgroundDriftTiny 180s linear 0ms infinite;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/bg-las-vegas-flipped.jpg');
			}
			&.bg-upside-town {
				background-color: #121b3a;
				animation: backgroundDriftSmall 180s linear 0ms infinite;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/bg-upside-town.jpg');
			}
			.day-title {
				position: relative;
				margin: 20px 0 0 20px;
				img {
					filter: drop-shadow(0px 2px 4px #000000);
				}
				.day {
					position: absolute;
					top: 0; bottom: 0; left: 0;
					margin: auto;
					width: 54px;
					height: 32px;
					line-height: 40px;
					z-index: 1;
					text-indent: -99999px;
					text-align: center;
					background-repeat: no-repeat;
					background-position-x: center;
					background-size: 32px;
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/days.png');
					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (   -moz-min-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2),
					only screen and (                min-resolution: 192dpi),
					only screen and (                min-resolution: 2dppx) {
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/days@2x.png');
					}
					&.day-1 {
						background-position-y: 0px;
					}
					&.day-2 {
						background-position-y: -32px;
					}
					&.day-3 {
						background-position-y: -64px;
					}
					&.day-4 {
						background-position-y: -96px;
					}
					&.day-5 {
						background-position-y: -128px;
					}
					&.day-6 {
						background-position-y: -160px;
					}
					&.day-7 {
						background-position-y: -192px;
					}
					&.day-8 {
						background-position-y: -224px;
					}
					&.day-9 {
						background-position-y: -256px;
					}
					&.day-10 {
						background-position-y: -288px;
					}
					&.day-11 {
						background-position-y: -320px;
					}
					&.day-12 {
						background-position-y: -352px;
					}
					&.day-13 {
						background-position-y: -384px;
					}
					&.day-14 {
						background-position-y: -416px;
					}
					&.day-15 {
						background-position-y: -448px;
					}
					&.day-16 {
						background-position-y: -480px;
					}
					&.day-17 {
						background-position-y: -512px;
					}
					&.day-18 {
						background-position-y: -544px;
					}
					&.day-19 {
						background-position-y: -576px;
					}
					&.day-20 {
						background-position-y: -608px;
					}
					&.day-21 {
						background-position-y: -640px;
					}
					&.day-22 {
						background-position-y: -672px;
					}
					&.day-23 {
						background-position-y: -704px;
					}
					&.day-24 {
						background-position-y: -736px;
					}
				}
			}
			.article-body {
				max-width: 280px;
				margin: auto;
				@media screen and (min-width: 360px) {
					max-width: 310px;
				}
				p, h2 {
					color: #ffffff;
				}
				.product {
					filter: drop-shadow(8px 7px 11px rgba(0, 0, 0, 0.19));
				}
			}
		}
		
		.form {
			visibility: hidden;
			opacity: 0;
			height: 0;
			max-width: 320px;
			position: absolute;
			left: 0;
			right: 0;
			top: 600px;
			z-index: 10;
			margin: 0 auto 30px;
			transition: visibility 0ms linear, opacity 100ms linear, top 250ms ease-out;
			&.is-active {
				visibility: visible;
				opacity: 1;
				height: auto;
				top: 30px;
				&.is-hidding {
					visibility: hidden;
					opacity: 0;
					top: 600px;
					transition: visibility 0ms linear 250ms, opacity 50ms linear 150ms, top 200ms ease;
				}
			}
		}
		.calendar-form-container {
			color: #000000;
			padding: 50px 30px 30px;
			background-color: #ffffff;
			box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.6);
			font-size: 12px;
			width: 100%;
			position: relative;
			overflow: hidden;
			background-repeat: no-repeat, no-repeat;
			background-position: center -1px, center bottom;
			background-size: contain;
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/airmail-border-horizontal.png'), url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/airmail-border-horizontal.png');
			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/airmail-border-horizontal@2x.png'), url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/airmail-border-horizontal@2x.png');
			}
			&:before, &:after {
				content: "";
				width: 15px;
				height: 100%;
				position: absolute;
				top: 17px;
				background-repeat: repeat;
				background-position: left top;
				background-size: contain;
				background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/airmail-border-vertical.png');
				@media
				only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (   min--moz-device-pixel-ratio: 2),
				only screen and (   -moz-min-device-pixel-ratio: 2),
				only screen and (     -o-min-device-pixel-ratio: 2/1),
				only screen and (        min-device-pixel-ratio: 2),
				only screen and (                min-resolution: 192dpi),
				only screen and (                min-resolution: 2dppx) {
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/airmail-border-vertical@2x.png');
				}
			}
			&:before {
				left: -2px;
			}
			&:after {
				right: -2px;
				transform: scaleX(-1);
			}
			.form-header {
				margin-top: -20px;
				position: relative;
				height: 40px;
				&:before {
					content: "";
					position: absolute;
					width: 76px;
					height: 79px;
					top: -25px;
					left: -25px;
					transform: rotate(-15deg);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/stamp-noel.png');
					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (   -moz-min-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2),
					only screen and (                min-resolution: 192dpi),
					only screen and (                min-resolution: 2dppx) {
						background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/calendrier-de-l-avent/stamp-noel@2x.png');
					}
				}
				.close_form {
					padding: 20px 0 0;
					height: 0;
					width: 20px;
					text-indent: -99999px;
					z-index: 100;
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.71 25.71'%3E%3Ctitle%3Eclose%3C/title%3E%3Cg id='ba8c35b1-a45f-4c8e-948b-619a7ab5098a' data-name='Calque 2'%3E%3Cg id='a1586dbf-ebd3-4465-aaf5-a1a732039c5a' data-name='Calque 1'%3E%3Cpath d='M12.85,12.15.71,0,0,.71,12.15,12.85,0,25l.71.71L12.85,13.56,25,25.71l.71-.71L13.56,12.85,25.71.71,25,0Z' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat scroll 0 0;
				}
			}
			p {
				font-size: 12px;
			}
		}
		.form-footer {
			height: 30px;
		}
		.form-success, .form-already-registered {
			.h2 {
				display: block;
			}
			.button {
				font-size: 14px;
				@include tablet {
					min-width: 100%;
				}
			}
			.lutins {
				margin: 80px auto 20px;
			}
		}
		#calendar-form {
			.form-group {
				display: flex;
				flex-direction: column-reverse;
				input:valid, select:valid {
					+ label {
						color: #AAA8A3;
					}
				}
			}
			label {
				font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-size: 12px;
				color: #000000;
				line-height: 16px;
				margin-bottom: 4px;
			}
			
			select, input[type=text], input[type=email], input[type=tel] {
				border-color: #4F4E4C;
				border-radius: 4px;
				height: 40px;
				font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-size: 16px;
				color: #000000;
			}
			input[type=text], input[type=email], input[type=tel] {
				&::placeholder {
					color: #AAA8A3;
				}
			}
			select {
				margin-bottom: 16px;
				&:invalid, &[disabled], &:disabled {
					color: #AAA8A3;
				}
			}
			input[type=checkbox] {
				+ label {
					margin-left: 0;
					margin-bottom: 15px;
					padding-left: 33px;
					&:before {
						width: 20px;
						height: 20px;
						border-color: #4F4E4C;
						border-radius: 2px;
					}
					&:after {
						top: 8px;
						left: 3px;
					}
				}
			}
			.button {
				min-width: 260px;
				margin-bottom: 30px;
			}
		} 
	}
	
	&.has-js {

	}
}


@keyframes tourbillonJouets {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	2% {
		opacity: 1;
		transform: rotate(0deg) scale(1)
	}
	3% {
		opacity: 1;
		transform: rotate(5deg) scale(1.3);
	}
	97% {
		opacity: 1;
		transform: rotate(240deg) scale(4);
	}
	100% {
		opacity: 0;
	}
}
@keyframes tourbillonValise {
	0% {
		opacity: 0;
		transform: rotate(-2deg) scale(.05);
		
	}
	1% {
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
	2% {
		opacity: 1;
		transform: rotate(2deg) scale(1.3);
	}
	97% {
		opacity: 1;
		transform: rotate(45deg) scale(2.7);
	}
	100% {
		opacity: 0;
	}
}
.tourbillon-jouets {
	position: absolute;
	z-index: 100;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 360px;
	height: 360px;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	
	.jouets, .valise-open {
		position: absolute;
		margin: 0;
		opacity: 0;
	}
	.jouets {
		z-index: 2;
	}
	.valise-open {
		z-index: 1;
	}
	
	&.animate {
		opacity: 1;
		visibility: visible;
		.jouets {
			animation: tourbillonJouets 5s linear 500ms 1;
		}
		.valise-open {
			animation: tourbillonValise 5s linear 500ms 1;
		}
	}
}