@import "assets/css/core";
@import "assets/css/components/tabs";

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.luxe-col-tablet-offset-0 {
	@include tablet {
		margin-left: 0;
	}
}

.luxe-augmente {
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	h1 {
		+ .is-arrow-down {
			display: inline-block;
			@include desktop {
				margin-top: 10px;
			}
		}
		+ .button {
			@include mobile {
				min-width: 300px;
			}
		}
	}
	
	@import "base";
	@import "hero";
	@import "breadcrumbs";
	@import "cta";
	@import "helpers";
	
	article {
		margin-bottom: 30px;
		@include tablet {
			margin-bottom: 50px;
		}
		@include widescreen {
			margin-bottom: 80px;
		}
		&.intro {
			padding: 15px 0;
			margin-bottom: 0;
		}
		.intro-txt {
			margin-bottom: 40px;
			&:after {
				content: "";
				display: block;
				width: 1px;
				height: 30px;
				background-color: #000000;
				margin: 25px auto 0;
				@include widescreen {
					height: 45px;
					margin-top: 45px;
				}
			}
			p {
				margin: 0;
				display: inline;
			}
		}
	}
	.article-body {
		padding: 20px 0;
		@include tablet {
			padding: 20px 30px;
		}
		@include desktop {
			padding: 20px 40px;
		}
		@include widescreen {
			padding: 20px 60px;
		}
	}
	.article-image {
		display: block;
		position: relative;	
		.image {
			display: block;
			position: relative;
			margin: 0;
			overflow: hidden;
			@include tablet {
				height: 420px;
			}
			@include desktop {
				height: 500px;
			}
			@include widescreen {
				height: 620px;
			}
			img {
				display: block;
				object-fit: cover;
				min-height: 100%;
				width: 100%;
				height: 100%;
			}
		}
	}
	.article-txt {
		position: relative;
	}
		
	.collections {
		margin-top: 20px;
		@include tablet {
			margin-top: 30px;
		}
		@include widescreen {
			margin-top: 50px;
		}
		h2 {
			font-size: 33px;
			@include tablet {
				font-size: 34px;
			}
			@include widescreen {
				font-size: 60px;
				letter-spacing: -2.51px;
			}
		}
		.tabs-container {
			@include mobile {
				margin: 0 -20px;
			}
		}
		.tabs {
			ul {
				margin-bottom: 20px;
				@include mobile {
					padding: 0 20px;
				}
				@include widescreen {
					margin-bottom: 30px;
				}
				li {
					@include widescreen {
						margin: 0 10px;
					}
				}
			}
		}
		.tab-pane {
			transform: translateY(0);
			opacity: 1;
			transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
			&[hidden] {
				display: block;
				transform: translateY(100px);
				opacity: 0;
			}
		}
		.has-text-fat {
			position: relative;
			z-index: 1;
			@include tablet {
				margin-right: -80px;
			}
			@include desktop {
				left: 90px;
			}
			@include widescreen {
				left: 50px;
			}
		}
		figure {
			margin: 0;
		}
		figcaption {
			padding: 15px 20px 15px 0;
			font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 3.89px;
			@include tablet {
				margin-bottom: 40px;
			}
			@include widescreen {
				font-size: 18px;
				line-height: .89;
				letter-spacing: 5px;
			}
		}
		.has-text-vertical {
			position: relative;
			top: 40%;
			@include tablet {
				top: 25%;
			}
		}
	}
	
	.conditions {
		hr {
			border-top-width: 1px;
			border-bottom-width: 0;
		}
		a {
			margin: 30px auto 0;
			@include widescreen {
				margin-bottom: 15px;
			}
		}
	}

	&.template-vad {
		article {
			margin-bottom: 0;
		}
		.article-body {
			@include widescreen {
				padding: 20px 50px;
			}
		}
		.distance-shopping {
			.article-txt {
				@include widescreen {
					padding-right: 30px;
				}
			}
		}
	}
	
	&.template-spe {
		.luxe-augmente-hero {
			height: 160px;
			@include tablet {
				height: 330px;
			}
		}
		h1 {
			line-height: 1;
		}
		.retailer {
			margin: -10px auto 20px;
			max-width: 138px;
			@include desktop {
				max-width: none;
				text-align: right;
				margin: 8px -25px 0 0;
			}
			@include widescreen {
				margin: 27px -30px 0 0;
			}
		}
		
		article {
			.intro-txt {
				&:after {
					content: none;
				}
			}
		}
		
		.podium {
			margin-top: 0;
			margin-bottom: 30px;
		}
		.podium-items {
			margin-bottom: 20px;
			div[class*=luxe-col-] {
				padding: 0;
				height: auto;
				&:nth-child(3n) {
					@include tablet {
						border-right: none;
					}
				} 
			}
		}
		.podium-image {
			height: 216px;
			margin: 0;
			@include tablet {
				height: 386px;
			}
			@include desktop {
				height: 436px;
			}
			@include widescreen {
				height: 496px;
			}
		}
		.podium-txt {
			background-color: #ffffff;
			display: flex;
			justify-content: center;
			min-height: 50px;
			@include tablet {
				min-height: 70px;
			}
			@include widescreen {
				min-height: 110px;
			}
		}
		
		.txt-article {
			@include tablet {
				padding: 0 0 0 20px;
				margin-bottom: 30px;
			}
			@include desktop {
				padding: 10px 0 0 40px;
				margin-bottom: 40px;
			}
			@include widescreen {
				padding: 40px 10px 0 70px;
				margin-bottom: 70px;
			}
		}
		.article-image {
			.image {
				@include tablet {
					height: 540px;
				}
				@include widescreen {
					height: 600px;
				}
			}
		}
	}
	
	@import "read-more";
	@import "podium";
	@import "has-js";
}