@import "assets/css/core";
@import "assets/css/components/flickty";

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.luxe-col-tablet-offset-0 {
	@include tablet {
		margin-left: 0;
	}
}

.luxe-augmente {
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			//margin: 0 -20px;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
	}
	h1 {
		font-size: 72px;
		line-height: 1.1;
		letter-spacing: -2.5px;
		margin: 0 auto;
		@include tablet {
			text-align: left;
			font-size: 62px;
		}
		@include desktop {
			font-size: 76px;
		}
		@include widescreen {
			font-size: 96px;
			letter-spacing: -4px;
			line-height: 1;
			margin-bottom: 25px;
		}
	}
	h2 {
		font-size: 40px;
		line-height: 1;
		letter-spacing: -1.29px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2.03px;
			margin-bottom: 35px;
		}
	}
	h3 {
		font-size: 40px;
		line-height: 1;
		letter-spacing: -1.29px;
	}
	h4 {
		@include widescreen {
			font-size: 66px;
		}
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		@include widescreen {
			margin-bottom: 35px;
			font-size: 18px;
			line-height: 1.45;
		}
	}
	small {
		@include touch {
			font-size: 75%;
		}
		@include desktop-only {
			font-size: 75%;
		}
	}
	hr {
		border-color: #d8d8d8;
		border-top-width: 1px;
		border-bottom-width: 0;
		margin: -15px 0 25px;
		@include tablet {
			margin: 30px 0 30px;
		}
		@include desktop {
			margin: 20px;
		}
		@include widescreen {
			margin: 10px 30px;
		}
	}
	
	@import "breadcrumbs";
	.breadcrumb {
		@include tablet {
			margin-left: 0;
		}
	}
	@import "cta";
	.cta {
		@include widescreen {
			margin-top: -15px;
		}
	}
	.has-icon-pdf {
		position: relative;
		margin-bottom: 20px;
		
		&:after {
			position: absolute;
			width: 16px;
			height: 17px;
			right: -22px;
			top: 0;
			bottom: 0;
			margin: auto;
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 487.79 550.8'%3E%3Ctitle%3Eicon-pdf%3C/title%3E%3Cg id='b1937de0-71e6-4fcc-8cea-c8005ab1f358' data-name='Calque 2'%3E%3Cg id='b15d1ea8-f22d-431f-8d04-1bdb89724cae' data-name='Capa 1'%3E%3Cpath d='M128.88,282.23c0-14.84-10.3-23.69-28.48-23.69-7.41,0-12.43.72-15.07,1.43V307.6a56.31,56.31,0,0,0,12.19.95C116.92,308.55,128.88,298.74,128.88,282.23ZM241.37,259a76.6,76.6,0,0,0-16.52,1.43V366c3.12.73,8.14.73,12.69.73,33,.23,54.56-17.95,54.56-56.48C292.34,276.72,272.71,259,241.37,259Zm215.55-62H443.7V133.2a10,10,0,0,0-.12-1.2,10.61,10.61,0,0,0-2.56-7L334.82,3.69s-.06,0-.08-.07a10.87,10.87,0,0,0-2.15-1.81l-.71-.42A11.69,11.69,0,0,0,329.75.5c-.2-.06-.38-.14-.58-.19A10.8,10.8,0,0,0,326.69,0H65.7A21.62,21.62,0,0,0,44.1,21.6V197H30.87A30.87,30.87,0,0,0,0,227.89V388.43A30.87,30.87,0,0,0,30.87,419.3H44.1V529.2a21.62,21.62,0,0,0,21.6,21.6H422.1a21.63,21.63,0,0,0,21.6-21.6V419.3h13.22a30.87,30.87,0,0,0,30.87-30.87V227.89A30.87,30.87,0,0,0,456.92,197ZM65.7,21.6H315.89V132.12a10.81,10.81,0,0,0,10.8,10.8H422.1V197H65.7ZM330.86,309c0,30.88-11.25,52.17-26.82,65.34-17,14.11-42.83,20.81-74.4,20.81a317.28,317.28,0,0,1-41.4-2.39V234.37c13.4-2.15,30.88-3.35,49.3-3.35,30.61,0,50.48,5.51,66,17.23C320.32,260.69,330.86,280.55,330.86,309ZM49.2,393.5V234.37c11.24-1.91,27-3.35,49.29-3.35C121,231,137,235.33,147.78,244c10.3,8.13,17.22,21.53,17.22,37.32s-5.25,29.2-14.83,38.29c-12.44,11.73-30.87,17-52.41,17a91,91,0,0,1-12.43-.73V393.5ZM422.1,523.35H65.7v-104H422.1V523.35Zm31.29-261.22h-62V299h57.92v29.67H391.4V393.5H354.81V232.22h98.58Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
	}
	.buttons {
		.button {
			@include tablet-only {
				min-width: 320px;
			}
			@include desktop-only {
				min-width: 300px;
			}
		}
	}
	
	.language {
		position: absolute;
		z-index: 9;
		color: #ffffff;
		font-family: "GLBaderCompress-Black";
		font-size: 20px;
		height: 25px;
		overflow: hidden;
		right: 0;
		@include widescreen {
			font-size: 26px;
			height: 32px;
		}
		a {
			color: #ffffff;
			&:hover {
				color: #a6a6a6;
			}
		}
	}
	
	@import "helpers";
	.has-text-white {
		color: #ffffff;
	}
	.is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	
	.luxe-augmente-hero {
		padding: 20px;
		.hero-image {
			margin: -20px -20px 0;
			@include tablet {
				margin: 0;
			}
			.image {
				margin: 0;
				display: block;
				position: relative;
				overflow: hidden;
				min-height: 320px;
				@include tablet {
					height: 600px;
				}
				@include desktop {
					height: 680px;
				}
				@include widescreen {
					height: 910px;
				}
				img {
					display: block;
					object-fit: cover;
					min-height: 100%;
					width: 100%;
					height: 100%;
					opacity: .9;
					@include tablet {
						object-position: -110px;
					}
					@include desktop {
						object-position: -95px;
					}
				}
			}
		}
		.hero-video {
			width: 100%;
			margin: 0 auto; 
			min-height: 320px;
			@include tablet {
				height: 100%;
			}
		}
		article {
			margin-bottom: 0;
			@include desktop {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.article-body {
				@include tablet {
					padding: 0 20px;
				}
				@include desktop {
					padding: 0 50px;
				}
				@include widescreen {
					padding: 0 60px;
				}
				p {
					@include widescreen {
						font-size: 20px;
					}
				}
			}
		}
	}
	
	.luxe-augmente-body {
		padding: 20px;
		border-top: 1px solid #000000;
	}
	.services {
		margin: 0;
		padding: 15px 0 0;
		@include mobile {
			text-align: left;
		}
		@include tablet {
			padding-top: 30px;
		}
		@include widescreen {
			padding-top: 40px;
		}
		h2 {
			@include widescreen {
				font-size: 56px;
				letter-spacing: -2.03px;
			}
		}
		.service {
			&-icon {
				max-width: 48px;
				margin: auto;
				@include tablet {
					max-width: 76px;
				}
				@include widescreen {
					max-width: 96px;
				}
				.icon {
					margin-top: 5px;
					@include tablet {
						margin-top: 10px;
						margin-bottom: 20px;
					}
					@include widescreen {
						margin-top: 15px;
						margin-bottom: 30px;
					}
				}
			}
			&-txt {
				strong {
					display: block;
					font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
					@include tablet {
						font-size: 20px;
						line-height: 1.5;
					}
					@include widescreen {
						font-size: 24px;
					}
				}
			}
		}
	}
	
	.marques {
		h3 {
			margin-bottom: 30px;
			@include mobile {
				text-align: left;
			}
			@include widescreen {
				margin-bottom: 50px;
			}
		}
		.article-body {
			@include tablet {
				padding-right: 50px;
			}
			@include desktop {
				padding-right: 80px;
			}
		}
		.notice {
			margin-bottom: 40px;
			@include tablet {
				max-width: 540px;
				margin-bottom: 0;
			}
			p {
				line-height: 1.2;
			}
			small {
				position: relative;
				padding-left: 10px;
				&:before {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					top: 2px;
					left: 0;
					width: 6px;
				}
			}
		}
		.show-more {
			.moins {
				display: none;
			}
			&.is-active {
				.moins {
					display: inline;
				}
				.plus {
					display: none;
				}
			}
		}
		.secondary {
			.article-body {
				@include tablet {
					padding: 20px 0;
				}
			}
			.article-image {
				overflow: hidden;
				&:hover {
					.image {
						@include desktop {
							transform: scale(1.05);
						}
					}
				}
				.image {
					height: 246px;
					@include desktop {
						transition: all 400ms ease;
					}
					@include widescreen {
						height: 264px;
					}
					@include fullhd {
						height: 314px;
					}
				}
			}
			.title {
				font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-size: 24px;
				line-height: 1;
			}
			p {
				margin-bottom: 8px;
				@include widescreen {
					font-size: 16px;
				}
				&:not(.title) {
					@include tablet {
						min-height: 44px;
					}
					@include widescreen {
						min-height: 48px;
					}
				}
			}
		}
		

	}
	.live-brands-list {
		&.top16 {
			margin-bottom: 25px;
			@include tablet {
				margin-top: 66px;
			}
			@include widescreen {
				margin-top: 61px;
			}
			.brands-container {
				@include tablet {
					column-count: 2;
					column-gap: 16px;
				}
				@include widescreen {
					column-gap: 32px;
				}
			}
			.marque {
				@include widescreen {
					font-size: 36px;
					padding-top: 9px;
				}
				&.has-visio {
					&:after {
						@include widescreen {
							width: 12px;
							top: 9px;
						}
					}
				}
				span {
					@include widescreen {
						font-size: 16px;
					}
				}
			}
		}
		.brands-container {
			@include tablet {
				flex-direction: column;
			}
			
			&.is-disabled {
				.marque {
					cursor: default;
					pointer-events: none;
					opacity: .5; 
				}
			}
		}
		.wrapper {
			margin-bottom: 30px;
			@include desktop {
				margin-bottom: 40px;
			}
			.letter {
				margin-bottom: 10px;
				border: none;
				@include tablet {
					font-size: 16px;
					font-family: 'GL_Bader_Narrow-Regular';
				}
			}
			.marque {
				@include tablet {
					padding: 7px 0 5px;
				}
				&.has-visio {
					&:after {
						@include tablet {
							width: 8px;
							top: 8px;
						}
					}
				}
				span {
					font-size: 8px;
					padding-left: 6px;
				}
			}
		}
		.marque, .letter {
			font-family: 'GLBaderCompress-Black';
			font-size: 28px;
			line-height: 1.3;
			letter-spacing: -.5px;
			padding: 2px 0 4px;
			border-bottom: 1px solid #979797;
			position: relative;
			display: inline-block;
			width: 100%;
			&:hover {
				color: #a6a6a6;
				text-decoration: none;
			}
			&.has-visio {
				&:after {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
					position: absolute;
					top: 2px;
					right: 10px;
					width: 10px;
				}
			}
			span {
				font-family: 'GL_Bader_Narrow-Regular';
				font-size: 12px;
				line-height: 1.33;
				font-weight: 400;
				text-transform: uppercase;
				padding-left: 10px;
				letter-spacing: normal;
			}
		}
	}
	.all-hide {
		overflow-y: hidden;
		max-height: 0;
		transition: max-height .2s ease;
		&.is-active {
			max-height: 500em;
		}
		.brands-container {
			@include tablet {
				column-count: 2;
				column-gap: 30px;
			}
			@include desktop {
				column-count: 3;
			}
		}
		.marque {
			@include tablet {
				font-size: 16px;
				font-family: 'GL_Bader_Narrow-Regular';
			}
		}
	}
	
	article {
		
		@include tablet {
			
		}
		@include desktop {
			padding: 20px;
		}
		@include widescreen {
			padding: 30px;
		}
		p {
			@include widescreen {
				font-size: 20px;
			}
		}
		a {
			&.is-text {
				font-size: 16px;
			}
		}
		.tag {
			font-family: 'GLBaderCompress-Black',Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-size: 24px;
			line-height: 1.2;
			color: #ffffff;
			background-color: #EC55AE;
			display: inline-block;
			margin-bottom: 20px;
			padding: 0 6px 1px;
		}
		&.secondary {
			.article-body {
				@include widescreen {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
			.article-image {
				.image {
					height: 224px;
					@include tablet {
						height: 280px;
					}
				}
			}
		}
	}
	.luxe-reverse {
		.article-body {
			@include tablet {
				padding-left: 30px;
			}
			@include desktop {
				padding-left: 40px;
			}
			@include widescreen {
				padding-left: 60px;
			}
		}
	}
	.article-body {
		padding: 20px 0;
		@include tablet {
			padding: 20px 10px 20px 0;
		}
		@include desktop {
			padding: 20px 40px 20px 0;
		}
		@include widescreen {
			padding: 20px 60px 20px 0;
		}
	}
	.article-image {
		display: block;
		position: relative;	
		.image {
			display: block;
			position: relative;
			margin: 0;
			overflow: hidden;
			height: 416px;
			@include tablet {
				height: 540px;
			}
			@include desktop {
				height: 590px;
			}
			@include widescreen {
				height: 652px;
			}
			img {
				display: block;
				object-fit: cover;
				min-height: 100%;
				width: 100%;
				height: 100%;
			}
		}
	}
	.article-txt {
		position: relative;
	}
	
	.faq {
		@include tablet {
			padding: 30px 10px 10px 20px;
		}
		@include desktop {
			padding: 30px 20px 10px 50px;
		}
		@include widescreen {
			padding: 80px 20px 40px 50px;
		}
		h2 {
			@include widescreen {
				font-size: 56px;
				letter-spacing: -2.03px;
				margin-top: 30px;
			}
		}
		ul {
			li {
				position: relative;
				padding-left: 30px;
				@include widescreen {
					padding-left: 35px;
				}
				&:before {
					content: "—";
					position: absolute;
					left: 0;
				}
			}
		}
		p {
			@include widescreen {
				font-size: 20px;
			}
		}
	}
	
	.conditions {
		padding: 10px 0;
	}
	
	&.has-js {
	
	}
}