@import "assets/css/core";
@import "assets/css/components/accordion";

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.luxe-augmente {
	background-color: rgb(255,255,255);
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	.container {
		margin: 0 auto;
		position: relative;
		@include tablet {
			max-width: 900px;
		}
		@include fullhd {
			max-width: 1100px;
		}
	}
	h1, h2, h3, h4 {
		font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: 900;
		font-stretch: normal;
		margin-bottom: 20px;
	}
	h1, h2 {
		font-size: 34px;
		line-height: 1.12;
		letter-spacing: -1.42px;
		@include widescreen {
			font-size: 56px;
			letter-spacing: -2.03px;
			margin-bottom: 35px;
		}
	}
	h3 {
		font-size: 40px;
		line-height: 1;
		letter-spacing: -1.29px;
	}
	h4 {
		@include widescreen {
			font-size: 66px;
		}
	}
	p {
		font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-bottom: 20px;
		@include mobile {
			font-size: 14px;
			line-height: 1.43;
		}
		@include widescreen {
			margin-bottom: 25px;
			font-size: 16px;
			line-height: 1.45;
		}
	}
	strong, .is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
	small {
		@include touch {
			font-size: 75%;
		}
		@include desktop-only {
			font-size: 75%;
		}
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	hr {
		border-color: #d8d8d8;
		border-top-width: 1px;
		border-bottom-width: 0;
		margin: -15px 0 25px;
		@include tablet {
			margin: 30px 0 30px;
		}
		@include desktop {
			margin: 20px;
		}
		@include widescreen {
			margin: 10px 30px;
		}
	}
	ul {
		list-style-position: inside;
		padding-left: 20px;
		margin: -15px 0 20px;
		li {
			list-style-type: disc;
		}
		p {
			display: inline;
		}
	}
	article {
		padding-top: 20px;
		&.faq {
			padding-top: 0;
		}
	}
	
	@import "breadcrumbs";
	.breadcrumb {
		@include tablet {
			margin-left: 0;
		}
	}
	@import "cta";
	
	@import "helpers";
	.is-bold {
		font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	}
		
	.luxe-augmente-body {
		padding: 20px;
		border-top: 1px solid #000000;
	}
	
	.faq {
		.accordions {
			margin-bottom: 30px;
		}
	}

	&.has-js {
	
	}
}