.live-shopping-cta,.form .live-shopping-cta {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px auto 25px;
		width: 310px;
		border-radius: 20px;
		border: 1px solid #000;
		background-color: #000;
		font: 16px/37px GLBaderCompress-Black;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: .8px;
		color: #fff;
		transition: all .3s ease;
}

a.live-shopping-cta:hover,a.live-shopping-cta:active {
		background-color: #fff;
		text-decoration: none;
		color: #000
}

a.live-shopping-cta:focus {
		background-color: #000;
		color: #fff;
		border: 1px solid #fff
}

a.live-shopping-cta:hover,a.live-shopping-cta:active {
		background-color: #000;
		text-decoration: none;
		color: #fff;
		border: 1px solid #fff
}

.icon-mic img {
		width: 9px;
		margin-right: 5px;
		vertical-align: top
}

.reveal-modal {
	&.closed, &.opened {
		width: 360px;
		padding: 261px 0 0;
		text-align: center;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: contain;
		background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/shoppingadistance/pop-in-live-coupole.jpg');
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			background-image: url('https://static.galerieslafayette.com/media/LP/src/img/2020/landing/shoppingadistance/pop-in-live-coupole@2x.jpg');
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
		}
		h3 {
			font-size: 24px;
			line-height: 1.17;
			letter-spacing: -1px;
			font-family: GLBaderCompress-Black;
			text-transform: uppercase;
			padding: 0 30px;
		}
		p {
			font-family: GL_Bader_Narrow-Regular;
			font-size: 16px;
			line-height: 1.5;
			padding: 10px 20px 15px;
			&.small {
				font-size: 14px;
				line-height: 1.43;
				padding-top: 5px;
			}
		}
		a.is-text {
			font-family: GL_Bader_Narrow-Bold;
			text-decoration: underline;
			display: inline-block;
			margin-top: 5px;
			&:hover, &:active {
				text-decoration: none;
			}
		}
		hr {
			border: none;
			border-top: 1px solid #000;
			margin: 5px 0
		}
		button {
			padding: 0;
			cursor: pointer;
		}
		.modal-footer {
			padding: 15px 20px 20px;
		}
		.close-reveal-modal {
			right: 15px;
		}
		.categories {
			border-top: 1px solid #000000;
			border-bottom: 1px solid #000000;
			margin: 15px 46px 5px;
			p {
				font-size: 14px;
				line-height: 1.43;
				padding: 10px 20px;
			}
		}
	}
}

.reveal-modal .live-shopping-cta.form:after {
		position: absolute;
		content: '';
		background: url(https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/m-fleche-droite.png) no-repeat center;
		width: 16px;
		height: 9px;
		right: 27px;
		bottom: 14px;
		background-size: cover;
		transition: all .3s ease
}

.reveal-modal.closed .live-shopping-cta:hover,.reveal-modal.closed .live-shopping-cta:focus,.reveal-modal.opened .live-shopping-cta:hover,.reveal-modal.opened .live-shopping-cta:focus,.reveal-modal.form .live-shopping-cta:hover,.reveal-modal.form .live-shopping-cta:focus {
		color: #000;
		background: #fff;
		border: 1px solid #000
}

.reveal-modal .live-shopping-cta.form:hover:after {
		background: url(https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/m-fleche-droite-hover.png) no-repeat center;
		background-size: cover
}

.reveal-modal .live-shopping-cta.video:after {
		position: absolute;
		content: '';
		background: url(https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-mic-white.jpg) no-repeat center;
		width: 10px;
		height: 18px;
		right: 16px;
		bottom: 10px;
		background-size: cover;
		transition: all .3s ease
}

.reveal-modal .live-shopping-cta.video:hover:after {
		background: url(https://static.galerieslafayette.com/media/LP/src/img/2020/landing/live-shopping/icon-mic-black-small.jpg) no-repeat center;
		background-size: cover
}

.live-shopping-form {
		color: #000;
		font-family: "GLBaderNarrow"sans-serif
}

.live-shopping-form p {
		line-height: 1.25;
		font-family: GL_Bader_Narrow-Regular
}

.live-shopping-form a {
		margin: 1rem 0;
		display: inline-block;
		padding-bottom: 5px;
		font-family: GL_Bader_Narrow-Regular;
		text-decoration: underline
}

.live-shopping-form a:hover {
		text-decoration: none
}

.live-shopping-form {
		display: flex;
		flex-direction: column
}

.live-shopping-form select,input[type=text],input[type=tel],input[type=email],button,textarea {
		margin: 5px 0 0;
		border: 0;
		font-size: 16px;
		border-bottom: 1px solid #000;
		font-family: GL_Bader_Narrow-Regular
}

.live-shopping-form textarea::placeholder,input::placeholder {
		font-size: 16px;
		font-style: normal
}

.live-shopping-form div {
		display: flex;
		justify-content: space-between
}

.live-shopping-form div input:first-child {
		margin-right: 3rem
}

.form .live-shopping-form button {
		font-size: 18px
}

.live-shopping-form span {
		margin-top: 1rem;
		font-size: 12px
}

#recaptcha_element {
		margin: 2rem 0
}

@media only screen and (min-width: 1024px) {
		.reveal-modal.form {
				width:700px
		}
}

#recaptcha_element {
		margin-left: 1.5rem
}

@media only screen and (max-width: 768px) {
		.reveal-modal.closed,.reveal-modal.opened {
				left:50%;
				transform: translateX(-50%)
		}
}

@media only screen and (min-width: 768px) {
		.live-shopping-form h3 {
				font-size:40px
		}
}