@import "assets/css/core";

.section-main-container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	.header__product-list, .header__product-list--first-line {
		padding: 0 !important;
	}
}

.luxe-col-tablet-offset-0 {
	@include tablet {
		margin-left: 0;
	}
}
.is-fixed-top, .is-fixed-top-mobile {
	top: 0;
	left: 0;
	position: fixed !important;
	right: 0;
	z-index: 100;
	transition: all 150ms ease;
}
.is-hidden-top {
	position: absolute;
	top: 0;
}
body {
	> header {
		.index-nav {
			display: none;
			top: 0;
			transition: all 250ms ease;
		}
	}
}
.index-nav {
	display: flex;
	justify-content: left;
	padding: 4px 15px 15px 10px;
	border-bottom: 1px solid #4f4e4c;
	overflow: auto;
	height: 46px;
	background-color: #ffffff;

	-ms-overflow-style: none; // pour edge
	scrollbar-width: none; // pour firefox
	&::-webkit-scrollbar {
		height: 0;
		width: 0;
	}
	
	@include desktop {
		justify-content: center;
		height: 55px;
		padding-top: 12px;
	}
	> li {
		padding-left: 9px;
		padding-right: 9px;
		@include desktop {
			padding-left: 4px;
			padding-right: 4px;
		}
		@include widescreen {
			padding-left: 7px;
			padding-right: 7px;
		}
		&.is-active, &:hover {
			a {
				text-decoration: none;
				color: #222222;
				box-shadow: inset 0 -2px 0 #4f4e4c;
				font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			}
		}
	}
	a {
		display: inline-block;
		color: #838383;
		transition: all 250ms ease;
		padding: 0 8px 11px;
		font-size: 25px;
		height: 41px;
		line-height: 1.2;
		font-family: 'GL_Bader_Narrow-Light', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
		@include desktop {
			font-size: 26px;
			height: 42px;
		}
	}
	&.is-fixed-top {
		@include desktop {
			top: 100px;
		}
		@include widescreen {
			width: 1250px;
			margin: 0 auto;
			border-left: 1px solid #4f4e4c;
			border-right: 1px solid #4f4e4c;
		}
		@include fullhd {
			width: 1440px;
		}
		+ .sticky-spacer {
			margin-top: 0;
		}
	}
	&.is-fixed-top-mobile {
		top: 98px;
		box-shadow: 0px -100px 0 70px #4f4e4c;
		+ .sticky-spacer {
			margin-top: 0;
		}
	}
}

.luxe-augmente {
	text-align: left;
	margin: 0 auto !important;
	@include widescreen {
		max-width: 1250px;
		margin: 0 auto;
		border: 1px solid #000000;
		border-top: none;
	}
	@include fullhd {
		max-width: 1440px;
	}
	
	@import "base";
	@import "cta";
	@import "helpers";
	
	&.index {
		margin: 88px auto 0;
		@include tablet {
			margin-top: 104px;
		}
		@include desktop {
			margin-top: 144px;
		}
		h1 {
			font-size: 34px;
			letter-spacing: -1.42px;
			@include touch {
				line-height: 1.3;
			}
			@include tablet {
				font-size: 56px;
			}
		}
	}
	&-hero {
		.container {
			margin: 0 -10px;
			@include tablet {
				
			}
		}
	}
	.luxe-augmente-body {
		@include tablet {
			padding-top: 0;
		}
		@include desktop {
			padding-top: 10px;
		}
		.container {
			
		}
	}
	
	
	
	.sticky-spacer {
		display: block;
		height: 46px;
		margin-top: -46px;
		@include desktop {
			height: 55px;
			margin-top: -55px;
		}
	}
	
	.letter-section {
		margin-bottom: 20px;
		text-transform: uppercase;
		@include tablet {
			padding-left: 20px;
		}
		@include widescreen {
			padding-left: 30px;
			margin-bottom: 40px;
		}
		.index-letter {
			font-family: 'GL_Bader_Narrow-Bold', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
			font-size: 50px;
			@include desktop {
				font-size: 40px;
			}
		}
		.brands {
			font-size: 20px;
			line-height: 38px;
			@include tablet {
				column-count: 2;
			}
			@include desktop {
				column-count: 3;
				font-size: 18px;
				line-height: 36px;
			}
			a {
				color: #838383;
				font-family: 'GL_Bader_Narrow-Regular', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				&:hover {
					color: #000000;
				}
			}
		}
	}
	
	.top-brand {
		.global_link {
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			
		}
		> div {
			height: 185px;
			margin: -10px -20px 20px;
			position: relative;
			overflow: hidden;
			@include tablet {
				margin: 18px 0 0 0;
				height: 390px;
				width: 249px;
			}
			@include desktop {
				height: 590px;
				width: 334px;
				margin-top: 13px;
				@media screen and (max-height: 768px) {
					margin: 18px 0 0 0;
					height: 390px;
					width: 249px;
				}
			}
			@include widescreen {
				height: 800px;
				width: 409px;
				@media screen and (max-height: 970px) {
					height: 590px;
					width: 334px;
					margin-top: 13px;
				}
				@media screen and (max-height: 768px) {
					margin: 18px 0 0 0;
					height: 390px;
					width: 249px;
				}
			}
			&:hover {
				.image {
					img {
						@include desktop {
							transform: scale(1.08);
						}
					}
				}
			}
			> div {
				@include mobile {
					height: 100%;
				}
			}
		}
		.top-brand-image {
			display: block;
			position: relative;
			height: 100%;	
			text-align: right;
			@include tablet {
				max-height: 200px;
			}
			@include desktop {
				max-height: 343px;
				@media screen and (max-height: 768px) {
					max-height: 200px;
				}
			}
			@include widescreen {
				max-height: 423px;
				@media screen and (max-height: 970px) {
					max-height: 343px;
				}
				@media screen and (max-height: 768px) {
					max-height: 200px;
				}
			}
			.image {
				display: inline-block;
				position: relative;
				margin: 0 0 0 -10px;
				height: 100%;
				overflow: hidden;
				@include tablet {
					display: block;
					margin: 0 -11px 0 0;
				}
				img {
					display: block;
					object-fit: cover;
					object-position: top;
					min-height: 100%;
					width: 100%;
					height: 100%;
					transition: transform 500ms ease;
				}
			}
		}
		.top-brand-text {
			margin-left: -24px;
			padding-top: 20px;
			max-width: 180px;
			@include tablet {
				padding-top: 0;
				margin-top: -70px;
			}
			@include desktop {
				margin-top: -130px;
				margin-left: -30px;
				@media screen and (max-height: 768px) {
					padding-left: 0;
					padding-top: 0;
					margin-top: -90px;
				}
			}
			@include widescreen {
				margin-top: -210px;
				max-width: 280px;
				margin-left: -48px;
				@media screen and (max-height: 970px) {
					margin-top: -80px;
				}
				@media screen and (max-height: 768px) {
					margin-top: -60px;
					margin-left: -40px;
				}
			}
			@include fullhd {
				@media screen and (min-height: 970px) {
					max-width: 380px;
					margin-left: -60px;
					margin-top: -180px;
				}
			}
			.boxed-text {
				line-height: 1;
				display: inline;
				padding: 0;
				text-transform: uppercase;
				position: relative;
				font-size: 26px;
				font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-weight: normal;
				font-stretch: normal;
				letter-spacing: -.8px;
				line-height: 1;
				margin-bottom: 30px;
				@include widescreen {
					font-size: 40px;
					@media screen and (max-height: 768px) {
						font-size: 32px;
					}
				}
				@include fullhd {
					@media screen and (min-height: 970px) {
						font-size: 58px;
					}
				}
				> span {
					display: inline-block;
					background-color: #fff;
					border: 5px solid #000;
					padding: 4px 6px 6px;
					position: relative;
					@include widescreen {
						border-width: 6px;
						padding: 4px 9px 6px;
					}
					&:nth-child(2) {
						border-top: none;
						border-bottom: none;
						top: -5px;
						z-index: 1;
						@include widescreen {
							top: -6px;
							padding-top: 0;
							padding-bottom: 3px;
						}
					}
					&:nth-child(3) {
						top: -10px;
						@include widescreen {
							top: -12px;
						}
					}
				}

			}
			.button {
				min-width: auto;
				font-size: 16px;
				margin-bottom: 0;
				z-index: 2;
				@include desktop {
					@media screen and (max-height: 768px) {
						background-color: transparent;
						color: #000000;
						border: 0;
						padding: 0;
					}
				}
				@include widescreen {
					margin-top: 20px;
				}
				@include fullhd {
					margin-top: 30px;
				}
			}
			.cta-mobile {
				font-family: 'GLBaderCompress-Black', Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
				font-size: 16px;
				letter-spacing: 1.13px;
				.icon {
					display: inline-block;
					transform: rotate(90deg);
					transform-origin: 16px 16px;
					vertical-align: middle;
					.icon-arrow-up-linear {
						display: inline-block;
						height: 32px;
						width: 32px;
					}
				}
			}
		}
	}

	&.has-js {
		margin: 0 auto;
	}
}
