// Grid Customization
// https://www.npmjs.com/package/sass-flex-grid
// http://flexboxgrid.com/
$grid-breakpoints: (
		small: (
				name: mobile, // ".col-mobile-*"
				columns: 12, // 12 colums at this breakpoint
				gutter: $gap, // 20 pixels between each column
				min-width: 320px // min-with 320px
		),
		medium: (
				name: tablet, // ".col-tablet-*"
				columns: 12, // 12 colums at this breakpoint
				gutter: $gap, // 20 pixels between each column
				min-width: $tablet // min-with 768px
		),
		large: (
				name: desktop, // ".col-desktop-*"
				columns: 12, // 12 colums at this breakpoint
				gutter: $gap, // 20 pixels between each column
				min-width: $desktop // min-with 1025px
		),
		extra-large: (
			name: widescreen, // ".col-widescreen-*"
			columns: 12,
			gutter: &gap,
			min-width: $widescreen
		),
		fullhd: (
			name: fullhd, // ".col-fullhd-*"
			columns: 12,
			gutter: &gap,
			min-width: $fullhd
		)
);

$grid-prefix: 'luxe-';