<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style>
	#goinstore_modals {height: 0;}
	.luxe-augmente .button{font-family:'GLBaderCompress-Black';font-size:16px;font-weight:900;font-stretch:normal;line-height:.89;letter-spacing:1.13px;text-transform:uppercase;border:1px solid #000;border-radius:24px;padding:11px 10px;margin-top:5px;min-width:300px;text-align:left;text-decoration:none;position:relative}.luxe-augmente .button.outlined{background-color:transparent;color:#000}.luxe-augmente .button.outlined:hover{background-color:#000;color:#fff}.luxe-augmente .button:after{content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");height:20px;width:10px;position:absolute;right:10px;top:0;bottom:0;margin:auto}.luxe-augmente .button:hover:after{content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 286 512'%3E%3Ctitle%3Emicro%3C/title%3E%3Cg id='a3740c5a-2588-42f6-9e55-ca07c41f2d7a' data-name='Calque 2'%3E%3Cg id='ba8ee7d3-46c3-4e57-9d6f-bc2add6e5602' data-name='Layer 1'%3E%3Cpath d='M143.1,326.2a74.52,74.52,0,0,1-74.4-74.4V74.4a74.4,74.4,0,0,1,148.8,0V251.8A74.52,74.52,0,0,1,143.1,326.2Zm0-305.1A53.35,53.35,0,0,0,89.8,74.4V251.8a53.35,53.35,0,0,0,53.3,53.3h0a53.35,53.35,0,0,0,53.3-53.3V74.4A53.35,53.35,0,0,0,143.1,21.1Zm0,368.9C64.2,390,0,325.8,0,246.9a10.5,10.5,0,1,1,21,0,122,122,0,0,0,244,0,10.5,10.5,0,1,1,21,0C286.2,325.8,222,390,143.1,390Zm0,122a10.5,10.5,0,0,1-10.5-10.5v-122a10.5,10.5,0,0,1,21,0v122A10.5,10.5,0,0,1,143.1,512Zm70.9,0H72.2a10.5,10.5,0,0,1,0-21H213.9a10.5,10.5,0,0,1,10.5,10.5A10.35,10.35,0,0,1,214,512Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")}@media screen and (min-width:768px),print{.luxe-augmente .button{padding:11px 20px;min-width:320px}}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	<div class="row hero-image">
	 <div class="media-content">
			 <div>
				 <img src="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/shoppingadistance/rich-aeyde.jpg"
				 			srcset="https://static.galerieslafayette.com/media/LP/src/img/2020/hero-image/shoppingadistance/rich-aeyde@2x.jpg" alt="Aeyde - Galeries Lafayette">
			 </div>
			 <span class="see-conditions">* Voir conditions</span>
			 <span class="conditions"><span class="close">&nbsp;</span>
						<a href="https://www.galerieslafayette.com/evt/fr/shoppingadistance-service#conditions" target="_blank">Conditions générales du Shopping à Distance</a>
			 </span>    
	 </div> 
	
		<div class="new-content-edito">
				<p class="content-edito">Fondée en 2015 par le duo créatif Luisa Krogmann et Constantin Langholz-Baikousis, la marque aeyde confectionne ses souliers dans l’usine familiale installée en Italie. Chaque modèle est réalisé à la main comme gage de qualité. 
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide"> Contemporaines et intemporelles, les chaussures aeyde se distinguent par leur bande rouge cousue sur chaque paire. Glamour et sophistiquée, aeyde mise aussi sur le confort et accompagne ainsi les citadines au quotidien.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span></span>
				</p>
		</div>
	</div>  
	
	<div class="block-selection luxe-augmente">
		<ul class="carousel-rich-univers wrapper">
			 <li>
					<div class="block-news">
						<a class="button outlined trigger_liveshopping" href="" onclick="clickedBrand='Aeyde'; appointedWidgetId='5f88795e6a0d547bea7db90c'; GL_GIS.LiveShopping.checkClerkAvailability('labo2'); return false;">consulter un conseiller en live vidéo</a>
					</div>
			 </li>
		</ul>
	</div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
		$('.see-conditions').on('click', function() {
				$('.conditions').addClass('active');
		});
		$('.close').on('click', function() {
				$('.conditions').removeClass('active');
		});
});
</script>
<div id="goinstore_modals"></div>
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/shoppingadistance-goinstore.min.v02.css" rel="stylesheet" type="text/css">
<script src="https://static.galerieslafayette.com/media/LP/src/js/2020/shoppingadistance-goinstore.min.v07.js"></script>