<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image {
padding-bottom: 0;
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Beauty Galerie" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/boutiques/beauty-galerie/v2/beauty-galerie.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #3F7A60;">
						 <p class="content-edito" style="color: #fff;">
								Beauty Galerie, c'est une sélection de marques qui incarnent une vision positive de la beauté. 
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide">  Une approche holistique du soin, une sélection de produits aux formulations naturelles et/ou bio. Des soins mais également du parfum, du maquillage, du capillaire et des compléments alimentaires qui invitent à de nouveaux rituels beauté et qui répondent à 70% aux critères du label Go for Good des Galeries Lafayette qui promeut une consommation plus responsable.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">
	 	<ul class="carousel-rich-univers wrapper">
			 <li><div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/c/beauty+galerie/ct/beaute-maquillage"><span>Maquillage</span> </a></div></li>
			 <li><div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/c/beauty+galerie/ct/beaute-soin"><span>Soin</span> </a></div></li>
			 <li><div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/c/beauty+galerie/ct/beaute-parfum"><span>Parfum</span> </a></div></li>
			 <li><div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/c/beauty+galerie"><span>Tout voir</span> </a></div></li>
		 </ul>
	 </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>