<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image .media-content {
	height: 200px;
	width: 100%;
	overflow: hidden;
}
.richcontent-hero-image .hero-bg-video {
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: -10%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 120%;
	width: 100%;
	margin: 0 auto;
}
.richcontent-hero-image {
padding-bottom: 0;
}
.hero-image .new-content-edito h2 {
	font-family: glbadercompress-black;
	font-size: 22px;
}
@media screen and (min-width: 768px) {
	.richcontent-hero-image .media-content {
		height: 290px;
	}
	.richcontent-hero-image .hero-bg-video {
		height: 100%;
		top: 0;
		width: 130%;
		left: -15%;
	}
}
@media screen and (min-width: 1024px) { 
	.richcontent-hero-image .media-content {
		height: 330px;
	}
	.richcontent-hero-image .hero-bg-video {
		height: 104%;
		top: -2%;
	}
}
@media screen and (min-width: 1250px) {
	.richcontent-hero-image .media-content {
		height: 342px;
	}
	.richcontent-hero-image .hero-bg-video {
		height: 100%;
		top: 0;
		width: 100%;
		left: 0;
	}
	.hero-image .new-content-edito h2 {
		font-size: 35px;
		line-height: 1;
		margin-bottom: 8px;
	}
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			<div class="media-content">     
				<iframe class="hero-bg-video" src="https://player.vimeo.com/video/543094783?background=1"width="767" frameborder="0" allow="autoplay" allowfullscreen mozallowfullscreen="" webkitallowfullscreen=""></iframe>
				<a href="https://www.galerieslafayette.com/leliveshopping" style="position:absolute;top:0;bottom:0;left:0;right:0;"></a>
			 </div> 

				<div class="new-content-edito" style="background: #faf0e6;">
					<div class="content-edito">
						<h2 style="color: #CA8360">LE LIVE SHOPPING EN REPLAY —<br />
							LES LOOKS MODE DU PRINTEMPS-ÉTÉ
						</h2>
					
						<p style="color: #000;">
							Redécouvrez le dernier Live Shopping des Galeries Lafayette. Pour ce nouveau rendez-vous, nous vous avions concocté 
							<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
							<span class="all-hide"> une sélection de pièces incontournables pour accueillir le printemps-été 2021 avec style. Assistez à une véritable battle de looks avec les marques The Kooples, Iro, Ganni, By Far et bien d'autres.
							<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
						</p>
					</div>
				</div>
	 </div>  
		
	 <div class="block-selection">
		 <ul class="carousel-rich-univers wrapper">
				 <li>
						 <div class="block-news">
								 <a class="block-richcontent-link js-scramble-link" href="https://www.galerieslafayette.com/leliveshopping">
										 <span>Revoir le live</span>                              
								 </a>
						</div>
					</li>
					 
			</ul>
</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>