<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image {
padding-bottom: 0;
}
.hero-image .content-edito {
	font-size: 16px;
}
@media screen and (min-width: 1024px) {
	.hero-image .content-edito {
		font-size: 17px;
	}	
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Les coffrets" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/offres/beaute/coffret/coffret.png"></div>
			 </div> 

				<div class="new-content-edito" style="background: #eec169;">
						 <p class="content-edito" style="color: #000;">
								Précieusement enfermés dans leurs coffrets, les parfums et soins du moment n’attendent plus que vous. Eaux de toilettes, 
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide"> crèmes pour les mains, jolis rouges à lèvres… Conjuguez la beauté au plus que parfait avec notre sélection de coffrets à offrir ou à s’offrir. Les plus beaux essentiels pour se chouchouter sont&nbsp;ici.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">
	 	<ul class="carousel-rich-univers wrapper">
			 <li>
				 <div class="block-news">
					 <a class="block-richcontent-link js-scramble-link" href="/c/les+coffrets+beaute/ct/beaute-parfum">                   
						 <span>Coffrets parfum</span>
					 </a>
				 </div>
			 </li>
			 <li>
				 <div class="block-news">
					 <a class="block-richcontent-link js-scramble-link" href="/c/les+coffrets+beaute/ct/beaute-soin">                   
						 <span>Coffrets soin</span>
					 </a>
				 </div>
			 </li>
			 <li>
				 <div class="block-news">
					 <a class="block-richcontent-link js-scramble-link" href="/c/les+coffrets+beaute/ct/beaute-maquillage">
						 <span>Coffrets maquillage</span>
					 </a>
				 </div>
			 </li>
		 </ul>
	 </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>