<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
   <div class="row hero-image">
       <div class="media-content">
           <div><img alt="Maje" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/maje/maje_main.jpg"></div>           
       </div> 

        <div class="new-content-edito" style="background: #C2B8DB;">
            <p class="content-edito" style="color: #000;">
               En 1998, Judith Milgrom décide de créer des vêtements pour les femmes actives et propose un vestiaire subtil entre modernité 
              <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
              <span class="all-hide">  et décalé assumé. L'esprit Maje est une silhouette résolument féminine, à la fois sobre, glamour et audacieuse. 
              <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
            </p>
        </div>
   </div>  
    
   <div class="block-selection">
        <ul class="carousel-rich-univers wrapper">
            <li>
              <div class="block-news">
                  <a class="block-richcontent-link js-scramble-link" href="/b/maje/ct/femme-vetements-vestes+et+manteaux">
                       <span>VESTES ET MANTEAUX</span>                              
                  </a>
             </div>
           </li>
            <li>
              <div class="block-news">
                  <a class="block-richcontent-link js-scramble-link" href="/b/maje/ct/femme-vetements-maille">
                       <span>Maille</span>                              
                  </a>
             </div>
           </li>
          <li>
              <div class="block-news">
                  <a class="block-richcontent-link js-scramble-link" href="/b/maje/ct/femme-sacs+et+bagages">
                       <span>Sacs</span>                              
                  </a>
             </div>
            </li> 
<!--      <li>
              <div class="block-news">
                  <a class="block-richcontent-link js-scramble-link" href="/b/maje/ct/femme-chaussures">
                       <span>Chaussures</span>                              
                  </a>
             </div>
            </li>-->
        </ul>
   </div>
</div>
<!---------------- FIN HERO IMAGE  ------------------>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('.content-edito .show-for-all').on('click', function() {
        $('.content-edito .all-hide').toggleClass('all-show');
        $('.content-edito .show-for-all.read-more').toggleClass('read-all');
    });
});
</script>