<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image {
padding-bottom: 0;
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
	 <div class="row hero-image">
			 <div class="media-content">         
					 <div><img alt="Djula" src="https://static.galerieslafayette.com/media/LP/src/img/2021/hero-image/marques/djula/djula.jpg"></div>
			 </div> 

				<div class="new-content-edito" style="background: #E2BCA3;">
						 <p class="content-edito" style="color: #000;">
								DJULA se démarquera par son style d'avant-garde. Marque pionnière, elle emmènera ses admiratrices dans un univers au carrefour 
					<span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span> 
					<span class="all-hide"> du glam rock, de la mode et de la tendance, où elle sublimera les femmes les plus élégantes grâce à ses collections de bijouterie et de joaillerie de luxe.
					<span class="show-for-all"> ... <span class="underline-text">Fermer</span></span> </span>
			</p>
				</div>
	 </div>  
		
	 <div class="block-selection">
	 	<ul class="carousel-rich-univers wrapper">
			 <li>
					 <div class="block-news">
							 <a class="block-richcontent-link js-scramble-link" href="/t/djula-bagues">
									 <span>Bagues</span>                              
							 </a>
					</div>
				</li>
				 <li>
					 <div class="block-news">
							 <a class="block-richcontent-link js-scramble-link" href="/t/djula-boucles-d-oreilles">
									 <span>Boucles d'oreilles</span>                              
							 </a>
					</div>
				</li>

			 <li>
					 <div class="block-news">
							 <a class="block-richcontent-link js-scramble-link" href="/t/djula-bracelets">
										<span>Bracelets</span>                              
							 </a>
					</div>
				</li>
			 <li>
					 <div class="block-news">
							 <a class="block-richcontent-link js-scramble-link" href="/t/djula-colliers">
										<span>Colliers</span>                              
							 </a>
					</div>
				 </li> 
				 <li>
					 <div class="block-news">
							 <a class="block-richcontent-link js-scramble-link" href="/t/djula-piercings">
										<span>Piercings</span>                              
							 </a>
					</div>
				 </li>
				 <li>
						<div class="block-news">
								<a class="block-richcontent-link js-scramble-link" href="/b/djula">
										 <span>Tous les produits</span>                              
								</a>
					 </div>
					</li>
		</ul>
	 </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
		$('.content-edito .show-for-all').on('click', function() {
				$('.content-edito .all-hide').toggleClass('all-show');
				$('.content-edito .show-for-all.read-more').toggleClass('read-all');
		});
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>