<!---------------- HERO IMAGE  ------------------> 
<link href="https://static.galerieslafayette.com/media/LP/src/css/2020/rich-old-stack-hypertext.css" rel="stylesheet" type="text/css">
<style type="text/css">
.richcontent-hero-image {
padding-bottom: 0;
}
.hero-image .content-edito {
   font-size: 16px;
}
@media screen and (min-width: 1024px) {
   .hero-image .content-edito {
      font-size: 17px;
   }	
}
</style>
<div class="richcontent-hero-image carousel-without-visual"><!-- AJOUTER ICI la class="carousel-without-visual" pour les bouton sans image -->
    <div class="row hero-image">
          <div class="media-content">         
                <div><img alt="Nouvelle routine de soins" src="https://static.galerieslafayette.com/media/LP/src/img/2022/hero-image/boutiques/soin-homme/soin-homme.jpg"></div>
          </div> 

            <div class="new-content-edito" style="background: rgb(145, 183, 191);">
                  <p class="content-edito" style="color: #000;">Qui a dit que les hommes n’avaient pas le droit de prendre soin de leur peau et de se bichonner ? Pour faire plaisir ou pour  
                     <span class="show-for-all read-more"> ... <span class="underline-text">Lire la suite</span></span>
                     <span class="all-hide"> se faire plaisir, on fond pour une eau de toilette fraîche ou un soin ciblé. Tous les essentiels pour faire peau neuve cette saison sont ici.
                        <span class="show-for-all"> ... <span class="underline-text">Fermer</span></span>
                     </span>
                  </p>
              </div>
    </div>  
      
    <div class="block-selection">
       <ul class="carousel-rich-univers wrapper"> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/c/la+beaute+homme/ct/beaute-soin"><span>Soin</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/c/la+beaute+homme/ct/beaute-parfum"><span>Parfum</span> </a></div> 	</li> 	<li> 	<div class="block-news"><a class="block-richcontent-link js-scramble-link" href="/evt/animations/diagnostic-peau"><span>Routine de soin</span> </a></div> 	</li> </ul>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
      $('.content-edito .show-for-all').on('click', function() {
            $('.content-edito .all-hide').toggleClass('all-show');
            $('.content-edito .show-for-all.read-more').toggleClass('read-all');
      });
});
</script>
 <!---------------- FIN HERO IMAGE  ------------------>